Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

CUMULUS-4472: add changelog entry
  CHANGELOG.md
  packages/api/lambdas/bulk-operation.js
Due: eslint

Update AJV versions
  CHANGELOG.md
  packages/api/lambdas/message-consumer.js
  packages/api/lib/schema.js
  packages/api/models/base.js
  packages/api/package.json
  packages/common/package.json
Due: eslint, npm-package-json-lint

update changelog fix translate collection
  CHANGELOG.md
  audit-ci.json
  packages/db/src/s3search/CollectionS3Search.ts
  packages/db/src/translate/collections.ts
Due: eslint, typescript-compile

Update aws-sdk versions to ^3.993.0 to address CVE findings
  CHANGELOG.md
  example/lambdas/s3AccessTest/package.json
  example/lambdas/snsS3Test/package.json
  example/package.json
  lambdas/db-provision-user-database/package.json
  packages/api-client/package.json
  packages/api/ecs/async-operation/package.json
  packages/api/package.json
  packages/async-operations/package.json
  packages/aws-client/package.json
  packages/common/package.json
  packages/db/package.json
  packages/es-client/package.json
  packages/integration-tests/package.json
  tasks/change-granule-collection-s3/package.json
  tf-modules/internal/cumulus-test-cleanup/package.json
Due: npm-package-json-lint

fixup
  CHANGELOG.md
Due: none

Update rule tests
  packages/api/tests/endpoints/test-rules.js
Due: eslint

Fix bad merge
  tasks/change-granule-collection-s3/package.json
Due: npm-package-json-lint

Fixup
  packages/common/package.json
Due: npm-package-json-lint

update more translate method
  packages/db/src/s3search/GranuleS3Search.ts
  packages/db/src/translate/granules.ts
  packages/db/src/translate/reconciliation_reports.ts
  packages/db/src/translate/rules.ts
Due: eslint, typescript-compile

PR feedback
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/src/echo10Modifiers.ts
  packages/cmrjs/src/ummgModifiers.ts
  packages/cmrjs/tests/cmr-utils/test-reconcilecmrmetadata.js
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
  packages/cmrjs/tests/cmr-utils/test-updateCMRMetadata.js
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/schemas/output.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/orca-copy-to-archive-adapter/schemas/input.json
  tasks/orca-copy-to-archive-adapter/schemas/output.json
  tasks/orca-recovery-adapter/schemas/input.json
  tasks/orca-recovery-adapter/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/README.md
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/tests/test-exclude-data-granule.js
Due: eslint, typescript-compile

some doc/wording fixes
  CHANGELOG.md
  packages/cmrjs/src/cmr-utils.js
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
Due: eslint

wording/grammar fixes
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
  packages/cmrjs/tests/cmr-utils/test-updateCMRMetadata.js
Due: eslint

wording/grammar changes
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
  packages/cmrjs/tests/cmr-utils/test-updateCMRMetadata.js
  tasks/update-granules-cmr-metadata-file-links/tests/test-exclude-data-granule.js
Due: eslint

update docstring more cleanup
  packages/db/src/s3search/AsyncOperationS3Search.ts
  packages/db/src/s3search/CollectionS3Search.ts
  packages/db/src/s3search/ExecutionS3Search.ts
  packages/db/src/s3search/GranuleS3Search.ts
  packages/db/src/s3search/PdrS3Search.ts
  packages/db/src/s3search/ProviderS3Search.ts
  packages/db/src/s3search/ReconciliationReportS3Search.ts
  packages/db/src/s3search/RuleS3Search.ts
  packages/db/src/s3search/duckdbHelpers.ts
  packages/db/src/search/BaseSearch.ts
Due: eslint, typescript-compile

Update kinesis consumer tests
  packages/api/tests/lambdas/test-kinesis-consumer.js
Due: eslint

verify correct return
  packages/db/tests/s3search/test-CollectionS3Search.js
  packages/db/tests/s3search/test-ExecutionS3Search.js
  packages/db/tests/s3search/test-GranuleS3Search.js
  packages/db/tests/s3search/test-ProviderS3Search.js
Due: eslint

Update minimatch to ^10.2.1
  CHANGELOG.md
  package.json
Due: npm-package-json-lint

Add GHSA-3ppc-4f35-3m26 to audit-ci.json
  audit-ci.json
  package.json
Due: npm-package-json-lint

Fix invalid task schemas
  tasks/move-granules/schemas/config.json
  tasks/queue-granules/schemas/input.json
Due: none

Update move-granules schema to remove bogus structure
  tasks/move-granules/schemas/output.json
Due: none

Update sync-granules schemas
  tasks/sync-granule/schemas/config.json
  tasks/sync-granule/schemas/output.json
Due: none

Fix send-pan schema
  tasks/send-pan/schemas/input.json
Due: none

add unit test to translate
  packages/db/tests/translate/test-async-operations.js
  packages/db/tests/translate/test-collections.js
  packages/db/tests/translate/test-executions.js
  packages/db/tests/translate/test-granules.js
  packages/db/tests/translate/test-pdr.js
  packages/db/tests/translate/test-providers.js
  packages/db/tests/translate/test-reconciliation-reports.js
  packages/db/tests/translate/test-rules.js
Due: eslint

changelog
  CHANGELOG.md
Due: none

typo in scheduler
  packages/api/lambdas/sf-scheduler.js
Due: eslint

Update unit test bootsrap
  bamboo/bootstrap-unit-tests.sh
Due: none

Updating sftp client to handle connection hangups on .end
  CHANGELOG.md
Due: none

fixup
  packages/sftp-client/src/index.ts
Due: eslint, typescript-compile

adding checks for DataGranule to int tests
  example/spec/parallel/ingestGranule/IngestGranuleSuccessSpec.js
  example/spec/parallel/ingestGranule/IngestGranuleWithUniqueGranuleIdsSpec.js
  example/spec/parallel/ingestGranule/IngestUMMGSuccessSpec.js
Due: eslint

Update sftp client to explicitly close the sftpReadStream
  packages/sftp-client/src/index.ts
Due: eslint, typescript-compile

added private_api_lambda_arn as an output, refactor granule_invalidator_workflow.tf to use the new output
  example/cumulus-tf/granule_invalidator_workflow.tf
  tf-modules/cumulus/outputs.tf
Due: none

Add tmissing tests/cover new cases from sftp client fix
  packages/sftp-client/tests/test-index.js
Due: eslint

Update lzards backup schema
  tasks/lzards-backup/schemas/output.json
Due: none

Update scripts to match changes from CUMULUS-4387
  scripts/run_ci_api_unit-coverage.sh
  scripts/run_ci_unit_coverage.sh
Due: none

Fix modified sync granules schema to allow for CMA compatibility
  tasks/sync-granule/schemas/config.json
  tasks/sync-granule/schemas/output.json
Due: none

updated search module to support searching on nested json fields
  CHANGELOG.md
  packages/db/src/search/BaseSearch.ts
  packages/db/src/search/StatsSearch.ts
  packages/db/src/search/field-mapping.ts
  packages/db/tests/s3search/test-ExecutionS3Search.js
  packages/db/tests/s3search/test-GranuleS3Search.js
  packages/db/tests/search/test-ExecutionSearch.js
  packages/db/tests/search/test-GranuleSearch.js
Due: eslint, typescript-compile

remove console
  CHANGELOG.md
  packages/db/tests/s3search/test-GranuleS3Search.js
Due: eslint

refactor code for consistency
  tasks/cma-to-cnm/README.md
  tasks/cma-to-cnm/deploy/lambda.tf
  tasks/cma-to-cnm/deploy/main.tf
  tasks/cma-to-cnm/deploy/variables.tf
  tasks/cma-to-cnm/deploy/versions.tf
  tasks/cma-to-cnm/package.json
  tasks/cma-to-cnm/pyproject.toml
  tasks/cma-to-cnm/ruff.toml
  tasks/cma-to-cnm/src/cma_to_cnm/cma_to_cnm.py
  tasks/cma-to-cnm/src/cma_to_cnm/models_cma.py
  tasks/cma-to-cnm/src/cma_to_cnm/models_cnm.py
  tasks/cma-to-cnm/src/schemas/input.json
  tasks/cma-to-cnm/tests/test_cma_to_cnm.py
  tasks/cma-to-cnm/uv.lock
Due: npm-package-json-lint

CUMULUS-4381 CHANGELOG
  CHANGELOG.md
  tasks/cma-to-cnm/package.json
Due: npm-package-json-lint

Update CHANGELOG
  CHANGELOG.md
  bamboo/bootstrap-unit-tests.sh
Due: none
