Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

fix: use rawValue for MD5 checksums to prevent precision loss in PVLNumeric
  CHANGELOG.md
  packages/pvl/lib/models.js
  packages/pvl/test/parsing.js
  packages/test-data/pdrs/MOD09GQ-with-decimal-MD5-checksum.PDR
  tasks/parse-pdr/index.js
  tasks/parse-pdr/tests/test-parse-pdr.js
Due: eslint

CUMULUS-4710: Implement list of stats route in iceberg search api (#4412)
  CHANGELOG.md
  example/cumulus-tf/variables.tf
  packages/api/app/iceberg-routes.js
  packages/api/endpoints/iceberg-stats.js
  packages/api/endpoints/stats.js
  packages/api/lib/statsHelpers.js
  packages/api/tests/endpoints/test-iceberg-stats.js
  packages/db/src/iceberg-connection.ts
  tf-modules/iceberg_api/main.tf
Due: eslint, typescript-compile

Update task memory and cpu configuration for nsidc-cumulus-prod deployment stack in SIT
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
Due: none

Fix terraform var reference typo
  tf-modules/archive/s3_bucket_lifecycle_config.tf
Due: none

additional changes (testing + review needed)
  packages/api/lambdas/recreate-launchpad-token.js
  packages/cmr-client/src/CMR.ts
  packages/cmrjs/src/cmr-utils.js
  tf-modules/ingest/lambda-functions.tf
Due: eslint, typescript-compile

more changes
  CHANGELOG.md
  packages/api/lambdas/recreate-launchpad-token.js
  packages/cmr-client/src/CMR.ts
  packages/cmrjs/package.json
  packages/cmrjs/src/cmr-utils.js
  tf-modules/ingest/lambda-functions.tf
Due: eslint, npm-package-json-lint, typescript-compile

updated CHANGELOG.md
  CHANGELOG.md
Due: none

CUMULUS-4710: Set search_path explicitly in duckdb connection.
  CHANGELOG.md
  packages/db/src/iceberg-connection.ts
Due: eslint, typescript-compile

Update CHANGELOG with recent changes and fixes
  CHANGELOG.md
Due: none

fix: use rawValue for MD5 checksums to prevent precision loss in PVLN… (#4415)
  CHANGELOG.md
  packages/pvl/lib/models.js
  packages/pvl/test/parsing.js
  packages/test-data/pdrs/MOD09GQ-with-decimal-MD5-checksum.PDR
  tasks/parse-pdr/index.js
  tasks/parse-pdr/tests/test-parse-pdr.js
Due: eslint

triggers date precision duplidate granule_id additional foreign key fields in record
  packages/api/bin/serveUtils.js
  packages/api/endpoints/granules.js
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/api/lib/writeRecords/utils.js
  packages/api/lib/writeRecords/write-execution.js
  packages/api/lib/writeRecords/write-granules.js
  packages/api/tests/endpoints/granules/helpers.js
  packages/api/tests/endpoints/test-execution-status.js
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/endpoints/test-granules-bulkChangeCollection.js
  packages/api/tests/endpoints/test-granules-get.js
  packages/api/tests/endpoints/test-granules-getFileGranuleAndCollection.js
  packages/api/tests/endpoints/test-granules-updateGranulesAndFilesCollection.js
  packages/api/tests/endpoints/test-granules.js
  packages/api/tests/helpers/create-test-data.js
  packages/api/tests/lambdas/test-bulk-operation.js
  packages/api/tests/lambdas/test-create-reconciliation-report.js
  packages/api/tests/lambdas/test-orca-backup-reconciliation-report.js
  packages/api/tests/lib/test-granule-delete.js
  packages/db/src/migrations/030_executions.ts
  packages/db/src/migrations/060_pdrs.ts
  packages/db/src/migrations/090_granules_executions.ts
  packages/db/src/migrations/110_executions_triggers.ts
  packages/db/src/migrations/120_granules_triggers.ts
  packages/db/src/migrations/130_files_triggers.ts
  packages/db/src/models/base.ts
  packages/db/src/test-utils.ts
  packages/db/src/translate/executions.ts
  packages/db/src/translate/pdr.ts
  packages/db/src/types/execution.ts
  packages/db/src/types/pdr.ts
  packages/db/tests/translate/test-executions.js
  packages/db/tests/translate/test-pdr.js
  packages/db/tests/translate/test-pdrs.js
Due: eslint, typescript-compile

CUMULUS-4710: Refactored the code.
  packages/api/app/iceberg-db.js
  packages/db/src/iceberg-connection.ts
Due: eslint, typescript-compile

CUMULUS-4710: Updated test.
  packages/db/tests/test-iceberg-connection.js
Due: eslint

update on cascade
  packages/db/src/migrations/060_pdrs.ts
  packages/db/src/migrations/080_files.ts
  packages/db/src/migrations/090_granules_executions.ts
Due: eslint, typescript-compile

CUMULUS-4710: Set search_path explicitly in duckdb connection (#4416)
  CHANGELOG.md
  packages/api/app/iceberg-db.js
  packages/db/src/iceberg-connection.ts
  packages/db/tests/test-iceberg-connection.js
Due: eslint, typescript-compile

api unit tests passed
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
  packages/api/lib/writeRecords/write-execution.js
  packages/api/lib/writeRecords/write-granules.js
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-write-pdr.js
  packages/api/tests/lib/writeRecords/test-write-execution.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

ingest unit test
  packages/api/tests/lib/writeRecords/test-write-granules.js
  packages/ingest/test/test-granule.js
Due: eslint

use_bootstrap
  example/data-persistence-tf/main.tf
  example/data-persistence-tf/variables.tf
  lambdas/db-migration/variables.tf
  tf-modules/data-persistence/postgres_migration.tf
  tf-modules/data-persistence/variables.tf
Due: none

update iceberg schema
  packages/db/src/iceberg-search/IcebergSchemas.ts
  packages/db/tests/iceberg-search/test-GranuleIcebergSearch.js
Due: eslint, typescript-compile

test getExecution record instead of id
  packages/api/lib/writeRecords/utils.js
  packages/api/tests/lib/writeRecords/test-utils.js
Due: eslint

adjust api test coverage
  packages/api/.nycrc.json
Due: none

api performance test
  packages/api/tests/performance/lib/test-write-granules.js
Due: eslint

WIP changes based on demo friday feedback
  CHANGELOG.md
  packages/api/lambdas/recreate-launchpad-token.js
  packages/api/package.json
  packages/api/tests/lambdas/test-recreate-launchpad-token.js
  packages/api/webpack.config.js
  packages/cmr-client/package.json
  packages/cmr-client/src/CMR.ts
  packages/launchpad-auth/src/index.ts
  tf-modules/ingest/iam.tf
  tf-modules/ingest/lambda-functions.tf
  tf-modules/ingest/outputs.tf
Due: eslint, npm-package-json-lint, typescript-compile

more WIP refactoring related changes
  packages/cmr-client/src/CMR.ts
  packages/cmrjs/src/cmr-utils.js
  packages/launchpad-auth/src/index.ts
Due: eslint, typescript-compile

more refactoring
  packages/cmr-client/src/CMR.ts
  packages/cmrjs/package.json
  packages/launchpad-auth/src/index.ts
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4709: Fix API name in cumulus iceberg API response.
  packages/api/app/iceberg-index.js
  packages/db/src/search/BaseSearch.ts
  packages/db/src/search/StatsSearch.ts
  tf-modules/iceberg_api/main.tf
Due: eslint, typescript-compile

move recent db migrations patches to migrations-archive
  packages/db/src/migrations-archive/20260402110300_update_bigint_column_sequence.sql
  packages/db/src/migrations-archive/20260402110300_update_bigint_column_sequence.ts
Due: eslint, typescript-compile

file global uniqueness
  example/spec/parallel/ingestGranule/IngestGranuleFailureSpec.js
  example/spec/parallel/testAPI/granuleSpec.js
Due: eslint

api test:coverge not meet
  packages/api/bin/serveUtils.js
  packages/api/tests/endpoints/test-granules.js
Due: eslint

timestamp precision 3
  packages/db/src/migrations/010_async_operations.ts
  packages/db/src/migrations/020_collections.ts
  packages/db/src/migrations/030_executions.ts
  packages/db/src/migrations/040_providers.ts
  packages/db/src/migrations/050_rules.ts
  packages/db/src/migrations/060_pdrs.ts
  packages/db/src/migrations/070_granules.ts
  packages/db/src/migrations/080_files.ts
  packages/db/src/migrations/100_reconciliation_reports.ts
  packages/db/tests/models/test-base-model.js
Due: eslint, typescript-compile

table descriptions
  packages/db/src/migrations/010_async_operations.ts
  packages/db/src/migrations/020_collections.ts
  packages/db/src/migrations/030_executions.ts
  packages/db/src/migrations/040_providers.ts
  packages/db/src/migrations/050_rules.ts
  packages/db/src/migrations/060_pdrs.ts
  packages/db/src/migrations/070_granules.ts
  packages/db/src/migrations/080_files.ts
  packages/db/src/migrations/090_granules_executions.ts
  packages/db/src/migrations/100_reconciliation_reports.ts
Due: eslint, typescript-compile

add aws_s3_bucket_lifecycle_rules to tf-modules cumulus archive & variables tf. also add aws_s3_bucket_lifecycle_rules to example cumulus-tf's main.tf fix typo and missing status field
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  tf-modules/archive/s3_bucket_lifecycle_config.tf
  tf-modules/cumulus/archive.tf
  tf-modules/cumulus/variables.tf
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

