Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

CUMULUS-4891: Force build/push of replication image (#4479)
  .github/workflows/build-and-push-iceberg-replication-image.yml
  CHANGELOG.md
  packages/iceberg-replication/scripts/requirements.txt
  packages/iceberg-replication/scripts/uv.lock
Due: none

still trying to get the default right
  packages/aws-client/src/S3.ts
Due: eslint, typescript-compile

separate granules triggers for delete/insert/update
  packages/db/src/migrations/20260526151018_update_granules_uniqueness_trigger.ts
  packages/db/src/migrations/20260526151018_update_granules_uniqueness_trigger_for_collection_update.ts
Due: eslint, typescript-compile

update readme changelog, queue-granules unit timeout
  CHANGELOG.md
  packages/db/README.md
  tasks/queue-granules/package.json
Due: npm-package-json-lint

rename func trigger name constant as prefix
  packages/db/src/migrations-bootstrap/120_granules_triggers.ts
  packages/db/src/migrations/20260526151018_update_granules_uniqueness_trigger.ts
Due: eslint, typescript-compile

correct CHANGELOG.md
  CHANGELOG.md
Due: none

some fixes to s3
  packages/aws-client/src/S3.ts
  packages/aws-client/tests/S3/test-multipartCopyObjectAbort.js
  packages/aws-client/tests/test-S3.js
Due: eslint, typescript-compile

fix data json files
  example/data/collections/L2_HR_PIXC-000-unique/L2_HR_PIXC-000.json
  example/data/collections/s3_MOD09GQ-AZ_006_full_ingest_move/s3_MOD09GQ-AZ_006.json
  example/data/collections/s3_MOD09GQ_006_no_cmr/s3_MOD09GQ_006.json
Due: none

test fix
  packages/common/tests/test-key-pair-provider.js
Due: eslint

linting
  packages/aws-client/src/S3.ts
  packages/common/tests/test-key-pair-provider.js
Due: eslint, typescript-compile

various fixes
  example/spec/parallel/ingestGranule/IngestGranuleFtpSuccessSpec.js
  example/spec/parallel/ingestGranule/IngestGranuleSftpSuccessSpec.js
  packages/aws-client/src/S3.ts
  packages/cmrjs/src/cmr-utils.js
Due: eslint, typescript-compile

small name change
  docs/upgrade-notes/collection_metrics_provider_db_update.md
Due: none

final cleanup of db migration
  docs/upgrade-notes/collection_metrics_provider_db_update.md
  packages/db/src/migrations-bootstrap/020_collections.ts
  packages/db/src/migrations/20260527_add_collection_mission.ts
Due: eslint, typescript-compile

fix comment
  packages/db/src/migrations/20260527_add_collection_mission.ts
Due: eslint, typescript-compile

fewer functions
  packages/common/.nycrc.json
Due: none

re-ordering to make defaults work as intended
  example/spec/parallel/ingestGranule/IngestGranuleFtpSuccessSpec.js
  example/spec/parallel/ingestGranule/IngestGranuleSftpSuccessSpec.js
  packages/aws-client/src/S3.ts
  packages/aws-client/tests/test-S3.js
  packages/cmrjs/src/cmr-utils.js
Due: eslint, typescript-compile

fix test
  tasks/add-missing-file-checksums/tests/test-index.ts
Due: eslint, typescript-compile

add changelog
  CHANGELOG.md
Due: none

re-raise error in granules trigger
  lambdas/db-migration/package.json
  packages/db/src/migrations-bootstrap/120_granules_triggers.ts
  packages/db/src/migrations/20260526151018_update_granules_uniqueness_trigger.ts
Due: eslint, npm-package-json-lint, typescript-compile

update granules trigger per pr discusssion
  packages/db/src/migrations-bootstrap/120_granules_triggers.ts
  packages/db/src/migrations/20260529151018_update_granules_uniqueness_trigger.ts
Due: eslint, typescript-compile

CUMULUS-4912: Move Iceberg API image build from Bamboo to github workflow.
  .github/workflows/build-and-push-iceberg-api-image.yml
  CHANGELOG.md
  bamboo/bootstrap-tf-deployment.sh
  bamboo/set-bamboo-env-variables.sh
  docs/deployment/iceberg-api.md
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: none

CUMULUS-4882: Defer cross-collection granule collision checks, CUMULUS-4894: ensure schema consistency (#4472)
  CHANGELOG.md
  bamboo/Dockerfile
  example/deployments/data-persistence/cumulus-sit.tfvars
  lambdas/db-migration/package.json
  lambdas/db-migration/tests/test-index.js
  packages/api/endpoints/granules.js
  packages/api/lib/writeRecords/write-granules.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
  packages/db/README.md
  packages/db/src/lib/granule.ts
  packages/db/src/migrations/20260529151018_update_granules_uniqueness_trigger.ts
  packages/db/src/models/granule.ts
  packages/db/tests/models/test-granule-model.js
  tasks/queue-granules/package.json
  tf-modules/data-persistence/variables.tf
Due: eslint, npm-package-json-lint, typescript-compile

test
  .github/workflows/build-and-push-iceberg-api-image.yml
Due: none

CUMULUS-4912: Fix image tag for PR branch.
  .github/workflows/build-and-push-iceberg-api-image.yml
Due: none

CUMULUS-4912: Fix image check in ghcr.
  bamboo/bootstrap-tf-deployment.sh
Due: none

Add BigNBit module (#4419)
  CHANGELOG.md
  tasks/bignbit/README.md
  tasks/bignbit/deploy/.gitignore
  tasks/bignbit/deploy/data.tf
  tasks/bignbit/deploy/kms.tf
  tasks/bignbit/deploy/main.tf
  tasks/bignbit/deploy/terraform.tfvars.example
  tasks/bignbit/deploy/variables.tf
Due: none

CUMULUS-4912: Move release image tagging to the publish cumulus stage in CI.
  .github/workflows/build-and-push-iceberg-api-image.yml
  bamboo/bootstrap-tf-deployment.sh
  bamboo/set-bamboo-env-variables.sh
  bamboo/tag-ghcr-image-release.sh
Due: none

CUMULUS-4882: Passed resolved fallback values to the child module to prevent attribute evaluation errors
  CHANGELOG.md
  tf-modules/data-persistence/variables.tf
Due: none
