Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

add redactAuthorization function to Utils. Copy testconsole & teststream class from logger test to searchConcept test. add authorization redact test.
  packages/cmr-client/src/Utils.ts
  packages/cmr-client/tests/test-searchConcept.js
Due: eslint, typescript-compile

fix: bamboo/Dockerfile to reduce vulnerabilities
  bamboo/Dockerfile
Due: none

small code change for cleanliness
  packages/api/endpoints/workflows.js
Due: eslint

fix uv in readme
  README.md
Due: none

audit potential fix
  package.json
Due: npm-package-json-lint

override tar
  package.json
Due: npm-package-json-lint

update request validation refactor
  CHANGELOG.md
  example/spec/parallel/ingestGranule/IngestGranuleSuccessSpec.js
  example/spec/parallel/orca/OrcaBackupAndRecoverySpec.js
  example/spec/parallel/queueGranules/queueGranulesPostProcessingSpec.js
  example/spec/parallel/testAPI/bulkDeleteFailureSpec.js
  example/spec/parallel/testAPI/bulkDeleteSuccessSpec.js
  example/spec/parallel/testAPI/bulkOperationsSuccessSpec.js
  packages/api-client/tests/test-granules.js
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/granules.js
  packages/api/lib/request.js
  packages/api/tests/endpoints/granules/test-bulk-delete.js
  packages/api/tests/endpoints/granules/test-bulk-granules.js
  packages/api/tests/endpoints/granules/test-bulk-reingest.js
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/helpers/create-test-data.js
  packages/api/tests/lambdas/test-bulk-operation.js
  packages/api/tests/lib/test-granules.js
Due: eslint

add integration test
  example/spec/parallel/createReconciliationReport/CreateReconciliationReportSpec.js
Due: eslint

add typing to lib granules
  CHANGELOG.md
  package.json
  packages/api/lib/granules.js
Due: eslint, npm-package-json-lint

fix err->error
  example/spec/parallel/testAPI/bulkDeleteFailureSpec.js
Due: eslint

fix typing
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/request.js
Due: eslint

Update changelog. clean up searchConcept auth header log test
  CHANGELOG.md
  packages/cmr-client/tests/test-searchConcept.js
Due: eslint

fixed ESLint errors and warnings
  tasks/add-missing-file-checksums/src/index.ts
  tasks/add-missing-file-checksums/tests/test-index.ts
Due: eslint, typescript-compile

New implementation through Pydantic
  tasks/cnm-to-cma/cnm_to_cma.py
  tasks/cnm-to-cma/models_cma_file.py
  tasks/cnm-to-cma/models_cnm.py
  tasks/cnm-to-cma/resources/cumulus_sns_schema.json
  tasks/cnm-to-cma/resources/files.schema.json
  tasks/cnm-to-cma/tests/test_cnm_to_cma.py
Due: none

WIP: Adds tar override to fix audit failure
  package.json
Due: npm-package-json-lint

update CL for uv and tar
  CHANGELOG.md
Due: none

fix uv in readme (#4218)
  CHANGELOG.md
  README.md
  package.json
Due: npm-package-json-lint

Move TestStream and TestConsole to standalone util file so it can be imported by searchConcept
  packages/cmr-client/tests/test-searchConcept.js
  packages/logger/tests/index.js
  packages/logger/tests/test-consoleUtils.js
Due: eslint

upgrade remaining 3 lambdas to nodejs22.x
  tf-modules/ingest/lambda-functions.tf
  tf-modules/internal/cumulus-test-cleanup/main.tf
  tf-modules/s3-replicator/main.tf
Due: none

update CL for nodejs22.x
  CHANGELOG.md
Due: none

PR feedback
  packages/api/endpoints/workflows.js
Due: eslint

unit test files
  tasks/cnm-to-cma/cnm_to_cma.py
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/tests/resources/cumulus_sns_v1.0_JA1_GPN_E.json
  tasks/cnm-to-cma/tests/resources/cumulus_sns_v1.0_notification.json
  tasks/cnm-to-cma/tests/resources/cumulus_sns_v1.0_notification_for_granuleRegex.json
  tasks/cnm-to-cma/tests/resources/cumulus_sns_v1.0_notification_incorrect_formatted.json
  tasks/cnm-to-cma/tests/resources/cumulus_sns_v1.0_notification_multi_protocols.json
  tasks/cnm-to-cma/tests/resources/cumulus_sns_v1.0_response_failure.json
  tasks/cnm-to-cma/tests/test_cnm2cma.py
  tasks/cnm-to-cma/tests/test_cnm_to_cma.py
Due: none

WIP: Updates checksum and size of granule test data
  example/spec/parallel/cnmWorkflow/data/records/L2_HR_PIXC_product_0001-of-4154.json
Due: none

CSD-82: Update /workflows endpoint to use query string parameters (#4207)
  CHANGELOG.md
  packages/api-client/src/workflows.ts
  packages/api/endpoints/workflows.js
  packages/api/tests/endpoints/workflows.js
Due: eslint, typescript-compile

remove unused files
  workflows/lambdas/opera_lambdas/collection_metadata/__init__.py
  workflows/lambdas/opera_lambdas/collection_metadata/asf_md.py
  workflows/lambdas/opera_lambdas/collection_metadata/collection_md.py
  workflows/lambdas/opera_lambdas/collection_metadata/ummg.py
  workflows/lambdas/opera_lambdas/metaspec/__init__.py
  workflows/lambdas/opera_lambdas/metaspec/cslc_s1.py
  workflows/lambdas/opera_lambdas/metaspec/cslc_s1_static.py
  workflows/lambdas/opera_lambdas/metaspec/disp_s1.py
  workflows/lambdas/opera_lambdas/metaspec/disp_s1_static.py
  workflows/lambdas/opera_lambdas/metaspec/dist_alert_s1.py
  workflows/lambdas/opera_lambdas/metaspec/rtc_s1.py
  workflows/lambdas/opera_lambdas/metaspec/rtc_s1_static.py
  workflows/lambdas/opera_lambdas/metaspec/tropo_zenith.py
  workflows/lambdas/opera_lambdas/shared/__init__.py
  workflows/lambdas/opera_lambdas/shared/cmr.py
Due: none

CUMULUS-4408: update nsidc-cumulus-prod stack with cloudfront urls (#4156)
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
Due: none

CUMULUS-4438: Make min and max capacities of RDS configurable in rds-cluster-tf example. (#4150)
  example/rds-cluster-tf/main.tf
  example/rds-cluster-tf/variables.tf
Due: none

setup nsidc-cumulus-prod stack sit (#4140)
  example/config.yml
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
  example/deployments/data-persistence/nsidc-cumulus-prod.tfvars
Due: none

clean up
  workflows/lambdas/opera_lambdas/cnm_sqs_logger.py
  workflows/lambdas/opera_lambdas/response.py
  workflows/scripts/cumulus_api.py
Due: none

remove refactor's test console file to get around no testing issue. update searhConcept test console import
  packages/cmr-client/tests/test-searchConcept.js
  packages/logger/tests/index.js
  packages/logger/tests/test-consoleUtils.js
Due: eslint

WIP: Fixes sample data for Kinesis spec (checksum)
  example/spec/parallel/cnmWorkflow/data/records/L2_HR_PIXC_product_0001-of-4154_dupe.json
Due: none

update request validation and bulk description
  packages/api/endpoints/granules.js
  packages/api/lib/request.js
  packages/api/tests/endpoints/granules/test-bulk-delete.js
  packages/api/tests/endpoints/granules/test-bulk-granules.js
  packages/api/tests/endpoints/granules/test-bulk-reingest.js
  packages/api/tests/endpoints/test-executions.js
Due: eslint

remove tar change
  CHANGELOG.md
Due: none

CUMULUS-4486: Rule.rule.meta bugfix for ruleshelper
  CHANGELOG.md
  packages/api/lib/rulesHelpers.js
  packages/api/lib/schemas.js
  packages/api/tests/lib/rules/test-rulesHelpers.js
Due: eslint

terraform module. ruff linting/reformatting python code
  tasks/cnm-to-cma/cnm_to_cma.py
  tasks/cnm-to-cma/models_cma_file.py
  tasks/cnm-to-cma/models_cnm.py
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/terraform/lambda.tf
  tasks/cnm-to-cma/terraform/main.tf
  tasks/cnm-to-cma/terraform/output.tf
  tasks/cnm-to-cma/terraform/variable.tf
Due: none
