Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

PR feedback - round 2
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint

updated comment
  packages/api/app/index.js
Due: eslint

CUMULUS-4606: Fix module names (#4363)
  CHANGELOG.md
  example/rds-cluster-tf/main.tf
  example/rds-iceberg-replication-tf/main.tf
Due: none

new and improved changelog
  CHANGELOG.md
Due: none

lets try this in ci, it doesn't work locally
  example/spec/parallel/changeGranuleCollections/ChangeGranuleCollectionPG.js
Due: eslint

Update TEA to latest version 3.0.0
  CHANGELOG.md
  example/cumulus-tf/thin_egress_app.tf
Due: none

add upgrade notes
  docs/upgrade-notes/collection_cmr_provider_db_update.md
Due: none

smal simplification and typing
  example/data/payloads/IngestGranule.input.payload.json
  packages/ingest/src/queue.js
Due: eslint

linting
  packages/ingest/src/queue.js
Due: eslint

Cumulus 4567: max value for the executions_cumulus_id_seq (#4354)
  CHANGELOG.md
  packages/db/src/migrations/20260402110300_update_bigint_column_sequence.sql
  packages/db/src/migrations/20260402110300_update_bigint_column_sequence.ts
Due: eslint, typescript-compile

Update TEA to latest version 3.0.0 (#4364)
  CHANGELOG.md
  example/cumulus-tf/thin_egress_app.tf
Due: none

CSD-100
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint

CSD-100 cleanup
  packages/api/app/index.js
Due: eslint

reverting change to see int-test
  packages/api/app/index.js
Due: eslint

CSD-100_eslint
  packages/api/app/index.js
Due: eslint

CSD-100 bad spacing
  packages/api/app/index.js
Due: eslint

CSD-100 master build
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint

CSD-100 Changelog
  CHANGELOG.md
Due: none

CSD-100 API test
  packages/api/app/index.js
Due: eslint

CSD-100 API tests
  packages/api/app/index.js
Due: eslint

CSD-100 cleanup handler
  packages/api/app/index.js
Due: eslint

CSD-100
  packages/api/app/index.js
Due: eslint

Fix eol-last lint error in index.js
  packages/api/app/index.js
Due: eslint

fix update note
  docs/upgrade-notes/collection_cmr_provider_db_update.md
Due: none

correct partialtype
  packages/types/api/collections.d.ts
Due: eslint, typescript-compile

typo in changelog
  CHANGELOG.md
Due: none

rework this test
  packages/api/endpoints/granules.js
Due: eslint

cmrProvider added to schemas.js
  packages/api/lib/schemas.js
Due: eslint

add sinble quotes for string
  docs/upgrade-notes/collection_cmr_provider_db_update.md
Due: none

typo
  packages/api/endpoints/granules.js
Due: eslint

CSD-100: Lambdas reporting `InvalidSignatureException` errors (#4358)
  CHANGELOG.md
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint

CSD-100 off master
  CHANGELOG.md
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint

small further update toverification
  docs/upgrade-notes/collection_cmr_provider_db_update.md
Due: none

does this work in ci?
  packages/api/endpoints/granules.js
Due: eslint

github link
  CHANGELOG.md
Due: none
