Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

fix lint
  packages/api/tests/endpoints/test-granules.js
  packages/distribution-utils/src/index.ts
Due: eslint, typescript-compile

remove debug
  packages/api/tests/endpoints/test-granules.js
  packages/distribution-utils/src/index.ts
Due: eslint, typescript-compile

bump archiver version to fix CVE-2026-13149
  package.json
Due: npm-package-json-lint

Use an earlier version of archiver to avoid changes
  package.json
Due: npm-package-json-lint

Revert to the latest version of archiver
  package.json
Due: npm-package-json-lint

Update import syntax for updated archiver module
  bin/zip.js
Due: eslint

Update imports to use ESM wrapper
  bin/zip.js
  packages/common/importEsm.js
Due: eslint

fix lint
  bin/zip.js
Due: eslint

update test to include correct bucket name
  packages/api/tests/endpoints/test-granules.js
Due: eslint

add test for new method with env vars
  packages/distribution-utils/test/test-index.js
Due: eslint

fix test to set envs correctly
  packages/distribution-utils/test/test-index.js
Due: eslint

update changelog
  CHANGELOG.md
Due: none

port changes from prior PR
  CHANGELOG.md
  bin/zip.js
  package.json
Due: eslint, npm-package-json-lint

add missing method to common
  packages/common/importEsm.js
Due: eslint

add docstring
  packages/common/importEsm.js
Due: eslint

Address blocking CVE (#4527)
  CHANGELOG.md
  bin/zip.js
  package.json
  packages/common/importEsm.js
Due: eslint, npm-package-json-lint

update website versions json to point to the correct patch version
  website/versions.json
Due: none

Update CMR client to not cache the CMR provider
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/src/CMRSearchConceptQueue.ts
  packages/cmr-client/tests/test-CMR.js
  packages/cmr-client/tests/test-CMRSearchConceptQueue.js
Due: eslint, typescript-compile

Update cmrcjs library with mods from CMR client
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-reconcilecmrmetadata.js
Due: eslint

Update postToCmr task to use new signature
  tasks/post-to-cmr/index.js
Due: eslint

Update hyrax metadata task
  tasks/hyrax-metadata-updates/index.js
Due: eslint

Update remove-from-cmr API lib call
  packages/api/lib/granule-remove-from-cmr.js
Due: eslint

Fix bad typedoc
  packages/cmrjs/src/cmr-utils.js
Due: eslint

Update recon-report generation
  packages/api/lambdas/create-reconciliation-report.js
Due: eslint

Update Recon Report spec to match new sig
  example/spec/parallel/createReconciliationReport/CreateReconciliationReportSpec.js
Due: eslint

Fix signature error
  tasks/post-to-cmr/index.js
Due: eslint

Prelim CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

