Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

Fixed package.sh script to reference the correct lambda tag
  tasks/granule-invalidator/bin/package.sh
Due: none

Update to reference correct docker binary path
  tasks/granule-invalidator/bin/package.sh
Due: none

Improves testing and adds tooling
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: none

Add archive location of pdr to the task output
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Adjusts styling for pdr-cleanup task
  tasks/pdr-cleanup/pdr-cleanup.py
Due: none

Adds check for s3 provider in pdr-cleanup
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Add pdr-cleanup and initialize task dir
  tasks/pdr-cleanup/README.md
  tasks/pdr-cleanup/pdr-cleanup.py
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/uv.lock
Due: none

Adds unit tests to pdr-cleanup task
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/test/__init__.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: none

Add schemas
  tasks/pdr-cleanup/schemas/config.json
  tasks/pdr-cleanup/schemas/input.json
  tasks/pdr-cleanup/schemas/output.json
Due: none

Ruff format fixes
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Improvements to cleanup logic
  tasks/pdr-cleanup/pdr_cleanup.py
Due: none

Adds package.json
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

Updates README.md
  tasks/pdr-cleanup/README.md
Due: none

Changes file organization to meet task layout standards
  tasks/pdr-cleanup/src/pdr_cleanup/__init__.py
  tasks/pdr-cleanup/src/pdr_cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/tests/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__pycache__/__init__.cpython-314.pyc
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/test_pdr_cleanup.py
Due: none

Changes to Python 3.13
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/uv.lock
Due: none

Adds terraform deployment
  tasks/pdr-cleanup/bin/package.sh
  tasks/pdr-cleanup/deploy/main.tf
  tasks/pdr-cleanup/deploy/outputs.tf
  tasks/pdr-cleanup/deploy/variables.tf
  tasks/pdr-cleanup/deploy/versions.tf
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

Updates CHANGELOG.md
  CHANGELOG.md
Due: none

WIP: README
  tasks/pdr-cleanup/README.md
Due: none

Remove cache file
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__pycache__/__init__.cpython-314.pyc
Due: none

WIP: output.json fix
  tasks/pdr-cleanup/schemas/output.json
Due: none

ruff check pass
  pyproject.toml
Due: none

Added sample terraform.tfvars
  tasks/pdr-cleanup/deploy/terraform.tfvars.sample
Due: none

Update README.md to fit template
  tasks/pdr-cleanup/README.md
Due: none

WIP: Format fixes
  tasks/pdr-cleanup/README.md
  tasks/pdr-cleanup/bin/package.sh
  tasks/pdr-cleanup/deploy/main.tf
  tasks/pdr-cleanup/deploy/terraform.tfvars.sample
  tasks/pdr-cleanup/deploy/versions.tf
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/schemas/config.json
  tasks/pdr-cleanup/schemas/input.json
  tasks/pdr-cleanup/schemas/output.json
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: npm-package-json-lint

Updated package.sh to avoid docker
  tasks/granule-invalidator/bin/package.sh
  tasks/granule-invalidator/bin/package_docker.sh
Due: none

Updated the python-platform flag
  tasks/granule-invalidator/bin/package.sh
Due: none

remove tar to make publish work
  package.json
Due: npm-package-json-lint

update api package test coverge for ci
  packages/api/.nycrc.json
Due: none

Fixed broken path for lambda zipfile
  tasks/granule-invalidator/deploy/main.tf
Due: none

Updated runtime from python3.14 to python3.13
  tasks/granule-invalidator/build-config.json
Due: none

Update lerna to v8, add tar override shim
  CHANGELOG.md
  package.json
  scripts/tar_shim.cjs
Due: npm-package-json-lint

clean up
  workflows/lambda.tf
  workflows/scripts/pcrs.py
Due: none

removed disabled comment since this endpoint is used
  packages/api/app/routes.js
Due: eslint

Modified saml refresh token function to decode the existing token and so we can reuse it's iat claim if the token is verified
  packages/api/endpoints/launchpadSaml.js
Due: eslint

Added iat parameter to createJwtToken function to support reusing iat during token refresh. iat will be used when if the parameter is not null or undefined
  packages/api/lib/token.js
Due: eslint

added tests to verify expected behavior of JWT refresh
  packages/api/tests/endpoints/test-launchpadSaml.js
  packages/api/tests/endpoints/test-token.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

