Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

fix provider hardcode in changeGranuleCollection
  packages/api/endpoints/granules.js
Due: eslint

lint
  example/spec/helpers/workflowUtils.js
  tasks/queue-pdrs/tests/index.js
Due: eslint

cleanup
  packages/api/endpoints/collections.js
Due: eslint

Add common package for managing python dev dependencies
  example/lambdas/python-processing/pyproject.toml
  example/lambdas/python-processing/uv.lock
  example/lambdas/python-reference-activity/pyproject.toml
  example/lambdas/python-reference-activity/uv.lock
  example/lambdas/python-reference-task/pyproject.toml
  example/lambdas/python-reference-task/uv.lock
  packages/python-common-dev-dependencies/README.md
  packages/python-common-dev-dependencies/pyproject.toml
  packages/python-common-dev-dependencies/src/python_common_dev_dependencies/__init__.py
  pyproject.toml
  tasks/aws-api-proxy/pyproject.toml
  tasks/aws-api-proxy/uv.lock
  tasks/cnm-response/pyproject.toml
  tasks/cnm-response/uv.lock
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/uv.lock
  tasks/get-cnm/pyproject.toml
  tasks/get-cnm/uv.lock
  tasks/granule-invalidator/pyproject.toml
  tasks/granule-invalidator/uv.lock
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/uv.lock
Due: none

bump async_operation_image number in tf-modules cumulus variables
  tf-modules/cumulus/variables.tf
Due: none

queue-granules needs a collection cmrprovider in test
  tasks/queue-granules/tests/index.js
Due: eslint

Drop workspace member
  pyproject.toml
Due: none

Fix package.json indentation
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

Update requirements files
  example/lambdas/python-processing/example/lambdas/python-processing/requirements.txt
  example/lambdas/python-processing/package.json
  example/lambdas/python-processing/requirements.txt
  example/lambdas/python-reference-activity/example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-activity/package.json
  example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-task/example/lambdas/python-reference-task/requirements.txt
  example/lambdas/python-reference-task/package.json
  example/lambdas/python-reference-task/requirements.txt
  tasks/aws-api-proxy/package.json
  tasks/aws-api-proxy/requirements.txt
  tasks/cnm-response/package.json
  tasks/cnm-response/requirements.txt
  tasks/cnm-response/tasks/cnm-response/requirements.txt
  tasks/cnm-to-cma/package.json
  tasks/cnm-to-cma/requirements.txt
  tasks/cnm-to-cma/tasks/cnm-to-cma/requirements.txt
  tasks/get-cnm/package.json
  tasks/get-cnm/requirements.txt
  tasks/get-cnm/tasks/get-cnm/requirements.txt
  tasks/granule-invalidator/package.json
  tasks/granule-invalidator/requirements.txt
  tasks/granule-invalidator/tasks/granule-invalidator/requirements.txt
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/requirements.txt
  tasks/pdr-cleanup/tasks/pdr-cleanup/requirements.txt
Due: npm-package-json-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add npm `uv-lock` script for updating task lock files
  example/lambdas/python-processing/package.json
  example/lambdas/python-processing/requirements.txt
  example/lambdas/python-processing/uv.lock
  example/lambdas/python-reference-activity/package.json
  example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-activity/uv.lock
  example/lambdas/python-reference-task/package.json
  example/lambdas/python-reference-task/requirements.txt
  example/lambdas/python-reference-task/uv.lock
  tasks/aws-api-proxy/package.json
  tasks/aws-api-proxy/requirements.txt
  tasks/aws-api-proxy/uv.lock
  tasks/cnm-response/package.json
  tasks/cnm-response/requirements.txt
  tasks/cnm-response/uv.lock
  tasks/cnm-to-cma/package.json
  tasks/cnm-to-cma/requirements.txt
  tasks/cnm-to-cma/uv.lock
  tasks/get-cnm/package.json
  tasks/get-cnm/requirements.txt
  tasks/get-cnm/uv.lock
  tasks/granule-invalidator/package.json
  tasks/granule-invalidator/requirements.txt
  tasks/granule-invalidator/uv.lock
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/requirements.txt
  tasks/pdr-cleanup/uv.lock
Due: npm-package-json-lint

lint
  tasks/queue-granules/tests/index.js
Due: eslint

update changelog with async-operations-update title
  CHANGELOG.md
Due: none

Release 21.3.2 async ops update (#4329)
  CHANGELOG.md
  example/cumulus-tf/variables.tf
  tf-modules/cumulus/variables.tf
Due: none

fix queue test
  tasks/queue-workflow/tests/index.js
Due: eslint

first commit CSD-100
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint

changelog change
  CHANGELOG.md
Due: none

CUMULUS-4706: Define and serve the iceberg search api routes through its own iceberg api.
  packages/api/app/README.md
  packages/api/app/db.js
  packages/api/app/iceberg-index.js
  packages/api/app/iceberg-limited-executions.js
  packages/api/app/iceberg-limited-granules.js
  packages/api/app/iceberg-routes.js
  packages/api/endpoints/async-operations.js
  packages/api/endpoints/collections.js
  packages/api/endpoints/execution-status.js
  packages/api/endpoints/executions.js
  packages/api/endpoints/granules.js
  packages/db/src/connection.ts
  packages/db/src/index.ts
  packages/db/src/search/BaseSearch.ts
  packages/db/src/search/StatsSearch.ts
Due: eslint, typescript-compile

CUMULUS-4557: Make a containerized cumulus api that can be deployed to ECS.
  .dockerignore
  packages/api/app/Dockerfile
Due: none

CUMULUS-4557: Fix intermittent api unit test failures.
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

CUMULUS-4558: Provision ECS Fargate infrastructure for cumulus api using terraform.
  example/cumulus-tf/iceberg_api.tf
  example/cumulus-tf/outputs.tf
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/yliu10-ci-tf.tfvars
  tf-modules/archive/iam.tf
  tf-modules/archive/outputs.tf
  tf-modules/cumulus/outputs.tf
Due: none

CUMULUS-4557: Add local test script and instructions.
  CHANGELOG.md
  example/cumulus-tf/iceberg_api.tf
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/yliu10-ci-tf.tfvars
  package.json
  packages/api/app/Dockerfile
  packages/api/app/README.md
  packages/api/app/iceberg-index.js
  packages/api/endpoints/async-operations.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
  packages/db/src/connection.ts
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4557: Fix eslint error.
  packages/api/app/README.md
  packages/api/app/iceberg-index.js
Due: eslint

CUMULUS-4558: Made all Iceberg API resources conditional.
  example/cumulus-tf/iceberg_api.tf
  example/cumulus-tf/outputs.tf
Due: none

mistakencmrProvider in generator
  packages/integration-tests/Collections.js
Due: eslint

CUMULUS-4706: Handle race condition in creation of connection pool in iceberg api.
  packages/db/src/connection.ts
Due: eslint, typescript-compile

Update change log and variable spacing
  CHANGELOG.md
  example/cumulus-tf/variables.tf
Due: none

CUMULUS-4706: Minor refactoring and added unit tests.
  packages/api/app/iceberg-routes.js
  packages/api/endpoints/iceberg-executions.js
  packages/api/endpoints/iceberg-granules.js
  packages/db/tests/test-connection.js
Due: eslint

console logs removed
  tasks/hyrax-metadata-updates/index.js
Due: eslint

update variables spacing
  tf-modules/cumulus/variables.tf
Due: none

addding buildAndStartWorkflow cmrProvider
  example/spec/helpers/workflowUtils.js
Due: eslint

lint
  example/spec/helpers/workflowUtils.js
Due: eslint

CUMULUS-4706: Fixed unit test.
  packages/db/tests/test-connection.js
Due: eslint

CUMULUS-4706: Added more routes in iceberg api.
  packages/api/app/iceberg-routes.js
  packages/api/endpoints/iceberg-async-operations.js
  packages/api/endpoints/iceberg-collections.js
  packages/api/endpoints/iceberg-granules.js
  packages/api/endpoints/iceberg-pdrs.js
  packages/api/endpoints/iceberg-providers.js
  packages/api/endpoints/iceberg-reconciliation-reports.js
  packages/api/endpoints/iceberg-rules.js
  packages/db/tests/test-connection.js
Due: eslint

CUMULUS-4558: Make iceberg api ECS task CPU and memory configurable.
  example/cumulus-tf/iceberg_api.tf
  example/cumulus-tf/variables.tf
  packages/api/endpoints/iceberg-async-operations.js
  packages/api/endpoints/iceberg-collections.js
  packages/api/endpoints/iceberg-pdrs.js
  packages/api/endpoints/iceberg-providers.js
  packages/api/endpoints/iceberg-reconciliation-reports.js
  packages/api/endpoints/iceberg-rules.js
Due: eslint

log removed
  packages/cmr-client/src/CMR.ts
Due: eslint, typescript-compile

dependency not needed
  packages/ingest/package.json
Due: npm-package-json-lint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

