Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

update default partition count
  tf-modules/data-persistence/variables.tf
Due: none

add objects into the first bucket mapping
  example/cumulus-tf/cumulus_distribution.tf
  example/cumulus-tf/main.tf
  example/cumulus-tf/thin_egress_app.tf
  packages/api/tests/endpoints/test-granules.js
  packages/distribution-utils/src/index.ts
  tf-modules/cumulus_distribution/main.tf
Due: eslint, typescript-compile

also need the bucket names
  example/cumulus-tf/main.tf
Due: none

update migration doc
  docs/upgrade-notes/data-migration-to-partitioned-global-unique-tables.md
Due: none

update db package test coverage
  packages/db/.nycrc.json
Due: none

change-granule-collection-pg coverage not run
  tasks/change-granule-collection-pg/.nycrc.json
Due: none

update integration postgres file write error
  example/spec/parallel/ingestGranule/IngestGranuleFailureSpec.js
Due: eslint

fix typo changelog
  CHANGELOG.md
Due: none

update test coverage number
  tasks/add-unique-granuleID/.nycrc.json
  tasks/change-granule-collection-s3/.nycrc.json
Due: none

update api-client test coverage
  packages/api-client/.nycrc.json
Due: none

CUMULUS-4954: some refactoring, start tests with ministack
  bamboo/docker-compose-local.yml
  bamboo/docker-compose.yml
  packages/aws-client/src/AthenaQueryClient.ts
  packages/aws-client/src/services.ts
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint, typescript-compile

build docs
  packages/aws-client/README.md
  packages/checksum/README.md
  packages/cmr-client/API.md
  packages/collection-config-store/docs/API.md
  packages/common/docs/API.md
  packages/integration-tests/README.md
  packages/launchpad-auth/README.md
  packages/message/README.md
  packages/oauth-client/README.md
Due: none

mistaken bucket names
  example/cumulus-tf/main.tf
Due: none

fix count retrieve
  packages/db/src/migrations/20260625141202_partition_granules_global_unique.ts
  packages/db/src/migrations/20260625161818_partition_files_global_unique.ts
Due: eslint, typescript-compile

update description executions_total_years
  tf-modules/data-persistence/variables.tf
Due: none

try bucket . name
  example/cumulus-tf/cumulus_distribution/bucket_map.yaml.tmpl
Due: none

CUMULUS-4982: Converted global_unique tables to HASH partitioned tables (#4523)
  CHANGELOG.md
  docs/upgrade-notes/data-migration-to-partitioned-global-unique-tables.md
  example/data-persistence-tf/variables.tf
  example/spec/parallel/ingestGranule/IngestGranuleFailureSpec.js
  lambdas/db-migration/main.tf
  lambdas/db-migration/tests/test-index.js
  lambdas/db-migration/variables.tf
  packages/api-client/.nycrc.json
  packages/db/.nycrc.json
  packages/db/src/migrations-bootstrap/065_granules_global_unique.ts
  packages/db/src/migrations-bootstrap/075_files_global_unique.ts
  packages/db/src/migrations/20260625141202_partition_granules_global_unique.ts
  packages/db/src/migrations/20260625161818_partition_files_global_unique.ts
  packages/db/src/migrations/20260625_migrate_and_verify_global_uniqueness.sql
  tasks/add-unique-granuleID/.nycrc.json
  tasks/change-granule-collection-pg/.nycrc.json
  tasks/change-granule-collection-s3/.nycrc.json
  tf-modules/data-persistence/variables.tf
  website/sidebars.js
Due: eslint, typescript-compile

doc updates
  packages/aws-client/README.md
  packages/checksum/README.md
  packages/cmr-client/API.md
  packages/collection-config-store/docs/API.md
  packages/common/docs/API.md
  packages/integration-tests/README.md
  packages/launchpad-auth/README.md
  packages/message/README.md
  packages/oauth-client/README.md
Due: none

update docs for 4982 PR
  website/versioned_docs/version-v22.3.0/upgrade-notes/data-migration-to-partitioned-global-unique-tables.md
  website/versioned_sidebars/version-v22.3.0-sidebars.json
Due: none

needs to change here too
  example/cumulus-tf/thin-egress-app/bucket_map.yaml.tmpl
Due: none

Update schema
  docs/assets/db_schema/relationships.real.large.png
Due: none

CUMULUS-4954: clean up Athena client, add more tests
  packages/aws-client/src/AthenaQueryClient.ts
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint, typescript-compile

Update granules.js
  packages/api/endpoints/granules.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

