Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

implemented multipart checksum computation based on threshold and partition values
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/src/index.ts
  tasks/add-missing-file-checksums/src/types.ts
  tasks/add-missing-file-checksums/tests/test-index.ts
Due: eslint, typescript-compile

Add lint exceptions for `tests` directory as well
  pyproject.toml
Due: none

Tweak ruff linting rules
  pyproject.toml
Due: none

Add python cnm-response task
  tasks/cnm-response/.npmignore
  tasks/cnm-response/cnm_response/__init__.py
  tasks/cnm-response/cnm_response/create_cnm.py
  tasks/cnm-response/cnm_response/sender.py
  tasks/cnm-response/cnm_response/task.py
  tasks/cnm-response/cnm_response/types.py
  tasks/cnm-response/package.json
  tasks/cnm-response/pyproject.toml
  tasks/cnm-response/schemas/config.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/input.json.template
  tasks/cnm-response/schemas/output.json
  tasks/cnm-response/schemas/output.json.template
  tasks/cnm-response/tests/__init__.py
  tasks/cnm-response/tests/conftest.py
  tasks/cnm-response/tests/test_create_cnm.py
  tasks/cnm-response/tests/test_sender.py
  tasks/cnm-response/tests/test_task.py
  tasks/cnm-response/uv.lock
Due: npm-package-json-lint

simplify serveUtils create granule files. Update serveUtils test to use fakeFileRecordFactory and test granule w/ no files
  packages/api/bin/serveUtils.js
  packages/api/tests/endpoints/test-granules.js
Due: eslint

change log and test label update
  CHANGELOG.md
  packages/api/tests/endpoints/test-granules.js
Due: eslint

update changelog text
  CHANGELOG.md
Due: none

Update README.md to fit template
  tasks/pdr-cleanup/README.md
Due: none

WIP: Initial refactor of python ref activity tf
  example/cumulus-tf/python_reference_workflow.tf
  example/lambdas/python-processing/pyproject.toml
  example/lambdas/python-reference-activity/deploy/README.md
  example/lambdas/python-reference-activity/deploy/main.tf
  example/lambdas/python-reference-activity/deploy/outputs.tf
  example/lambdas/python-reference-activity/deploy/variables.tf
  example/lambdas/python-reference-activity/deploy/versions.tf
  example/lambdas/python-reference-activity/pyproject.toml
  example/lambdas/python-reference-task/deploy/README.md
  example/lambdas/python-reference-task/pyproject.toml
Due: none

adjust minimum function coverage test to allow serveUtils to pass
  packages/api/.nycrc.json
Due: none

WIP: Fixes python ref activity tf dir ref
  example/lambdas/python-reference-activity/deploy/main.tf
Due: none

Add iat claim to JWT tokens for better client-side session management
  packages/api/lib/token.js
  packages/api/tests/endpoints/test-token.js
Due: eslint

WIP: Fixes reference activity tf image version variable
  example/cumulus-tf/python_reference_workflow.tf
  example/lambdas/python-reference-activity/deploy/README.md
  example/lambdas/python-reference-activity/deploy/variables.tf
Due: none

WIP: More python ref activity tf updates
  example/cumulus-tf/python_reference_workflow.tf
  example/lambdas/python-reference-activity/deploy/README.md
  example/lambdas/python-reference-activity/deploy/main.tf
  example/lambdas/python-reference-activity/deploy/outputs.tf
  example/lambdas/python-reference-activity/deploy/variables.tf
Due: none

WIP: Fixes pythong reference workflow state definition
  example/cumulus-tf/python_reference_workflow.tf
Due: none

CUMULUS-4112: Update serveUtils.addGranules to write granule files (#4201)
  CHANGELOG.md
  packages/api/.nycrc.json
  packages/api/bin/serveUtils.js
  packages/api/tests/endpoints/test-granules.js
Due: eslint

Updating per PR comments
  docs/development/quality-and-coverage.md
Due: none

first commit
  CHANGELOG.md
  packages/api/lib/rulesHelpers.js
  packages/api/lib/schemas.js
  packages/api/tests/lib/rules/test-rulesHelpers.js
Due: eslint

WIP: Updates python-processing workflow and modules
  example/cumulus-tf/python_processing_workflow.tf
  example/lambdas/python-processing/deploy/README.md
  example/lambdas/python-processing/deploy/main.tf
  example/lambdas/python-processing/deploy/outputs.tf
  example/lambdas/python-processing/deploy/variables.tf
  example/lambdas/python-processing/deploy/versions.tf
  example/lambdas/python-reference-activity/deploy/README.md
Due: none

WIP: Fixes incorrect module reference in python processing
  example/lambdas/python-processing/deploy/main.tf
Due: none

WIP: More python proccessing tf refactoring fixes
  example/lambdas/python-processing/deploy/main.tf
  example/lambdas/python-processing/deploy/outputs.tf
Due: none

update endpoints and functions to take granuleIds not granuleId+collectionId
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/granules.js
  packages/api/lib/request.js
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/lambdas/test-bulk-granule-delete.js
  packages/api/tests/lambdas/test-bulk-operation.js
  packages/api/tests/lambdas/test-kinesis-consumer.js
  packages/api/tests/lib/test-granules.js
  packages/db/src/index.ts
  packages/db/src/lib/granule.ts
  packages/db/src/models/granule.ts
  packages/db/src/types/granule.ts
  packages/db/tests/lib/test-granule.js
  packages/db/tests/models/test-granule-model.js
Due: eslint, typescript-compile

CSD-61: updated changelog
  CHANGELOG.md
Due: none

CUMULUS-4436: Adding initial best practices information for languages and adding tasks (#4188)
  CHANGELOG.md
  docs/adding-a-task.md
  docs/development/python-best-practices.md
  docs/development/quality-and-coverage.md
  docs/development/typescript-best-practices.md
  website/sidebars.js
Due: none

WIP: Adds migration notes to CHANGELOG
  CHANGELOG.md
Due: none

WIP: Renames python example ecs services per feedback
  CHANGELOG.md
  docs/adding-a-task.md
  docs/development/python-best-practices.md
  example/lambdas/python-processing/deploy/main.tf
  example/lambdas/python-reference-activity/deploy/main.tf
Due: none

PR feedback - need to split/test combinations remaining
  packages/api/endpoints/workflows.js
  packages/api/tests/endpoints/workflows.js
Due: eslint

adding more units
  packages/api/tests/endpoints/workflows.js
Due: eslint

WIP: README
  tasks/pdr-cleanup/README.md
Due: none

WIP: output.json fix
  tasks/pdr-cleanup/schemas/output.json
Due: none

ruff check pass
  pyproject.toml
Due: none

Added sample terraform.tfvars
  tasks/pdr-cleanup/deploy/terraform.tfvars.sample
Due: none

add new unit tests
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/granules.js
  packages/api/tests/lambdas/test-bulk-granule-delete.js
  packages/api/tests/lambdas/test-bulk-operation.js
  packages/api/tests/lib/test-granules.js
Due: eslint

add changelog entries
  CHANGELOG.md
Due: none

fix lint
  packages/api/lib/request.js
  packages/api/tests/lambdas/test-bulk-operation.js
Due: eslint

override tar for audit
  package.json
Due: npm-package-json-lint

security: harden CI Docker Compose credentials
  .pre-commit-config.yaml
  bamboo/docker-compose.yml
Due: none

CSD-61: updated put granules endpoint to accept (#4198)
  CHANGELOG.md
  packages/api/lib/writeRecords/write-granules.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

