Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

add lifecycle rule configuration documentation to lifecycle-policies page
  docs/configuration/lifecycle-policies.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

CUMULUS-4709: Add retries to attach glue catalog and set search path.
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/tests/iceberg-search/test-DuckDBSearchExecutor.js
  packages/db/tests/test-iceberg-connection.js
Due: eslint, typescript-compile

update index, db_partition_config terraform
  lambdas/db-migration/main.tf
  lambdas/db-migration/src/index.ts
  lambdas/db-migration/variables.tf
  packages/db/src/migrations/030_executions.ts
  packages/db/src/migrations/070_granules.ts
  packages/db/src/migrations/080_files.ts
  packages/db/src/migrations/090_granules_executions.ts
  tf-modules/data-persistence/postgres_migration.tf
  tf-modules/data-persistence/variables.tf
Due: eslint, typescript-compile

update variables order
  lambdas/db-migration/main.tf
  lambdas/db-migration/variables.tf
  tf-modules/data-persistence/postgres_migration.tf
  tf-modules/data-persistence/variables.tf
Due: none

changelog
  CHANGELOG.md
Due: none

CUMULUS-4709: Add health endpoint in iceberg api to better manage the duckdb connection pool at server startup.
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  packages/api/app/iceberg-routes.js
  packages/api/endpoints/iceberg-health.js
  packages/api/tests/endpoints/test-iceberg-health.js
  packages/db/src/duckdb.ts
  packages/db/src/iceberg-connection.ts
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/README.md
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: eslint, typescript-compile

remove accidental test.only
  packages/api/.nycrc.json
  packages/api/tests/endpoints/test-executions.js
Due: eslint

WIP changes + launchpad tests, todo: CMR tests/refactoring possibly
  packages/api-client/tests/test-collections.js
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/tests/test-CMR.js
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/launchpad-auth/src/index.ts
  packages/launchpad-auth/tests/test-LaunchpadToken.js
Due: eslint, typescript-compile

add partition config to example fix USE_BOOTSTRAP env
  CHANGELOG.md
  example/data-persistence-tf/main.tf
  example/data-persistence-tf/variables.tf
  lambdas/db-migration/src/index.ts
  lambdas/db-migration/variables.tf
Due: eslint, typescript-compile

add const TIMESTAMP_PRECISION and getPartitionCount to lib
  packages/db/src/lib/migration.ts
  packages/db/src/migrations/010_async_operations.ts
  packages/db/src/migrations/020_collections.ts
  packages/db/src/migrations/030_executions.ts
  packages/db/src/migrations/040_providers.ts
  packages/db/src/migrations/050_rules.ts
  packages/db/src/migrations/060_pdrs.ts
  packages/db/src/migrations/070_granules.ts
  packages/db/src/migrations/080_files.ts
  packages/db/src/migrations/090_granules_executions.ts
  packages/db/src/migrations/100_reconciliation_reports.ts
Due: eslint, typescript-compile

more test fixes + some refactoring
  packages/api/tests/lib/test-granule-remove-from-cmr.js
  packages/cmr-client/.nycrc.json
  packages/cmrjs/src/cmr-utils.js
Due: eslint

Cannot find module lib
  lambdas/db-migration/package.json
  lambdas/db-migration/webpack.config.js
Due: eslint, npm-package-json-lint

small fix to test
  tasks/post-to-cmr/tests/cmr-test.js
Due: eslint

use isCollisionError
  lambdas/db-migration/src/index.ts
  packages/db/src/models/execution.ts
  packages/db/src/models/file.ts
  packages/db/src/models/granule.ts
Due: eslint, typescript-compile

add unit test for db-migration lambda
  lambdas/db-migration/.nycrc.json
  lambdas/db-migration/package.json
  lambdas/db-migration/src/index.ts
  lambdas/db-migration/tests/test-index.js
  lambdas/db-migration/webpack.config.js
Due: eslint, npm-package-json-lint, typescript-compile

bootstrap vs standard migrations
  lambdas/db-migration/README.md
  lambdas/db-migration/variables.tf
  packages/db/README.md
  tf-modules/data-persistence/variables.tf
Due: none

refactoring + jsdoc updates
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/tests/test-CMR.js
  packages/cmrjs/src/cmr-utils.js
  packages/launchpad-auth/src/index.ts
  packages/launchpad-auth/tests/test-LaunchpadToken.js
Due: eslint, typescript-compile

small fix
  packages/cmr-client/src/CMR.ts
Due: eslint, typescript-compile

fix db-migration ci more unit tests
  lambdas/db-migration/package.json
  lambdas/db-migration/src/index.ts
  lambdas/db-migration/tests/test-index.js
  lambdas/db-migration/webpack.config.js
Due: eslint, npm-package-json-lint, typescript-compile

small revisions
  packages/cmr-client/src/CMR.ts
  packages/cmrjs/.nycrc.json
Due: eslint, typescript-compile

CUMULUS-4709: Close stale connections when getting glue catalog error.
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/AsyncOperationIcebergSearch.ts
  packages/db/src/iceberg-search/CollectionIcebergSearch.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/src/iceberg-search/ExecutionIcebergSearch.ts
  packages/db/src/iceberg-search/GranuleIcebergSearch.ts
  packages/db/src/iceberg-search/PdrIcebergSearch.ts
  packages/db/src/iceberg-search/ProviderIcebergSearch.ts
  packages/db/src/iceberg-search/ReconciliationReportIcebergSearch.ts
  packages/db/src/iceberg-search/RuleIcebergSearch.ts
  packages/db/src/iceberg-search/StatsIcebergSearch.ts
  packages/db/src/test-duckdb-utils.ts
Due: eslint, typescript-compile

update base model get take returningFields
  packages/api/lib/writeRecords/utils.js
  packages/api/tests/endpoints/test-executions.js
  packages/db/README.md
  packages/db/src/models/base.ts
  packages/db/src/translate/executions.ts
  packages/db/src/translate/pdr.ts
  packages/db/tests/models/test-base-model.js
Due: eslint, typescript-compile

migrations to migrations-bootstrap
  packages/db/src/migrations-bootstrap/010_async_operations.ts
  packages/db/src/migrations-bootstrap/020_collections.ts
  packages/db/src/migrations-bootstrap/025_executions_global_unique.ts
  packages/db/src/migrations-bootstrap/030_executions.ts
  packages/db/src/migrations-bootstrap/030_executions.ts.created_at
  packages/db/src/migrations-bootstrap/030_executions.ts.nopartition
  packages/db/src/migrations-bootstrap/040_providers.ts
  packages/db/src/migrations-bootstrap/050_rules.ts
  packages/db/src/migrations-bootstrap/060_pdrs.ts
  packages/db/src/migrations-bootstrap/065_granules_global_unique.ts
  packages/db/src/migrations-bootstrap/070_granules.ts
  packages/db/src/migrations-bootstrap/070_granules.ts.collection_cumulus_id
  packages/db/src/migrations-bootstrap/070_granules.ts.nopartition
  packages/db/src/migrations-bootstrap/075_files_global_unique.ts
  packages/db/src/migrations-bootstrap/080_files.ts
  packages/db/src/migrations-bootstrap/080_files.ts.granule_cumulus_id
  packages/db/src/migrations-bootstrap/080_files.ts.nopartition
  packages/db/src/migrations-bootstrap/090_granules_executions.ts
  packages/db/src/migrations-bootstrap/100_reconciliation_reports.ts
  packages/db/src/migrations-bootstrap/110_executions_triggers.ts
  packages/db/src/migrations-bootstrap/120_granules_triggers.ts
  packages/db/src/migrations-bootstrap/130_files_triggers.ts
Due: eslint, typescript-compile

CUMULUS-4709: Make clearing stale connections in connection pool thread safe.
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/tests/test-iceberg-connection.js
Due: eslint, typescript-compile

CUMULUS-4709: Addressed some concurrency edge cases.
  CHANGELOG.md
  packages/db/src/iceberg-connection.ts
  packages/db/tests/test-iceberg-connection.js
Due: eslint, typescript-compile

update migrations-bootstrap directory seed and doc
  lambdas/db-migration/src/index.ts
  packages/db/README.md
  packages/db/src/migrations-bootstrap/010_async_operations.ts
  packages/db/src/migrations-bootstrap/020_collections.ts
  packages/db/src/migrations-bootstrap/150_seed_migration_history.ts
  packages/db/src/migrations/010_async_operations.ts
  packages/db/src/migrations/020_collections.ts
  packages/db/src/migrations/150_seed_migration_history.ts
Due: eslint, typescript-compile

cmr side unit tests
  packages/cmr-client/.nycrc.json
  packages/cmr-client/package.json
  packages/cmr-client/tests/test-CMR.js
  packages/cmrjs/.nycrc.json
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
Due: eslint, npm-package-json-lint

tiny test fix
  packages/cmr-client/tests/test-CMR.js
Due: eslint

add granules_executions column description fix files_trigger function name
  packages/db/src/migrations-bootstrap/090_granules_executions.ts
  packages/db/src/migrations-bootstrap/130_files_triggers.ts
  packages/db/src/migrations/090_granules_executions.ts
  packages/db/src/migrations/130_files_triggers.ts
Due: eslint, typescript-compile

CUMULUS-4709: Fix Catalog Error in iceberg API (#4417)
  CHANGELOG.md
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  packages/api/app/iceberg-index.js
  packages/api/app/iceberg-routes.js
  packages/api/endpoints/iceberg-health.js
  packages/api/tests/endpoints/test-iceberg-health.js
  packages/db/src/duckdb.ts
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/AsyncOperationIcebergSearch.ts
  packages/db/src/iceberg-search/CollectionIcebergSearch.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/src/iceberg-search/ExecutionIcebergSearch.ts
  packages/db/src/iceberg-search/GranuleIcebergSearch.ts
  packages/db/src/iceberg-search/PdrIcebergSearch.ts
  packages/db/src/iceberg-search/ProviderIcebergSearch.ts
  packages/db/src/iceberg-search/ReconciliationReportIcebergSearch.ts
  packages/db/src/iceberg-search/RuleIcebergSearch.ts
  packages/db/src/iceberg-search/StatsIcebergSearch.ts
  packages/db/src/search/BaseSearch.ts
  packages/db/src/search/StatsSearch.ts
  packages/db/src/test-duckdb-utils.ts
  packages/db/tests/iceberg-search/test-DuckDBSearchExecutor.js
  packages/db/tests/test-iceberg-connection.js
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/README.md
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: eslint, typescript-compile

CUMULUS-4815: Minor refactoring of PooledDuckDbConnection.
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/CollectionIcebergSearch.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/src/iceberg-search/GranuleIcebergSearch.ts
  packages/db/src/iceberg-search/StatsIcebergSearch.ts
  packages/db/src/test-duckdb-utils.ts
Due: eslint, typescript-compile

CUMULUS-4815: Add support for files related searches to go to the files_table in iceberg
  CHANGELOG.md
  packages/api/app/iceberg-routes.js
  packages/db/src/iceberg-search/IcebergSchemas.ts
  packages/db/src/iceberg-search/duckdbHelpers.ts
  packages/db/tests/iceberg-search/test-GranuleIcebergSearch.js
Due: eslint, typescript-compile

update trigger use const names
  lambdas/db-migration/tests/test-index.js
  packages/db/src/migrations-bootstrap/110_executions_triggers.ts
  packages/db/src/migrations-bootstrap/120_granules_triggers.ts
  packages/db/src/migrations-bootstrap/130_files_triggers.ts
  packages/db/src/migrations/110_executions_triggers.ts
  packages/db/src/migrations/120_granules_triggers.ts
  packages/db/src/migrations/130_files_triggers.ts
Due: eslint, typescript-compile

Update changelog with link to doc
  CHANGELOG.md
Due: none

CUMULUS-4815: Minor refactoring
  CHANGELOG.md
  packages/db/src/iceberg-search/IcebergSchemas.ts
  packages/db/src/iceberg-search/duckdbHelpers.ts
  packages/db/tests/iceberg-search/test-GranuleIcebergSearch.js
Due: eslint, typescript-compile

delete migrations-archive update model base type update execution upsert comment
  packages/db/src/migrations-archive/20201014104958_create_collections_table.ts
  packages/db/src/migrations-archive/20201014105016_create_providers_table.ts
  packages/db/src/migrations-archive/20201014105024_create_rules_table.ts
  packages/db/src/migrations-archive/20201014105030_create_async_operations_table.ts
  packages/db/src/migrations-archive/20201014105045_create_executions_table.ts
  packages/db/src/migrations-archive/20201014105054_create_pdrs_table.ts
  packages/db/src/migrations-archive/20201014105058_create_granules_table.ts
  packages/db/src/migrations-archive/20201014105102_create_files_table.ts
  packages/db/src/migrations-archive/20210211172119_create_granules_executions_table.ts
  packages/db/src/migrations-archive/20210715171725_provider_add_allowed_redirects.ts
  packages/db/src/migrations-archive/20210727104740_alter_async_operations_table_operation_type.ts
  packages/db/src/migrations-archive/20210909133428_queued_granule_status.ts
  packages/db/src/migrations-archive/20210914051414_add_type_to_files.ts
  packages/db/src/migrations-archive/20220126172008_files_granule_id_index.ts
  packages/db/src/migrations-archive/20220609024044_remove_files_granule_id_index.ts
  packages/db/src/migrations-archive/20220629181436_add-files-granules-index-rev-2.ts
  packages/db/src/migrations-archive/20230915150154_add_max_download_time_providers.ts
  packages/db/src/migrations-archive/20240124101001_update_cumulus_id_add_indexes.sql
  packages/db/src/migrations-archive/20240125171703_update_granule_execution_cumulus_id_type.ts
  packages/db/src/migrations-archive/20240126135619_granules_add_indexes.ts
  packages/db/src/migrations-archive/20240126165019_granules_update_constraints.ts
  packages/db/src/migrations-archive/20240322161147_alter_async_operations_table_operation_type.ts
  packages/db/src/migrations-archive/20240606060726_alter_async_operations_add_operation_type_bulk_execution_delete.ts
  packages/db/src/migrations-archive/20240613174614_add_execution_parent_and_collection_indexes.ts
  packages/db/src/migrations-archive/20240617204826_update_executions_deletion_constraint.ts
  packages/db/src/migrations-archive/20240728101230_add_table_indexes.sql
  packages/db/src/migrations-archive/20240728101230_add_table_indexes.ts
  packages/db/src/migrations-archive/20240814185217_create_reconciliation_reports_table.ts
  packages/db/src/migrations-archive/20250425134823_granules_add_producer_granule_id.py
  packages/db/src/migrations-archive/20250425134823_granules_add_producer_granule_id.sql
  packages/db/src/migrations-archive/20250425134823_granules_add_producer_granule_id.ts
  packages/db/src/migrations-archive/20250617190412_add_archived_and_index.sql
  packages/db/src/migrations-archive/20250617190412_add_archived_and_index.ts
  packages/db/src/migrations-archive/20250922190412_add_bulk_archive_types_to_async_op_type_enum.ts
  packages/db/src/migrations-archive/20260112224950_add_granules_collection_updated_idx.ts
  packages/db/src/migrations-archive/20260205224950_add_collections_cmr_provider.ts
  packages/db/src/migrations-archive/20260402110300_update_bigint_column_sequence.sql
  packages/db/src/migrations-archive/20260402110300_update_bigint_column_sequence.ts
  packages/db/src/models/base.ts
  packages/db/src/models/execution.ts
Due: eslint, typescript-compile

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

