Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

Fixes to specification
  package.json
  packages/aws-client/package.json
  packages/errors/package.json
  packages/es-client/package.json
Due: npm-package-json-lint

Fix specifications
  packages/aws-client/package.json
  packages/errors/package.json
  packages/es-client/package.json
Due: npm-package-json-lint

Jenny's reviews
  package.json
Due: npm-package-json-lint

Jenny's changes but off of a branch from 21.3.x
  packages/api/app/index.js
Due: eslint

CSD-100 off of 21.3.x with Jennys changes
  CHANGELOG.md
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint

Revert "invalidSigException?"
  CHANGELOG.md
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint

Add tsc compilation option to build clean DB package
  packages/db/package.json
Due: npm-package-json-lint

Update README
  packages/db/README.md
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

trying to get sf-scheudler workign right
  packages/api/lambdas/sf-scheduler.js
Due: eslint

Move CHANGELOG entry to proper section
  CHANGELOG.md
Due: none

CUMULUS-4606: Moved db creds from variables to data lookups
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/outputs.tf
  example/rds-iceberg-replication-tf/terraform.tfvars.example
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/kafka-connect.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4606: Fix markdown linting error
  tf-modules/rds-iceberg-replication/README.md
Due: none

CUMULUS-4606: Rename iceberb replication directories for consistency
  example/rds-iceberg-repliction-tf/main.tf
  example/rds-iceberg-repliction-tf/terraform.tfvars.example
  example/rds-iceberg-repliction-tf/variables.tf
  tf-modules/rds-iceberg-replication/iam.tf
  tf-modules/rds-iceberg-replication/kafka-connect.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/variables.tf
  tf-modules/rds-iceberg-replication/version.tf
Due: none

CUMULUS-4606: Minor terraform changes for clarity
  example/rds-cluster-tf/main.tf
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4606: Remove default for kafka image variable
  example/rds-iceberg-replication-tf/terraform.tfvars.example
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4606: Add README and outputs for Iceberg replication module
  example/rds-iceberg-repliction-tf/outputs.tf
  tf-modules/rds-iceberg-replication/README.md
  tf-modules/rds-iceberg-replication/outputs.tf
Due: none

CUMULUS-4606: Update changelog
  CHANGELOG.md
Due: none

CUMULUS-4606: Fix terraform to read secrets arn instead of version
  example/rds-iceberg-replication-tf/main.tf
Due: none

CUMULUS-4606: Fix typo
  example/rds-iceberg-repliction-tf/variables.tf
Due: none

CUMULUS-4606: Add replication service
  example/rds-repliction-tf/main.tf
  example/rds-repliction-tf/variables.tf
  tf-modules/cumulus-rds-tf/variables.tf
  tf-modules/rds-iceberg-replication-tf/iam.tf
  tf-modules/rds-iceberg-replication-tf/kafka-connect.tf
  tf-modules/rds-iceberg-replication-tf/main.tf
  tf-modules/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication-tf/version.tf
Due: none

CUMULUS-4606: Clean up variable for security group
  example/rds-repliction-tf/main.tf
  example/rds-repliction-tf/variables.tf
  tf-modules/rds-iceberg-replication-tf/kafka-connect.tf
  tf-modules/rds-iceberg-replication-tf/main.tf
  tf-modules/rds-iceberg-replication-tf/variables.tf
Due: none

overrides lodash
  package.json
Due: npm-package-json-lint

fix axios audit
  package.json
Due: npm-package-json-lint

Add allowlist for specific vulnerabilities in audit-ci
  audit-ci.json
Due: none

CUMULUS-4606 iceberg replication terraform (#4319)
  CHANGELOG.md
  example/rds-cluster-tf/main.tf
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/outputs.tf
  example/rds-iceberg-replication-tf/terraform.tfvars.example
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/cumulus-rds-tf/variables.tf
  tf-modules/rds-iceberg-replication/README.md
  tf-modules/rds-iceberg-replication/iam.tf
  tf-modules/rds-iceberg-replication/kafka-connect.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/outputs.tf
  tf-modules/rds-iceberg-replication/variables.tf
  tf-modules/rds-iceberg-replication/version.tf
Due: none

cleanup and pr review
  CHANGELOG.md
  packages/api/endpoints/collections.js
  packages/cmr-client/src/CMR.ts
  packages/db/src/types/collection.ts
  packages/types/api/collections.d.ts
Due: eslint, typescript-compile

fix audit lodash axios
  CHANGELOG.md
  audit-ci.json
  package.json
Due: npm-package-json-lint

Update to TEA 3.0.0 (#4352)
  CHANGELOG.md
  audit-ci.json
  example/cumulus-tf/thin_egress_app.tf
Due: none

CUMULUS-4606: Fix module names
  example/rds-cluster-tf/main.tf
  example/rds-iceberg-replication-tf/main.tf
Due: none

PR feedback
  packages/api/app/index.js
Due: eslint

fix audit lodash axios (#4362)
  CHANGELOG.md
  audit-ci.json
  package.json
Due: npm-package-json-lint

check that cmr field is an object
  packages/api/endpoints/granules.js
Due: eslint

CUMULUS-4606: Upate CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

