Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

CUMULUS-4954: updated NextToken logic Added NextToken test
  packages/aws-client/src/AthenaQueryClient.ts
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint, typescript-compile

Adding context logging to sf-event-sqs-to-db-records lambda
  CHANGELOG.md
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
Due: eslint

addressing linting errors
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
Due: eslint

fixing typo from PR feedback
  example/spec/parallel/testAPI/updateGranuleStatusEcsTaskFailure.js
Due: eslint

change includeFailedCount param name to failedCountFilter to be more inline with how the query is behaving
  packages/db/src/search/GranuleSearch.ts
  packages/db/src/search/queries.ts
  packages/db/src/types/search.ts
Due: eslint, typescript-compile

remove test console.log
  packages/db/src/search/GranuleSearch.ts
Due: eslint, typescript-compile

CUMULUS-4954: updated tests Fixed next token loop
  packages/aws-client/src/AthenaQueryClient.ts
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint, typescript-compile

CUMULUS-5254:update /executions/search-by-granules default limit and result meta
  CHANGELOG.md
  packages/api/endpoints/executions.js
  packages/api/tests/endpoints/test-executions.js
  packages/db/src/index.ts
Due: eslint, typescript-compile

Updated token caching behavior for warm lambdas so the token is updated each time
  CHANGELOG.md
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/tests/test-CMR.js
  packages/launchpad-auth/src/index.ts
Due: eslint, typescript-compile

minor commit after changing git username so my personal stack is properly selected by bamboo
  CHANGELOG.md
Due: none

update unit tests
  CHANGELOG.md
  packages/api/endpoints/executions.js
  packages/api/tests/endpoints/test-executions.js
Due: eslint

Removed a number of fields that are out-of-scope of this ticket
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/tests/test-CMR.js
Due: eslint, typescript-compile

remove unnecessary clone
  packages/db/src/search/GranuleSearch.ts
Due: eslint, typescript-compile

update param name in test
  packages/db/tests/search/test-GranuleSearch.js
Due: eslint

Separate the group key parts in queue-granules
  CHANGELOG.md
  tasks/queue-granules/src/iterable.ts
  tasks/queue-granules/tests/iterator.js
Due: eslint, typescript-compile

Updates per PR feedback
  CHANGELOG.md
  packages/cmr-client/src/CMR.ts
Due: eslint, typescript-compile

Fixed node-forge vulnerability Updates per PR feedback
  CHANGELOG.md
  packages/api/package.json
  packages/cmr-client/src/CMR.ts
  packages/common/package.json
Due: eslint, npm-package-json-lint, typescript-compile

Added allowlist for *85r:v
  audit-ci.json
  packages/api/package.json
  packages/common/package.json
Due: npm-package-json-lint

minor update
  CHANGELOG.md
Due: none

bump aws sdk versions in aws-client to resolve peer dep issue
  packages/aws-client/package.json
Due: npm-package-json-lint

update node-forge
  packages/api/package.json
  packages/common/package.json
Due: npm-package-json-lint

CUMULUS-5636 (#4602)
  CHANGELOG.md
  audit-ci.json
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/tests/test-CMR.js
  packages/launchpad-auth/src/index.ts
Due: eslint, typescript-compile

adding whitelisted advisory that doesn't have a safe version
  audit-ci.json
Due: none

Revert "update node-forge"
  packages/api/package.json
  packages/common/package.json
Due: npm-package-json-lint

de-mangle CL
  CHANGELOG.md
Due: none

update CL. Again.
  CHANGELOG.md
Due: none

yet another CL update
  CHANGELOG.md
Due: none

tweak changelog
  CHANGELOG.md
Due: none

update CL
  CHANGELOG.md
Due: none

update api docs
  packages/aws-client/README.md
  packages/cmr-client/API.md
Due: none

remove failed_count from search
  packages/db/src/search/GranuleSearch.ts
  packages/db/src/search/field-mapping.ts
  packages/db/src/search/queries.ts
Due: eslint, typescript-compile

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

