Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

Updates CHANGELOG
  CHANGELOG.md
Due: none

updated changelog
  CHANGELOG.md
Due: none

CSD-85: v21 update-granules-cmr-metadata-file-links DataGranule Requirements Bug (#4238)
  CHANGELOG.md
  example/spec/parallel/ingestGranule/IngestGranuleSuccessSpec.js
  example/spec/parallel/ingestGranule/IngestGranuleWithUniqueGranuleIdsSpec.js
  example/spec/parallel/ingestGranule/IngestUMMGSuccessSpec.js
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/src/echo10Modifiers.ts
  packages/cmrjs/src/ummgModifiers.ts
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-echo10Modifiers.js
  packages/cmrjs/tests/cmr-utils/test-reconcilecmrmetadata.js
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
  packages/cmrjs/tests/cmr-utils/test-updateCMRMetadata.js
  tasks/update-granules-cmr-metadata-file-links/README.md
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/tests/data/meta-exclude-data-granule.xml
  tasks/update-granules-cmr-metadata-file-links/tests/data/ummg-meta-exclude-data-granule.json
  tasks/update-granules-cmr-metadata-file-links/tests/test-exclude-data-granule.js
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint, typescript-compile

Apply suggestion from @Jkovarik
  CHANGELOG.md
Due: none

Added terraform fmt to .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Make the updateGranuleIdentifiers flag configurable in the update-granules-cmr-metadata-file-links task
  CHANGELOG.md
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  tasks/cnm-response/package.json
  tasks/cnm-to-cma/package.json
  tasks/granule-invalidator/package.json
  tasks/update-granules-cmr-metadata-file-links/README.md
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/tests/data/meta.xml
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint, npm-package-json-lint

bug findings
  CUMULUS-4000-comprehensive-plan.md
Due: none

Updated to use uv version
  VERSION
  example/lambdas/python-processing/VERSION
  example/lambdas/python-processing/package.json
  example/lambdas/python-processing/pyproject.toml
  example/lambdas/python-processing/uv.lock
  example/lambdas/python-reference-activity/VERSION
  example/lambdas/python-reference-activity/package.json
  example/lambdas/python-reference-activity/pyproject.toml
  example/lambdas/python-reference-activity/uv.lock
  example/lambdas/python-reference-task/VERSION
  example/lambdas/python-reference-task/package.json
  example/lambdas/python-reference-task/pyproject.toml
  example/lambdas/python-reference-task/uv.lock
  pyproject.toml
  tasks/aws-api-proxy/VERSION
  tasks/aws-api-proxy/package.json
  tasks/aws-api-proxy/pyproject.toml
  tasks/aws-api-proxy/uv.lock
  tasks/cnm-response/VERSION
  tasks/cnm-response/package.json
  tasks/cnm-response/pyproject.toml
  tasks/cnm-response/uv.lock
  tasks/cnm-to-cma/VERSION
  tasks/cnm-to-cma/package.json
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/uv.lock
  tasks/get-cnm/VERSION
  tasks/get-cnm/package.json
  tasks/get-cnm/pyproject.toml
  tasks/get-cnm/uv.lock
  tasks/granule-invalidator/VERSION
  tasks/granule-invalidator/package.json
  tasks/granule-invalidator/pyproject.toml
  tasks/granule-invalidator/uv.lock
  tasks/pdr-cleanup/VERSION
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/uv.lock
Due: npm-package-json-lint

Updated the npm `update` target to also update python version
  package.json
Due: npm-package-json-lint

CUMULUS-4000 Bug Investigation
  CUMULUS-4000 Bug Investigation.docx
Due: none

adding tests for functions created
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/tests/test-CMR.js
Due: eslint, typescript-compile

merge test from csd-85. move csd-91 changelog entry to under 21.3.1
  CHANGELOG.md
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
Due: eslint

added ts-check and type annotations to workflow endpoints
  packages/api/endpoints/workflows.js
Due: eslint

change input variables for cnm_to_cma module caller
  example/spec/parallel/cnmWorkflow/CnmWorkflowFromSqsSpec.js
  tf-modules/ingest/cnm-to-cma.tf
Due: eslint

refine the tf-module top level output for cnm_to_cma_task
  tf-modules/ingest/outputs.tf
Due: none

changed workflow dependencies
  example/cumulus-tf/cnm_workflow.tf
Due: none

added cumulus-4000-plan2.md
  cumulus-4000-plan2.md
Due: none

CUMULUS-4499: Setup for ccollins CI stack (#4303)
  bamboo/select-stack.js
  example/config.yml
  example/deployments/cumulus/ccollins-ci-tf.tfvars
  example/deployments/data-persistence/ccollins-ci-tf.tfvars
  example/deployments/db-migration/ccollins-ci-tf.tfvars
Due: eslint

fix lint errors
  packages/api/endpoints/workflows.js
Due: eslint

changed CnmToCma output key mapping. Add timezone to cnm messages
  example/cumulus-tf/cnm_workflow.asl.json
  example/spec/parallel/cnmWorkflow/data/records/L2_HR_PIXC_product_0001-of-4154.json
  example/spec/parallel/cnmWorkflow/data/records/L2_HR_PIXC_product_0001-of-4154_dupe.json
  example/spec/parallel/cnmWorkflow/data/records/ascat_20121029_010301_metopb_00588_eps_o_coa_2101_ovw.l2.json
Due: none

exclude the None field
  tasks/cnm-to-cma/src/cnm_to_cma/task.py
Due: none

CUMULUS-4608 Sorting error when sorting non-string field in workflow list endpoint (#4296)
  CHANGELOG.md
  packages/api/endpoints/workflows.js
  packages/api/tests/endpoints/workflows.js
Due: eslint

fixed linter error
  packages/api/endpoints/workflows.js
Due: eslint

updated default return string to 'undefined'
  packages/api/endpoints/workflows.js
Due: eslint

using null value instead of 'undefined' for missing fields
  packages/api/endpoints/workflows.js
  packages/api/tests/endpoints/workflows.js
Due: eslint

updated test to reflect new behavior of returning 'undefined' for missing fields
  packages/api/tests/endpoints/workflows.js
Due: eslint

CSD-91: Make the updateGranuleIdentifiers flag configurable in the update-granules-cmr-metadata-file-links task
  CHANGELOG.md
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  tasks/cnm-response/package.json
  tasks/cnm-to-cma/package.json
  tasks/granule-invalidator/package.json
  tasks/update-granules-cmr-metadata-file-links/README.md
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/tests/data/meta.xml
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint, npm-package-json-lint

Added pytest coverage
  tasks/add-input-granules/pyproject.toml
  tasks/add-input-granules/uv.lock
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

