Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

updated unit test parsing Numberic value
  packages/pvl/test/parsing.js
Due: eslint

release-20.3.3-changelog-changes
  CHANGELOG.md
Due: none

updated unit test parsePdr for MD5
  tasks/parse-pdr/tests/test-parse-pdr.js
Due: eslint

docusaurus master fix (#4402)
  CHANGELOG.md
  docs/tasks.md
  website/package.json
Due: none

CUMULUS-4707: Implement list of granules route in iceberg search api.
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  packages/api/app/Dockerfile
  packages/api/app/README.md
  packages/api/app/iceberg-db.js
  packages/api/app/iceberg-index.js
  packages/api/endpoints/iceberg-async-operations.js
  packages/api/endpoints/iceberg-collections.js
  packages/api/endpoints/iceberg-executions.js
  packages/api/endpoints/iceberg-granules.js
  packages/api/endpoints/iceberg-pdrs.js
  packages/api/endpoints/iceberg-providers.js
  packages/api/endpoints/iceberg-reconciliation-reports.js
  packages/api/endpoints/iceberg-rules.js
  packages/api/webpack.config.js
  packages/db/package.json
  packages/db/src/duckdb.ts
  packages/db/src/iceberg-connection.ts
  packages/db/src/index.ts
  packages/db/src/s3search/DuckDBSearchExecutor.ts
  packages/db/tests/test-iceberg-connection.js
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/README.md
  tf-modules/iceberg_api/iam.tf
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: eslint, npm-package-json-lint, typescript-compile

lookup tables
  packages/db/src/migrations/025_executions_lookup.ts
  packages/db/src/migrations/030_executions.ts
  packages/db/src/migrations/060_pdrs.ts
  packages/db/src/migrations/065_granules_lookup.ts
  packages/db/src/migrations/070_granules.ts
  packages/db/src/migrations/075_files_lookup.ts
  packages/db/src/migrations/080_files.ts
  packages/db/src/migrations/090_granules_executions.ts
Due: eslint, typescript-compile

CUMULUS-4708: Implement list of executions route in iceberg search api.
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  packages/api/app/Dockerfile
  packages/api/app/README.md
  packages/db/src/iceberg-connection.ts
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: eslint, typescript-compile

CUMULUS-4707: Add ci deployment variables; Fix linter errors.
  example/deployments/cumulus/yliu10-ci-tf.tfvars
  packages/api/app/Dockerfile
  packages/api/app/README.md
  packages/api/app/iceberg-index.js
  packages/api/endpoints/iceberg-granules.js
  packages/api/webpack.config.js
  packages/db/src/duckdb.ts
  packages/db/src/iceberg-connection.ts
  packages/db/src/s3search/DuckDBSearchExecutor.ts
Due: eslint, typescript-compile

CUMULUS-4707: Fix one more linter error.
  example/deployments/cumulus/yliu10-ci-tf.tfvars
  packages/db/src/iceberg-connection.ts
Due: eslint, typescript-compile

CUMULUS-4707: Updated README for running local test with docker image.
  packages/api/.gitignore
  packages/api/app/README.md
  packages/api/app/env.local.example
Due: none

CUMULUS-4788: Update CHANGLELOG with replication split info
  CHANGELOG.md
Due: none

CUMULUS-4788: Move replication for different tables into separate modules
  example/rds-iceberg-replication-tf/main.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/cluster/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/outputs.tf
  tf-modules/rds-iceberg-replication/modules/cluster/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/outputs.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4788: Fix linter issues for terraform code
  tf-modules/rds-iceberg-replication/modules/cluster/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
Due: none

CUMULUS-4788: Add more params for db schema and name
  example/rds-iceberg-replication-tf/terraform.tfvars.example
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
Due: none

CUMULUS-4788: Clean up terraform in response to PR comments
  example/rds-iceberg-replication-tf/outputs.tf
  example/rds-iceberg-replication-tf/terraform.tfvars.example
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/outputs.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
Due: none

CUMULUS-4788: Add variables for db schema name and column exclude list to replication terraform code
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4707: Refactored iceberg iam role.
  packages/api/app/env.local.example
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/iceberg_api/iam.tf
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: none

CUMULUS-4788: Move replication for different tables into separate modules (#4403)
  CHANGELOG.md
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/outputs.tf
  example/rds-iceberg-replication-tf/terraform.tfvars.example
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/kafka-connect.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/cluster/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/outputs.tf
  tf-modules/rds-iceberg-replication/modules/cluster/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/outputs.tf
Due: none

CUMULUS-4707: More refactoring and added unit tests.
  packages/api/app/env.local.example
  packages/api/app/iceberg-index.js
  packages/api/endpoints/iceberg-async-operations.js
  packages/api/endpoints/iceberg-collections.js
  packages/api/endpoints/iceberg-executions.js
  packages/api/endpoints/iceberg-granules.js
  packages/api/endpoints/iceberg-pdrs.js
  packages/api/endpoints/iceberg-providers.js
  packages/api/endpoints/iceberg-reconciliation-reports.js
  packages/api/endpoints/iceberg-rules.js
  packages/db/src/iceberg-connection.ts
  packages/db/tests/test-iceberg-connection.js
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/iam.tf
Due: eslint, typescript-compile

CUMULUS-4707: Fix linter errors.
  example/cumulus-tf/variables.tf
  packages/api/app/iceberg-index.js
  packages/db/src/iceberg-connection.ts
  packages/db/tests/test-iceberg-connection.js
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/variables.tf
Due: eslint, typescript-compile

CUMULUS-4708: Updated CHANGELOG.
  CHANGELOG.md
  packages/db/tests/test-iceberg-connection.js
Due: eslint

CUMULUS-4707: Fix variable validation.
  tf-modules/cumulus/variables.tf
Due: none

CUMULUS-4707: Fix unit test failures.
  packages/db/package.json
Due: npm-package-json-lint

CUMULUS-4707: Fix api unit test failures.
  packages/db/package.json
Due: npm-package-json-lint

CUMULUS-4707: Add system_bucket access to iceberg iam.
  packages/api/app/Dockerfile
  packages/api/app/iceberg-index.js
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/iceberg_api/iam.tf
  tf-modules/iceberg_api/variables.tf
Due: eslint

CUMULUS-4707: Refactored db connection code to make the connection holding time shorter.
  packages/api/app/Dockerfile
  packages/api/endpoints/iceberg-async-operations.js
  packages/api/endpoints/iceberg-collections.js
  packages/api/endpoints/iceberg-executions.js
  packages/api/endpoints/iceberg-granules.js
  packages/api/endpoints/iceberg-pdrs.js
  packages/api/endpoints/iceberg-providers.js
  packages/api/endpoints/iceberg-reconciliation-reports.js
  packages/api/endpoints/iceberg-rules.js
  packages/db/src/s3search/AsyncOperationS3Search.ts
  packages/db/src/s3search/CollectionS3Search.ts
  packages/db/src/s3search/DuckDBSearchExecutor.ts
  packages/db/src/s3search/ExecutionS3Search.ts
  packages/db/src/s3search/GranuleS3Search.ts
  packages/db/src/s3search/PdrS3Search.ts
  packages/db/src/s3search/ProviderS3Search.ts
  packages/db/src/s3search/ReconciliationReportS3Search.ts
  packages/db/src/s3search/RuleS3Search.ts
  packages/db/src/s3search/StatsS3Search.ts
Due: eslint, typescript-compile

use global unique tables
  packages/db/src/migrations/025_executions_global_unique.ts
  packages/db/src/migrations/025_executions_lookup.ts
  packages/db/src/migrations/030_executions.ts
  packages/db/src/migrations/060_pdrs.ts
  packages/db/src/migrations/065_granules_global_unique.ts
  packages/db/src/migrations/065_granules_lookup.ts
  packages/db/src/migrations/070_granules.ts
  packages/db/src/migrations/075_files_global_unique.ts
  packages/db/src/migrations/075_files_lookup.ts
  packages/db/src/migrations/080_files.ts
  packages/db/src/migrations/090_granules_executions.ts
Due: eslint, typescript-compile

executions triggers
  packages/db/src/migrations/120_executions_triggers.ts
  packages/db/src/models/execution.ts
Due: eslint, typescript-compile

fix executions trigger
  packages/db/src/migrations/120_executions_triggers.ts
Due: eslint, typescript-compile

updated CHANGELOG.md
  CHANGELOG.md
Due: none

CUMULUS-4707: Change image architecture to ARM64; Some refactoring.
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/yliu10-ci-tf.tfvars
  packages/api/app/Dockerfile
  packages/api/app/README.md
  packages/api/app/env.local.example
  packages/db/src/iceberg-connection.ts
  packages/db/src/s3search/DuckDBSearchExecutor.ts
  packages/db/tests/test-iceberg-connection.js
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/iam.tf
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: eslint, typescript-compile

granules trigger,test-execution-model crossx insert
  packages/db/src/migrations/130_granules_triggers.ts
  packages/db/src/models/execution.ts
  packages/db/src/models/granule.ts
  packages/db/tests/models/test-execution-model.js
Due: eslint, typescript-compile

files trigger
  packages/db/src/migrations/120_executions_triggers.ts
  packages/db/src/migrations/130_granules_triggers.ts
Due: eslint, typescript-compile

rename
  packages/db/src/migrations/110_executions_triggers.ts
  packages/db/src/migrations/120_granules_triggers.ts
  packages/db/src/migrations/130_files_triggers.ts
Due: eslint, typescript-compile
