Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

f
  workflows/lambdas/opera_lambdas/cnm_sqs_logger.py
Due: none

f
  workflows/lambdas/opera_lambdas/cnm_sqs_logger.py
  workflows/lambdas/opera_lambdas/response.py
  workflows/scripts/cumulus_api.py
Due: none

Update nsidc-cumulus-prod.tfvars
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
Due: none

Updated to fix ruff issues
  tasks/granule-invalidator/src/granule_invalidator/granule_invalidator.py
  tasks/granule-invalidator/src/granule_invalidator/invalidations.py
  tasks/granule-invalidator/src/granule_invalidator/schemas/config_schema.py
  tasks/granule-invalidator/src/granule_invalidator/schemas/output_schema.py
  tasks/granule-invalidator/tests/unit_tests/granule_invalidator/test_granule_invalidator.py
Due: none

Updated task-specific uv.lock
  tasks/granule-invalidator/uv.lock
Due: none

Removed placeholder files in an attempt to fix a Snyk error
  tasks/granule-invalidator/deploy/main.tf
  tasks/granule-invalidator/deploy/output.tf
  tasks/granule-invalidator/deploy/variables.tf
Due: none

added README. restructure the project
  tasks/cnm-to-cma/.npmignore
  tasks/cnm-to-cma/README.md
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/schemas/cumulus_sns_schema.json
  tasks/cnm-to-cma/schemas/files.schema.json
  tasks/cnm-to-cma/src/cnm2cma/cnm_to_cma.py
  tasks/cnm-to-cma/src/cnm2cma/models_cma_file.py
  tasks/cnm-to-cma/src/cnm2cma/models_cnm.py
  tasks/cnm-to-cma/uv.lock
Due: none

enhance README.md
  tasks/cnm-to-cma/README.md
Due: none

CUMULUS-4433: Updates pre-commit install instructions. Adds git blame ignore.
  .git-blame-ignore-revs
  README.md
  docs/development/pre-commit-setup.md
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

Fixes precommit hook to install in migration mode
  package.json
Due: npm-package-json-lint

Update test by moving testConsole assignment to the actual test. use throwsasync instead of try catch & code format
  packages/cmr-client/tests/test-searchConcept.js
Due: eslint

restore logger test file line change
  packages/logger/tests/index.js
Due: eslint

remove testConsole assignment from t.context
  packages/cmr-client/tests/test-searchConcept.js
Due: eslint

CSD-84 Redact Secret in log message from searchConcept (#4221)
  CHANGELOG.md
  packages/cmr-client/src/Utils.ts
  packages/cmr-client/src/searchConcept.ts
  packages/cmr-client/tests/test-searchConcept.js
  packages/logger/tests/index.js
Due: eslint, typescript-compile

CUMULUS-4300 upgrade remaining Lambdas to nodejs22.x (#4220)
  CHANGELOG.md
  tf-modules/ingest/lambda-functions.tf
  tf-modules/internal/cumulus-test-cleanup/main.tf
  tf-modules/s3-replicator/main.tf
Due: none

CUMULUS-4433: Updates pre-commit install README. Adds git blame ignore (#4225)
  .git-blame-ignore-revs
  README.md
  docs/development/pre-commit-setup.md
  package.json
Due: npm-package-json-lint

add retries to s3 getObject calls using aws-client, cleaned up unit tests
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/src/index.ts
  tasks/add-missing-file-checksums/tests/test-index.ts
Due: eslint, typescript-compile

remove getUniqueGranuleByGranuleId and PR feedback more typing
  CHANGELOG.md
  packages/api/endpoints/granules.js
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/executions.js
  packages/api/src/lib/granule-delete.ts
  packages/api/tests/endpoints/test-granules-updateGranulesAndFilesCollection.js
  packages/api/tests/endpoints/test-granules.js
  packages/api/tests/lambdas/test-bulk-operation.js
  packages/api/tests/lib/test-ingest.js
  packages/db/src/index.ts
  packages/db/src/lib/granule.ts
  packages/db/tests/lib/test-granule.js
Due: eslint, typescript-compile

Removed problematic empty input schema
  tasks/granule-invalidator/src/granule_invalidator/schemas/input_schema.json
Due: none

update test titile
  packages/api/tests/endpoints/granules/test-bulk-delete.js
  packages/api/tests/endpoints/granules/test-bulk-granules.js
  packages/api/tests/endpoints/granules/test-bulk-reingest.js
  packages/api/tests/endpoints/test-executions.js
Due: eslint

update changelog there is release cut
  CHANGELOG.md
Due: none

increment async-operation to 55
  tf-modules/cumulus/variables.tf
Due: none

update CL
  CHANGELOG.md
Due: none

update contributors
  CONTRIBUTORS.md
Due: none

update package api docs
  packages/aws-client/README.md
  packages/checksum/README.md
  packages/cmr-client/API.md
  packages/collection-config-store/docs/API.md
  packages/common/docs/API.md
  packages/integration-tests/README.md
  packages/launchpad-auth/README.md
  packages/message/README.md
  packages/oauth-client/README.md
Due: none

CUMULUS-4473: Bulk Operations support Granule Inventory Report and s3GranuleIdInputFile (#4215)
  CHANGELOG.md
  example/spec/parallel/createReconciliationReport/CreateReconciliationReportSpec.js
  example/spec/parallel/ingestGranule/IngestGranuleSuccessSpec.js
  example/spec/parallel/orca/OrcaBackupAndRecoverySpec.js
  example/spec/parallel/queueGranules/queueGranulesPostProcessingSpec.js
  example/spec/parallel/testAPI/bulkDeleteFailureSpec.js
  example/spec/parallel/testAPI/bulkDeleteSuccessSpec.js
  example/spec/parallel/testAPI/bulkOperationsSuccessSpec.js
  packages/api-client/tests/test-granules.js
  packages/api/endpoints/executions.js
  packages/api/endpoints/granules.js
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/executions.js
  packages/api/lib/granules.js
  packages/api/lib/request.js
  packages/api/src/lib/granule-delete.ts
  packages/api/tests/endpoints/granules/test-bulk-delete.js
  packages/api/tests/endpoints/granules/test-bulk-granules.js
  packages/api/tests/endpoints/granules/test-bulk-reingest.js
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/endpoints/test-granules-updateGranulesAndFilesCollection.js
  packages/api/tests/endpoints/test-granules.js
  packages/api/tests/helpers/create-test-data.js
  packages/api/tests/lambdas/test-bulk-granule-delete.js
  packages/api/tests/lambdas/test-bulk-operation.js
  packages/api/tests/lambdas/test-kinesis-consumer.js
  packages/api/tests/lib/test-granules.js
  packages/api/tests/lib/test-ingest.js
  packages/db/src/index.ts
  packages/db/src/lib/granule.ts
  packages/db/src/models/granule.ts
  packages/db/src/types/granule.ts
  packages/db/tests/lib/test-granule.js
  packages/db/tests/models/test-granule-model.js
Due: eslint, typescript-compile

Updated ChangeLog Updated package.json based on updates to scripts
  CHANGELOG.md
  tasks/granule-invalidator/package.json
Due: npm-package-json-lint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

