Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

fixed linter issues
  packages/api/endpoints/launchpadSaml.js
  packages/api/endpoints/token.js
  packages/api/tests/endpoints/test-token.js
Due: eslint

Update lerna to v8, add tar override shim (#4230)
  CHANGELOG.md
  package.json
  scripts/tar_shim.cjs
Due: npm-package-json-lint

Add missing bamboo script to 4313
  bamboo/deploy-to-npm.sh
Due: none

Add .pyc files to gitignore
  .gitignore
Due: none

Add lint exceptions for `tests` directory as well
  pyproject.toml
Due: none

Tweak ruff linting rules
  pyproject.toml
Due: none

Add python cnm-response task
  tasks/cnm-response/.npmignore
  tasks/cnm-response/bin/package.sh
  tasks/cnm-response/package.json
  tasks/cnm-response/pyproject.toml
  tasks/cnm-response/schemas/config.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/input.json.template
  tasks/cnm-response/schemas/output.json
  tasks/cnm-response/schemas/output.json.template
  tasks/cnm-response/src/cnm_response/__init__.py
  tasks/cnm-response/src/cnm_response/create_cnm.py
  tasks/cnm-response/src/cnm_response/sender.py
  tasks/cnm-response/src/cnm_response/task.py
  tasks/cnm-response/src/cnm_response/types.py
  tasks/cnm-response/tests/__init__.py
  tasks/cnm-response/tests/conftest.py
  tasks/cnm-response/tests/integration_tests/__init__.py
  tasks/cnm-response/tests/integration_tests/test_lambda_handler.py
  tasks/cnm-response/tests/test_create_cnm.py
  tasks/cnm-response/tests/test_sender.py
  tasks/cnm-response/tests/test_task.py
  tasks/cnm-response/uv.lock
Due: npm-package-json-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

added MAX_SESSION_DURATION environment variable and logic to enforce how many times a cumulus dashboard user can extend a session. Added tests to verify this behavior
  packages/api/endpoints/launchpadSaml.js
  packages/api/endpoints/token.js
  packages/api/lib/token.js
  packages/api/tests/endpoints/test-launchpadSaml.js
  packages/api/tests/endpoints/test-token.js
Due: eslint

updated changelog
  CHANGELOG.md
Due: none

security: harden CI Docker Compose credentials
  bamboo/docker-compose.yml
Due: none

use SyncGranule's input schema as this component's output. Added granuleProducerId to cnm schema
  tasks/cnm-to-cma/.gitignore
  tasks/cnm-to-cma/README.md
  tasks/cnm-to-cma/build_lambda.sh
  tasks/cnm-to-cma/deploy/lambda.tf
  tasks/cnm-to-cma/deploy/main.tf
  tasks/cnm-to-cma/deploy/output.tf
  tasks/cnm-to-cma/deploy/variable.tf
  tasks/cnm-to-cma/schemas/cumulus_sns_schema.json
  tasks/cnm-to-cma/schemas/sync.granule.input.json
  tasks/cnm-to-cma/src/cnm2cma/cnm_to_cma.py
  tasks/cnm-to-cma/src/cnm2cma/models_cnm.py
  tasks/cnm-to-cma/src/cnm2cma/models_granule.py
  tasks/cnm-to-cma/tests/resources/cumulus_sns_v1.0_notification.json
  tasks/cnm-to-cma/tests/test_cnm_to_cma.py
Due: none

Updates per PR suggestions
  tasks/granule-invalidator/bin/Dockerfile.package
  tasks/granule-invalidator/bin/package_docker.sh
  tasks/granule-invalidator/deploy/main.tf
  tasks/granule-invalidator/src/granule_invalidator/granule_invalidator.py
  tasks/granule-invalidator/src/main.py
Due: none

Fixed ruff issues
  tasks/granule-invalidator/src/main.py
Due: none

Release 21.3.0 (#4233)
  CHANGELOG.md
  package.json
  packages/aws-client/README.md
  packages/checksum/README.md
  packages/cmr-client/API.md
  packages/collection-config-store/docs/API.md
  packages/common/docs/API.md
  packages/integration-tests/README.md
  packages/launchpad-auth/README.md
  packages/message/README.md
  packages/oauth-client/README.md
  scripts/tar_shim.cjs
Due: npm-package-json-lint

fix CL 4458
  CHANGELOG.md
Due: none

Jk/cumulus 4313 (#4232)
  bamboo/deploy-to-npm.sh
Due: none

add tar_shim to npm publish
  bamboo/deploy-to-npm.sh
Due: none

Start of integration/example workflow for granule-invalidator
  example/cumulus-tf/granule_invalidator_reference_workflow.tf
  example/cumulus-tf/granule_invalidator_workflow.asl.json
  example/spec/helpers/granuleUtils.js
  example/spec/parallel/granuleInvalidator/GranuleInvalidatorSpec.js
Due: eslint

Added and updated files needed to create a mikedorfman CI stack
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/mikedorfman-ci-tf.tfvars
  example/deployments/data-persistence/mikedorfman-ci-tf.tfvars
  example/deployments/db-migration/mikedorfman-ci-tf.tfvars
Due: eslint

updated unit tests
  packages/api/tests/endpoints/test-token.js
Due: eslint

fix compare in CL
  CHANGELOG.md
Due: none

Change logging statements to remove f-strings and adds lint check
  pyproject.toml
  tasks/pdr-cleanup/src/pdr_cleanup/pdr_cleanup.py
Due: none

fixed path issue. Simplified build_granule_file and rewrite unit test code
  tasks/cnm-to-cma/src/cnm2cma/cnm_to_cma.py
  tasks/cnm-to-cma/src/cnm2cma/models_cma_file.py
  tasks/cnm-to-cma/src/cnm2cma/models_cnm.py
  tasks/cnm-to-cma/src/cnm2cma/models_granule.py
  tasks/cnm-to-cma/tests/test_cnm_to_cma.py
Due: none

write ruff.toml file to ignore generated files. remove unused model
  tasks/cnm-to-cma/ruff.toml
  tasks/cnm-to-cma/src/cnm2cma/models_cma_file.py
Due: none

ruff format
  tasks/cnm-to-cma/src/cnm2cma/cnm_to_cma.py
  tasks/cnm-to-cma/src/cnm2cma/models_cnm.py
  tasks/cnm-to-cma/src/cnm2cma/models_granule.py
  tasks/cnm-to-cma/tests/test_cnm_to_cma.py
Due: none

CUMULUS-4298 Add Mason CI creds
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/mason-t-yates-ci-tf.tfvars
  example/deployments/data-persistence/mason-t-yates-ci-tf.tfvars
  example/deployments/db-migration/mason-t-yates-ci-tf.tfvars
Due: eslint

update async_operation_image_version to 55
  example/cumulus-tf/variables.tf
Due: none

added ruff ignore and CHANGELOG
  CHANGELOG.md
  tasks/cnm-to-cma/ruff.toml
Due: none

Change doc style to restructuredText
  tasks/pdr-cleanup/src/pdr_cleanup/pdr_cleanup.py
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

