Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

fix /cumulus/node_modules/.bin/generate-task-schemas: Permission denied
  packages/schemas/package.json
Due: npm-package-json-lint

CUMULUS-4472: fix test
  package.json
  packages/api/lib/ingest.js
Due: eslint, npm-package-json-lint

CUMULUS-4472: update CL
  CHANGELOG.md
Due: none

Cannot find module lock-stack integration with release
  bamboo/bootstrap-integration-tests.sh
  bamboo/bootstrap-unit-tests.sh
  bamboo/lint.sh
Due: none

lock-stack needs package
  bamboo/bootstrap-integration-tests.sh
Due: none

lzardsClientTest/dist/webpack/lambda.zip: no such file with terraform zip
  bamboo/bootstrap-integration-tests.sh
  package.json
Due: npm-package-json-lint

Hard-coded runtime and architecture instead of reading from build-config for Terraform
  tasks/granule-invalidator/deploy/main.tf
Due: none

Updated CHANGELOG
  CHANGELOG.md
Due: none

setup build env
  bamboo/bootstrap-integration-tests.sh
  bamboo/cleanup-integration-tests.sh
  package.json
Due: npm-package-json-lint

fix lambdas/migration-helper-async-operation/dist/lambda/node_modules does not exist or is not a directory
  example/package.json
  package.json
Due: npm-package-json-lint

npm run int-test Cannot find module @cumulus/api-client
  bamboo/bootstrap-integration-tests.sh
Due: none

release integration test no file or module issues
  CHANGELOG.md
  bamboo/bootstrap-integration-tests.sh
  bamboo/cleanup-integration-tests.sh
  example/package.json
  package.json
  tasks/granule-invalidator/deploy/main.tf
Due: npm-package-json-lint

generate-task-schemas needs schema directory
  tasks/cnm-to-cma/schemas/.gitkeep
Due: none

add uuid to message package
  packages/message/package.json
Due: npm-package-json-lint

add index
  packages/db/src/migrations/20260205224950_add_collections_cmr_provider.ts
Due: eslint, typescript-compile

remove package script from example to avoid race condition
  example/package.json
Due: npm-package-json-lint

lerna 905
  package.json
Due: npm-package-json-lint

Updated integration tests Updated task based on issues in integration tests
  example/spec/parallel/getCnm/data/kinesisReplayRules/MOD09GQ_kinesisHelloWorldRule.json
  example/spec/parallel/getCnm/data/lambdaEventSourceTestRules/L2_HR_PIXC_kinesisRule.json
  example/spec/parallel/getCnm/data/lambdaEventSourceTestRules/MOD09GQ_kinesisRule.json
  example/spec/parallel/getCnm/data/records/L2_HR_PIXC_product_0001-of-4154.json
  example/spec/parallel/getCnm/data/records/L2_HR_PIXC_product_0001-of-4154_dupe.json
  example/spec/parallel/getCnm/data/records/ascat_20121029_010301_metopb_00588_eps_o_coa_2101_ovw.l2.json
  example/spec/parallel/getCnm/data/rules/kinesis/L2_HR_PIXC_kinesisRule.json
  example/spec/parallel/getCnm/data/rules/kinesis/duplicate/L2_HR_PIXC_kinesisRule_DUPLICATE.json
  example/spec/parallel/getCnm/data/rules/sqs/ASCATB_L2_Coastal_sqsRule.json
  example/spec/parallel/getCnm/getCnmSpec.js
  packages/integration-tests/index.js
  tasks/get-cnm/deploy/main.tf
  tasks/get-cnm/deploy/variables.tf
  tasks/get-cnm/package.json
  tasks/get-cnm/src/get_cnm/get_cnm.py
  tf-modules/ingest/python-lambdas.tf
Due: eslint, npm-package-json-lint

Updated get_cnm.py unit tests
  tasks/get-cnm/src/get_cnm/get_cnm.py
  tasks/get-cnm/tests/conftest.py
  tasks/get-cnm/tests/integration_tests/get-cnm/test_lambda_handler.py
  tasks/get-cnm/tests/unit_tests/get-cnm/test_get_cnm.py
Due: none

Updates to resolve eslint issues
  example/spec/parallel/getCnm/getCnmSpec.js
Due: eslint

lint
  packages/db/src/migrations/20260205224950_add_collections_cmr_provider.ts
Due: eslint, typescript-compile

Updated spec names to correspond to the what we're actually testing
  example/spec/parallel/getCnm/getCnmSpec.js
Due: eslint

cmr_provider not optional in types
  packages/db/src/types/collection.ts
  packages/types/api/collections.d.ts
Due: eslint, typescript-compile

Adtisdal/cumulus 4427 add pdr cleanup (#4212)
  CHANGELOG.md
  pyproject.toml
  tasks/pdr-cleanup/README.md
  tasks/pdr-cleanup/deploy/main.tf
  tasks/pdr-cleanup/deploy/outputs.tf
  tasks/pdr-cleanup/deploy/terraform.tfvars.sample
  tasks/pdr-cleanup/deploy/variables.tf
  tasks/pdr-cleanup/deploy/versions.tf
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/schemas/config.json
  tasks/pdr-cleanup/schemas/input.json
  tasks/pdr-cleanup/schemas/output.json
  tasks/pdr-cleanup/src/pdr_cleanup/__init__.py
  tasks/pdr-cleanup/src/pdr_cleanup/task.py
  tasks/pdr-cleanup/tests/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: npm-package-json-lint

Temporarily allowlisted vulnerable packages in order to run integration tests
  audit-ci.json
Due: none

update package versions
  docs/data-cookbooks/browse-generation.md
  tasks/cnm-response/package.json
  tasks/cnm-to-cma/package.json
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

remove prepare
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

Fixed a bug in integration tests
  example/spec/parallel/getCnm/getCnmSpec.js
Due: eslint

Fixed eslint issues
  example/spec/parallel/getCnm/getCnmSpec.js
Due: eslint

21.0.1
  example/lambdas/python-processing/pyproject.toml
  example/lambdas/python-processing/uv.lock
  example/lambdas/python-reference-activity/pyproject.toml
  example/lambdas/python-reference-activity/uv.lock
  example/lambdas/python-reference-task/pyproject.toml
  example/lambdas/python-reference-task/uv.lock
  tasks/cnm-response/pyproject.toml
  tasks/cnm-response/uv.lock
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/uv.lock
Due: none

changelog entry
  CHANGELOG.md
Due: none

Update text based on Naga's feedback Remove sinon test from update-granules-cmr-metadata-file-links test update test based on Naga's feedback
  CHANGELOG.md
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  tasks/update-granules-cmr-metadata-file-links/README.md
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint

Update variable description based on Naga's review feedback
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

