Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

CUMULUS-4694: Add CHANGELOG entry
  CHANGELOG.md
Due: none

CUMULUS-4694: Add flag to enable/disable isceberg replication (#4503)
  CHANGELOG.md
  example/rds-iceberg-replication-tf/main.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4953: Shorten Iceberg API load balancer name suffix to accommodate a longer prefix. (#4500)
  CHANGELOG.md
Due: none

update async_operation image to 58
  example/cumulus-tf/variables.tf
  tf-modules/cumulus/variables.tf
Due: none

CUMULUS-4520: Add Iceberg components documentation.
  CHANGELOG.md
  docs/assets/iceberg_arch.png
  docs/assets/iceberg_bootstrap.png
  docs/features/iceberg.md
  docs/troubleshooting/troubleshoot_iceberg.md
Due: none

website docs fix
  website/package.json
  website/versioned_sidebars/version-v22.1.0-sidebars.json
  website/versions.json
Due: none

small reversion
  website/package.json
Due: none

Website docs fix (#4508)
  website/versioned_sidebars/version-v22.1.0-sidebars.json
  website/versions.json
Due: none

CUMULUS-4842: Manage partitions and retention for executions
  CHANGELOG.md
  example/data-persistence-tf/variables.tf
  lambdas/db-migration/main.tf
  lambdas/db-migration/package.json
  lambdas/db-migration/src/index.ts
  lambdas/db-migration/tests/test-index.js
  lambdas/db-migration/variables.tf
  packages/db/src/migrations-bootstrap/030_executions.ts
  packages/db/src/migrations/20260615213244_add_procedure_to_manage_executions_partitions.ts
  packages/db/src/migrations/20260616143759_update_executions_uniqueness_triggers.ts
  tf-modules/data-persistence/variables.tf
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4520: Add Iceberg components documentation. (#4507)
  CHANGELOG.md
  docs/assets/iceberg_arch.png
  docs/assets/iceberg_bootstrap.png
  docs/features/iceberg.md
  docs/troubleshooting/troubleshoot_iceberg.md
Due: none

CUMULUS-4694: Add CHANGLELOG fix entry for Iceberg replication terraform
  CHANGELOG.md
Due: none

CUMULUS-4694: Add index to module lookups since they are lists now
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/outputs.tf
Due: none

delete rows from referenced tables,separate procedures,partition name range other than quarter
  CHANGELOG.md
  lambdas/db-migration/src/index.ts
  lambdas/db-migration/tests/test-index.js
  packages/db/src/migrations-bootstrap/030_executions.ts
  packages/db/src/migrations-bootstrap/115_executions_procedures.ts
  packages/db/src/migrations/115_executions_procedures.ts
  packages/db/src/migrations/20260615213244_add_procedure_to_manage_executions_partitions.ts
  packages/db/src/migrations/20260615213244_add_procedures_to_manage_executions_partitions.ts
Due: eslint, typescript-compile

Cumulus 4694 add iceberg enabled flag (#4510)
  CHANGELOG.md
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/outputs.tf
Due: none

small normalization
  packages/api/lib/granule-remove-from-cmr.js
Due: eslint

batch delete cte->in to prevent infinite loop
  lambdas/db-migration/tests/test-index.js
  packages/db/src/migrations-bootstrap/115_executions_procedures.ts
  packages/db/src/migrations/20260615213244_add_procedures_to_manage_executions_partitions.ts
Due: eslint, typescript-compile

CSD-99: CMR expired token authentication errors (#4490)
  CHANGELOG.md
  example/spec/parallel/changeGranuleCollections/ChangeGranuleCollectionWorkflowSpec.js
  example/spec/parallel/createReconciliationReport/CreateReconciliationReportSpec.js
  example/spec/parallel/testAPI/cmrTokenSpec.js
  packages/api/lib/granule-remove-from-cmr.js
  packages/cmr-client/package.json
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/src/CMRSearchConceptQueue.ts
  packages/cmr-client/src/deleteConcept.ts
  packages/cmr-client/src/ingestConcept.ts
  packages/cmr-client/tests/test-CMR.js
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/launchpad-auth/package.json
  packages/launchpad-auth/src/index.ts
  packages/launchpad-auth/tests/test-LaunchpadToken.js
  tasks/hyrax-metadata-updates/index.js
Due: eslint, npm-package-json-lint, typescript-compile

remove executions_retention_years terraform variable,update to retention_months,move retention unittest to db package
  CHANGELOG.md
  example/data-persistence-tf/variables.tf
  lambdas/db-migration/main.tf
  lambdas/db-migration/src/index.ts
  lambdas/db-migration/tests/test-index.js
  lambdas/db-migration/variables.tf
  packages/db/src/migrations-bootstrap/115_executions_procedures.ts
  packages/db/src/migrations/20260615213244_add_procedures_to_manage_executions_partitions.ts
  packages/db/tests/migrations/test-executions-procedures.js
  tf-modules/data-persistence/variables.tf
Due: eslint, typescript-compile

cleanup unittest
  lambdas/db-migration/tests/test-index.js
  packages/db/tests/migrations/test-executions-procedures.js
Due: eslint

CUMULUS-4520: Make Iceberg documentation show up in sidebar.
  CHANGELOG.md
  docs/features/iceberg.md
  website/sidebars.js
Due: none

CUMULUS-4520: Make Iceberg documentation show up in sidebar. (#4513)
  CHANGELOG.md
  docs/features/iceberg.md
  website/sidebars.js
Due: none

CUMULUS-4952:Fixed the SchemaSpy command to generate database schemas correctly
  CHANGELOG.md
  docs/assets/db_schema/relationships.real.large.png
  docs/development/release.md
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

