Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

grammar changes
  CHANGELOG.md
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/src/echo10Modifiers.ts
  packages/cmrjs/src/ummgModifiers.ts
  packages/cmrjs/tests/cmr-utils/test-reconcilecmrmetadata.js
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
  packages/cmrjs/tests/cmr-utils/test-updateCMRMetadata.js
  tasks/update-granules-cmr-metadata-file-links/index.js
Due: eslint, typescript-compile

small nit fix
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
Due: eslint

clean up terraform scripts
  tasks/cnm-to-cma/build-config.json
  tasks/cnm-to-cma/deploy/lambda.tf
  tasks/cnm-to-cma/deploy/main.tf
  tasks/cnm-to-cma/deploy/output.tf
  tasks/cnm-to-cma/deploy/variable.tf
  tasks/cnm-to-cma/deploy/versions.tf
Due: none

README correction
  tasks/cma-to-cnm/README.md
Due: none

terraform cleanup
  tasks/cma-to-cnm/bin/package.sh
  tasks/cma-to-cnm/build-config.json
  tasks/cma-to-cnm/deploy/lambda.tf
  tasks/cma-to-cnm/deploy/main.tf
  tasks/cma-to-cnm/deploy/output.tf
  tasks/cma-to-cnm/deploy/variable.tf
  tasks/cma-to-cnm/package.json
Due: npm-package-json-lint

schema for the config object
  tasks/cma-to-cnm/src/schemas/config.json
Due: none

search s3 records executions etc, refactor
  packages/common/src/util.ts
  packages/db/src/lib/timestamp.ts
  packages/db/src/s3search/AsyncOperationS3Search.ts
  packages/db/src/s3search/CollectionS3Search.ts
  packages/db/src/s3search/ExecutionS3Search.ts
  packages/db/src/s3search/GranuleS3Search.ts
  packages/db/src/s3search/PdrS3Search.ts
  packages/db/src/s3search/ProviderS3Search.ts
  packages/db/src/s3search/ReconciliationReportS3Search.ts
  packages/db/src/s3search/RuleS3Search.ts
  packages/db/src/s3search/StatsS3Search.ts
  packages/db/src/s3search/s3TableSchemas.ts
  packages/db/src/search/ExecutionSearch.ts
  packages/db/src/search/GranuleSearch.ts
  packages/db/src/search/PdrSearch.ts
  packages/db/src/search/ReconciliationReportSearch.ts
  packages/db/src/search/RuleSearch.ts
  packages/db/src/test-duckdb-utils.ts
  packages/db/src/test-utils.ts
  packages/db/src/translate/async_operations.ts
  packages/db/src/translate/executions.ts
  packages/db/src/translate/pdr.ts
  packages/db/src/translate/providers.ts
  packages/db/src/translate/reconciliation_reports.ts
  packages/db/src/translate/rules.ts
  packages/db/src/types/file.ts
  packages/db/tests/s3search/test-AsyncOperationS3Search.js
  packages/db/tests/s3search/test-ExecutionS3Search.js
  packages/db/tests/s3search/test-PdrS3Search.js
  packages/db/tests/s3search/test-ProviderS3Search.js
  packages/db/tests/s3search/test-ReconciliationReportS3Search.js
  packages/db/tests/s3search/test-RuleS3Search.js
Due: eslint, typescript-compile

changelog
  CHANGELOG.md
Due: none

Updated incorrect zip path
  tf-modules/ingest/python_lambdas.tf
Due: none

Add terraform
  tasks/cnm-response/deploy/main.tf
  tasks/cnm-response/deploy/output.tf
  tasks/cnm-response/deploy/variables.tf
  tasks/cnm-response/deploy/versions.tf
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/cnm-response.tf
  tf-modules/ingest/outputs.tf
Due: none

Update workflow deployed CnmResponse lambda to avoid name conflict
  example/cumulus-tf/cnm_response_task.tf
Due: none

Update granule-invalidator task terraform to match cnm-response
  tasks/granule-invalidator/deploy/outputs.tf
  tf-modules/ingest/outputs.tf
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update changelog for v21.3.1
  CHANGELOG.md
Due: none

update CL
  CHANGELOG.md
  website/package.json
Due: none

update CL for 21.3.1
  CHANGELOG.md
  website/package.json
Due: none

Update cnm-to-cma task to match other corified tasks
  tasks/cnm-to-cma/README.md
  tasks/cnm-to-cma/deploy/lambda.tf
  tasks/cnm-to-cma/deploy/main.tf
  tasks/cnm-to-cma/deploy/output.tf
  tasks/cnm-to-cma/deploy/variable.tf
  tasks/cnm-to-cma/deploy/variables.tf
  tasks/cnm-to-cma/deploy/versions.tf
  tasks/cnm-to-cma/package.json
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/ruff.toml
  tasks/cnm-to-cma/src/cnm_to_cma/__init__.py
  tasks/cnm-to-cma/src/cnm_to_cma/cnm_to_cma.py
  tasks/cnm-to-cma/src/cnm_to_cma/models_cnm.py
  tasks/cnm-to-cma/src/cnm_to_cma/models_granule.py
  tasks/cnm-to-cma/src/cnm_to_cma/schemas/config.json
  tasks/cnm-to-cma/src/cnm_to_cma/schemas/input.json
  tasks/cnm-to-cma/src/cnm_to_cma/schemas/output.json
  tasks/cnm-to-cma/tests/test_cnm_to_cma.py
  tasks/cnm-to-cma/uv.lock
Due: npm-package-json-lint

Rework packaging to use global package_uv.sh
  tasks/cnm-response/bin/package.sh
  tasks/cnm-response/package.json
Due: npm-package-json-lint

rename function
  packages/db/package.json
  packages/db/src/test-duckdb-utils.ts
  packages/db/tests/s3search/test-AsyncOperationS3Search.js
  packages/db/tests/s3search/test-CollectionS3Search.js
  packages/db/tests/s3search/test-ExecutionS3Search.js
  packages/db/tests/s3search/test-GranuleS3Search.js
  packages/db/tests/s3search/test-PdrS3Search.js
  packages/db/tests/s3search/test-ProviderS3Search.js
  packages/db/tests/s3search/test-ReconciliationReportS3Search.js
  packages/db/tests/s3search/test-RuleS3Search.js
  packages/db/tests/s3search/test-StatsS3Search.js
  packages/db/tests/translate/test-collections.js
Due: eslint, npm-package-json-lint, typescript-compile

Updates based on PR feedback
  tasks/aws-api-proxy/build-config.json
  tasks/aws-api-proxy/package.json
  tasks/aws-api-proxy/pyproject.toml
  tasks/aws-api-proxy/src/aws_api_proxy/__init__.py
  tasks/aws-api-proxy/src/aws_api_proxy/aws_api_proxy.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.py
  tasks/aws-api-proxy/src/main.py
  tasks/aws-api-proxy/tests/conftest.py
  tasks/aws-api-proxy/tests/integration_tests/aws_api_proxy/test_lambda_handler.py
  tasks/aws-api-proxy/tests/unit_tests/aws_api_proxy/test_aws_api_proxy.py
  tasks/aws-api-proxy/uv.lock
  tasks/granule-invalidator/pyproject.toml
Due: npm-package-json-lint

CUMULUS-4395 CnmResponse terraform (#4239)
  CHANGELOG.md
  example/cumulus-tf/cnm_response_task.tf
  tasks/cnm-response/bin/package.sh
  tasks/cnm-response/deploy/main.tf
  tasks/cnm-response/deploy/output.tf
  tasks/cnm-response/deploy/variables.tf
  tasks/cnm-response/deploy/versions.tf
  tasks/cnm-response/package.json
  tasks/cnm-to-cma/README.md
  tasks/cnm-to-cma/deploy/lambda.tf
  tasks/cnm-to-cma/deploy/variable.tf
  tasks/cnm-to-cma/deploy/variables.tf
  tasks/cnm-to-cma/deploy/versions.tf
  tasks/cnm-to-cma/package.json
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/ruff.toml
  tasks/cnm-to-cma/src/cnm_to_cma/__init__.py
  tasks/cnm-to-cma/src/cnm_to_cma/cnm_to_cma.py
  tasks/cnm-to-cma/src/cnm_to_cma/models_cnm.py
  tasks/cnm-to-cma/src/cnm_to_cma/models_granule.py
  tasks/cnm-to-cma/src/cnm_to_cma/schemas/config.json
  tasks/cnm-to-cma/src/cnm_to_cma/schemas/input.json
  tasks/cnm-to-cma/src/cnm_to_cma/schemas/output.json
  tasks/cnm-to-cma/tests/test_cnm_to_cma.py
  tasks/cnm-to-cma/uv.lock
  tasks/granule-invalidator/deploy/outputs.tf
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/cnm-response.tf
  tf-modules/ingest/outputs.tf
Due: npm-package-json-lint

Updated ajv from 6.12.3 to 8.18.0 to test dependency vulnerability fix
  packages/api/package.json
  packages/common/package.json
Due: npm-package-json-lint

set default token refresh expiration time extension to one hour
  packages/api/endpoints/launchpadSaml.js
  packages/api/endpoints/token.js
Due: eslint

Updated readonly->readOnly in schemas after strict-mode check
  packages/api/lib/schemas.js
Due: eslint

Updates per PR feedback
  tasks/aws-api-proxy/build-config.json
  tasks/aws-api-proxy/pyproject.toml
  tasks/aws-api-proxy/src/aws_api_proxy/aws_api_proxy.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.py
  tasks/aws-api-proxy/tests/unit_tests/aws_api_proxy/test_aws_api_proxy.py
  tasks/aws-api-proxy/uv.lock
  tasks/granule-invalidator/pyproject.toml
  tasks/granule-invalidator/uv.lock
Due: none

Reverting config validation to use a static list of literals with a bit comment disclaimer
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.py
Due: none

Fixed broken output validation
  tasks/aws-api-proxy/src/aws_api_proxy/aws_api_proxy.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/output_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/output_schema.py
  tasks/aws-api-proxy/tests/integration_tests/aws_api_proxy/test_lambda_handler.py
  tasks/aws-api-proxy/tests/unit_tests/aws_api_proxy/test_aws_api_proxy.py
Due: none

Reverted ajv version bump
  packages/api/lib/schemas.js
  packages/api/package.json
  packages/common/package.json
Due: eslint, npm-package-json-lint

intermittent issue: Failed to execute prepared statement
  packages/db/package.json
  packages/db/src/s3search/AsyncOperationS3Search.ts
  packages/db/src/s3search/CollectionS3Search.ts
  packages/db/src/s3search/ExecutionS3Search.ts
  packages/db/src/s3search/GranuleS3Search.ts
  packages/db/src/s3search/PdrS3Search.ts
  packages/db/src/s3search/ProviderS3Search.ts
  packages/db/src/s3search/ReconciliationReportS3Search.ts
  packages/db/src/s3search/RuleS3Search.ts
Due: eslint, npm-package-json-lint, typescript-compile

add DuckDBSearchExecutor to query
  packages/db/src/s3search/AsyncOperationS3Search.ts
  packages/db/src/s3search/CollectionS3Search.ts
  packages/db/src/s3search/DuckDBSearchExecutor.ts
  packages/db/src/s3search/ExecutionS3Search.ts
  packages/db/src/s3search/GranuleS3Search.ts
  packages/db/src/s3search/PdrS3Search.ts
  packages/db/src/s3search/ProviderS3Search.ts
  packages/db/src/s3search/ReconciliationReportS3Search.ts
  packages/db/src/s3search/RuleS3Search.ts
  packages/db/src/search/BaseSearch.ts
Due: eslint, typescript-compile

PR feedback
  CHANGELOG.md
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/src/echo10Modifiers.ts
  packages/cmrjs/src/ummgModifiers.ts
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/tests/test-exclude-data-granule.js
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint, typescript-compile

adding back in something accidentally deleted
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
Due: eslint

CUMULUS-4472: update tests and JSDocs
  packages/api/endpoints/granules.js
  packages/api/tests/endpoints/granules/test-bulk-delete.js
  packages/api/tests/endpoints/granules/test-bulk-granules.js
  packages/api/tests/endpoints/granules/test-bulk-reingest.js
  packages/api/tests/endpoints/test-executions.js
Due: eslint

first commit
  CHANGELOG.md
Due: none

destroying stack to reapply
  bamboo/bootstrap-tf-deployment.sh
Due: none

add fast-xml-parser to allow until fix
  audit-ci.json
Due: none

small bamboo script for fix
  bamboo/bootstrap-tf-deployment.sh
Due: none

removing line
  bamboo/bootstrap-tf-deployment.sh
Due: none
