Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

enable db bootstrap in sit
  example/deployments/data-persistence/cumulus-sit.tfvars
Due: none

skip per-cmrProvider integration tests when not configured
  example/spec/parallel/cmrProviderUrlRouting/CmrProviderUrlRoutingSpec.js
Due: eslint

increase lzards ava test timeout
  tasks/lzards-backup/package.json
Due: npm-package-json-lint

trying to better debug
  packages/api/lib/rulesHelpers.js
Due: eslint

linting
  packages/api/lib/rulesHelpers.js
Due: eslint

update snsRuleSpec.js publish message to updated rule
  CHANGELOG.md
  example/spec/parallel/testAPI/snsRuleSpec.js
Due: eslint

CUMULUS-4776: Change volume mount for iceberg replication form EBS to EFS to make it perist between restarts
  tf-modules/rds-iceberg-replication/modules/cluster/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
Due: none

PR feedback
  example/spec/parallel/changeGranuleCollections/ChangeGranuleCollectionWorkflowSpec.js
  example/spec/parallel/createReconciliationReport/CreateReconciliationReportSpec.js
  example/spec/parallel/testAPI/cmrTokenSpec.js
  packages/api/lib/granule-remove-from-cmr.js
  packages/cmrjs/src/cmr-utils.js
  packages/launchpad-auth/src/index.ts
  packages/launchpad-auth/tests/test-LaunchpadToken.js
  tasks/hyrax-metadata-updates/index.js
Due: eslint, typescript-compile

CUMULUS-4705: Set up terraform code to run Iceberg tables snapshot cleanup and sets up the IAM role that can be used for Iceberg tables orphan file cleanup.
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/outputs.tf
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/iam.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/main.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/outputs.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4705: Terraform fmt fixes.
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/cluster/outputs.tf
  tf-modules/rds-iceberg-replication/modules/cluster/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
Due: none

CUMULUS-4705: Add missing inputs to set batch sizes for replication and add missing IAM permissions for snapshot cleanup
  example/rds-iceberg-replication-tf/main.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/iam.tf
Due: none

try this and see what breaks
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/db/src/models/provider.ts
Due: eslint, typescript-compile

Revert "try this and see what breaks"
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/db/src/models/provider.ts
Due: eslint, typescript-compile

Revert "trying to better debug"
  packages/api/lib/rulesHelpers.js
Due: eslint

Revert "linting"
  packages/api/lib/rulesHelpers.js
Due: eslint

fix log
  packages/api/lib/rulesHelpers.js
Due: eslint

CUMULUS-4874:Fix sns permission statement missing issue (#4453)
  .pre-commit-config.yaml
  CHANGELOG.md
  example/deployments/data-persistence/cumulus-sit.tfvars
  example/spec/parallel/testAPI/snsRuleSpec.js
  packages/api/endpoints/rules.js
  packages/api/lib/rulesHelpers.js
  packages/api/lib/snsRuleHelpers.js
  packages/api/tests/endpoints/test-rules.js
  packages/api/tests/lib/rules/test-rulesHelpers.js
  packages/test-data/granules/fake_granules/granule-1.nc
  packages/test-data/granules/fake_granules/granule-2.nc
  packages/test-data/granules/fake_granules/granule-3.nc
  tasks/lzards-backup/package.json
  tf-modules/archive/iam.tf
  tf-modules/cumulus/iam.tf
  tf-modules/cumulus/variables.tf
Due: eslint, npm-package-json-lint

CUMULUS-4776: Add CHANGELOG entry
  CHANGELOG.md
Due: none

CUMLULS-4776: Lower default memory and disk sizes for replication services to save money in test environments
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4776: Add batch size to replication example
  example/rds-iceberg-replication-tf/main.tf
Due: none

CUMULUS-4776: Make compaction interval setable
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/variables.tf
Due: none

CUMULUS-4776: Add description to replictation module output
  tf-modules/rds-iceberg-replication/outputs.tf
Due: none

CUMULUS-4776: Add additional env vars needed for replication services
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4776: Fix IAM role for Fargate task to allow RDS access
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/cluster/outputs.tf
Due: none

CUMULUS-4776: Add variable for replication batch size
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4776: Fix terraform formatting
  example/rds-iceberg-replication-tf/outputs.tf
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/cluster/outputs.tf
  tf-modules/rds-iceberg-replication/modules/cluster/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/outputs.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4776: Mostly whitespace changes that got generated when I ran `npm run build`
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
Due: none

cleanup tests
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/endpoints/test-granules.js
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-write-pdr.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

changelog
  CHANGELOG.md
Due: none

Cumulus 4776 replication services (#4450)
  CHANGELOG.md
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/outputs.tf
  example/rds-iceberg-replication-tf/variables.tf
  tasks/move-granules/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/cluster/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/outputs.tf
  tf-modules/rds-iceberg-replication/modules/cluster/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/outputs.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

typo
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

