Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

Update version links in CHANGELOG.md
  CHANGELOG.md
Due: none

CUMULUS-4558: Change the archive_api_uri back to be the API Gateway invoke url.
  example/cumulus-tf/main.tf
Due: none

fixes
  packages/cmr-client/src/CMR.ts
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/schemas/output.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/orca-copy-to-archive-adapter/schemas/input.json
  tasks/orca-copy-to-archive-adapter/schemas/output.json
  tasks/orca-recovery-adapter/schemas/input.json
  tasks/orca-recovery-adapter/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
  uv.lock
Due: eslint, typescript-compile

CUMULUS-4558: Add autoscaling of search api in ECS by CPU.
  example/cumulus-tf/cumulus_api.tf
  example/cumulus-tf/variables.tf
Due: none

CUMULUS-4608 Sorting error when sorting non-string field in workflow list endpoint (#4307)
  CHANGELOG.md
  packages/api/endpoints/workflows.js
  packages/api/tests/endpoints/workflows.js
Due: eslint

CUMULUS-4558: Update outputs to show the correct archive_api_uri.
  example/cumulus-tf/outputs.tf
Due: none

commit backport changelog for 21.2.1
  CHANGELOG.md
Due: none

fix merge from master error remove OpenTelemetry token endpoint
  packages/api/endpoints/token.js
Due: eslint

undoing the random changes the pre-comitt added to my branch for some reason
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/output.json
  tasks/sync-granule/schemas/output.json
  uv.lock
Due: none

test file for (needs more work) + terraform for lambda
  packages/api/tests/lambdas/test-recreate-launchpad-token.js
  packages/api/webpack.config.js
  packages/cmr-client/src/CMR.ts
  tf-modules/ingest/iam.tf
  tf-modules/ingest/lambda-functions.tf
  tf-modules/ingest/outputs.tf
  uv.lock
Due: eslint, typescript-compile

add v21.2.1 version link to changelog
  CHANGELOG.md
Due: none

Update to TEA 3.0.0
  CHANGELOG.md
  example/cumulus-tf/thin_egress_app.tf
Due: none

changelog
  CHANGELOG.md
  packages/api/tests/lambdas/test-recreate-launchpad-token.js
Due: eslint

Backport changelog 21.2.1 to merge into master (#4324)
  CHANGELOG.md
Due: none

deleting token code
  packages/api/lambdas/recreate-launchpad-token.js
  packages/cmrjs/src/cmr-utils.js
Due: eslint

bump async_operation_image_version number
  example/cumulus-tf/variables.tf
Due: none

first commit CSD-100
  CHANGELOG.md
  packages/api/app/index.js
  packages/aws-client/src/client.ts
Due: eslint, typescript-compile

checking CMR IO
  packages/cmr-client/src/CMR.ts
Due: eslint, typescript-compile

add change for async operation tag number bump
  CHANGELOG.md
Due: none

WIP some hardcoded stuff
  example/data/collections/ASCATB-L2-Coastal/ASCATB-L2-Coastal.json
  example/data/collections/L2_HR_PIXC-000-unique/L2_HR_PIXC-000.json
  example/data/collections/L2_HR_PIXC-000/L2_HR_PIXC-000.json
  example/data/collections/L2_HR_PIXC-099/L2_HR_PIXC-099.json
  example/data/collections/http_testcollection_001/http_testcollection_001.json
  example/data/collections/http_testcollection_002/http_testcollection_002.json
  example/data/collections/https_testcollection_001/https_testcollection_001.json
  example/data/collections/s3_MOD09GQ-AZ_006_full_ingest_move/s3_MOD09GQ-AZ_006.json
  example/data/collections/s3_MOD09GQ_006-umm/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006-unique/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006_full_ingest/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006_full_ingest_unique/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006_no_cmr/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD14A1_006/s3_MOD14A1_006.json
  example/data/collections/s3_MYD13Q1_006/s3_MYD13Q1_006.json
  example/spec/helpers/workflowUtils.js
  example/spec/parallel/granuleInvalidator/CrossCollectionSpec.js
  example/spec/parallel/granuleInvalidator/IngestDateRolloffSpec.js
  example/spec/parallel/granuleInvalidator/ScienceDateRolloffSpec.js
  packages/api/endpoints/granules.js
Due: eslint

lint
  packages/api/endpoints/granules.js
Due: eslint

fix hardcode
  packages/api/endpoints/granules.js
Due: eslint

change CNMToCMA step to TranslateMessage
  example/spec/parallel/cnmWorkflow/KinesisTestTriggerSpec.js
  example/spec/parallel/cnmWorkflow/KinesisTestTriggerWithUniqueGranuleIdsSpec.js
Due: eslint

try this half-measure
  packages/api/lambdas/sf-scheduler.js
  packages/ingest/package.json
  packages/ingest/src/queue.js
Due: eslint, npm-package-json-lint

lint
  packages/api/lambdas/sf-scheduler.js
  packages/ingest/src/queue.js
Due: eslint

bugfix
  packages/ingest/src/queue.js
Due: eslint

fixed integration test expected values
  example/spec/parallel/cnmWorkflow/KinesisTestTriggerSpec.js
  example/spec/parallel/cnmWorkflow/KinesisTestTriggerWithUniqueGranuleIdsSpec.js
Due: eslint

fixing more unit tests
  packages/ingest/src/queue.js
  packages/ingest/test/test-queue.js
Due: eslint

fix more tests
  tasks/queue-pdrs/tests/index.js
Due: eslint

rearrange default CUMULUS integration tests provider
  example/spec/helpers/workflowUtils.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

