Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

Add archive location of pdr to the task output
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Changes file organization to meet task layout standards
  tasks/pdr-cleanup/src/pdr_cleanup/__init__.py
  tasks/pdr-cleanup/src/pdr_cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/tests/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__pycache__/__init__.cpython-314.pyc
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/test_pdr_cleanup.py
Due: none

Add schemas
  tasks/pdr-cleanup/schemas/config.json
  tasks/pdr-cleanup/schemas/input.json
  tasks/pdr-cleanup/schemas/output.json
Due: none

Adds check for s3 provider in pdr-cleanup
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Adds package.json
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

Updates README.md
  tasks/pdr-cleanup/README.md
Due: none

Ruff format fixes
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Changes to Python 3.13
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/uv.lock
Due: none

Adds unit tests to pdr-cleanup task
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/test/__init__.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: none

Adjusts styling for pdr-cleanup task
  tasks/pdr-cleanup/pdr-cleanup.py
Due: none

Adds terraform deployment
  tasks/pdr-cleanup/bin/package.sh
  tasks/pdr-cleanup/deploy/main.tf
  tasks/pdr-cleanup/deploy/outputs.tf
  tasks/pdr-cleanup/deploy/variables.tf
  tasks/pdr-cleanup/deploy/versions.tf
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

Updates CHANGELOG.md
  CHANGELOG.md
Due: none

WIP: README
  tasks/pdr-cleanup/README.md
Due: none

WIP: Format fixes
  tasks/pdr-cleanup/README.md
  tasks/pdr-cleanup/bin/package.sh
  tasks/pdr-cleanup/deploy/main.tf
  tasks/pdr-cleanup/deploy/terraform.tfvars.sample
  tasks/pdr-cleanup/deploy/versions.tf
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/schemas/config.json
  tasks/pdr-cleanup/schemas/input.json
  tasks/pdr-cleanup/schemas/output.json
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: npm-package-json-lint

WIP: output.json fix
  tasks/pdr-cleanup/schemas/output.json
Due: none

Added sample terraform.tfvars
  tasks/pdr-cleanup/deploy/terraform.tfvars.sample
Due: none

Update README.md to fit template
  tasks/pdr-cleanup/README.md
Due: none

Remove cache file
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__pycache__/__init__.cpython-314.pyc
Due: none

Change logging statements to remove f-strings and adds lint check
  pyproject.toml
  tasks/pdr-cleanup/src/pdr_cleanup/pdr_cleanup.py
Due: none

ruff check pass
  pyproject.toml
Due: none

PDR cleanup adjustments
  tasks/pdr-cleanup/README.md
  tasks/pdr-cleanup/deploy/outputs.tf
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/schemas/config.json
  tasks/pdr-cleanup/src/pdr_cleanup/task.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: npm-package-json-lint

Change doc style to restructuredText
  tasks/pdr-cleanup/src/pdr_cleanup/pdr_cleanup.py
Due: none

Adjust task name
  tasks/pdr-cleanup/deploy/main.tf
  tasks/pdr-cleanup/deploy/variables.tf
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/src/pdr_cleanup/task.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/test_pdr_cleanup.py
Due: npm-package-json-lint

Removes task level bin
  tasks/pdr-cleanup/bin/package.sh
  tasks/pdr-cleanup/deploy/main.tf
  tasks/pdr-cleanup/deploy/variables.tf
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

audit issue
  audit-ci.json
  package.json
Due: npm-package-json-lint

Rename cnm to cma lambda to match the rest of cumulus core tasks
  tasks/cnm-to-cma/deploy/main.tf
Due: none

Add depends_on for lambda log groups
  tasks/cnm-response/deploy/main.tf
  tasks/cnm-to-cma/deploy/main.tf
  tasks/granule-invalidator/deploy/main.tf
Due: none

Rename granule invalidator lambda to match the rest of cumulus core tasks
  tasks/granule-invalidator/deploy/main.tf
Due: none

Refactor tasks to use shared tf module
  tasks/aws-api-proxy/deploy/main.tf
  tasks/aws-api-proxy/deploy/outputs.tf
  tasks/aws-api-proxy/deploy/variables.tf
  tasks/cnm-response/deploy/main.tf
  tasks/cnm-response/deploy/output.tf
  tasks/cnm-response/deploy/variables.tf
  tasks/cnm-response/src/main.py
  tasks/cnm-to-cma/deploy/main.tf
  tasks/cnm-to-cma/deploy/output.tf
  tasks/cnm-to-cma/deploy/variables.tf
  tasks/cnm-to-cma/src/main.py
  tasks/granule-invalidator/deploy/main.tf
  tasks/granule-invalidator/deploy/outputs.tf
  tasks/granule-invalidator/deploy/variables.tf
  tf-modules/cumulus-task/main.tf
  tf-modules/cumulus-task/variables.tf
  tf-modules/ingest/cnm-response.tf
  tf-modules/ingest/granule-invalidator-task.tf
  tf-modules/ingest/outputs.tf
  tf-modules/ingest/python-lambdas.tf
Due: none

remove double bootstrapping
  bamboo/deploy-dev-integration-test-stack.sh
Due: none

snyk
  CHANGELOG.md
Due: none

fix cleanup script
  bamboo/cleanup-integration-tests.sh
Due: none

serialize-javascript audit
  package.json
Due: npm-package-json-lint

Initial task commit
  CHANGELOG.md
  tasks/add-input-granules/README.md
  tasks/add-input-granules/package.json
  tasks/add-input-granules/pyproject.toml
  tasks/add-input-granules/src/add_input_granules/task.py
  tasks/add-input-granules/uv.lock
Due: npm-package-json-lint

add generate-task-schemas permission for ci
  packages/schemas/package.json
Due: npm-package-json-lint

Added schemas and populated readme
  tasks/add-input-granules/README.md
  tasks/add-input-granules/schemas/input.json
  tasks/add-input-granules/schemas/output.json
Due: none

CUMULUS-4472: pr comment and lint fixes
  packages/api/lambdas/bulk-operation.js
  packages/api/tests/lambdas/test-bulk-operation.js
Due: eslint

Timed out for ecs/async-operation unit tests
  packages/api/ecs/async-operation/package.json
Due: npm-package-json-lint

querystring replace
  CHANGELOG.md
  example/spec/parallel/moveGranules/MoveGranulesTagsSpec.js
  example/spec/parallel/syncGranule/SyncGranuleCopyTagsSpec.js
  packages/api/package.json
  packages/aws-client/src/S3.ts
Due: eslint, npm-package-json-lint, typescript-compile

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

