Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

small cleanups
  packages/api/endpoints/collections.js
  tasks/hyrax-metadata-updates/index.js
  tf-modules/ingest/message_template.tf
Due: eslint

CUMULUS-4706: Fix existing intermittent unit test failure.
  packages/db/src/test-utils.ts
  scripts/generate_records/tests/test-db_record_loaders.js
  scripts/generate_records/tests/test-end_to_end.js
  scripts/generate_records/tests/test-generate_db_records.js
Due: eslint, typescript-compile

Release 21.3.2 async operation update to master (#4350)
  CHANGELOG.md
  example/cumulus-tf/variables.tf
  tasks/pdr-cleanup/package.json
  tf-modules/cumulus/variables.tf
Due: npm-package-json-lint

updates
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint

CUMULUS-4558: Move iceberg api terraform to its own module.
  example/cumulus-tf/iceberg_api.tf
  example/cumulus-tf/outputs.tf
  tf-modules/iceberg_api/README.md
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/outputs.tf
  tf-modules/iceberg_api/variables.tf
  tf-modules/iceberg_api/versions.tf
Due: none

CUMULUS-4558: Move iceberg api creation to the cumulus module.
  example/cumulus-tf/iceberg_api.tf
  example/cumulus-tf/main.tf
  example/cumulus-tf/outputs.tf
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/iceberg_api/README.md
  tf-modules/cumulus/iceberg_api/main.tf
  tf-modules/cumulus/iceberg_api/outputs.tf
  tf-modules/cumulus/iceberg_api/variables.tf
  tf-modules/cumulus/iceberg_api/versions.tf
  tf-modules/cumulus/outputs.tf
  tf-modules/cumulus/variables.tf
Due: none

CUMULUS-4706: Separate the db connection code for lambda from ECS.
  packages/api/app/db.js
  packages/api/endpoints/async-operations.js
  packages/api/endpoints/collections.js
  packages/api/endpoints/execution-status.js
  packages/api/endpoints/executions.js
  packages/api/endpoints/granules.js
  packages/db/src/connection.ts
  packages/db/src/iceberg-connection.ts
  packages/db/src/index.ts
  packages/db/src/search/BaseSearch.ts
  packages/db/src/search/StatsSearch.ts
Due: eslint, typescript-compile

CUMULUS-4706: Minor refactoring.
  packages/api/app/db.js
  packages/db/src/iceberg-connection.ts
  packages/db/tests/test-connection.js
  packages/db/tests/test-iceberg-connection.js
Due: eslint, typescript-compile

CUMULUS-4706: More refactoring and fixed lint error and tests.
  packages/db/src/iceberg-connection.ts
  packages/db/src/index.ts
  packages/db/src/search/BaseSearch.ts
  packages/db/tests/test-iceberg-connection.js
Due: eslint, typescript-compile

CUMULUS-4558: Remove unnecessary cumulus module outputs.
  tf-modules/cumulus/outputs.tf
  tf-modules/iceberg_api/outputs.tf
Due: none

CUMULUS-4706: Fix intermittent test failure.
  packages/db/tests/test-iceberg-connection.js
  scripts/generate_records/tests/test-db_record_loaders.js
  scripts/generate_records/tests/test-end_to_end.js
  scripts/generate_records/tests/test-generate_db_records.js
Due: eslint

CUMULUS-4558: Corrected the location of iceberg api module.
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/iceberg_api/outputs.tf
  tf-modules/iceberg_api/README.md
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/outputs.tf
  tf-modules/iceberg_api/variables.tf
  tf-modules/iceberg_api/versions.tf
Due: none

CUMULUS-4706: Remove the correct call to iceberg db client to make sure lambda related code is not touched at all.
  packages/db/src/search/BaseSearch.ts
Due: eslint, typescript-compile

CUMULUS-4706: Temporary ignore vunlnerablity to get build passing.
  audit-ci.json
Due: none

remove debug log
  packages/cmr-client/src/CMR.ts
Due: eslint, typescript-compile

new PR on release 21.3 branch
  CHANGELOG.md
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint

getting some logs to check what's happening in collections api
  packages/api/endpoints/collections.js
  packages/api/tests/lambdas/test-sf-scheduler.js
Due: eslint

invalidSigException?
  CHANGELOG.md
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint

CUMULUS-4706: Remove obsolete deploy_iceberg_api reference from iceberg api implementation.
  CHANGELOG.md
  package.json
  packages/api/app/README.md
  packages/api/app/iceberg-db.js
  packages/api/app/iceberg-index.js
  packages/db/tests/test-iceberg-connection.js
  tf-modules/iceberg_api/main.tf
Due: eslint, npm-package-json-lint

collection can be undefined in certain tests
  packages/api/lambdas/sf-scheduler.js
Due: eslint

typo
  packages/api/lambdas/sf-scheduler.js
Due: eslint

lint
  packages/api/endpoints/collections.js
Due: eslint

CUMULUS-4558: Make log retention period configurable and use Dockerfile.dockerignore.
  example/cumulus-tf/variables.tf
  packages/api/app/Dockerfile.dockerignore
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: none

cleanup and pr review
  CHANGELOG.md
  packages/api/endpoints/collections.js
  packages/cmr-client/src/CMR.ts
  packages/db/src/types/collection.ts
  packages/types/api/collections.d.ts
Due: eslint, typescript-compile

CUMULUS-4706: Safer env var override.
  packages/api/app/iceberg-index.js
  tf-modules/iceberg_api/variables.tf
Due: eslint

add migration file for executions_cumulus_id alter sequence
  packages/db/src/migrations/20260402110300_update_bigint_column_sequence.sql
  packages/db/src/migrations/20260402110300_update_bigint_column_sequence.ts
Due: eslint, typescript-compile

update changelog
  CHANGELOG.md
Due: none

CUMULUS-4557, CUMULUS-4558 and CUMULUS-4706 (#4351)
  CHANGELOG.md
  audit-ci.json
  example/cumulus-tf/main.tf
  example/cumulus-tf/outputs.tf
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/yliu10-ci-tf.tfvars
  package.json
  packages/api/app/Dockerfile
  packages/api/app/Dockerfile.dockerignore
  packages/api/app/README.md
  packages/api/app/iceberg-db.js
  packages/api/app/iceberg-index.js
  packages/api/app/iceberg-routes.js
  packages/api/endpoints/iceberg-async-operations.js
  packages/api/endpoints/iceberg-collections.js
  packages/api/endpoints/iceberg-executions.js
  packages/api/endpoints/iceberg-granules.js
  packages/api/endpoints/iceberg-pdrs.js
  packages/api/endpoints/iceberg-providers.js
  packages/api/endpoints/iceberg-reconciliation-reports.js
  packages/api/endpoints/iceberg-rules.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
  packages/db/src/iceberg-connection.ts
  packages/db/src/index.ts
  packages/db/src/test-utils.ts
  packages/db/tests/test-iceberg-connection.js
  scripts/generate_records/tests/test-db_record_loaders.js
  scripts/generate_records/tests/test-end_to_end.js
  scripts/generate_records/tests/test-generate_db_records.js
  tf-modules/archive/iam.tf
  tf-modules/archive/outputs.tf
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/outputs.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/README.md
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/outputs.tf
  tf-modules/iceberg_api/variables.tf
  tf-modules/iceberg_api/versions.tf
Due: eslint, npm-package-json-lint, typescript-compile

Revert "typo"
  packages/api/lambdas/sf-scheduler.js
Due: eslint

Revert "collection can be undefined in certain tests"
  packages/api/lambdas/sf-scheduler.js
Due: eslint

Revert "cleanup and pr review"
  CHANGELOG.md
  packages/api/endpoints/collections.js
  packages/cmr-client/src/CMR.ts
  packages/db/src/types/collection.ts
  packages/types/api/collections.d.ts
Due: eslint, typescript-compile

Revert "lint"
  packages/api/endpoints/collections.js
Due: eslint

CSD-100: ensure env vars are initialized once per Lambda container by caching initialization promise
  packages/api/app/index.js
Due: eslint

Changelog update
  CHANGELOG.md
Due: none

Remediate lodash
  example/lambdas/ftpPopulateTestLambda/package.json
  lambdas/db-provision-user-database/package.json
  lambdas/dla-migration/package.json
  lambdas/migration-helper-async-operation/package.json
  lambdas/sqs-message-remover/package.json
  package.json
  packages/api/ecs/async-operation/package.json
  packages/api/package.json
  packages/cmr-client/package.json
  packages/cmrjs/package.json
  packages/common/package.json
  packages/db/package.json
  packages/ingest/package.json
  packages/integration-tests/package.json
  packages/launchpad-auth/package.json
  packages/lzards-api-client/package.json
  packages/message/package.json
  packages/pvl/package.json
  packages/s3-credentials-endpoint/package.json
  packages/schemas/package.json
  packages/tf-inventory/package.json
  scripts/generate_records/package.json
  tasks/change-granule-collection-pg/package.json
  tasks/change-granule-collection-s3/package.json
  tasks/discover-granules/package.json
  tasks/discover-pdrs/package.json
  tasks/files-to-granules/package.json
  tasks/hyrax-metadata-updates/package.json
  tasks/move-granules/package.json
  tasks/parse-pdr/package.json
  tasks/post-to-cmr/package.json
  tasks/queue-granules/package.json
  tasks/queue-pdrs/package.json
  tasks/queue-workflow/package.json
  tasks/sf-sqs-report/package.json
  tasks/sync-granule/package.json
Due: npm-package-json-lint

Version bump again, changelog
  CHANGELOG.md
  package.json
  packages/aws-client/package.json
  packages/errors/package.json
  packages/es-client/package.json
  tasks/orca-copy-to-archive-adapter/package.json
  tasks/orca-recovery-adapter/package.json
  tasks/update-cmr-access-constraints/package.json
  tasks/update-granules-cmr-metadata-file-links/package.json
Due: npm-package-json-lint

initEnvVars === undefined
  packages/api/app/index.js
Due: eslint
