Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

Updated db parameter max_locks_per_transaction to 256 from the default of 64 (#4470)
  CHANGELOG.md
  tf-modules/cumulus-rds-tf/variables.tf
Due: none

fixing stale lock file condition
  packages/launchpad-auth/.nycrc.json
  packages/launchpad-auth/src/index.ts
Due: eslint, typescript-compile

move mission column out
  packages/db/src/migrations/020_collections.ts
  packages/db/src/migrations/20260527_add_collection_mission.ts
Due: eslint, typescript-compile

lint
  packages/db/src/migrations/20260527_add_collection_mission.ts
Due: eslint, typescript-compile

fix table name
  packages/db/src/migrations/20260527_add_collection_mission.ts
Due: eslint, typescript-compile

override tmp package with patched version to fix vuln
  package.json
Due: npm-package-json-lint

update ordering
  package.json
Due: npm-package-json-lint

update CL
  CHANGELOG.md
Due: none

CUMULUS-4882: reduce Cross-collection collision checks during ingest
  CHANGELOG.md
  example/deployments/data-persistence/cumulus-sit.tfvars
  lambdas/db-migration/tests/test-index.js
  packages/api/endpoints/granules.js
  packages/api/lib/writeRecords/write-granules.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
  packages/db/README.md
  packages/db/src/lib/granule.ts
  packages/db/src/migrations/20260526151018_update_granules_uniqueness_trigger_for_batch_collection.ts
  packages/db/src/models/granule.ts
  packages/db/tests/models/test-granule-model.js
  tf-modules/data-persistence/variables.tf
Due: eslint, typescript-compile

Override tmp package with patched version to fix vuln (#4471)
  CHANGELOG.md
  package.json
Due: npm-package-json-lint

update trigger logic to be clearer
  packages/db/src/migrations-bootstrap/120_granules_triggers.ts
  packages/db/src/migrations/20260526151018_update_granules_uniqueness_trigger_for_collection_update.ts
Due: eslint, typescript-compile

lint
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
Due: eslint

add log entry for CUMULUS-4894
  CHANGELOG.md
  lambdas/db-migration/tests/test-index.js
  packages/db/src/lib/granule.ts
Due: eslint, typescript-compile

CUMULUS-4898: Add Iceberg API documentation page to Cumulus Documentation
  CHANGELOG.md
  docs/deployment/iceberg-api.md
  website/docusaurus.config.js
  website/sidebars.js
Due: none

CUMULUS-4883: Fix the deployment.
  bamboo/bootstrap-tf-deployment.sh
  bamboo/deploy-iceberg-api-image.sh
Due: none

CUMULUS-4883: Add script to build Iceberg API docker image and push it to ECR as part of the build process.
  bamboo/bootstrap-tf-deployment.sh
  bamboo/deploy-dev-integration-test-stack.sh
  bamboo/deploy-iceberg-api-image.sh
Due: none

CUMULUS-4883: Install docker in cumulus container.
  bamboo/bootstrap-tf-deployment.sh
  bamboo/deploy-dev-integration-test-stack.sh
  bamboo/deploy-iceberg-api-image.sh
Due: none

CUMULUS-4883: Reorgnized the scripts.
  bamboo/bootstrap-tf-deployment.sh
  bamboo/deploy-dev-integration-test-stack.sh
  bamboo/deploy-iceberg-api-image.sh
Due: none

CUMULUS-4891: Fix JSON linter issue
  packages/iceberg-replication/resources/source_connector.json
  packages/iceberg-replication/scripts/bootstrap.sh
Due: none

CUMULUS-4891: Add entry to CHANGELOG for replication image build scripts
  CHANGELOG.md
  packages/iceberg-replication/.gitignore
Due: none

CUMULUS-4891: Add bamboo scripts and code to build and push iceberg replication images
  bamboo/build_and_deploy_iceberg_replication_images.sh
  bamboo/set-bamboo-env-variables.sh
  packages/iceberg-replication/Dockerfile.bootstrap
  packages/iceberg-replication/java/pom.xml
  packages/iceberg-replication/java/src/main/java/gov/nasa/cumulus/IcebergCDCWriter.java
  packages/iceberg-replication/resources/executions_sink.json
  packages/iceberg-replication/resources/files_sink.json
  packages/iceberg-replication/resources/granules_sink.json
  packages/iceberg-replication/resources/small_tables_sink.json
  packages/iceberg-replication/resources/source_connector.json
  packages/iceberg-replication/scripts/bootstrap.sh
  packages/iceberg-replication/scripts/build_bootstrap_image.sh
  packages/iceberg-replication/scripts/bulk_load_self_managed_iceberg.py
  packages/iceberg-replication/scripts/cleanup_snapshots.py
  packages/iceberg-replication/scripts/create_staging_branch.py
  packages/iceberg-replication/scripts/download_jars.sh
  packages/iceberg-replication/scripts/iceberg_compact.py
  packages/iceberg-replication/scripts/push_bootstrap_image.sh
  packages/iceberg-replication/scripts/push_kafka_connect_image.sh
  packages/iceberg-replication/scripts/push_kafka_image.sh
  packages/iceberg-replication/scripts/push_to_ecr.sh
  packages/iceberg-replication/scripts/pyproject.toml
  packages/iceberg-replication/scripts/replace_source_connector.sh
  packages/iceberg-replication/scripts/requirements.txt
  packages/iceberg-replication/scripts/sink.py
  packages/iceberg-replication/scripts/uv.lock
  tf-modules/rds-iceberg-replication/README.md
Due: none

CUMULUS-4891: Add debug logging to help fix missing script
  bamboo/build_and_deploy_iceberg_replication_images.sh
Due: none

CUMULUS-4891: Set proper working directory for docker build
  packages/iceberg-replication/scripts/build_bootstrap_image.sh
Due: none

CUMULUS-4891: Change reference from 'man' to 'master' in GitHub workflow
  .github/workflows/build-and-push-iceberg-replication-image.yml
Due: none

CUMULUS-4891: Add GitHub workflow to build and push iceberg replication image
  .github/workflows/build-and-push-iceberg-replication-image.yml
Due: none

CUMULUS-4891: Fix typo
  bamboo/build_and_deploy_iceberg_replication_images.sh
Due: none

CUMULUS-4891: Skip building/pushing replication images if not on PR
  bamboo/build_and_deploy_iceberg_replication_images.sh
Due: none

CUMULUS-4891: Add path to try to trigger GitHub action on push
  .github/workflows/build-and-push-iceberg-replication-image.yml
Due: none

CUMULUS-4891: Fix minor version of base docker image for iceberg replication images
  packages/iceberg-replication/Dockerfile.bootstrap
Due: none

CUMULUS-4891: Fix linter errors.
  packages/iceberg-replication/scripts/bulk_load_self_managed_iceberg.py
  packages/iceberg-replication/scripts/cleanup_snapshots.py
  packages/iceberg-replication/scripts/create_staging_branch.py
  packages/iceberg-replication/scripts/iceberg_compact.py
  packages/iceberg-replication/scripts/sink.py
Due: none

CUMULUS-4891: Change docker build settings to try to fix timeout
  packages/iceberg-replication/scripts/build_bootstrap_image.sh
Due: none

CUMULUS-4891: Fix build script
  bamboo/build_and_deploy_iceberg_replication_images.sh
Due: none

CUMULUS-4891: Rename JSON template file to avoid linter issues.
  packages/iceberg-replication/resources/source_connector.json.template
Due: none

CUMULUS-4891: Only build image on merge to master
  .github/workflows/build-and-push-iceberg-replication-image.yml
Due: none

CUMULUS-4891: Add tag to replication image on build
  .github/workflows/build-and-push-iceberg-replication-image.yml
Due: none
