Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

CUMULUS-4954: mock athena tests
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint

CUMULUS-5012: Adding security reporting Guidance (#4570)
  CHANGELOG.md
  SECURITY.md
Due: none

CUMULUS-5316: Rename Iceberg API reconciliation reports and async operations route paths to match Cumulus API
  CHANGELOG.md
  bamboo/iceberg-api-integration-tests.sh
  packages/api/app/iceberg-routes.js
  packages/api/tests/docker/test-iceberg-api.js
Due: eslint

CUMULUS-5316: Minor updates
  docs/deployment/iceberg-api.md
  packages/api/app/README.md
  packages/api/app/iceberg-index.js
  packages/api/endpoints/iceberg-async-operations.js
  packages/api/endpoints/iceberg-reconciliation-reports.js
  packages/db/src/iceberg-connection.ts
Due: eslint, typescript-compile

CUMULUS-5316: Give AWS_PROFILE precedence over AWS_DEFAULT_PROFILE in cumulus aws client and Iceberg API; Update docs. (#4569)
  CHANGELOG.md
  bamboo/iceberg-api-integration-tests.sh
  docs/deployment/iceberg-api.md
  package.json
  packages/api/app/README.md
  packages/api/app/iceberg-index.js
  packages/api/app/iceberg-routes.js
  packages/api/endpoints/iceberg-async-operations.js
  packages/api/endpoints/iceberg-reconciliation-reports.js
  packages/api/tests/docker/test-iceberg-api.js
  packages/aws-client/src/client.ts
  packages/db/src/iceberg-connection.ts
  tf-modules/iceberg_api/README.md
Due: eslint, npm-package-json-lint, typescript-compile

fix: CVE-2026-44431 security vulnerability
  tasks/aws-api-proxy/uv.lock
Due: none

CUMULUS-5256: Add orphan file deletion script and changes to IAM role policies to allow setting up orphan cleanup on the Iceberg tables
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/variables.tf
  packages/iceberg-replication/scripts/bootstrap.sh
  packages/iceberg-replication/scripts/cleanup_snapshots.py
  packages/iceberg-replication/scripts/set_up_orphan_file_deletion.sh
  tf-modules/rds-iceberg-replication/iam.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/main.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/variables.tf
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/cluster/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/outputs.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-5256: Add CHANGELOG.md entry
  CHANGELOG.md
Due: none

CUMULUS-5256: Address PR coments
  packages/iceberg-replication/scripts/bootstrap.sh
  packages/iceberg-replication/scripts/bulk_load_self_managed_iceberg.py
  packages/iceberg-replication/scripts/set_up_orphan_file_deletion.sh
  tf-modules/rds-iceberg-replication/iam.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
Due: none

CUMULUS-5256: Add orphan file deletion setup script (#4572)
  CHANGELOG.md
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/variables.tf
  packages/iceberg-replication/scripts/bootstrap.sh
  packages/iceberg-replication/scripts/bulk_load_self_managed_iceberg.py
  packages/iceberg-replication/scripts/cleanup_snapshots.py
  packages/iceberg-replication/scripts/set_up_orphan_file_deletion.sh
  tf-modules/rds-iceberg-replication/iam.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/main.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/variables.tf
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/cluster/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/outputs.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4954: lint fix
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint

CUMULUS-5256 CHANGELOG update
  CHANGELOG.md
Due: none

CUMULUS-5256 formatting
  CHANGELOG.md
Due: none

CUMULUS-5256 spacing
  CHANGELOG.md
Due: none

CUMULUS-5256
  CHANGELOG.md
Due: none

bump lerna version to address vuln
  package.json
Due: npm-package-json-lint

add pacote override
  CHANGELOG.md
  package.json
Due: npm-package-json-lint

add pacote override (#4576)
  CHANGELOG.md
  package.json
Due: npm-package-json-lint

adjust changelog to reference correct CUMULUS-XXXX ticket ID
  CHANGELOG.md
Due: none

CUMULUS-5309 (#4571)
  CHANGELOG.md
  packages/aws-client/src/SQS.ts
  packages/aws-client/tests/test-SQS.js
Due: eslint, typescript-compile

update api docs
  packages/aws-client/README.md
Due: none

update CL
  CHANGELOG.md
Due: none

CUMULUS-4954: unlock rs dev state
  bamboo/bootstrap-tf-deployment.sh
Due: none

CUMULUS-4954: unlock dev stack
  bamboo/bootstrap-tf-deployment.sh
Due: none

cumulus-4954: unlock dev stack
  bamboo/bootstrap-tf-deployment.sh
Due: none

coverage numbers are wrong form merge?
  packages/db/.nycrc.json
Due: none

fix changelog typo on cumulus ticket number
  CHANGELOG.md
Due: none

fix changelog typo on cumulus ticket number (#4579)
  CHANGELOG.md
Due: none

adding mthorste's stack prefix to CI deployment
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/mi-ci-tf.tfvars
  example/deployments/data-persistence/mi-ci-tf.tfvars
  example/deployments/db-migration/mi-ci-tf.tfvars
Due: eslint

mitigating high-sev vulnerabilities
  CHANGELOG.md
  package.json
Due: npm-package-json-lint

fix: adding missing lookup to find TaskFailure events in step function execution history
  packages/api/lib/writeRecords/write-granules.js
  packages/message/src/StepFunctions.ts
  packages/message/tests/test-StepFunctions.js
Due: eslint, typescript-compile

updating changelog
  CHANGELOG.md
Due: none

removing unnecessary log statement
  packages/message/tests/test-StepFunctions.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

