Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

lint
  packages/api/tests/lambdas/test-sf-scheduler.js
Due: eslint

small name change
  packages/api/tests/lambdas/test-sf-scheduler.js
Due: eslint

changelog
  CHANGELOG.md
Due: none

linting
  packages/api/tests/lambdas/test-sf-scheduler.js
Due: eslint

small test
  example/deployments/cumulus/cumulus-from-pr-tf.tfvars
Due: none

updated CHANGELOG with CUMULUS-4352 changes
  CHANGELOG.md
Due: none

shouldn't have removed test
  packages/api/tests/lambdas/test-sf-scheduler.js
Due: eslint

pr feedback
  CHANGELOG.md
  packages/api/tests/lambdas/test-sf-scheduler.js
Due: eslint

new package.sh
  tasks/cnm-to-cma/bin/package.sh
  tasks/cnm-to-cma/package.json
Due: npm-package-json-lint

Updated ChangeLog to include info about the private_api_lambda_arn outputs Updated package.sh to use the node zip.js module
  CHANGELOG.md
  tasks/granule-invalidator/bin/package.sh
Due: none

Moved package script to package_uv.sh in the root `bin` directory Made associated package.json updates
  bin/package_uv.sh
  tasks/granule-invalidator/bin/package.sh
  tasks/granule-invalidator/package.json
Due: npm-package-json-lint

simplify sf-scheduler merge
  packages/api/lambdas/sf-scheduler.js
Due: eslint

lint
  packages/api/lambdas/sf-scheduler.js
Due: eslint

no undefined cmrProvider
  packages/api/lambdas/sf-scheduler.js
Due: eslint

Revert "no undefined cmrProvider"
  packages/api/lambdas/sf-scheduler.js
Due: eslint

alphabetizing things
  packages/db/src/types/collection.ts
  packages/types/api/collections.d.ts
Due: eslint, typescript-compile

build script checked in
  tasks/cnm-to-cma/bin/package.sh
  tasks/cnm-to-cma/deploy/lambda.tf
  tasks/cnm-to-cma/deploy/output.tf
  tasks/cnm-to-cma/package.json
Due: npm-package-json-lint

consolidated shared logic for token refresh functions in token.js and launchpadSaml.js
  packages/api/endpoints/launchpadSaml.js
  packages/api/endpoints/token.js
  packages/api/lib/token.js
Due: eslint

updated formatting
  packages/api/endpoints/launchpadSaml.js
Due: eslint

fixed linting errors
  packages/api/endpoints/launchpadSaml.js
  packages/api/endpoints/token.js
  packages/api/lib/token.js
Due: eslint

Create reweeden CI stack (#4245)
  bamboo/abort-if-skip-unit-tests.sh
  bamboo/audit.sh
  bamboo/select-stack.js
  bamboo/set-bamboo-env-variables.sh
  example/config.yml
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  example/data-persistence-tf/main.tf
  example/deployments/cumulus/reweeden-ci-tf.tfvars
  example/deployments/data-persistence/reweeden-ci-tf.tfvars
  example/deployments/db-migration/reweeden-ci-tf.tfvars
  example/rds-cluster-tf/main.tf
Due: eslint

granule search
  packages/db/src/lib/timestamp.ts
  packages/db/src/s3search/GranuleS3Search.ts
  packages/db/src/s3search/duckdbHelpers.ts
  packages/db/src/s3search/s3TableSchemas.ts
  packages/db/src/search/BaseSearch.ts
  packages/db/src/test-duckdb-utils.ts
  packages/db/src/translate/granules.ts
  packages/db/tests/s3search/test-CollectionS3Search.js
  packages/db/tests/s3search/test-GranuleS3Search.js
Due: eslint, typescript-compile

Fix/Update ElasticSearch Metrics parameter
  packages/api/endpoints/logs.js
Due: eslint

Add DeepWiki documentation badge to README
  README.md
Due: none

will this work?
  example/deployments/cumulus/ecarton2-tf.tfvars
  example/deployments/data-persistence/ecarton2-tf.tfvars
  example/deployments/db-migration/ecarton2-tf.tfvars
Due: none

Fix/Update ElasticSearch Metrics parameter
  CHANGELOG.md
Due: none

added states:StartExecution action to the <prefix>-steprole IAM role
  CHANGELOG.md
  tf-modules/ingest/iam.tf
Due: none

eyen ci stack
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/eyen-ci-tf.tfvars
  example/deployments/data-persistence/eyen-ci-tf.tfvars
  example/deployments/db-migration/eyen-ci-tf.tfvars
Due: eslint

Moved fast-xml-parser override to the root package.json
  package.json
  packages/aws-client/package.json
Due: npm-package-json-lint

Overriding vulnerable dependency in @aws-client/xml-builder
  packages/aws-client/package.json
Due: npm-package-json-lint

CUMULUS-4514 cherry pick
  CHANGELOG.md
Due: none

refact collectionsearch
  packages/db/src/s3search/CollectionS3Search.ts
Due: eslint, typescript-compile

warn what template looks like
  packages/api/lambdas/sf-scheduler.js
Due: eslint

typo in default provider
  packages/api/lambdas/sf-scheduler.js
Due: eslint

remove single quotes to overcome eslint warning
  bamboo/select-stack.js
Due: eslint

Update lambda.tf to use cnm_to_cma as log group
  tasks/cnm-to-cma/deploy/lambda.tf
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

