Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

security: harden CI Docker Compose credentials
  bamboo/docker-compose.yml
Due: none

cleaned up granule size variables and arguments
  tasks/add-missing-file-checksums/src/index.ts
Due: eslint, typescript-compile

Updated package.sh to be consistent with other tasks Added ${PWD} arg to package.json
  tasks/granule-invalidator/bin/package.sh
  tasks/granule-invalidator/package.json
Due: npm-package-json-lint

Temporarily allowed fast-xml-parser to unblock feature branch development
  audit-ci.json
Due: none

first commit
  CHANGELOG.md
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/src/echo10Modifiers.ts
  packages/cmrjs/src/ummgModifiers.ts
  tasks/update-granules-cmr-metadata-file-links/index.js
  tf-modules/cumulus/ingest.tf
  tf-modules/cumulus/variables.tf
  tf-modules/ingest/update-granules-cmr-metadata-file-links-task.tf
  tf-modules/ingest/variables.tf
Due: eslint, typescript-compile

Add .pyc files to gitignore
  .gitignore
Due: none

Tweak ruff linting rules
  pyproject.toml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add lint exceptions for `tests` directory as well
  pyproject.toml
Due: none

Add python cnm-response task
  tasks/cnm-response/.npmignore
  tasks/cnm-response/bin/package.sh
  tasks/cnm-response/package.json
  tasks/cnm-response/pyproject.toml
  tasks/cnm-response/schemas/config.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/input.json.template
  tasks/cnm-response/schemas/output.json
  tasks/cnm-response/schemas/output.json.template
  tasks/cnm-response/src/cnm_response/__init__.py
  tasks/cnm-response/src/cnm_response/create_cnm.py
  tasks/cnm-response/src/cnm_response/sender.py
  tasks/cnm-response/src/cnm_response/task.py
  tasks/cnm-response/src/cnm_response/types.py
  tasks/cnm-response/tests/__init__.py
  tasks/cnm-response/tests/conftest.py
  tasks/cnm-response/tests/integration_tests/__init__.py
  tasks/cnm-response/tests/integration_tests/test_lambda_handler.py
  tasks/cnm-response/tests/test_create_cnm.py
  tasks/cnm-response/tests/test_sender.py
  tasks/cnm-response/tests/test_task.py
  tasks/cnm-response/uv.lock
Due: npm-package-json-lint

Updated lambda path for granule-invalidator
  tasks/granule-invalidator/deploy/main.tf
Due: none

Trying to pin a non-vulnerable version of fast-xml-parser
  audit-ci.json
  packages/aws-client/package.json
Due: npm-package-json-lint

Using overrides for a more targeted override of fast-xml-parser
  packages/aws-client/package.json
Due: npm-package-json-lint

Overriding the dependency in xml-builder instead of core
  packages/aws-client/package.json
Due: npm-package-json-lint

Overriding vulnerable dependency in @aws-client/xml-builder
  packages/aws-client/package.json
Due: npm-package-json-lint

Moved fast-xml-parser override to the root package.json
  package.json
  packages/aws-client/package.json
Due: npm-package-json-lint

Updated select-stack to use the correct name
  bamboo/select-stack.js
Due: eslint

Added a Changelog entry
  CHANGELOG.md
Due: none

Removed unnecessary quotes in select-stack string
  bamboo/select-stack.js
Due: eslint

Update cumulus-std.tfvars
  example/deployments/data-persistence/cumulus-std.tfvars
Due: none

Update cumulus-std.tfvars
  example/deployments/cumulus/cumulus-std.tfvars
Due: none

feat: add opex workflow buckets
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
Due: none

build scripts
  tasks/cnm-to-cma/.gitignore
  tasks/cnm-to-cma/.nmpignore
  tasks/cnm-to-cma/README.md
  tasks/cnm-to-cma/bin/package.sh
  tasks/cnm-to-cma/package.json
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/uv.lock
Due: npm-package-json-lint

update async_operation_image_version to 55
  example/cumulus-tf/variables.tf
Due: none

Removed fast-xml-parser pin
  package.json
Due: npm-package-json-lint

Removed pin of non-vulnerable version since downstream dependencies have now been updated
  package.json
Due: npm-package-json-lint

Add terraform
  tasks/cnm-response/deploy/main.tf
  tasks/cnm-response/deploy/output.tf
  tasks/cnm-response/deploy/variables.tf
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/cnm-response.tf
  tf-modules/ingest/outputs.tf
Due: none

Update create-release-artifacts.sh
  bamboo/create-release-artifacts.sh
Due: none

Update workflow deployed CnmResponse lambda to avoid name conflict
  example/cumulus-tf/cnm_response_task.tf
Due: none

Added a precommit-ci check to the stack selection
  bamboo/select-stack.js
Due: eslint

Updated snake case to camel case
  bamboo/select-stack.js
Due: eslint

Added more thorough check for precommit bot commits
  bamboo/select-stack.js
Due: eslint

Added granule_invalidator to outputs of ingest and cumulus modules
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/outputs.tf
Due: none

add new env variable update_granule_identifiers to pass to updateCMRMetadata
  tasks/update-granules-cmr-metadata-file-links/index.js
  tf-modules/ingest/update-granules-cmr-metadata-file-links-task.tf
  tf-modules/ingest/variables.tf
Due: eslint

adding unit tests
  packages/cmrjs/src/echo10Modifiers.ts
  packages/cmrjs/tests/cmr-utils/test-echo10Modifiers.js
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/orca-copy-to-archive-adapter/schemas/input.json
  tasks/orca-copy-to-archive-adapter/schemas/output.json
  tasks/orca-recovery-adapter/schemas/input.json
  tasks/orca-recovery-adapter/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
Due: eslint, typescript-compile

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

