Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

update markdownlint-cli to patch a vulnerability in the dependency soml-toml
  package.json
Due: npm-package-json-lint

adding override to force package fix
  package.json
Due: npm-package-json-lint

correctly patching vulnerability
  package.json
Due: npm-package-json-lint

fix typo in package.json
  package.json
Due: npm-package-json-lint

fix typo
  package.json
Due: npm-package-json-lint

CSD: 258: Cumulus DB granules not recieving correct 'failed' status update on failed executions (#4582)
  CHANGELOG.md
  package.json
  packages/api/lib/writeRecords/write-granules.js
  packages/message/src/StepFunctions.ts
  packages/message/tests/test-StepFunctions.js
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4954: Updated Athena tests Updated getQueryResults get retrieve all results
  packages/aws-client/src/AthenaQueryClient.ts
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint, typescript-compile

changelog typo
  CHANGELOG.md
Due: none

CUMULUS-4954: lint fix
  packages/aws-client/src/AthenaQueryClient.ts
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint, typescript-compile

adding mthorste to dev-stack config files
  CHANGELOG.md
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/mi-ci-tf.tfvars
  example/deployments/data-persistence/mi-ci-tf.tfvars
  example/deployments/db-migration/mi-ci-tf.tfvars
Due: eslint

CUMULUS-4954: athena client test fix
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint

Introducing ssm parameter for iceberg api admin names
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
Due: none

Updating changelog entry
  CHANGELOG.md
Due: none

Redefining ssm parameter value such that it's value can be null on build
  tf-modules/cumulus/iceberg_api.tf
Due: none

updated parameter fields and changelog entry
  CHANGELOG.md
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
Due: none

post testing, moving ssm parameter from cumulus to iceberg module
  CHANGELOG.md
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: none

making an output for iceberg admin param
  tf-modules/iceberg_api/outputs.tf
Due: none

moving from iceberg-api to iceberg-replication due to cndld repo constaints
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/outputs.tf
  tf-modules/iceberg_api/variables.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/outputs.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

add icerberg admin list to SSM parameter
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/outputs.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

ssm client dependency added to package.json
  packages/aws-client/package.json
Due: npm-package-json-lint

add SSM to aws-client
  packages/aws-client/src/index.ts
  packages/aws-client/src/services.ts
  packages/aws-client/src/types.ts
Due: eslint, typescript-compile

implement SSM in aws-client
  packages/aws-client/src/SSM.ts
Due: eslint, typescript-compile

add tests for SSM cli
  packages/aws-client/tests/test-SSM.js
Due: eslint

get and return iceberg admin list from instance-meta api
  packages/api/endpoints/instance-meta.js
Due: eslint

polish code
  packages/api/endpoints/instance-meta.js
Due: eslint

testing added
  packages/api/tests/endpoints/test-instance-meta.js
Due: eslint

testing added for aws-cli/ssm
  packages/aws-client/src/test-utils.ts
  packages/aws-client/tests/test-services.js
Due: eslint, typescript-compile

CHANGELOG.md adjusted
  CHANGELOG.md
Due: none

clean up CHANGELOG.md
  CHANGELOG.md
Due: none

test: adding test cross cross account SQS queue triggering
  example/config.yml
  example/cumulus-tf/iam.tf
  example/cumulus-tf/variables.tf
  example/package.json
  example/spec/parallel/crossAccountSQSAccess/CrossAccountSQSAccessSpec.js
  package.json
Due: eslint, npm-package-json-lint

updating changelog
  CHANGELOG.md
Due: none

fix: add missing package that was causing a lint failure
  example/package.json
Due: npm-package-json-lint

removing ssm param empty check logic and adding default value
  tf-modules/rds-iceberg-replication/main.tf
Due: none

CUMULUS-4954: fix test
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint

fix lint issue
  packages/aws-client/tests/test-SSM.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

