Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

Updates per PR feedback
  example/spec/parallel/awsApiProxy/AwsApiProxyMultipleSpec.js
  example/spec/parallel/awsApiProxy/AwsApiProxySingleSpec.js
  tasks/aws-api-proxy/deploy/outputs.tf
  tasks/aws-api-proxy/deploy/terraform.tfvars
  tf-modules/cumulus-task/outputs.tf
  tf-modules/cumulus/outputs.tf
Due: eslint

audit
  package.json
  packages/api/package.json
Due: npm-package-json-lint

webpack config
  example/lambdas/s3AccessTest/webpack.config.js
  example/lambdas/snsS3Test/webpack.config.js
Due: eslint

CUMLUS-4564 Hotfix for Terraform Deployment of Granule Invalidator Workflow (#4269)
  CHANGELOG.md
  example/cumulus-tf/granule_invalidator_workflow.tf
  tasks/aws-api-proxy/package.json
  tasks/granule-invalidator/package.json
  tf-modules/cumulus/outputs.tf
Due: npm-package-json-lint

audit only root,npm install no concurrency
  audit-ci.json
  package.json
Due: npm-package-json-lint

Fix/Update JIRA ticket number
  CHANGELOG.md
Due: none

First stab at get_cnm task code and unit tests
  .gitignore
  tasks/get-cnm/README.md
  tasks/get-cnm/package.json
  tasks/get-cnm/pyproject.toml
  tasks/get-cnm/src/get_cnm/__init__.py
  tasks/get-cnm/src/get_cnm/get_cnm.py
  tasks/get-cnm/src/get_cnm/schemas/input_schema.json
  tasks/get-cnm/src/get_cnm/schemas/output_schema.json
  tasks/get-cnm/src/main.py
  tasks/get-cnm/tests/unit_tests/get-cnm/test_get_cnm.py
  tasks/get-cnm/uv.lock
Due: npm-package-json-lint

Added a README for task
  tasks/get-cnm/README.md
Due: none

mikedorfman/CUMULUS-4544 (#4275)
  CHANGELOG.md
  example/cumulus-tf/aws_api_proxy_workflow.asl.json
  example/cumulus-tf/aws_api_proxy_workflow.tf
  example/spec/helpers/workflowUtils.js
  example/spec/parallel/awsApiProxy/AwsApiProxyMultipleSpec.js
  example/spec/parallel/awsApiProxy/AwsApiProxySingleSpec.js
  packages/aws-client/src/SNS.ts
  packages/aws-client/src/SQS.ts
  tasks/aws-api-proxy/deploy/outputs.tf
  tasks/aws-api-proxy/deploy/terraform.tfvars
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/outputs.tf
Due: eslint, typescript-compile

initialize blokey CI stack
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/blokey-ci-tf.tfvars
  example/deployments/data-persistence/blokey-ci-tf.tfvars
  example/deployments/db-migration/blokey-ci-tf.tfvars
Due: eslint

Added integration tests Fixed ruff issues
  tasks/get-cnm/src/get_cnm/get_cnm.py
  tasks/get-cnm/tests/integration_tests/get-cnm/cnm.json
  tasks/get-cnm/tests/integration_tests/get-cnm/input.json
  tasks/get-cnm/tests/integration_tests/get-cnm/test_lambda_handler.py
  tasks/get-cnm/tests/unit_tests/get-cnm/test_get_cnm.py
Due: none

Removed an unnecessary logging statement
  tasks/get-cnm/src/get_cnm/get_cnm.py
Due: none

Several small fixes from copy-pasting Adding Terraform deploy code
  tasks/get-cnm/README.md
  tasks/get-cnm/deploy/README.md
  tasks/get-cnm/deploy/main.tf
  tasks/get-cnm/deploy/outputs.tf
  tasks/get-cnm/deploy/terraform.tfvars
  tasks/get-cnm/deploy/variables.tf
  tasks/get-cnm/pyproject.toml
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/outputs.tf
  tf-modules/ingest/python-lambdas.tf
Due: none

Updated Changelog Added get_cnm terraform for example tests
  CHANGELOG.md
  example/cumulus-tf/get_cnm_workflow.asl.json
  example/cumulus-tf/get_cnm_workflow.tf
Due: none

CUMULUS-4087 Support Automatic Extension of Cumulus Dashboard User Session (#4231)
  CHANGELOG.md
  packages/api/app/routes.js
  packages/api/endpoints/launchpadSaml.js
  packages/api/endpoints/token.js
  packages/api/lib/token.js
  packages/api/tests/endpoints/test-launchpadSaml.js
  packages/api/tests/endpoints/test-token.js
  packages/api/tests/lib/test-token.js
Due: eslint

markdownlint-cli upgrade fix lint precommit
  .markdownlint.json
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/configuration/server_access_logging.md
  docs/data-cookbooks/browse-generation.md
  docs/data-cookbooks/rolling-archive.md
  docs/deployment/README.md
  docs/deployment/choosing_configuring_rds.md
  docs/deployment/terraform-best-practices.md
  docs/faqs.md
  docs/features/replay-archived-sqs-messages.md
  docs/glossary.md
  docs/team.md
  docs/upgrade-notes/upgrade-rds.md
  docs/upgrade-notes/upgrade-task-file-schemas.md
  docs/workflows/lambda.md
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-index.js
  packages/api/tests/lambdas/test-process-s3-dead-letter-archive.js
  packages/api/tests/lambdas/test-replay-sqs-messages.js
  packages/api/tests/lambdas/test-write-db-dlq-records-to-s3.js
  packages/api/tests/lib/writeRecords/test-utils.js
  packages/api/tests/lib/writeRecords/test-write-execution.js
  website/sidebars.js
Due: eslint

cbanh/CUMULUS-4107 (#4254)
  CHANGELOG.md
  packages/api/endpoints/logs.js
Due: eslint

why point to another packages dependency
  packages/db/tests/translate/test-async-operations.js
Due: eslint

add updateGranuleIdentifiers to config correctly. update test from using env var to using config var
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint

Add logging to CnmResponse task
  tasks/cnm-response/src/cnm_response/task.py
Due: none

Rework task output to return 'granules' key directly
  docs/data-cookbooks/cnm-workflow.md
  example/cumulus-tf/cnm_workflow.asl.json
  tasks/cnm-response/README.md
  tasks/cnm-response/schemas/output.json
  tasks/cnm-response/schemas/output.json.template
  tasks/cnm-response/src/cnm_response/task.py
  tasks/cnm-response/tests/integration_tests/test_lambda_handler.py
Due: none

Include exception messages in workflow failures
  CHANGELOG.md
  example/cumulus-tf/browse_example.asl.json
  example/cumulus-tf/cnm_workflow.asl.json
  example/cumulus-tf/cookbook_browse_example_workflow.asl.json
  example/cumulus-tf/discover_and_queue_pdrs_with_child_workflow_meta_workflow.asl.json
  example/cumulus-tf/discover_and_queue_pdrs_with_execution_name_prefix_workflow.asl.json
  example/cumulus-tf/discover_and_queue_pdrs_workflow.asl.json
  example/cumulus-tf/discover_granules_to_throttled_queue_workflow.asl.json
  example/cumulus-tf/discover_granules_with_execution_name_prefix_workflow.asl.json
  example/cumulus-tf/discover_granules_workflow.asl.json
  example/cumulus-tf/ingest_granule_catch_duplicate_error_test_workflow.asl.json
  example/cumulus-tf/ingest_granule_with_queue_workflow.asl.json
  example/cumulus-tf/lzards_backup_fail_workflow.asl.json
  example/cumulus-tf/lzards_backup_workflow.asl.json
  example/cumulus-tf/orca_recovery_adapter_workflow.asl.json
  example/cumulus-tf/parse_pdr_workflow.asl.json
  example/cumulus-tf/publish_granule_with_requeue_workflow.asl.json
  example/cumulus-tf/publish_granule_workflow.asl.json
  example/cumulus-tf/python_processing_workflow.asl.json
  example/cumulus-tf/queue_granules_passthrough_workflow.asl.json
  example/cumulus-tf/queue_granules_workflow.asl.json
  example/cumulus-tf/sync_granule_catch_duplicate_error_test_workflow.asl.json
  example/cumulus-tf/sync_granule_workflow.asl.json
  example/cumulus-tf/update_cmr_access_constraints_workflow.asl.json
Due: none

Replace CumulusProcess with run_cumulus_task in task implementation
  tasks/cnm-response/pyproject.toml
  tasks/cnm-response/src/cnm_response/__init__.py
  tasks/cnm-response/src/cnm_response/task.py
  tasks/cnm-response/uv.lock
Due: none

Replace CnmResponse in example with cumulus core version
  CHANGELOG.md
  docs/data-cookbooks/cnm-workflow.md
  docs/data-cookbooks/error-handling.md
  example/cumulus-tf/cnm_response_task.tf
  example/cumulus-tf/cnm_workflow.asl.json
  example/cumulus-tf/cnm_workflow.tf
  example/spec/helpers/kinesisHelpers.js
  example/spec/parallel/cnmWorkflow/KinesisTestTriggerSpec.js
  example/spec/parallel/cnmWorkflow/KinesisTestTriggerWithUniqueGranuleIdsSpec.js
  tasks/cnm-response/schemas/config.json
  tasks/cnm-response/schemas/output.json
  tasks/cnm-response/schemas/output.json.template
  tasks/cnm-response/src/cnm_response/task.py
  tasks/cnm-response/tests/conftest.py
  tasks/cnm-response/tests/integration_tests/test_lambda_handler.py
Due: eslint

Create task README.md
  tasks/cnm-response/README.md
Due: none

CUMULUS-4472: change knex signature and param again, add tests for pMap continuing process for non error granules, update to nil check
  packages/api/endpoints/granules.js
  packages/api/lib/ingest.js
  packages/api/lib/request.js
  packages/api/tests/endpoints/granules/test-bulk-granules.js
  packages/api/tests/lambdas/test-bulk-operation.js
  packages/api/tests/lib/test-ingest.js
Due: eslint

update dependencies @cumulus package
  tasks/cnm-response/package.json
  tasks/cnm-to-cma/package.json
Due: npm-package-json-lint

minimatch has multiple issue
  audit-ci.json
Due: none

Update nsidc-cumulus-prod.tfvars
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
Due: none

CUMULUS-4472: modify test for pMap processing w errors
  packages/api/tests/lambdas/test-bulk-operation.js
Due: eslint

resolve package path
  packages/ingest/test/test-url-path-template.js
Due: eslint

Improves testing and adds tooling
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: none

Add pdr-cleanup and initialize task dir
  tasks/pdr-cleanup/README.md
  tasks/pdr-cleanup/pdr-cleanup.py
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/uv.lock
Due: none

Improvements to cleanup logic
  tasks/pdr-cleanup/pdr_cleanup.py
Due: none
