Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md to add migration notes for CnmResponse task (#4267)
  CHANGELOG.md
Due: none

Adds Filter Granule task for PDR workflow
  pyproject.toml
  tasks/filter-granules/README.md
  tasks/filter-granules/package.json
  tasks/filter-granules/pyproject.toml
  tasks/filter-granules/schemas/config.json
  tasks/filter-granules/schemas/input.json
  tasks/filter-granules/schemas/output.json
  tasks/filter-granules/src/filter_granules/__init__.py
  tasks/filter-granules/src/filter_granules/task.py
  tasks/filter-granules/tests/__init__.py
  tasks/filter-granules/tests/unit_tests/__init__.py
  tasks/filter-granules/tests/unit_tests/filter_granules/__init__.py
  tasks/filter-granules/tests/unit_tests/filter_granules/test_task.py
  tasks/filter-granules/uv.lock
Due: npm-package-json-lint

Updates CHANGELOG
  CHANGELOG.md
Due: none

CUMULUS-4395 CnmResponse terraform (#4239)
  CHANGELOG.md
  example/cumulus-tf/cnm_response_task.tf
  tasks/cnm-response/bin/package.sh
  tasks/cnm-response/deploy/main.tf
  tasks/cnm-response/deploy/output.tf
  tasks/cnm-response/deploy/variables.tf
  tasks/cnm-response/deploy/versions.tf
  tasks/cnm-response/package.json
  tasks/cnm-to-cma/README.md
  tasks/cnm-to-cma/deploy/lambda.tf
  tasks/cnm-to-cma/deploy/variable.tf
  tasks/cnm-to-cma/deploy/variables.tf
  tasks/cnm-to-cma/deploy/versions.tf
  tasks/cnm-to-cma/package.json
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/ruff.toml
  tasks/cnm-to-cma/src/cnm_to_cma/__init__.py
  tasks/cnm-to-cma/src/cnm_to_cma/cnm_to_cma.py
  tasks/cnm-to-cma/src/cnm_to_cma/models_cnm.py
  tasks/cnm-to-cma/src/cnm_to_cma/models_granule.py
  tasks/cnm-to-cma/src/cnm_to_cma/schemas/config.json
  tasks/cnm-to-cma/src/cnm_to_cma/schemas/input.json
  tasks/cnm-to-cma/src/cnm_to_cma/schemas/output.json
  tasks/cnm-to-cma/tests/test_cnm_to_cma.py
  tasks/cnm-to-cma/uv.lock
  tasks/granule-invalidator/deploy/outputs.tf
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/cnm-response.tf
  tf-modules/ingest/outputs.tf
Due: npm-package-json-lint

CUMULUS-4352: implemented multipart downloads in AddMissingFileChecksum core task (#4211)
  CHANGELOG.md
  tasks/add-missing-file-checksums/src/index.ts
  tasks/add-missing-file-checksums/src/types.ts
  tasks/add-missing-file-checksums/tests/test-index.ts
Due: eslint, typescript-compile

CUMULUS-4556 -- Update AJV/minification/CI fixes (#4266)
  CHANGELOG.md
  audit-ci.json
  example/lambdas/s3AccessTest/package.json
  example/lambdas/snsS3Test/package.json
  example/package.json
  lambdas/db-provision-user-database/package.json
  packages/api-client/package.json
  packages/api/ecs/async-operation/package.json
  packages/api/lambdas/message-consumer.js
  packages/api/lib/schema.js
  packages/api/models/base.js
  packages/api/package.json
  packages/api/tests/endpoints/test-rules.js
  packages/api/tests/lambdas/test-kinesis-consumer.js
  packages/async-operations/package.json
  packages/aws-client/package.json
  packages/common/package.json
  packages/db/package.json
  packages/es-client/package.json
  packages/integration-tests/package.json
  packages/schemas/package.json
  packages/sftp-client/src/index.ts
  packages/sftp-client/tests/test-index.js
  scripts/run_ci_api_unit-coverage.sh
  scripts/run_ci_unit_coverage.sh
  tasks/change-granule-collection-s3/package.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/config.json
  tasks/move-granules/schemas/output.json
  tasks/queue-granules/schemas/input.json
  tasks/send-pan/schemas/input.json
  tasks/sync-granule/schemas/config.json
  tasks/sync-granule/schemas/output.json
  tf-modules/internal/cumulus-test-cleanup/package.json
Due: eslint, npm-package-json-lint, typescript-compile

mikedorfman/CUMULUS-4542 (#4258)
  CHANGELOG.md
  tasks/aws-api-proxy/README.md
  tasks/aws-api-proxy/package.json
  tasks/aws-api-proxy/pyproject.toml
  tasks/aws-api-proxy/src/aws_api_proxy/__init__.py
  tasks/aws-api-proxy/src/aws_api_proxy/aws_api_proxy.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/output_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/output_schema.py
  tasks/aws-api-proxy/src/main.py
  tasks/aws-api-proxy/tests/conftest.py
  tasks/aws-api-proxy/tests/integration_tests/aws_api_proxy/test_lambda_handler.py
  tasks/aws-api-proxy/tests/unit_tests/aws_api_proxy/test_aws_api_proxy.py
  tasks/aws-api-proxy/uv.lock
  tasks/granule-invalidator/pyproject.toml
Due: npm-package-json-lint

CUMULUS-4472: fix types used, set up knex client in case not passed in
  packages/api/endpoints/granules.js
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/ingest.js
  packages/api/tests/lib/test-ingest.js
  packages/db/src/lib/execution.ts
Due: eslint, typescript-compile

add update_granule_identifiers to tfvars example
  example/cumulus-tf/terraform.tfvars.example
Due: none

CSD-85: v21 update-granules-cmr-metadata-file-links DataGranule Requirements Bug (#4238)
  CHANGELOG.md
  example/spec/parallel/ingestGranule/IngestGranuleSuccessSpec.js
  example/spec/parallel/ingestGranule/IngestGranuleWithUniqueGranuleIdsSpec.js
  example/spec/parallel/ingestGranule/IngestUMMGSuccessSpec.js
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/src/echo10Modifiers.ts
  packages/cmrjs/src/ummgModifiers.ts
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-echo10Modifiers.js
  packages/cmrjs/tests/cmr-utils/test-reconcilecmrmetadata.js
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
  packages/cmrjs/tests/cmr-utils/test-updateCMRMetadata.js
  tasks/update-granules-cmr-metadata-file-links/README.md
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/tests/data/meta-exclude-data-granule.xml
  tasks/update-granules-cmr-metadata-file-links/tests/data/ummg-meta-exclude-data-granule.json
  tasks/update-granules-cmr-metadata-file-links/tests/test-exclude-data-granule.js
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint, typescript-compile

Added AWS proxy integration tests and supporting updates to aws-client
  example/spec/helpers/workflowUtils.js
  example/spec/parallel/awsApiProxy/AwsApiProxyMultipleSpec.js
  example/spec/parallel/awsApiProxy/AwsApiProxySingleSpec.js
  example/spec/parallel/awsApiProxy/AwsApiProxySpec.js
  packages/aws-client/src/SNS.ts
  packages/aws-client/src/SQS.ts
  tf-modules/ingest/python_lambda/variables.tf
Due: eslint, typescript-compile

Moved python_lambda and renamed it Added terraform and aws-provider specs to cumulus-task module per tflint
  tf-modules/cumulus-task/main.tf
  tf-modules/cumulus-task/outputs.tf
  tf-modules/cumulus-task/variables.tf
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/outputs.tf
  tf-modules/ingest/python_lambda/outputs.tf
  tf-modules/ingest/python_lambdas.tf
Due: none

Update nsidc-cumulus-prod.tfvars
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
Due: none

Updates per PR feedback
  tasks/aws-api-proxy/deploy/README.md
  tasks/aws-api-proxy/deploy/main.tf
  tasks/aws-api-proxy/deploy/terraform.tfvars
  tasks/aws-api-proxy/deploy/variables.tf
  tf-modules/cumulus-task/README.md
  tf-modules/cumulus-task/main.tf
  tf-modules/cumulus-task/variables.tf
  tf-modules/ingest/python-lambdas.tf
Due: none

Updated the ChangeLog
  CHANGELOG.md
Due: none

Fixed linting issue
  packages/aws-client/src/SQS.ts
Due: eslint, typescript-compile

fix bootstrap
  bamboo/Dockerfile-ci
  bamboo/cleanup-integration-tests.sh
  example/lambdas/ftpPopulateTestLambda/package.json
  example/lambdas/python-processing/README.md
  example/lambdas/python-reference-activity/README.md
  example/lambdas/python-reference-task/README.md
  example/lambdas/s3AccessTest/package.json
  example/lambdas/snsS3Test/package.json
  lambdas/db-migration/webpack.config.js
  package.json
  packages/api/lambdas/sf-starter.js
  packages/api/package.json
  packages/api/webpack.config.js
  packages/cmrjs/src/ummgModifiers.ts
  packages/message/package.json
  packages/message/src/DeadLetterMessage.ts
  scripts/generate_records/package.json
  scripts/unit-error-analysis/package.json
  tasks/add-missing-file-checksums/src/index.ts
  tasks/sync-granule/GranuleFetcher.js
Due: eslint, npm-package-json-lint, typescript-compile

Added aws_api_proxy outputs in ingest and cumulus
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/outputs.tf
Due: none

Updates per PR comments
  tasks/aws-api-proxy/deploy/README.md
  tasks/aws-api-proxy/deploy/main.tf
  tasks/aws-api-proxy/deploy/variables.tf
  tf-modules/cumulus-task/main.tf
  tf-modules/ingest/python-lambdas.tf
Due: none

Updated to merge tags in a local and reference them in both the cloudwatch log group and the lambda
  tf-modules/cumulus-task/main.tf
Due: none

Fixed issue with aws region reference
  tasks/aws-api-proxy/deploy/main.tf
Due: none

Added outputs.tf to aws-api-proxy deploy
  tasks/aws-api-proxy/deploy/outputs.tf
Due: none

mikedorfman/CUMULUS-4543 (#4259)
  CHANGELOG.md
  tasks/aws-api-proxy/deploy/README.md
  tasks/aws-api-proxy/deploy/main.tf
  tasks/aws-api-proxy/deploy/terraform.tfvars
  tasks/aws-api-proxy/deploy/variables.tf
  tf-modules/cumulus-task/README.md
  tf-modules/cumulus-task/main.tf
  tf-modules/cumulus-task/outputs.tf
  tf-modules/cumulus-task/variables.tf
  tf-modules/ingest/python-lambdas.tf
Due: none

Updated broken outputs
  tasks/aws-api-proxy/deploy/outputs.tf
Due: none

fix deployment
  CHANGELOG.md
  example/cumulus-tf/granule_invalidator_workflow.tf
  example/cumulus-tf/lambdas.tf
  example/cumulus-tf/modules/s3_access_test/main.tf
  tf-modules/cumulus/outputs.tf
Due: none

granule-invalidator-task 21.2.0 to 21.3.1 can it fix lint
  tasks/granule-invalidator/package.json
Due: npm-package-json-lint

fix another version
  tasks/aws-api-proxy/package.json
Due: npm-package-json-lint

delete prepare
  tasks/aws-api-proxy/package.json
Due: npm-package-json-lint

changelog
  CHANGELOG.md
Due: none

remove build-config.json and address code consistency comments
  tasks/cma-to-cnm/README.md
  tasks/cma-to-cnm/build-config.json
  tasks/cma-to-cnm/deploy/main.tf
  tasks/cma-to-cnm/deploy/variables.tf
  tasks/cma-to-cnm/src/cma_to_cnm/cma_to_cnm.py
  tasks/cma-to-cnm/src/schemas/config.json
  tasks/cma-to-cnm/src/schemas/input.json
  tasks/cma-to-cnm/tests/test_cma_to_cnm.py
  tasks/cma-to-cnm/uv.lock
Due: none

moved private_api_lambda_arn output to after archive_api_redirect_uri output
  tf-modules/cumulus/outputs.tf
Due: none

updated incorrect package versions to 21.3.1
  tasks/aws-api-proxy/package.json
  tasks/granule-invalidator/package.json
Due: npm-package-json-lint
