Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

add lerna run prepublish to bootstrap
  package.json
Due: npm-package-json-lint

CSD-100: Lambdas reporting InvalidSignatureException errors (#4375)
  CHANGELOG.md
  package.json
  packages/api/app/index.js
  packages/api/tests/app/test-app-secrets.js
Due: eslint, npm-package-json-lint

try this in ci
  packages/api/app/index.js
Due: eslint

CUMULUS-4606: Add prefix to IAM resources
  example/rds-iceberg-replication-tf/outputs.tf
  tf-modules/rds-iceberg-replication/iam.tf
Due: none

CUMULUS-4606: Update CHANGELOG
  CHANGELOG.md
Due: none

small website/package.json update
  website/package.json
Due: none

Cumulus 4606 add prefix to iam resources (#4378)
  CHANGELOG.md
  example/rds-iceberg-replication-tf/outputs.tf
  tf-modules/rds-iceberg-replication/iam.tf
Due: none

small website/package.json update (#4379)
  website/package.json
Due: none

small update
  CHANGELOG.md
Due: none

initial bootstrap schema files
  packages/db/src/migrations-bootstrap/010_async_operations.ts
  packages/db/src/migrations-bootstrap/020_collections.ts
  packages/db/src/migrations-bootstrap/030_executions.ts
  packages/db/src/migrations-bootstrap/040_providers.ts
  packages/db/src/migrations-bootstrap/050_rules.ts
  packages/db/src/migrations-bootstrap/060_pdrs.ts
  packages/db/src/migrations-bootstrap/070_granules.ts
  packages/db/src/migrations-bootstrap/080_files.ts
  packages/db/src/migrations-bootstrap/090_granules_executions.ts
  packages/db/src/migrations-bootstrap/100_reconciliation_reports.ts
Due: eslint, typescript-compile

pdrs
  packages/db/src/migrations-bootstrap/060_pdrs.ts
Due: eslint, typescript-compile

first commit
  docs/tasks.md
  website/package.json
Due: none

fixing linting issue
  docs/tasks.md
Due: none

overriding webpack for website/package.json
  website/package.json
Due: none

moving overrides down
  website/package.json
Due: none

dockerfile update for new image
  bamboo/Dockerfile-ci
Due: none

updated bootstrap files not partition
  packages/db/src/migrations-bootstrap/010_async_operations.ts
  packages/db/src/migrations-bootstrap/020_collections.ts
  packages/db/src/migrations-bootstrap/030_executions.ts
  packages/db/src/migrations-bootstrap/040_providers.ts
  packages/db/src/migrations-bootstrap/050_rules.ts
  packages/db/src/migrations-bootstrap/060_pdrs.ts
  packages/db/src/migrations-bootstrap/070_granules.ts
  packages/db/src/migrations-bootstrap/080_files.ts
  packages/db/src/migrations-bootstrap/090_granules_executions.ts
  packages/db/src/migrations-bootstrap/100_reconciliation_reports.ts
Due: eslint, typescript-compile

update db-migration take use_bootstrap
  lambdas/db-migration/main.tf
  lambdas/db-migration/package.json
  lambdas/db-migration/src/index.ts
  lambdas/db-migration/variables.tf
  lambdas/db-migration/webpack.config.js
Due: eslint, npm-package-json-lint, typescript-compile

Docusaurus fix 21.3.3 (#4397)
  docs/tasks.md
  website/package.json
Due: none

changelog updates for release-21.3.3
  CHANGELOG.md
Due: none

partitioning tables with cumulus_id
  packages/db/src/migrations-bootstrap/030_executions.ts
  packages/db/src/migrations-bootstrap/030_executions.ts.nopartition
  packages/db/src/migrations-bootstrap/070_granules.ts
  packages/db/src/migrations-bootstrap/070_granules.ts.nopartition
  packages/db/src/migrations-bootstrap/080_files.ts
  packages/db/src/migrations-bootstrap/080_files.ts.nopartition
Due: eslint, typescript-compile

changelog
  CHANGELOG.md
Due: none

remaining updates
  CHANGELOG.md
Due: none

docusaurus master fix
  CHANGELOG.md
  docs/tasks.md
  website/package.json
Due: none

add files to migrations dir
  packages/db/src/migrations-bootstrap/030_executions.ts.created_at
  packages/db/src/migrations-bootstrap/070_granules.ts.collection_cumulus_id
  packages/db/src/migrations-bootstrap/080_files.ts.granule_cumulus_id
  packages/db/src/migrations/010_async_operations.ts
  packages/db/src/migrations/020_collections.ts
  packages/db/src/migrations/030_executions.ts
  packages/db/src/migrations/040_providers.ts
  packages/db/src/migrations/050_rules.ts
  packages/db/src/migrations/060_pdrs.ts
  packages/db/src/migrations/070_granules.ts
  packages/db/src/migrations/080_files.ts
  packages/db/src/migrations/090_granules_executions.ts
  packages/db/src/migrations/100_reconciliation_reports.ts
Due: eslint, typescript-compile

Fix for all digits checksum PDR
  packages/pvl/lib/models.js
  packages/test-data/pdrs/MOD09GQ-with-decimal-MD5-checksum.PDR
  tasks/parse-pdr/index.js
  tasks/parse-pdr/tests/test-parse-pdr.js
Due: eslint

docusaurus 20.3.x fix
  website/package.json
Due: none

docusaurus 20.3.x fix (#4404)
  website/package.json
Due: none

moving changelog entry
  CHANGELOG.md
Due: none

updated regex for lint check
  tasks/parse-pdr/index.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

