Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

Fixup
  CHANGELOG.md
Due: none

Fixup x2
  CHANGELOG.md
Due: none

Add missing commits
  tasks/change-granule-collection-s3/package.json
  tasks/queue-granules/schemas/input.json
Due: npm-package-json-lint

Add stream error listener/handler
  packages/sftp-client/src/index.ts
Due: eslint, typescript-compile

Add units demonstrating the event catch case
  packages/sftp-client/tests/test-index.js
Due: eslint

Fix lodash/noop import
  packages/sftp-client/tests/test-index.js
Due: eslint

Update json-schema-to-typescript ^15.0.4
  packages/schemas/package.json
Due: npm-package-json-lint

updated unit tests to check updateHashFromBody branches
  tasks/add-missing-file-checksums/src/index.ts
  tasks/add-missing-file-checksums/tests/test-index.ts
Due: eslint, typescript-compile

CUMULUS-4556 -- Update AJV/minification/CI fixes (#4266)
  CHANGELOG.md
  audit-ci.json
  example/lambdas/s3AccessTest/package.json
  example/lambdas/snsS3Test/package.json
  example/package.json
  lambdas/db-provision-user-database/package.json
  packages/api-client/package.json
  packages/api/ecs/async-operation/package.json
  packages/api/lambdas/message-consumer.js
  packages/api/lib/schema.js
  packages/api/models/base.js
  packages/api/package.json
  packages/api/tests/endpoints/test-rules.js
  packages/api/tests/lambdas/test-kinesis-consumer.js
  packages/async-operations/package.json
  packages/aws-client/package.json
  packages/common/package.json
  packages/db/package.json
  packages/es-client/package.json
  packages/integration-tests/package.json
  packages/schemas/package.json
  packages/sftp-client/src/index.ts
  packages/sftp-client/tests/test-index.js
  scripts/run_ci_api_unit-coverage.sh
  scripts/run_ci_unit_coverage.sh
  tasks/change-granule-collection-s3/package.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/config.json
  tasks/move-granules/schemas/output.json
  tasks/queue-granules/schemas/input.json
  tasks/send-pan/schemas/input.json
  tasks/sync-granule/schemas/config.json
  tasks/sync-granule/schemas/output.json
  tf-modules/internal/cumulus-test-cleanup/package.json
Due: eslint, npm-package-json-lint, typescript-compile

remove unnecessary export
  packages/db/src/search/ExecutionSearch.ts
  packages/db/src/search/PdrSearch.ts
  packages/db/src/search/RuleSearch.ts
Due: eslint, typescript-compile

updated changelog
  CHANGELOG.md
Due: none

move CUMULUS-4564 changelog entry under unreleased fixed section
  CHANGELOG.md
Due: none

int test fixes
  example/spec/parallel/ingestGranule/IngestGranuleSuccessSpec.js
  example/spec/parallel/ingestGranule/IngestGranuleWithUniqueGranuleIdsSpec.js
  example/spec/parallel/ingestGranule/IngestUMMGSuccessSpec.js
Due: eslint

fixing int tests
  example/spec/parallel/ingestGranule/IngestGranuleSuccessSpec.js
  example/spec/parallel/ingestGranule/IngestGranuleWithUniqueGranuleIdsSpec.js
  example/spec/parallel/ingestGranule/IngestUMMGSuccessSpec.js
Due: eslint

First stab at aws_api_proxy integration tests
  example/cumulus-tf/aws_api_proxy_workflow.asl.json
  example/cumulus-tf/aws_api_proxy_workflow.tf
  example/spec/parallel/awsApiProxy/AwsApiProxySpec.js
Due: eslint

Added aws_api_proxy_task as an output to both the ingest and cumulus module
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/outputs.tf
Due: none

Update updateGranuleStatusToQueued unit
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

Update CL
  CHANGELOG.md
Due: none

switching DayNightFlag to lowercase in all instances
  packages/cmrjs/src/ummgModifiers.ts
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
  packages/cmrjs/tests/cmr-utils/test-updateCMRMetadata.js
Due: eslint, typescript-compile

Updated changelog
  CHANGELOG.md
Due: none

mikedorfman/CUMULUS-4542 (#4258)
  CHANGELOG.md
  tasks/aws-api-proxy/README.md
  tasks/aws-api-proxy/package.json
  tasks/aws-api-proxy/pyproject.toml
  tasks/aws-api-proxy/src/aws_api_proxy/__init__.py
  tasks/aws-api-proxy/src/aws_api_proxy/aws_api_proxy.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/output_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/output_schema.py
  tasks/aws-api-proxy/src/main.py
  tasks/aws-api-proxy/tests/conftest.py
  tasks/aws-api-proxy/tests/integration_tests/aws_api_proxy/test_lambda_handler.py
  tasks/aws-api-proxy/tests/unit_tests/aws_api_proxy/test_aws_api_proxy.py
  tasks/aws-api-proxy/uv.lock
  tasks/granule-invalidator/pyproject.toml
Due: npm-package-json-lint

Removed accidentally-added CHANGELOG entry
  CHANGELOG.md
Due: none

Fixed incorrect reference in outputs
  tf-modules/ingest/outputs.tf
Due: none

Updated so handler is a variable with a default of main.handler
  tf-modules/ingest/python_lambda/main.tf
  tf-modules/ingest/python_lambda/variables.tf
Due: none

Second pass at integration tests
  example/cumulus-tf/aws_api_proxy_workflow.asl.json
  example/spec/parallel/awsApiProxy/AwsApiProxySpec.js
Due: eslint

better DataGranule testing
  CHANGELOG.md
  example/spec/parallel/ingestGranule/IngestGranuleSuccessSpec.js
  example/spec/parallel/ingestGranule/IngestGranuleWithUniqueGranuleIdsSpec.js
  example/spec/parallel/ingestGranule/IngestUMMGSuccessSpec.js
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/schemas/output.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/orca-copy-to-archive-adapter/schemas/input.json
  tasks/orca-copy-to-archive-adapter/schemas/output.json
  tasks/orca-recovery-adapter/schemas/input.json
  tasks/orca-recovery-adapter/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/tests/test-exclude-data-granule.js
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint

reverting pre-commit leftover changes
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/output.json
  tasks/sync-granule/schemas/output.json
Due: none

Fixed example-stack reference to new cumulus output
  example/cumulus-tf/aws_api_proxy_workflow.tf
Due: none

CUMULUS-4352: implemented multipart downloads in AddMissingFileChecksum core task (#4211)
  CHANGELOG.md
  tasks/add-missing-file-checksums/src/index.ts
  tasks/add-missing-file-checksums/src/types.ts
  tasks/add-missing-file-checksums/tests/test-index.ts
Due: eslint, typescript-compile

upgrade lerna workspaces uuid update
  lerna.json
  package.json
  packages/api/package.json
  packages/async-operations/package.json
  packages/common/package.json
  packages/db/package.json
  packages/integration-tests/package.json
  packages/launchpad-auth/package.json
  tasks/sync-granule/package.json
Due: npm-package-json-lint

added changelog entry for private_api_lambda_arn output in the added section of the changelog
  CHANGELOG.md
Due: none
