Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

keep it optional in types, but mandatory in schedule-sf for compat with other pieces
  packages/api/lambdas/sf-scheduler.js
  packages/db/src/migrations/20260205224950_add_collections_cmr_provider.ts
  packages/db/src/types/collection.ts
  packages/types/api/collections.d.ts
Due: eslint, typescript-compile

fix tests
  packages/api/tests/lambdas/test-sf-scheduler.js
Due: eslint

linting
  packages/api/lambdas/sf-scheduler.js
  packages/api/tests/lambdas/test-sf-scheduler.js
Due: eslint

Update tasks/get-cnm/deploy/main.tf
  tasks/get-cnm/deploy/main.tf
Due: none

optional section
  docs/upgrade-notes/upgrade-task-file-schemas.md
Due: none

looking at index creation
  packages/db/src/migrations/20260205224950_add_collections_cmr_provider.ts
Due: eslint, typescript-compile

Use Cumulus logger, adjusted schema based on feedback
  tasks/add-input-granules/README.md
  tasks/add-input-granules/schemas/input.json
  tasks/add-input-granules/src/add_input_granules/task.py
Due: none

First stab at requirements export
  .github/workflows/export-requirements.yml
Due: none

WIP: Initial dnorris CI stack (no CHANGELOG change yet)
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/dnorris-ci-tf.tfvars
  example/deployments/data-persistence/dnorris-ci-tf.tfvars
  example/deployments/db-migration/dnorris-ci-tf.tfvars
Due: eslint

Added fetch-depth of 0 for git checkout
  .github/workflows/export-requirements.yml
Due: none

Updated uv.lock
  tasks/aws-api-proxy/uv.lock
Due: none

Updated requirements export
  .github/workflows/export-requirements.yml
Due: none

Updated github actions requirements pull
  .github/workflows/export-requirements.yml
Due: none

Fixed issues with requirements export
  .github/workflows/export-requirements.yml
Due: none

More tweaks to requirements generation
  .github/workflows/export-requirements.yml
Due: none

lint
  packages/db/src/migrations/20260205224950_add_collections_cmr_provider.ts
Due: eslint, typescript-compile

Revert "Update requirements.txt from uv.lock changes"
  .github/workflows/export-requirements.yml
Due: none

Revert "Update requirements.txt from uv.lock changes"
  example/lambdas/python-processing/requirements.txt
  example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-task/requirements.txt
  tasks/aws-api-proxy/requirements.txt
  tasks/cnm-response/requirements.txt
  tasks/cnm-to-cma/requirements.txt
Due: none

More tweaking of gh actions
  .github/workflows/export-requirements.yml
Due: none

Reverted gh actions change
  .github/workflows/export-requirements.yml
Due: none

More testing
  .github/workflows/export-requirements.yml
Due: none

Dummy update to trigger GH actions
  tasks/aws-api-proxy/uv.lock
Due: none

CUMULUS-4472: fix lint error
  packages/api/tests/lambdas/test-bulk-operation.js
Due: eslint

Revert "Update requirements.txt from uv.lock changes"
  tasks/aws-api-proxy/requirements.txt
Due: none

Specified to only run requirements rebuild when uv.lock files are changed
  .github/workflows/export-requirements.yml
Due: none

refactor test code for readability fix unintended removal of excludeDataGranule docstring
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint

Regenerated all uv.lock files to trigger requirements.txt generation
  .github/workflows/export-requirements.yml
  example/lambdas/python-processing/uv.lock
  example/lambdas/python-reference-activity/uv.lock
  example/lambdas/python-reference-task/uv.lock
  tasks/cnm-response/uv.lock
  tasks/cnm-to-cma/uv.lock
  tasks/granule-invalidator/uv.lock
  tasks/pdr-cleanup/uv.lock
  uv.lock
Due: none

Remvoed temporarily-added audit-ci.json exceptions
  audit-ci.json
Due: none

Bumped gh workflow file to trigger CI
  .github/workflows/export-requirements.yml
Due: none

Updated changelog
  CHANGELOG.md
Due: none

Updated paths parameter in gh workflow
  .github/workflows/export-requirements.yml
Due: none

Revert "Update requirements.txt from uv.lock changes"
  example/lambdas/python-processing/requirements.txt
  example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-task/requirements.txt
  tasks/cnm-response/requirements.txt
  tasks/cnm-to-cma/requirements.txt
  tasks/granule-invalidator/requirements.txt
  tasks/pdr-cleanup/requirements.txt
Due: none

Revert "Regenerated all uv.lock files to trigger requirements.txt generation"
  .github/workflows/export-requirements.yml
  example/lambdas/python-processing/uv.lock
  example/lambdas/python-reference-activity/uv.lock
  example/lambdas/python-reference-task/uv.lock
  tasks/cnm-response/uv.lock
  tasks/cnm-to-cma/uv.lock
  tasks/granule-invalidator/uv.lock
  tasks/pdr-cleanup/uv.lock
  uv.lock
Due: none

default null intemplate
  tf-modules/ingest/message_template.tf
Due: none

Updated to use the nasa version of cumulus-api Updated lockfiles for granule-invalidator and get-cnm
  tasks/get-cnm/pyproject.toml
  tasks/get-cnm/uv.lock
  tasks/granule-invalidator/pyproject.toml
  tasks/granule-invalidator/uv.lock
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

