Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

remaking docs
  packages/aws-client/README.md
  packages/checksum/README.md
  packages/cmr-client/API.md
  packages/collection-config-store/docs/API.md
  packages/common/docs/API.md
  packages/integration-tests/README.md
  packages/launchpad-auth/README.md
  packages/message/README.md
  packages/oauth-client/README.md
  website/versioned_docs/version-v22.2.4/features/iceberg.md
  website/versioned_sidebars/version-v22.2.4-sidebars.json
Due: none

fix doc comment -I -> -i
  docs/development/release.md
Due: none

detach partition no cascade
  packages/db/src/migrations-bootstrap/115_executions_procedures.ts
  packages/db/src/migrations/20260615213244_add_procedures_to_manage_executions_partitions.ts
Due: eslint, typescript-compile

needs to have the ifnotexists (#4496)
  CHANGELOG.md
  packages/db/src/migrations/20260527_add_collection_mission.ts
Due: eslint, typescript-compile

CUMULUS-4694: Fix iceberg terraform output
  CHANGELOG.md
  tf-modules/rds-iceberg-replication/outputs.tf
Due: none

CUMULUS-4694: Fix iceberg terraform output (#4515)
  CHANGELOG.md
  tf-modules/rds-iceberg-replication/outputs.tf
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

CUMULUS-4842: Manage partitions and retention for executions;CUMULUS-4952: Fix schema diagram (#4509)
  CHANGELOG.md
  docs/assets/db_schema/relationships.real.large.png
  docs/development/release.md
  lambdas/db-migration/package.json
  lambdas/db-migration/src/index.ts
  lambdas/db-migration/tests/test-index.js
  packages/db/src/migrations-bootstrap/115_executions_procedures.ts
  packages/db/src/migrations/115_executions_procedures.ts
  packages/db/src/migrations/20260615213244_add_procedures_to_manage_executions_partitions.ts
  packages/db/src/migrations/20260616143759_update_executions_uniqueness_triggers.ts
  packages/db/tests/migrations/test-executions-procedures.js
Due: eslint, npm-package-json-lint, typescript-compile

temp
  lerna.json
Due: none

WIP try this
  packages/distribution-utils/src/index.ts
  packages/distribution-utils/test/test-index.js
  tasks/update-granules-cmr-metadata-file-links/index.js
  tf-modules/cumulus_distribution/main.tf
Due: eslint, typescript-compile

CUMULUS-4986:Add storage_type to tf-modules/cumulus-rds-tf module
  CHANGELOG.md
  example/rds-cluster-tf/main.tf
  example/rds-cluster-tf/variables.tf
  tf-modules/cumulus-rds-tf/main.tf
  tf-modules/cumulus-rds-tf/variables.tf
Due: none

fix typo
  tf-modules/cumulus-rds-tf/variables.tf
Due: none

CUMULUS-4986:Add storage_type to tf-modules/cumulus-rds-tf module (#4519)
  CHANGELOG.md
  example/rds-cluster-tf/main.tf
  example/rds-cluster-tf/variables.tf
  tf-modules/cumulus-rds-tf/main.tf
  tf-modules/cumulus-rds-tf/variables.tf
Due: none

remove dash endpoint
  packages/api/app/routes.js
  packages/api/endpoints/dashboard.js
  packages/api/tests/endpoints/test-dashboard.js
Due: eslint

remove dashboard API
  CHANGELOG.md
Due: none

how about this
  packages/distribution-utils/src/index.ts
  packages/distribution-utils/test/test-index.js
  tasks/update-granules-cmr-metadata-file-links/index.js
Due: eslint, typescript-compile

remove dash endpoint (#4520)
  CHANGELOG.md
  packages/api/app/routes.js
  packages/api/endpoints/dashboard.js
  packages/api/tests/endpoints/test-dashboard.js
Due: eslint

CUMULUS-4954: add client to interact with Athena. replaced localstack with ministack for unit tests, in process of checking that all still works
  CHANGELOG.md
  bamboo/docker-compose-local.yml
  bamboo/docker-compose.yml
  packages/aws-client/package.json
  packages/aws-client/src/AthenaQueryClient.ts
  packages/aws-client/src/services.ts
  packages/aws-client/src/test-utils.ts
  packages/aws-client/src/types.ts
Due: eslint, npm-package-json-lint, typescript-compile

fixing final conflicts
  CHANGELOG.md
  docs/assets/db_schema/relationships.real.large.png
Due: none

adding back in removed import
  lambdas/db-migration/package.json
Due: npm-package-json-lint

namespacing
  packages/api/lambdas/create-reconciliation-report.js
  packages/api/lib/granules.js
  packages/distribution-utils/src/index.ts
  packages/distribution-utils/test/test-index.js
  tasks/change-granule-collection-s3/src/index.ts
  tasks/lzards-backup/src/index.ts
  tasks/lzards-backup/tests/test-index.js
  tasks/update-granules-cmr-metadata-file-links/index.js
Due: eslint, typescript-compile

linting
  packages/distribution-utils/src/index.ts
  packages/distribution-utils/test/test-index.js
Due: eslint, typescript-compile

fixing CHANGELOG
  CHANGELOG.md
Due: none

CUMULUS-4982: Converted granules_global_unique and files_global_unique tables to HASH partitioned tables
  CHANGELOG.md
  docs/upgrade-notes/data-migration-to-partitioned-global-unique-tables.md
  example/data-persistence-tf/variables.tf
  lambdas/db-migration/main.tf
  lambdas/db-migration/tests/test-index.js
  lambdas/db-migration/variables.tf
  packages/db/src/migrations-bootstrap/065_granules_global_unique.ts
  packages/db/src/migrations-bootstrap/075_files_global_unique.ts
  packages/db/src/migrations/20260625141202_partition_granules_global_unique.ts
  packages/db/src/migrations/20260625161818_partition_files_global_unique.ts
  packages/db/src/migrations/20260625_migrate_and_verify_global_uniqueness.sql
  tf-modules/data-persistence/variables.tf
  website/sidebars.js
Due: eslint, typescript-compile

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

