Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

fix test-executions
  packages/api/tests/endpoints/test-executions.js
Due: eslint

add edl creds to variables
  tasks/bignbit/deploy/main.tf
  tasks/bignbit/deploy/terraform.tfvars.example
  tasks/bignbit/deploy/variables.tf
Due: none

update readme with description
  tasks/bignbit/README.md
Due: none

substitute arn with variable
  tasks/bignbit/deploy/main.tf
  tasks/bignbit/deploy/variables.tf
Due: none

PR feedback (the simpler parts)
  example/spec/parallel/changeGranuleCollections/ChangeGranuleCollectionWorkflowSpec.js
  packages/cmr-client/src/CMR.ts
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/launchpad-auth/src/index.ts
Due: eslint, typescript-compile

CUMULUS-4709: The simplified rebuild.
  packages/api/app/README.md
  packages/api/app/env.local.example
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/CollectionIcebergSearch.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/src/iceberg-search/GranuleIcebergSearch.ts
  packages/db/src/test-duckdb-utils.ts
Due: eslint, typescript-compile

CUMULUS-4709: The complete rebuild.
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/src/test-duckdb-utils.ts
  packages/db/tests/test-iceberg-connection.js
Due: eslint, typescript-compile

bump python packages
  example/lambdas/python-processing/pyproject.toml
  example/lambdas/python-processing/uv.lock
  example/lambdas/python-reference-activity/pyproject.toml
  example/lambdas/python-reference-activity/uv.lock
  example/lambdas/python-reference-task/pyproject.toml
  example/lambdas/python-reference-task/uv.lock
  lerna.json
  packages/db/package.json
  packages/message/package.json
  tasks/aws-api-proxy/pyproject.toml
  tasks/aws-api-proxy/uv.lock
  tasks/cnm-response/pyproject.toml
  tasks/cnm-response/uv.lock
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/uv.lock
  tasks/get-cnm/pyproject.toml
  tasks/get-cnm/uv.lock
  tasks/granule-invalidator/pyproject.toml
  tasks/granule-invalidator/uv.lock
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/uv.lock
Due: npm-package-json-lint

PR feedback (error handling for generateLaunchpadToken)
  packages/launchpad-auth/src/index.ts
Due: eslint, typescript-compile

CUMULUS-4776: Make compaction interval setable
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/variables.tf
Due: none

CUMULUS-4776: Add additional env vars needed for replication services
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4776: Add description to replictation module output
  tf-modules/rds-iceberg-replication/outputs.tf
Due: none

CUMULUS-4776: Fix IAM role for Fargate task to allow RDS access
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/cluster/outputs.tf
Due: none

CUMULUS-4776: Add variable for replication batch size
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/main.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4776: Mostly whitespace changes that got generated when I ran `npm run build`
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
Due: none

CUMULUS-4776: Add CHANGELOG entry
  CHANGELOG.md
Due: none

CUMLULS-4776: Lower default memory and disk sizes for replication services to save money in test environments
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4776: Add batch size to replication example
  example/rds-iceberg-replication-tf/main.tf
Due: none

CUMULUS-4709: Honor the DUCKDB_MAX_POOL_SIZE.
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  packages/api/app/README.md
  packages/db/src/iceberg-connection.ts
  packages/db/tests/test-iceberg-connection.js
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: eslint, typescript-compile

linting
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/api/lib/writeRecords/write-execution.js
  packages/api/lib/writeRecords/write-granules.js
  packages/api/src/lib/granule-delete.ts
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/lib/writeRecords/test-write-execution.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
  packages/db/src/models/collection.ts
  packages/types/api/executions.d.ts
Due: eslint, typescript-compile

test fixup
  packages/api/tests/endpoints/test-granules.js
Due: eslint

CUMULUS-4709: Make DUCKDB_POOL_REBUILD_INTERVAL_SECONDS configurable through terraform.
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  packages/api/app/README.md
  packages/api/app/env.local.example
  packages/db/src/iceberg-connection.ts
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/README.md
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: eslint, typescript-compile

fix mistaken use of pg granule
  packages/api/src/lib/granule-delete.ts
Due: eslint, typescript-compile

fix in write-pdrs
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-write-pdr.js
Due: eslint

Update rule to not blow up if the permissions can't be removed. WIP may revert
  packages/api/lib/rulesHelpers.js
  packages/api/tests/lib/rules/test-rulesHelpers.js
Due: eslint

PR feedback (a lot minus some tests, TODO: test staleLockFile true case and post-to-cmr test)
  packages/api-client/tests/test-collections.js
  packages/api/tests/lib/test-granule-remove-from-cmr.js
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/src/CMRSearchConceptQueue.ts
  packages/cmr-client/tests/test-CMR.js
  packages/cmrjs/package.json
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/launchpad-auth/src/index.ts
  packages/launchpad-auth/tests/test-LaunchpadToken.js
Due: eslint, npm-package-json-lint, typescript-compile

fixes + removing extraneous stuff
  packages/cmr-client/package.json
  packages/cmr-client/tests/test-CMR.js
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/launchpad-auth/package.json
  packages/launchpad-auth/src/index.ts
  packages/launchpad-auth/tests/test-LaunchpadToken.js
  tasks/post-to-cmr/tests/cmr-test.js
Due: eslint, npm-package-json-lint, typescript-compile

add cmrProvider to integration test sns outoputs
  example/spec/parallel/testAPI/bulkDeleteSuccessSpec.js
  example/spec/parallel/testAPI/granuleSpec.js
Due: eslint

CUMULUS-4874:Fix sns permission statement missing issue
  .pre-commit-config.yaml
  CHANGELOG.md
  packages/api/endpoints/rules.js
  packages/api/lib/rulesHelpers.js
  packages/api/lib/snsRuleHelpers.js
  packages/test-data/granules/fake_granules/granule-1.nc
  packages/test-data/granules/fake_granules/granule-2.nc
  packages/test-data/granules/fake_granules/granule-3.nc
  tf-modules/archive/iam.tf
  tf-modules/cumulus/iam.tf
  tf-modules/cumulus/variables.tf
Due: eslint

utilize TEA distribution URL per provider
  CHANGELOG.md
  example/cumulus-tf/cnm_workflow.asl.json
  example/cumulus-tf/cookbook_browse_example_workflow.asl.json
  example/cumulus-tf/ingest_and_publish_granule_unique_workflow.asl.json
  example/cumulus-tf/ingest_and_publish_granule_with_orca_workflow.asl.json
  example/cumulus-tf/ingest_and_publish_granule_workflow.asl.json
  example/cumulus-tf/ingest_granule_catch_duplicate_error_test_workflow.asl.json
  example/cumulus-tf/ingest_granule_with_queue_workflow.asl.json
  example/cumulus-tf/ingest_granule_workflow.asl.json
  example/cumulus-tf/python_processing_workflow.asl.json
  example/spec/parallel/cmrProviderUrlRouting/CmrProviderUrlRoutingSpec.js
  packages/api/lambdas/create-reconciliation-report.js
  packages/api/tests/lambdas/test-create-reconciliation-report.js
  packages/distribution-utils/src/index.ts
  packages/distribution-utils/test/test-index.js
  tasks/change-granule-collection-s3/src/index.ts
  tasks/change-granule-collection-s3/tests/test-index.js
  tasks/move-granules/index.js
  tasks/move-granules/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
  tf-modules/archive/reconciliation_report.tf
  tf-modules/archive/variables.tf
  tf-modules/cumulus/archive.tf
  tf-modules/cumulus/ingest.tf
  tf-modules/ingest/change-granule-collection-s3.tf
  tf-modules/ingest/message_template.tf
Due: eslint, typescript-compile

fix integration tests
  example/spec/parallel/testAPI/bulkDeleteSuccessSpec.js
  example/spec/parallel/testAPI/granuleSpec.js
Due: eslint

update add unit test, integration existing sub use different topic
  CHANGELOG.md
  example/spec/parallel/testAPI/snsRuleSpec.js
  packages/api/tests/endpoints/test-rules.js
  packages/api/tests/lib/rules/test-rulesHelpers.js
Due: eslint
