Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

CUMULUS-4954: fix test
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint

bump ajv for vuln CVE-2026-93690
  packages/common/package.json
Due: npm-package-json-lint

update cl
  CHANGELOG.md
Due: none

Revert version bump to test Snyk scan
  CHANGELOG.md
  packages/common/package.json
Due: npm-package-json-lint

nonsense commit to trigger a snyk scan
  CHANGELOG.md
Due: none

re-add version bump
  CHANGELOG.md
  packages/common/package.json
Due: npm-package-json-lint

adding config for tr-ci stack
  CHANGELOG.md
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/tr-ci.tfvars
  example/deployments/data-persistence/tr-ci.tfvars
  example/deployments/db-migration/tr-ci.tfvars
Due: eslint

CUMULUS-4954: test fix
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint

setting cross account queue arn to be default in variable to gets taken in for every pr stack
  example/cumulus-tf/iam.tf
  example/cumulus-tf/variables.tf
Due: none

add logging for debugging
  example/spec/parallel/crossAccountSQSAccess/CrossAccountSQSAccessSpec.js
Due: eslint

fix logging issue
  example/spec/parallel/crossAccountSQSAccess/CrossAccountSQSAccessSpec.js
Due: eslint

adding diagnostic logs
  example/spec/parallel/crossAccountSQSAccess/CrossAccountSQSAccessSpec.js
  packages/api/lambdas/sqs-message-consumer.js
Due: eslint

minor changelog tweak to trigger checks to run again
  CHANGELOG.md
Due: none

restrict cross account sqs test to only run on tr-ci stack run
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/tr-ci.tfvars
  example/spec/parallel/crossAccountSQSAccess/CrossAccountSQSAccessSpec.js
Due: eslint

Updated CMR call error name Added additional logging to track CMR calls and duration
  CHANGELOG.md
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/tests/test-CMR.js
  packages/errors/src/index.ts
Due: eslint, typescript-compile

CUMULUS-5369 - Add SSM Support for user roles (#4589)
  CHANGELOG.md
  packages/api/endpoints/instance-meta.js
  packages/api/tests/endpoints/test-instance-meta.js
  packages/aws-client/package.json
  packages/aws-client/src/SSM.ts
  packages/aws-client/src/index.ts
  packages/aws-client/src/services.ts
  packages/aws-client/src/test-utils.ts
  packages/aws-client/src/types.ts
  packages/aws-client/tests/test-SSM.js
  packages/aws-client/tests/test-services.js
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/outputs.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: eslint, npm-package-json-lint, typescript-compile

fixing naming of personal stack causing a failure
  example/deployments/cumulus/tr-ci-tf.tfvars
  example/deployments/data-persistence/tr-ci-tf.tfvars
  example/deployments/data-persistence/tr-ci.tfvars
  example/deployments/db-migration/tr-ci-tf.tfvars
  example/deployments/db-migration/tr-ci.tfvars
  example/spec/parallel/testAPI/updateGranuleFailedExecution.js
Due: eslint

Updated to avoid CMR retries on the software level Updated tests
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/tests/test-CMR.js
Due: eslint, typescript-compile

Updated tests to improve coverage
  packages/cmr-client/tests/test-CMR.js
Due: eslint

Updates per PR feedback
  CHANGELOG.md
  packages/cmr-client/src/CMR.ts
Due: eslint, typescript-compile

removing ssm param empty check logic and adding default value
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

creating empty list as default to prevent build failures of iceberg-replication module
  CHANGELOG.md
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

Updates per PR suggestions
  CHANGELOG.md
  packages/cmr-client/src/CMR.ts
Due: eslint, typescript-compile

Mikedorfman/cumulus 5585 (#4591)
  CHANGELOG.md
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/tests/test-CMR.js
  packages/errors/src/index.ts
Due: eslint, typescript-compile

update docs
  packages/aws-client/README.md
  packages/checksum/README.md
  packages/cmr-client/API.md
  packages/collection-config-store/docs/API.md
  packages/common/docs/API.md
  packages/integration-tests/README.md
  packages/launchpad-auth/README.md
  packages/message/README.md
  packages/oauth-client/README.md
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/schemas/output.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/orca-copy-to-archive-adapter/schemas/input.json
  tasks/orca-copy-to-archive-adapter/schemas/output.json
  tasks/orca-recovery-adapter/schemas/input.json
  tasks/orca-recovery-adapter/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
Due: none

updating default value on iceberg_admin variable in iceberg-replication module
  CHANGELOG.md
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

update CL
  CHANGELOG.md
Due: none

drafting integration test
  example/config.yml
  example/cumulus-tf/ecs_hello_world_failing_workflow.asl.json
  example/cumulus-tf/ecs_hello_world_failing_workflow.tf
  example/spec/parallel/testAPI/updateGranuleFailedExecution.js
  example/spec/parallel/testAPI/updateGranuleStatusEcsTaskFailure.js
Due: eslint

deleting file accidentally added
  example/spec/parallel/testAPI/updateGranuleFailedExecution.js
Due: eslint

PR feedback
  bamboo/select-stack.js
  example/spec/parallel/crossAccountSQSAccess/CrossAccountSQSAccessSpec.js
Due: eslint

updating changelog
  CHANGELOG.md
Due: none

integration test runs end to end and passes as is
  example/spec/parallel/testAPI/updateGranuleStatusEcsTaskFailure.js
Due: eslint

add includeFailedCount parameter and field mapping add failedExecutionCountsQuery subquery and join buildtermquery, buildbasicquery and buildsortquery
  packages/db/src/search/GranuleSearch.ts
  packages/db/src/search/field-mapping.ts
  packages/db/src/search/queries.ts
  packages/db/src/types/search.ts
  packages/db/tests/search/test-GranuleSearch.js
  packages/types/api/granules.d.ts
Due: eslint, typescript-compile

Update changelog with cumulus-5394 entry
  CHANGELOG.md
Due: none

finializing integration test and test infra
  example/cumulus-tf/ecs_failing_workflow..tf
  example/cumulus-tf/ecs_failing_workflow.asl.json
  example/cumulus-tf/ecs_hello_world_failing_workflow.asl.json
  example/cumulus-tf/ecs_hello_world_failing_workflow.tf
  example/spec/parallel/testAPI/updateGranuleStatusEcsTaskFailure.js
Due: eslint

add granule seed lambda
  CHANGELOG.md
Due: none

CUMULUS-5443: Cross Account SQS Integration Test for CUMULUS-5309 (#4588)
  CHANGELOG.md
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/iam.tf
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/tr-ci-tf.tfvars
  example/deployments/data-persistence/tr-ci-tf.tfvars
  example/deployments/db-migration/tr-ci-tf.tfvars
  example/package.json
  example/spec/parallel/crossAccountSQSAccess/CrossAccountSQSAccessSpec.js
  package.json
  packages/api/lambdas/sqs-message-consumer.js
Due: eslint, npm-package-json-lint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

