Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

CUMULUS-4891: Allow pushes to GHCR for all commits to test workflow
  .github/workflows/build-and-push-iceberg-replication-image.yml
Due: none

update Dockerfile to install postgresql-client
  bamboo/Dockerfile
Due: none

update CL
  CHANGELOG.md
Due: none

update contributors
  CONTRIBUTORS.md
Due: none

update Dockerfile to install pg_dump 17
  bamboo/Dockerfile
Due: none

CUMULUS-4891: Add GitHub workflow to mirror Debezium images to GHCR
  .github/workflows/mirror-debezium-images.yml
Due: none

update CL 57
  CHANGELOG.md
  tf-modules/cumulus/variables.tf
Due: none

PR feedback
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/tests/test-CMR.js
  packages/launchpad-auth/.nycrc.json
  packages/launchpad-auth/src/index.ts
Due: eslint, typescript-compile

CUMULUS-4898: Add capability to conditionally display items in the navbar based on semVersion
  docs/deployment/iceberg-api.md
  website/docusaurus.config.js
  website/src/components/IcebergVersionedNavbarItem.js
  website/src/theme/NavbarItem/ComponentTypes.js
Due: none

remove kms policy for IAM users
  tasks/bignbit/deploy/kms.tf
Due: none

WIP name changing for field
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/api/lib/writeRecords/utils.js
  packages/api/lib/writeRecords/write-execution.js
  packages/api/lib/writeRecords/write-granules.js
  packages/api/src/lib/granule-delete.ts
  packages/db/src/models/collection.ts
  packages/db/tests/models/test-collection-model.js
Due: eslint, typescript-compile

adding test for coverage + bumping lock TTL to 15 min
  packages/launchpad-auth/src/index.ts
  packages/launchpad-auth/tests/test-LaunchpadToken.js
Due: eslint, typescript-compile

CUMULUS-4898: Update minVersion to match the current release version; Remove hard assertion in deployment script.
  bamboo/set-bamboo-env-variables.sh
  website/docusaurus.config.js
Due: none

WIP add defaultable value to every workable s3
  packages/aws-client/src/S3.ts
Due: eslint, typescript-compile

CUMULUS-4898: Minor refactoring.
  CHANGELOG.md
  website/docusaurus.config.js
  website/src/components/VersionedNavbarItem.js
  website/src/theme/NavbarItem/ComponentTypes.js
Due: none

WIP
  packages/aws-client/src/S3.ts
  packages/common/package.json
  packages/common/src/key-pair-provider.ts
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4883: Fix setting Iceberg image version error when PUBLISH_FLAG is true.
  bamboo/bootstrap-tf-deployment.sh
  bamboo/set-bamboo-env-variables.sh
Due: none

CUMULUS-4898: Drop the unnecessary defaults.
  website/src/components/VersionedNavbarItem.js
Due: none

Cumulus 4891 (#4466)
  .github/workflows/build-and-push-iceberg-replication-image.yml
  .github/workflows/mirror-debezium-images.yml
  CHANGELOG.md
  bamboo/build_and_deploy_iceberg_replication_images.sh
  bamboo/set-bamboo-env-variables.sh
  packages/iceberg-replication/.gitignore
  packages/iceberg-replication/Dockerfile.bootstrap
  packages/iceberg-replication/java/pom.xml
  packages/iceberg-replication/java/src/main/java/gov/nasa/cumulus/IcebergCDCWriter.java
  packages/iceberg-replication/resources/executions_sink.json
  packages/iceberg-replication/resources/files_sink.json
  packages/iceberg-replication/resources/granules_sink.json
  packages/iceberg-replication/resources/small_tables_sink.json
  packages/iceberg-replication/resources/source_connector.json.template
  packages/iceberg-replication/scripts/bootstrap.sh
  packages/iceberg-replication/scripts/build_bootstrap_image.sh
  packages/iceberg-replication/scripts/bulk_load_self_managed_iceberg.py
  packages/iceberg-replication/scripts/cleanup_snapshots.py
  packages/iceberg-replication/scripts/create_staging_branch.py
  packages/iceberg-replication/scripts/download_jars.sh
  packages/iceberg-replication/scripts/iceberg_compact.py
  packages/iceberg-replication/scripts/push_bootstrap_image.sh
  packages/iceberg-replication/scripts/push_kafka_connect_image.sh
  packages/iceberg-replication/scripts/push_kafka_image.sh
  packages/iceberg-replication/scripts/push_to_ecr.sh
  packages/iceberg-replication/scripts/pyproject.toml
  packages/iceberg-replication/scripts/replace_source_connector.sh
  packages/iceberg-replication/scripts/requirements.txt
  packages/iceberg-replication/scripts/sink.py
  packages/iceberg-replication/scripts/uv.lock
  tf-modules/rds-iceberg-replication/README.md
Due: none

CUMULUS-4891: Force build/push of replication image when merging to master
  .github/workflows/build-and-push-iceberg-replication-image.yml
Due: none

CUMULUS-4891: Update CHANGELOG
  CHANGELOG.md
Due: none

fixex to tests
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/db/src/translate/collections.ts
Due: eslint, typescript-compile

CUMULUS-4883: Fix typo.
  bamboo/bootstrap-tf-deployment.sh
Due: none

various and sundry fixes and linting
  packages/aws-client/src/S3.ts
  packages/common/src/key-pair-provider.ts
Due: eslint, typescript-compile

down needs a n if case
  packages/db/src/migrations/20260527_add_collection_mission.ts
Due: eslint, typescript-compile

CUMULUS-4891: Revert requirements.txt file
  packages/iceberg-replication/scripts/requirements.txt
  packages/iceberg-replication/scripts/uv.lock
Due: none

CUMULUS-4898: Add Iceberg API documentation page to Cumulus Documentation (#4473)
  CHANGELOG.md
  bamboo/bootstrap-tf-deployment.sh
  bamboo/set-bamboo-env-variables.sh
  docs/deployment/iceberg-api.md
  website/docusaurus.config.js
  website/sidebars.js
  website/src/components/VersionedNavbarItem.js
  website/src/theme/NavbarItem/ComponentTypes.js
Due: none

still WIP
  packages/aws-client/src/S3.ts
Due: eslint, typescript-compile

fix integration test data
  example/data/collections/L2_HR_PIXC-000/L2_HR_PIXC-000.json
  example/data/collections/http_testcollection_002/http_testcollection_002.json
  example/data/collections/https_testcollection_001/https_testcollection_001.json
  example/data/collections/s3_MOD09GQ_006-umm/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006_full_ingest/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD14A1_006/s3_MOD14A1_006.json
  example/data/collections/s3_MYD13Q1_006/s3_MYD13Q1_006.json
Due: none

CUMULUS-4898: Add Iceberg API documentation page to Cumulus Documentation
  CHANGELOG.md
  bamboo/bootstrap-tf-deployment.sh
  bamboo/set-bamboo-env-variables.sh
  docs/deployment/iceberg-api.md
  website/docusaurus.config.js
  website/sidebars.js
  website/src/components/VersionedNavbarItem.js
  website/src/theme/NavbarItem/ComponentTypes.js
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

