Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

mopre cleanups
  example/data/collections/s3_MOD14A1_006/s3_MOD14A1_006.json
  example/data/collections/s3_MYD13Q1_006/s3_MYD13Q1_006.json
  tasks/change-granule-collection-pg/tests/data/new_collection.json
  tasks/change-granule-collection-pg/tests/data/original_collection.json
Due: none

test fix in executions
  packages/api/tests/lib/writeRecords/test-write-execution.js
Due: eslint

changlog
  CHANGELOG.md
Due: none

CUMULUS-4883: Move iceberg configuration to the sandbox.tfvars
  example/deployments/cumulus/sandbox.tfvars
  example/deployments/cumulus/yliu10-ci-tf.tfvars
Due: none

adding in the upgrade notes
  docs/upgrade-notes/collection_mission_db_update.md
Due: none

fix copypasta in upgrade-notes
  docs/upgrade-notes/collection_mission_db_update.md
Due: none

CUMULUS-4883: Remove the problematic trigger.
  tf-modules/iceberg_api/main.tf
Due: none

api schema
  packages/api/lib/schemas.js
Due: eslint

CUMULUS-4883: Add script to build Iceberg API docker image and push it to ECR as part of the build process. (#4464)
  CHANGELOG.md
  bamboo/bootstrap-tf-deployment.sh
  bamboo/deploy-iceberg-api-image.sh
  bamboo/set-bamboo-env-variables.sh
  example/deployments/cumulus/sandbox.tfvars
  example/deployments/cumulus/yliu10-ci-tf.tfvars
  tf-modules/iceberg_api/main.tf
Due: none

fixed numerical typing
  packages/api/lib/writeRecords/write-execution.js
Due: eslint

remove an optimistic typing
  packages/api/lib/writeRecords/write-granules.js
Due: eslint

small cleanup in execution empty cmr provider
  packages/api/lib/writeRecords/write-execution.js
Due: eslint

bring in both actually
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/api/lib/writeRecords/utils.js
  packages/api/lib/writeRecords/write-execution.js
  packages/api/lib/writeRecords/write-granules.js
  packages/api/src/lib/granule-delete.ts
  packages/db/src/models/collection.ts
  packages/db/tests/models/test-collection-model.js
Due: eslint, typescript-compile

test for sns function of granule-delete
  packages/api/tests/lib/test-granule-delete.js
Due: eslint

fix
  packages/api/tests/lib/test-granule-delete.js
Due: eslint

linting
  packages/api/lib/writeRecords/write-execution.js
  packages/api/tests/lib/test-granule-delete.js
Due: eslint

serialize
  packages/api/tests/lib/writeRecords/test-write-execution.js
Due: eslint

Ecarton/metrics cmr provider (#4454)
  CHANGELOG.md
  example/spec/parallel/testAPI/bulkDeleteSuccessSpec.js
  example/spec/parallel/testAPI/granuleSpec.js
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/api/lib/writeRecords/utils.js
  packages/api/lib/writeRecords/write-execution.js
  packages/api/lib/writeRecords/write-granules.js
  packages/api/src/lib/granule-delete.ts
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/endpoints/test-granules.js
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-write-pdr.js
  packages/api/tests/lib/test-granule-delete.js
  packages/api/tests/lib/writeRecords/test-write-execution.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
  packages/db/src/models/collection.ts
  packages/db/tests/models/test-collection-model.js
  packages/types/api/executions.d.ts
  packages/types/api/granules.d.ts
  packages/types/api/pdrs.d.ts
Due: eslint, typescript-compile

fix(security): 2 improvements across 2 files
  bamboo/detect-pr.js
Due: eslint

fix(security): 2 improvements across 2 files
  packages/api-client/src/cumulusApiClient.ts
Due: eslint, typescript-compile

test fixes
  packages/api/lib/writeRecords/utils.js
  packages/api/lib/writeRecords/write-execution.js
  packages/api/src/lib/granule-delete.ts
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/endpoints/test-granules.js
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-write-pdr.js
  packages/api/tests/lib/writeRecords/test-write-execution.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
  packages/db/src/models/collection.ts
  packages/db/tests/models/test-collection-model.js
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
Due: eslint, typescript-compile

typing typo
  packages/api/lib/writeRecords/write-granules.js
Due: eslint

fix md lint
  docs/upgrade-notes/collection_mission_db_update.md
Due: none

fix db test
  packages/db/tests/models/test-collection-model.js
Due: eslint

test fixes
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
  packages/api/tests/endpoints/test-granules.js
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-write-pdr.js
Due: eslint

fixing more mistakes in translation
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
  packages/api/lib/writeRecords/utils.js
Due: eslint

typo
  packages/api/lib/writeRecords/utils.js
Due: eslint

another test fix
  packages/api/tests/lib/test-granule-delete.js
Due: eslint

yet more fixes
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

fixes to integration tests
  example/spec/parallel/testAPI/bulkDeleteSuccessSpec.js
  example/spec/parallel/testAPI/granuleSpec.js
Due: eslint

typo in spec
  example/spec/parallel/testAPI/granuleSpec.js
Due: eslint

some cleanup to the iceberg schema
  CHANGELOG.md
  packages/db/src/iceberg-search/IcebergSchemas.ts
Due: eslint, typescript-compile

better desctructing syntax
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/api/lib/writeRecords/write-execution.js
  packages/api/lib/writeRecords/write-granules.js
  packages/api/src/lib/granule-delete.ts
Due: eslint, typescript-compile

fix mised up name parameter
  packages/api/lib/writeRecords/write-execution.js
Due: eslint

lint
  packages/api/lib/writeRecords/write-execution.js
Due: eslint

Updated db parameter max_locks_per_transaction to 256 from the default of 64
  CHANGELOG.md
  tf-modules/cumulus-rds-tf/variables.tf
Due: none

CUMULUS-4874:Fix sns permission statement missing issue (#4453) (#4462)
  .pre-commit-config.yaml
  CHANGELOG.md
  example/deployments/data-persistence/cumulus-sit.tfvars
  example/spec/parallel/testAPI/snsRuleSpec.js
  packages/api/endpoints/rules.js
  packages/api/lib/rulesHelpers.js
  packages/api/lib/snsRuleHelpers.js
  packages/api/tests/endpoints/test-rules.js
  packages/api/tests/lib/rules/test-rulesHelpers.js
  packages/test-data/granules/fake_granules/granule-1.nc
  packages/test-data/granules/fake_granules/granule-2.nc
  packages/test-data/granules/fake_granules/granule-3.nc
  tasks/lzards-backup/package.json
  tf-modules/archive/iam.tf
  tf-modules/cumulus/iam.tf
Due: eslint, npm-package-json-lint

update CL
  CHANGELOG.md
Due: none
