Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

ad provider in api again
  packages/api/tests/endpoints/providers/delete-provider.js
Due: eslint

mistaken name
  packages/api/tests/endpoints/providers/delete-provider.js
Due: eslint

remove scripts from package.json for fixing CI failure purpose
  tasks/cnm-response/package.json
  tasks/cnm-to-cma/package.json
  tasks/granule-invalidator/package.json
Due: npm-package-json-lint

Update tasks/get-cnm/src/get_cnm/get_cnm.py
  tasks/get-cnm/src/get_cnm/get_cnm.py
Due: none

Removed commented-out code
  tasks/get-cnm/deploy/main.tf
  tasks/get-cnm/deploy/variables.tf
Due: none

more places where the cmr_provider belongs
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-index.js
  packages/db/src/search/field-mapping.ts
Due: eslint, typescript-compile

linting
  packages/db/src/search/field-mapping.ts
Due: eslint, typescript-compile

CUMULUS-4556 -- Update AJV/minification/CI fixes (#4266)
  CHANGELOG.md
  audit-ci.json
  example/lambdas/s3AccessTest/package.json
  example/lambdas/snsS3Test/package.json
  example/package.json
  lambdas/db-provision-user-database/package.json
  packages/api-client/package.json
  packages/api/ecs/async-operation/package.json
  packages/api/lambdas/message-consumer.js
  packages/api/lib/schema.js
  packages/api/models/base.js
  packages/api/package.json
  packages/api/tests/endpoints/test-rules.js
  packages/api/tests/lambdas/test-kinesis-consumer.js
  packages/async-operations/package.json
  packages/aws-client/package.json
  packages/common/package.json
  packages/db/package.json
  packages/es-client/package.json
  packages/integration-tests/package.json
  packages/schemas/package.json
  packages/sftp-client/src/index.ts
  packages/sftp-client/tests/test-index.js
  scripts/run_ci_api_unit-coverage.sh
  scripts/run_ci_unit_coverage.sh
  tasks/change-granule-collection-s3/package.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/config.json
  tasks/move-granules/schemas/output.json
  tasks/queue-granules/schemas/input.json
  tasks/send-pan/schemas/input.json
  tasks/sync-granule/schemas/config.json
  tasks/sync-granule/schemas/output.json
  tf-modules/internal/cumulus-test-cleanup/package.json
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4499: dnorris CI stack (#4287)
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/dnorris-ci-tf.tfvars
  example/deployments/data-persistence/dnorris-ci-tf.tfvars
  example/deployments/db-migration/dnorris-ci-tf.tfvars
Due: eslint

updated default return string to 'undefined'
  packages/api/endpoints/workflows.js
Due: eslint

updated test to reflect new behavior of returning 'undefined' for missing fields
  packages/api/tests/endpoints/workflows.js
Due: eslint

WIP: Initial setup for atisdale CI stack
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/atisdale-ci-tf.tfvars
  example/deployments/data-persistence/atisdale-ci-tf.tfvars
  example/deployments/db-migration/atisdale-ci-tf.tfvars
Due: eslint

refactoring (tests todo)
  packages/cmr-client/src/CMR.ts
Due: eslint, typescript-compile

add cmrProviders to integration test collections
  example/data/collections/ASCATB-L2-Coastal/ASCATB-L2-Coastal.json
  example/data/collections/L2_HR_PIXC-000-unique/L2_HR_PIXC-000.json
  example/data/collections/L2_HR_PIXC-000/L2_HR_PIXC-000.json
  example/data/collections/L2_HR_PIXC-099/L2_HR_PIXC-099.json
  example/data/collections/http_testcollection_001/http_testcollection_001.json
  example/data/collections/http_testcollection_002/http_testcollection_002.json
  example/data/collections/https_testcollection_001/https_testcollection_001.json
  example/data/collections/s3_MOD09GQ-AZ_006_full_ingest_move/s3_MOD09GQ-AZ_006.json
  example/data/collections/s3_MOD09GQ_006-umm/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006-unique/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006_full_ingest/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006_full_ingest_unique/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD09GQ_006_no_cmr/s3_MOD09GQ_006.json
  example/data/collections/s3_MOD14A1_006/s3_MOD14A1_006.json
  example/data/collections/s3_MYD13Q1_006/s3_MYD13Q1_006.json
Due: none

add cmr_provider here too
  packages/integration-tests/Collections.js
Due: eslint

Mikedorfman/CUMULUS-4545, CUMULUS-4546, CUMULUS-4547 (#4282)
  .gitignore
  CHANGELOG.md
  example/cumulus-tf/get_cnm_workflow.asl.json
  example/cumulus-tf/get_cnm_workflow.tf
  example/spec/parallel/getCnm/data/kinesisReplayRules/MOD09GQ_kinesisHelloWorldRule.json
  example/spec/parallel/getCnm/data/lambdaEventSourceTestRules/L2_HR_PIXC_kinesisRule.json
  example/spec/parallel/getCnm/data/lambdaEventSourceTestRules/MOD09GQ_kinesisRule.json
  example/spec/parallel/getCnm/data/records/L2_HR_PIXC_product_0001-of-4154.json
  example/spec/parallel/getCnm/data/records/L2_HR_PIXC_product_0001-of-4154_dupe.json
  example/spec/parallel/getCnm/data/records/ascat_20121029_010301_metopb_00588_eps_o_coa_2101_ovw.l2.json
  example/spec/parallel/getCnm/data/rules/kinesis/L2_HR_PIXC_kinesisRule.json
  example/spec/parallel/getCnm/data/rules/kinesis/duplicate/L2_HR_PIXC_kinesisRule_DUPLICATE.json
  example/spec/parallel/getCnm/data/rules/sqs/ASCATB_L2_Coastal_sqsRule.json
  example/spec/parallel/getCnm/getCnmSpec.js
  packages/integration-tests/index.js
  tasks/get-cnm/README.md
  tasks/get-cnm/deploy/README.md
  tasks/get-cnm/deploy/main.tf
  tasks/get-cnm/deploy/outputs.tf
  tasks/get-cnm/deploy/terraform.tfvars
  tasks/get-cnm/deploy/variables.tf
  tasks/get-cnm/package.json
  tasks/get-cnm/pyproject.toml
  tasks/get-cnm/src/get_cnm/__init__.py
  tasks/get-cnm/src/get_cnm/get_cnm.py
  tasks/get-cnm/src/get_cnm/schemas/input.json
  tasks/get-cnm/src/get_cnm/schemas/output.json
  tasks/get-cnm/src/main.py
  tasks/get-cnm/tasks/get-cnm/requirements.txt
  tasks/get-cnm/tests/conftest.py
  tasks/get-cnm/tests/data/cnm.json
  tasks/get-cnm/tests/data/input.json
  tasks/get-cnm/tests/integration_tests/get-cnm/test_lambda_handler.py
  tasks/get-cnm/tests/unit_tests/get-cnm/test_get_cnm.py
  tasks/get-cnm/uv.lock
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/outputs.tf
  tf-modules/ingest/python-lambdas.tf
Due: eslint, npm-package-json-lint

adding cmrProvider in more needed places
  example/spec/parallel/granuleInvalidator/CrossCollectionSpec.js
  example/spec/parallel/granuleInvalidator/IngestDateRolloffSpec.js
  example/spec/parallel/granuleInvalidator/ScienceDateRolloffSpec.js
Due: eslint

Create blokey CI Stack (#4281)
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/blokey-ci-tf.tfvars
  example/deployments/data-persistence/blokey-ci-tf.tfvars
  example/deployments/db-migration/blokey-ci-tf.tfvars
Due: eslint

lint
  example/spec/parallel/granuleInvalidator/CrossCollectionSpec.js
  example/spec/parallel/granuleInvalidator/IngestDateRolloffSpec.js
  example/spec/parallel/granuleInvalidator/ScienceDateRolloffSpec.js
  packages/integration-tests/Collections.js
Due: eslint

Committed VERSION file
  tasks/aws-api-proxy/VERSION
Due: none

Fixes atisdale Github name in select stack
  bamboo/select-stack.js
Due: eslint

Make the updateGranuleIdentifiers flag configurable in the update-granules-cmr-metadata-file-links task
  CHANGELOG.md
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  tasks/cnm-response/package.json
  tasks/cnm-to-cma/package.json
  tasks/granule-invalidator/package.json
  tasks/update-granules-cmr-metadata-file-links/README.md
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/tests/data/meta.xml
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint, npm-package-json-lint

using null value instead of 'undefined' for missing fields
  packages/api/endpoints/workflows.js
  packages/api/tests/endpoints/workflows.js
Due: eslint

Updated python tasks with VERSION file Added dynamic version references to pyproject.toml files
  VERSION
  example/lambdas/python-processing/VERSION
  example/lambdas/python-processing/pyproject.toml
  example/lambdas/python-reference-activity/VERSION
  example/lambdas/python-reference-activity/pyproject.toml
  example/lambdas/python-reference-task/VERSION
  example/lambdas/python-reference-task/pyproject.toml
  pyproject.toml
  tasks/aws-api-proxy/VERSION
  tasks/cnm-response/VERSION
  tasks/cnm-response/pyproject.toml
  tasks/cnm-to-cma/VERSION
  tasks/cnm-to-cma/pyproject.toml
  tasks/granule-invalidator/VERSION
  tasks/granule-invalidator/pyproject.toml
  tasks/pdr-cleanup/VERSION
  tasks/pdr-cleanup/pyproject.toml
Due: none

CUMULUS-4499: Setup for atisdale CI stack (#4298)
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/atisdale-ci-tf.tfvars
  example/deployments/data-persistence/atisdale-ci-tf.tfvars
  example/deployments/db-migration/atisdale-ci-tf.tfvars
Due: eslint

Updated requirements generation file
  .github/workflows/export-requirements.yml
Due: none

CUMULUS-4499: Setup for ccollins CI stack
  bamboo/select-stack.js
  example/config.yml
  example/deployments/cumulus/ccollins-ci-tf.tfvars
  example/deployments/data-persistence/ccollins-ci-tf.tfvars
  example/deployments/db-migration/ccollins-ci-tf.tfvars
Due: eslint

Added appropriate requirements generation to package.json
  bin/package_uv.sh
  example/lambdas/python-processing/VERSION
  example/lambdas/python-processing/package.json
  example/lambdas/python-processing/uv.lock
  example/lambdas/python-reference-activity/VERSION
  example/lambdas/python-reference-activity/package.json
  example/lambdas/python-reference-activity/uv.lock
  example/lambdas/python-reference-task/VERSION
  example/lambdas/python-reference-task/package.json
  example/lambdas/python-reference-task/uv.lock
  tasks/get-cnm/VERSION
  tasks/get-cnm/package.json
  tasks/get-cnm/uv.lock
  tasks/granule-invalidator/VERSION
  tasks/granule-invalidator/package.json
  tasks/granule-invalidator/uv.lock
  tasks/pdr-cleanup/VERSION
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/uv.lock
Due: npm-package-json-lint

Updated cnm-to-cma and cnm-response
  tasks/cnm-response/VERSION
  tasks/cnm-response/package.json
  tasks/cnm-response/uv.lock
  tasks/cnm-to-cma/VERSION
  tasks/cnm-to-cma/package.json
  tasks/cnm-to-cma/uv.lock
Due: npm-package-json-lint

Batches calls to Cumulus API when getting executions for the Add-Input-Granules task
  tasks/add-input-granules/src/add_input_granules/task.py
  tasks/add-input-granules/tests/unit_tests/add_input_granules/test_add_input_granules.py
Due: none

fixed linter error
  packages/api/endpoints/workflows.js
Due: eslint

refactor code
  example/spec/parallel/cnmWorkflow/CnmWorkflowFromSqsSpec.js
  tasks/cnm-to-cma/deploy/variables.tf
  tasks/cnm-to-cma/src/cnm_to_cma/__init__.py
  tasks/cnm-to-cma/src/cnm_to_cma/task.py
  tasks/cnm-to-cma/src/main.py
  tasks/cnm-to-cma/tests/test_cnm_to_cma.py
Due: eslint

testing additions
  packages/cmr-client/package.json
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/tests/test-CMR.js
  packages/cmr-client/tests/test-CMRSearchConceptQueue.js
Due: eslint, npm-package-json-lint, typescript-compile

Updated changelog
  CHANGELOG.md
Due: none

Adds Filter Granule task for PDR workflow
  pyproject.toml
  tasks/filter-granules/README.md
  tasks/filter-granules/package.json
  tasks/filter-granules/pyproject.toml
  tasks/filter-granules/schemas/config.json
  tasks/filter-granules/schemas/input.json
  tasks/filter-granules/schemas/output.json
  tasks/filter-granules/src/filter_granules/__init__.py
  tasks/filter-granules/src/filter_granules/task.py
  tasks/filter-granules/tests/__init__.py
  tasks/filter-granules/tests/unit_tests/__init__.py
  tasks/filter-granules/tests/unit_tests/filter_granules/__init__.py
  tasks/filter-granules/tests/unit_tests/filter_granules/test_task.py
  tasks/filter-granules/uv.lock
Due: npm-package-json-lint
