Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

WIP: Updates granule fetcher test checksums because of file format changes
  tasks/sync-granule/tests/fixtures/sums.js
Due: eslint

correct CL for CMA v2.0.5 (#4203)
  CHANGELOG.md
Due: none

CUMULUS-4459: Update index.
  packages/db/src/migrations/20260105224950_add_granules_collection_updated_idx.ts
  packages/db/src/migrations/20260105224950_add_granules_provider_updated_collection_idx.ts
Due: eslint, typescript-compile

add util function to hide authorization token. update searchConcept logging to use redact auth function
  packages/cmr-client/src/Utils.ts
  packages/cmr-client/src/searchConcept.ts
Due: eslint, typescript-compile

Added ChangeLog entry
  CHANGELOG.md
Due: none

first commit
  CHANGELOG.md
  packages/api-client/src/workflows.ts
  packages/api/endpoints/workflows.js
  packages/api/tests/endpoints/workflows.js
Due: eslint, typescript-compile

WIP: Updates reference python lambdas to match directory structure
  example/cumulus-tf/python_processing_workflow.tf
  example/cumulus-tf/python_reference_workflow.tf
  example/lambdas/python-processing/pyproject.toml
  example/lambdas/python-processing/src/__init__.py
  example/lambdas/python-processing/src/task.py
  example/lambdas/python-processing/tests/unit_tests/__init__.py
  example/lambdas/python-processing/tests/unit_tests/test_task.py
  example/lambdas/python-reference-activity/pyproject.toml
  example/lambdas/python-reference-activity/src/__init__.py
  example/lambdas/python-reference-activity/src/task.py
  example/lambdas/python-reference-activity/tests/unit_tests/__init__.py
  example/lambdas/python-reference-activity/tests/unit_tests/test_task.py
  example/lambdas/python-reference-task/deploy/main.tf
  example/lambdas/python-reference-task/pyproject.toml
  example/lambdas/python-reference-task/src/task.py
  example/lambdas/python-reference-task/tests/unit_tests/__init__.py
  example/lambdas/python-reference-task/tests/unit_tests/test_task.py
Due: none

CUMULUS-4459: Updated CHANGELOG.
  CHANGELOG.md
Due: none

CUMULUS-4459: Add new index to granules table to improve Dashboard performance.
  CHANGELOG.md
  example/.gitignore
  packages/db/src/migrations/20260112224950_add_granules_collection_updated_idx.ts
Due: eslint, typescript-compile

adding tests
  packages/api/endpoints/workflows.js
  packages/api/tests/endpoints/workflows.js
Due: eslint

Update cma-js version (#4204)
  CHANGELOG.md
  lerna.json
  tasks/add-missing-file-checksums/package.json
  tasks/add-unique-granuleID/package.json
  tasks/change-granule-collection-pg/package.json
  tasks/change-granule-collection-s3/package.json
  tasks/discover-granules/package.json
  tasks/discover-pdrs/package.json
  tasks/files-to-granules/package.json
  tasks/hello-world/package.json
  tasks/hyrax-metadata-updates/package.json
  tasks/lzards-backup/package.json
  tasks/move-granules/package.json
  tasks/orca-copy-to-archive-adapter/package.json
  tasks/orca-recovery-adapter/package.json
  tasks/parse-pdr/package.json
  tasks/pdr-status-check/package.json
  tasks/post-to-cmr/package.json
  tasks/queue-granules/package.json
  tasks/queue-pdrs/package.json
  tasks/queue-workflow/package.json
  tasks/send-pan/package.json
  tasks/sf-sqs-report/package.json
  tasks/sync-granule/package.json
  tasks/test-processing/package.json
  tasks/update-cmr-access-constraints/package.json
  tasks/update-granules-cmr-metadata-file-links/package.json
Due: npm-package-json-lint

WIP: Initial updating of python reference images
  example/cumulus-tf/variables.tf
  example/lambdas/python-processing/bin/package.sh
  example/lambdas/python-reference-activity/bin/package.sh
Due: none

WIP: Updates python example package scripts and READMEs for Docker
  example/cumulus-tf/variables.tf
  example/lambdas/python-processing/README.md
  example/lambdas/python-processing/bin/package.sh
  example/lambdas/python-reference-activity/README.md
  example/lambdas/python-reference-activity/bin/package.sh
Due: none

CUMULUS-4459: Add new index to granules table to improve Dashboard performance. (#4208)
  CHANGELOG.md
  example/.gitignore
  packages/db/src/migrations/20260112224950_add_granules_collection_updated_idx.ts
Due: eslint, typescript-compile

CSD-61: Updated write granules tests
  CHANGELOG.md
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

Updating per PR comments
  docs/adding-a-task.md
  docs/development/python-best-practices.md
Due: none

Updating per PR comments
  docs/development/python-best-practices.md
Due: none

WIP: Updates python example Dockerfiles
  example/lambdas/python-processing/Dockerfile
  example/lambdas/python-reference-activity/Dockerfile
Due: none

Adjusts styling for pdr-cleanup task
  tasks/pdr-cleanup/pdr-cleanup.py
Due: none

Updates README.md
  tasks/pdr-cleanup/README.md
Due: none

Adds unit tests to pdr-cleanup task
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/test/__init__.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: none

Add pdr-cleanup and initialize task dir
  tasks/pdr-cleanup/README.md
  tasks/pdr-cleanup/pdr-cleanup.py
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/uv.lock
Due: none

Adds check for s3 provider in pdr-cleanup
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Changes to Python 3.13
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/uv.lock
Due: none

Changes file organization to meet task layout standards
  .gitignore
  tasks/pdr-cleanup/src/pdr_cleanup/__init__.py
  tasks/pdr-cleanup/src/pdr_cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/tests/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__pycache__/__init__.cpython-314.pyc
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/test_pdr_cleanup.py
Due: none

Improvements to cleanup logic
  tasks/pdr-cleanup/pdr_cleanup.py
Due: none

Ruff format fixes
  pyproject.toml
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Adds terraform deployment
  tasks/pdr-cleanup/bin/package.sh
  tasks/pdr-cleanup/deploy/main.tf
  tasks/pdr-cleanup/deploy/outputs.tf
  tasks/pdr-cleanup/deploy/variables.tf
  tasks/pdr-cleanup/deploy/versions.tf
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

Improves testing and adds tooling
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: none

Add archive location of pdr to the task output
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Adds package.json
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

Add schemas
  tasks/pdr-cleanup/schemas/config.json
  tasks/pdr-cleanup/schemas/input.json
  tasks/pdr-cleanup/schemas/output.json
Due: none

Updates CHANGELOG.md
  CHANGELOG.md
Due: none

WIP: Fixes which python reference tasks use
  example/cumulus-tf/python_processing_workflow.tf
  example/cumulus-tf/python_reference_workflow.tf
Due: none

getGranulesForPayload can get granules from s3 file
  packages/api/endpoints/executions.js
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/granules.js
  packages/api/tests/lib/test-granules.js
Due: eslint
