Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

CUMULUS-4954-1: Update tests
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-write-pdr.js
Due: eslint

CUMULUS-5262: add fixes
  package.json
  packages/api/package.json
  packages/integration-tests/package.json
Due: npm-package-json-lint

Add docker container status checking and logging.
  bamboo/bootstrap-unit-tests.sh
  bamboo/docker-compose.yml
Due: none

feat: have getCmrSettings pull providers from input collection to handle multi provider stacks now. tests: got relevant test passing.
  packages/api/lambdas/create-reconciliation-report.js
  packages/api/tests/lambdas/test-create-reconciliation-report.js
Due: eslint

Change sftp check to verify listening port
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-5262: add audit fixes (#4561)
  package.json
  packages/api/package.json
  packages/integration-tests/package.json
Due: npm-package-json-lint

CUMULUS-5262: unignore vulnerabilities
  audit-ci.json
Due: none

CUMULUS-4954-1: added skip to test
  packages/api/tests/lib/rules/test-rulesHelpers.js
Due: eslint

CUMULUS-4954-1: added force unlock for dev stack fix
  bamboo/bootstrap-tf-deployment.sh
Due: none

CUMULUS-5262: unignore vulnerabilities (#4562)
  audit-ci.json
Due: none

feat: CMR searches now attempt to inject specific providers from collections or collections records when making reconciliaton reports
  packages/api/lambdas/create-reconciliation-report.js
  packages/api/tests/lambdas/test-create-reconciliation-report.js
Due: eslint

CUMULUS-4954-1: unlock dev stack
  bamboo/bootstrap-tf-deployment.sh
Due: none

CUMULUS-4954-1: updated compose updated lock state fix
  bamboo/bootstrap-tf-deployment.sh
  bamboo/docker-compose.yml
Due: none

CUMULUS-4954: test modify docker-compose env
  bamboo/docker-compose.yml
Due: none

feat: set up so we do provider based CMR collection search for one way report and global collection call to CMR for 2 way comparison collection report
  packages/api/lambdas/create-reconciliation-report.js
  packages/api/tests/lambdas/test-create-reconciliation-report.js
Due: eslint

feat: adding tests for one way reconciliaton check Lint: linter fixes
  packages/api/lambdas/create-reconciliation-report.js
  packages/api/tests/lambdas/test-create-reconciliation-report.js
  tasks/bignbit/deploy/kms.tf
  tasks/bignbit/deploy/main.tf
  tasks/bignbit/deploy/variables.tf
Due: eslint

CUMULUS-4954-1: updated docker compose
  bamboo/bootstrap-tf-deployment.sh
  bamboo/docker-compose.yml
Due: none

CUMULUS-4954: test ministack setting
  bamboo/docker-compose.yml
Due: none

fine tuning for PR, changelog
  CHANGELOG.md
  audit-ci.json
  package.json
  packages/api/lambdas/create-reconciliation-report.js
  packages/api/package.json
  packages/api/tests/lambdas/test-create-reconciliation-report.js
Due: eslint, npm-package-json-lint

fix: add missing comma
  package.json
Due: npm-package-json-lint

linter fix
  packages/api/lambdas/create-reconciliation-report.js
Due: eslint

logging for test debugging
  packages/api/lambdas/create-reconciliation-report.js
Due: eslint

update docs
  packages/aws-client/README.md
  packages/checksum/README.md
  packages/cmr-client/API.md
  packages/collection-config-store/docs/API.md
  packages/common/docs/API.md
  packages/integration-tests/README.md
  packages/launchpad-auth/README.md
  packages/message/README.md
  packages/oauth-client/README.md
Due: none

CUMULUS-4954: add AthenaClient, no tests yet, no changes to localstack
  CHANGELOG.md
  packages/aws-client/package.json
  packages/aws-client/src/AthenaQueryClient.ts
  packages/aws-client/src/services.ts
  packages/aws-client/src/test-utils.ts
  packages/aws-client/src/types.ts
Due: eslint, npm-package-json-lint, typescript-compile

bump up cmr limit in hope of fixing integration test
  example/deployments/cumulus/sandbox.tfvars
Due: none

fix: reverting to only making provider based calls for reconciliation reports and reseting limit on integration tests
  example/deployments/cumulus/sandbox.tfvars
  packages/api/lambdas/create-reconciliation-report.js
  packages/api/tests/lambdas/test-create-reconciliation-report.js
Due: eslint

CUMULUS-5046 Extract owner account from SQS Queue URL to allow for cross account SQS queues
  CHANGELOG.md
  packages/aws-client/src/SQS.ts
  packages/aws-client/tests/test-SQS.js
Due: eslint, typescript-compile

CUMULUS-5309 CUMULUS-5046 fix linter errors
  packages/aws-client/src/SQS.ts
Due: eslint, typescript-compile

PR feedback fixes
  CHANGELOG.md
  audit-ci.json
  packages/api/lambdas/create-reconciliation-report.js
  packages/api/tests/lambdas/test-create-reconciliation-report.js
  tasks/bignbit/deploy/kms.tf
  tasks/bignbit/deploy/main.tf
Due: eslint

PR feedback
  packages/api/lambdas/create-reconciliation-report.js
Due: eslint

Revert bignbit linter changes
  tasks/bignbit/deploy/kms.tf
  tasks/bignbit/deploy/main.tf
  tasks/bignbit/deploy/variables.tf
Due: none

remove whitelists that were fixed in PRs 4561 and 4562
  audit-ci.json
Due: none

CUMULUS-5316: Give AWS_PROFILE precedence over AWS_DEFAULT_PROFILE in cumulus aws client and Iceberg API; Update docs.
  CHANGELOG.md
  docs/deployment/iceberg-api.md
  package.json
  packages/api/app/README.md
  packages/api/tests/docker/test-iceberg-api.js
  packages/aws-client/src/client.ts
  packages/db/src/iceberg-connection.ts
  tf-modules/iceberg_api/README.md
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4541: collection configured cmr_providers (#4563)
  CHANGELOG.md
  package.json
  packages/api/lambdas/create-reconciliation-report.js
  packages/api/package.json
  packages/api/tests/lambdas/test-create-reconciliation-report.js
Due: eslint, npm-package-json-lint

adding SECURITY.md
  SECURITY.md
Due: none

updating CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

