Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

CUMULUS-4912: Fix image tagging.
  bamboo/tag-ghcr-image-release.sh
Due: none

CUMULUS-4882: Passed resolved fallback values to the child module to prevent attribute evaluation errors (#4485)
  CHANGELOG.md
  tf-modules/data-persistence/variables.tf
Due: none

CSD-99: CMR expired token authentication errors (#4411)
  CHANGELOG.md
  example/spec/parallel/changeGranuleCollections/ChangeGranuleCollectionWorkflowSpec.js
  example/spec/parallel/createReconciliationReport/CreateReconciliationReportSpec.js
  example/spec/parallel/testAPI/cmrTokenSpec.js
  packages/api/lib/granule-remove-from-cmr.js
  packages/cmr-client/package.json
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/src/CMRSearchConceptQueue.ts
  packages/cmr-client/src/deleteConcept.ts
  packages/cmr-client/src/ingestConcept.ts
  packages/cmr-client/tests/test-CMR.js
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/launchpad-auth/package.json
  packages/launchpad-auth/src/index.ts
  packages/launchpad-auth/tests/test-LaunchpadToken.js
  tasks/hyrax-metadata-updates/index.js
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4912: Drop obsolete bamboo script.
  bamboo/deploy-iceberg-api-image.sh
Due: none

contributors reversion
  CONTRIBUTORS.md
Due: none

fix retry behavior in s3ObjectExists
  packages/aws-client/src/S3.ts
Due: eslint, typescript-compile

CUMULUS-4694: Change platform for debezium image mirroring to arm64
  .github/workflows/mirror-debezium-images.yml
Due: none

CUMULUS-4694: Update CHANGELOG
  CHANGELOG.md
Due: none

CUMULUS-4694: Enable image build for testing
  .github/workflows/build-and-push-iceberg-replication-image.yml
Due: none

CUMULUS-4694: Fix column type assignment in replication
  packages/iceberg-replication/scripts/bulk_load_self_managed_iceberg.py
Due: none

CUMULUS-4694: Revert requirements.txt for replication
  packages/iceberg-replication/scripts/requirements.txt
Due: none

CUMULUS-4694: Use proper region when accessing log groups
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/variables.tf
  tf-modules/rds-iceberg-replication/modules/cluster/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4694: Change default region to us-west-2 in replication scripts
  packages/iceberg-replication/scripts/bulk_load_self_managed_iceberg.py
  packages/iceberg-replication/scripts/iceberg_compact.py
  packages/iceberg-replication/scripts/push_kafka_connect_image.sh
  packages/iceberg-replication/scripts/push_kafka_image.sh
  packages/iceberg-replication/scripts/push_to_ecr.sh
Due: none

CUMUL>US-4694: Fix schema creating for replication
  packages/iceberg-replication/scripts/create_staging_branch.py
Due: none

CUMULUS-4694: Disable pushing of replication image on pull requests
  .github/workflows/build-and-push-iceberg-replication-image.yml
Due: none

CUMULUS-4912: Build on all commits, push only on master commits, use ECR latest for non-master commits.
  .github/workflows/build-and-push-iceberg-api-image.yml
  bamboo/bootstrap-tf-deployment.sh
Due: none

CUMULUS-4912: Make Iceberg Integration tests not depend on secrets.
  bamboo/iceberg-api-integration-tests.sh
  packages/db/src/iceberg-connection.ts
Due: eslint, typescript-compile

Cumulus 4694 (#4483)
  .github/workflows/mirror-debezium-images.yml
  CHANGELOG.md
  packages/iceberg-replication/scripts/bulk_load_self_managed_iceberg.py
  packages/iceberg-replication/scripts/create_staging_branch.py
  packages/iceberg-replication/scripts/iceberg_compact.py
  packages/iceberg-replication/scripts/push_kafka_connect_image.sh
  packages/iceberg-replication/scripts/push_kafka_image.sh
  packages/iceberg-replication/scripts/push_to_ecr.sh
  packages/iceberg-replication/scripts/requirements.txt
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/variables.tf
  tf-modules/rds-iceberg-replication/modules/cluster/variables.tf
  tf-modules/rds-iceberg-replication/modules/replication-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4912: Move Iceberg API image build from Bamboo to github workflow. (#4484)
  .github/workflows/build-and-push-iceberg-api-image.yml
  CHANGELOG.md
  bamboo/bootstrap-tf-deployment.sh
  bamboo/deploy-iceberg-api-image.sh
  bamboo/iceberg-api-integration-tests.sh
  bamboo/set-bamboo-env-variables.sh
  bamboo/tag-ghcr-image-release.sh
  docs/deployment/iceberg-api.md
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  packages/db/src/iceberg-connection.ts
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: eslint, typescript-compile

21.3.x changelog changes
  CHANGELOG.md
Due: none

CSD-99 to master
  CHANGELOG.md
  example/spec/parallel/changeGranuleCollections/ChangeGranuleCollectionWorkflowSpec.js
  example/spec/parallel/createReconciliationReport/CreateReconciliationReportSpec.js
  example/spec/parallel/testAPI/cmrTokenSpec.js
  packages/api/lib/granule-remove-from-cmr.js
  packages/cmr-client/package.json
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/src/CMRSearchConceptQueue.ts
  packages/cmr-client/src/deleteConcept.ts
  packages/cmr-client/src/ingestConcept.ts
  packages/cmr-client/tests/test-CMR.js
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/launchpad-auth/package.json
  packages/launchpad-auth/src/index.ts
  packages/launchpad-auth/tests/test-LaunchpadToken.js
  tasks/hyrax-metadata-updates/index.js
Due: eslint, npm-package-json-lint, typescript-compile

21.3.x changelog changes (#4488)
  CHANGELOG.md
Due: none

wip initial commit
  packages/api/lib/granule-remove-from-cmr.js
Due: eslint

wip
  packages/api/lib/granule-remove-from-cmr.js
Due: eslint

Ecarton/csd 111 requesterpays (#4486)
  packages/aws-client/src/S3.ts
  packages/aws-client/tests/S3/test-multipartCopyObjectAbort.js
  packages/common/.nycrc.json
  packages/common/package.json
  packages/common/src/key-pair-provider.ts
  packages/common/tests/test-key-pair-provider.js
  tasks/add-missing-file-checksums/tests/test-index.ts
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4918: Add release number to Iceberg APi image if applicable.
  .github/workflows/build-and-push-iceberg-api-image.yml
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

