Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

Added terraform
  tasks/add-input-granules/deploy/main.tf
  tasks/add-input-granules/deploy/outputs.tf
  tasks/add-input-granules/deploy/variables.tf
  tasks/add-input-granules/deploy/versions.tf
Due: none

Updated changelog
  CHANGELOG.md
Due: none

Omitted terraform_fmt in pre-commit hook CI config since it's not supported there
  .pre-commit-config.yaml
Due: none

added add input granules to tf modules
  tf-modules/ingest/python-lambdas.tf
Due: none

Added lambda layer and envvar for Cumulus API to Terraform
  tasks/add-input-granules/deploy/main.tf
  tasks/add-input-granules/deploy/variables.tf
Due: none

CUMULUS-4599 (#4289)
  .github/workflows/export-requirements.yml
  CHANGELOG.md
  example/lambdas/python-processing/package.json
  example/lambdas/python-processing/requirements.txt
  example/lambdas/python-reference-activity/package.json
  example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-task/package.json
  example/lambdas/python-reference-task/requirements.txt
  package.json
  pyproject.toml
  tasks/aws-api-proxy/package.json
  tasks/aws-api-proxy/pyproject.toml
  tasks/aws-api-proxy/requirements.txt
  tasks/aws-api-proxy/uv.lock
  tasks/cnm-response/package.json
  tasks/cnm-response/requirements.txt
  tasks/cnm-response/uv.lock
  tasks/cnm-to-cma/package.json
  tasks/cnm-to-cma/requirements.txt
  tasks/cnm-to-cma/uv.lock
  tasks/get-cnm/package.json
  tasks/get-cnm/pyproject.toml
  tasks/get-cnm/requirements.txt
  tasks/get-cnm/uv.lock
  tasks/granule-invalidator/package.json
  tasks/granule-invalidator/pyproject.toml
  tasks/granule-invalidator/requirements.txt
  tasks/granule-invalidator/uv.lock
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/requirements.txt
  tasks/pdr-cleanup/uv.lock
Due: npm-package-json-lint

add input granules to tf output
  tf-modules/ingest/outputs.tf
Due: none

fix producerGranuleId in changeGranuleCollectionPg
  example/data/payloads/IngestGranule.input.payload.json
  example/spec/parallel/changeGranuleCollections/ChangeGranuleCollectionPG.js
Due: eslint

match An SNS Fallback retry test with master
  packages/api/tests/lambdas/test-kinesis-consumer.js
Due: eslint

Added bare-bones terraform best practices file
  docs/development/terraform-best-practices.md
  website/sidebars.js
Due: none

fix issues from merge conflict
  packages/api/endpoints/granules.js
  packages/api/endpoints/token.js
Due: eslint

fix issues from merge conflict (#4315)
  packages/api/endpoints/granules.js
  packages/api/endpoints/token.js
Due: eslint

CUMULUS-4557: Make a containerized cumulus api that can be deployed to ECS.
  .dockerignore
  packages/api/app/Dockerfile
  packages/api/app/README.md
  packages/api/app/db.js
  packages/api/app/index.js
  packages/api/endpoints/async-operations.js
  packages/api/endpoints/collections.js
  packages/api/endpoints/execution-status.js
  packages/api/endpoints/executions.js
  packages/api/endpoints/granules.js
  packages/api/endpoints/pdrs.js
  packages/api/endpoints/providers.js
  packages/api/endpoints/reconciliation-reports.js
  packages/api/endpoints/rules.js
  packages/db/src/connection.ts
  packages/db/src/index.ts
  packages/db/src/search/BaseSearch.ts
  packages/db/src/search/StatsSearch.ts
Due: eslint, typescript-compile

CUMULUS-4558: Provision ECS Fargate infrastructure for cumulus api using terraform.
  example/cumulus-tf/cumulus_api.tf
  example/cumulus-tf/outputs.tf
  example/cumulus-tf/variables.tf
  tf-modules/archive/iam.tf
  tf-modules/archive/outputs.tf
  tf-modules/cumulus/outputs.tf
Due: none

CUMULUS-4558: Fix redirect url.
  example/cumulus-tf/cumulus_api.tf
  example/cumulus-tf/main.tf
  example/cumulus-tf/outputs.tf
  example/cumulus-tf/variables.tf
Due: none

first commit - redone PR
  packages/api/lambdas/recreate-launchpad-token.js
  packages/cmrjs/src/cmr-utils.js
  tasks/post-to-cmr/index.js
Due: eslint

CUMULUS-4557: Fix ci build error.
  packages/api/endpoints/executions.js
  packages/api/endpoints/granules.js
  packages/api/endpoints/providers.js
  uv.lock
Due: eslint

add default cmrProvider to template in integration
  example/spec/helpers/workflowUtils.js
Due: eslint

lint
  example/spec/helpers/workflowUtils.js
Due: eslint

CUMULUS-4557: Fix Lint and API unit test errors.
  .dockerignore
  example/cumulus-tf/cumulus_api.tf
  packages/api/app/Dockerfile
  packages/api/app/db.js
  packages/api/app/index.js
  packages/api/endpoints/granules.js
  packages/api/endpoints/token.js
  packages/db/src/connection.ts
Due: eslint, typescript-compile

turn off tests for this
  scripts/generate_records/package.json
Due: npm-package-json-lint

Add contributors
  CONTRIBUTORS.md
Due: none

CUMULUS-4557: Fix intermittent API unit test failure.
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

CUMULUS-4557: One more fix for intermittent test failures; Updated CHANGELOG.
  CHANGELOG.md
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

CUMULUS-4558: Make my ci deployment to RUN_API_AS_SERVER=true.
  example/deployments/cumulus/yliu10-ci-tf.tfvars
Due: none

checking for weirdness at runtime within api
  packages/api/endpoints/collections.js
Due: eslint

get hyrax to tell me what it's cmrProvider is
  tasks/hyrax-metadata-updates/index.js
Due: eslint

how about cmr settings coming through
  tasks/hyrax-metadata-updates/index.js
Due: eslint

what about checking this?
  packages/api/endpoints/collections.js
Due: eslint

revisions
  packages/api/lambdas/recreate-launchpad-token.js
  packages/api/package.json
  packages/cmr-client/package.json
  packages/cmr-client/src/CMR.ts
  packages/cmrjs/package.json
  packages/cmrjs/src/cmr-utils.js
  tasks/post-to-cmr/index.js
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4558: Minor cleanup.
  example/cumulus-tf/cumulus_api.tf
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

