Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

Updated lint gh actions to include setup-uv
  .github/workflows/lint.yml
Due: none

Adds Filter Granule task for PDR workflow
  pyproject.toml
  tasks/filter-granules/README.md
  tasks/filter-granules/package.json
  tasks/filter-granules/pyproject.toml
  tasks/filter-granules/schemas/config.json
  tasks/filter-granules/schemas/input.json
  tasks/filter-granules/schemas/output.json
  tasks/filter-granules/src/filter_granules/__init__.py
  tasks/filter-granules/src/filter_granules/task.py
  tasks/filter-granules/tests/__init__.py
  tasks/filter-granules/tests/unit_tests/__init__.py
  tasks/filter-granules/tests/unit_tests/filter_granules/__init__.py
  tasks/filter-granules/tests/unit_tests/filter_granules/test_task.py
  tasks/filter-granules/uv.lock
Due: npm-package-json-lint

Updates CHANGELOG
  CHANGELOG.md
Due: none

Removed `prepare` npm target for get-cnm Removed not-needed setup-uv actions
  .github/workflows/lint.yml
  tasks/get-cnm/package.json
Due: npm-package-json-lint

non-optional cmr_provider in db
  packages/db/src/types/collection.ts
  packages/types/api/collections.d.ts
Due: eslint, typescript-compile

move changes from acyu/CSD-91 to the current branch to be merge into 21.3.x
  CHANGELOG.md
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  tasks/update-granules-cmr-metadata-file-links/README.md
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint

CUMULUS-4472: utilize concurrency and db connection pool for all bulk operations endpoints (#4263)
  CHANGELOG.md
  example/spec/parallel/ingestGranule/IngestGranuleSuccessSpec.js
  packages/api/endpoints/granules.js
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/executions.js
  packages/api/lib/ingest.js
  packages/api/lib/request.js
  packages/api/tests/endpoints/granules/test-bulk-delete.js
  packages/api/tests/endpoints/granules/test-bulk-granules.js
  packages/api/tests/endpoints/granules/test-bulk-reingest.js
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/lambdas/test-bulk-operation.js
  packages/api/tests/lib/test-ingest.js
  packages/db/src/lib/execution.ts
  packages/db/src/translate/granules.ts
Due: eslint, typescript-compile

Add depends_on for lambda log groups
  tasks/cnm-response/deploy/main.tf
  tasks/cnm-to-cma/deploy/main.tf
  tasks/granule-invalidator/deploy/main.tf
Due: none

Rename granule invalidator lambda to match the rest of cumulus core tasks
  tasks/granule-invalidator/deploy/main.tf
Due: none

Rename cnm to cma lambda to match the rest of cumulus core tasks
  tasks/cnm-to-cma/deploy/main.tf
Due: none

Refactor tasks to use shared tf module
  tasks/aws-api-proxy/deploy/main.tf
  tasks/aws-api-proxy/deploy/outputs.tf
  tasks/aws-api-proxy/deploy/variables.tf
  tasks/cnm-response/deploy/main.tf
  tasks/cnm-response/deploy/output.tf
  tasks/cnm-response/deploy/variables.tf
  tasks/cnm-response/src/main.py
  tasks/cnm-to-cma/deploy/main.tf
  tasks/cnm-to-cma/deploy/output.tf
  tasks/cnm-to-cma/deploy/variables.tf
  tasks/cnm-to-cma/src/main.py
  tasks/granule-invalidator/deploy/main.tf
  tasks/granule-invalidator/deploy/outputs.tf
  tasks/granule-invalidator/deploy/variables.tf
  tf-modules/cumulus-task/main.tf
  tf-modules/cumulus-task/variables.tf
  tf-modules/ingest/cnm-response.tf
  tf-modules/ingest/granule-invalidator-task.tf
  tf-modules/ingest/outputs.tf
  tf-modules/ingest/python-lambdas.tf
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Refactor output ordering
  tf-modules/cumulus/outputs.tf
Due: none

code refactory
  tasks/cma-to-cnm/deploy/main.tf
  tasks/cma-to-cnm/deploy/output.tf
  tasks/cma-to-cnm/deploy/variables.tf
  tasks/cma-to-cnm/src/cma_to_cnm/cma_to_cnm.py
  tasks/cma-to-cnm/src/cma_to_cnm/models_cma.py
  tasks/cma-to-cnm/tests/resources/input_multi_granule.json
  tasks/cma-to-cnm/tests/test_cma_to_cnm.py
Due: none

missing changes from PR https://github.com/nasa/cumulus/pull/4246
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  tasks/update-granules-cmr-metadata-file-links/tests/data/meta.xml
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint

CUMULUS-4570 Cleanup corified tasks (#4268)
  CHANGELOG.md
  tasks/aws-api-proxy/deploy/main.tf
  tasks/aws-api-proxy/deploy/outputs.tf
  tasks/aws-api-proxy/deploy/variables.tf
  tasks/cnm-response/deploy/main.tf
  tasks/cnm-response/deploy/output.tf
  tasks/cnm-response/deploy/variables.tf
  tasks/cnm-response/src/main.py
  tasks/cnm-to-cma/deploy/main.tf
  tasks/cnm-to-cma/deploy/output.tf
  tasks/cnm-to-cma/deploy/variables.tf
  tasks/cnm-to-cma/src/main.py
  tasks/granule-invalidator/deploy/main.tf
  tasks/granule-invalidator/deploy/outputs.tf
  tasks/granule-invalidator/deploy/variables.tf
  tf-modules/cumulus-task/main.tf
  tf-modules/cumulus-task/variables.tf
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/cnm-response.tf
  tf-modules/ingest/granule-invalidator-task.tf
  tf-modules/ingest/outputs.tf
  tf-modules/ingest/python-lambdas.tf
Due: none

bugfix and testing for bug
  packages/api/lambdas/sf-scheduler.js
  packages/api/tests/lambdas/test-sf-scheduler.js
Due: eslint

constructing cnm_to_cma modules and ouputs for CI workflow
  CHANGELOG.md
  tasks/cnm-to-cma/deploy/README.md
  tasks/cnm-to-cma/deploy/main.tf
  tasks/cnm-to-cma/deploy/output.tf
  tasks/cnm-to-cma/deploy/terraform.tfvars
  tasks/cnm-to-cma/deploy/variables.tf
  tasks/cnm-to-cma/src/cnm_to_cma/cnm_to_cma.py
  tasks/cnm-to-cma/src/main.py
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/cnm-to-cma.tf
  tf-modules/ingest/outputs.tf
  tf-modules/ingest/python-lambdas.tf
Due: none

needs fixed infake collection
  packages/db/src/test-utils.ts
Due: eslint, typescript-compile

modify cnm_workflow tf scripts to adopt new cumulus-core cnm_to_cma_task module
  example/cumulus-tf/cnm_to_cma_task.tf
  example/cumulus-tf/cnm_workflow.asl.json
  example/cumulus-tf/cnm_workflow.tf
  tf-modules/ingest/cnm-to-cma.tf
Due: none

Updates per PR feedback
  .github/workflows/export-requirements.yml
Due: none

Updated task readme Updated pyproject.toml version
  tasks/get-cnm/README.md
  tasks/get-cnm/pyproject.toml
Due: none

First stab at versioning python projects so they match the package.json file
  bin/package_uv.sh
  tasks/aws-api-proxy/pyproject.toml
  tasks/aws-api-proxy/uv.lock
Due: none

passthrough of cmr_provider in test, and notNullable
  packages/api/tests/endpoints/collections/get-collection.js
  packages/db/src/migrations/20260205224950_add_collections_cmr_provider.ts
Due: eslint, typescript-compile

unneeded drop index
  packages/db/src/migrations/20260205224950_add_collections_cmr_provider.ts
Due: eslint, typescript-compile

changelog
  CHANGELOG.md
Due: none

Updates per feedback
  bin/package_uv.sh
  package.json
  tasks/aws-api-proxy/package.json
  tasks/aws-api-proxy/uv.lock
Due: npm-package-json-lint

CUMULUS-4563 (#4286)
  .github/workflows/export-requirements.yml
  CHANGELOG.md
  example/lambdas/python-processing/example/lambdas/python-processing/requirements.txt
  example/lambdas/python-processing/requirements.txt
  example/lambdas/python-processing/uv.lock
  example/lambdas/python-reference-activity/example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-activity/uv.lock
  example/lambdas/python-reference-task/example/lambdas/python-reference-task/requirements.txt
  example/lambdas/python-reference-task/requirements.txt
  example/lambdas/python-reference-task/uv.lock
  tasks/aws-api-proxy/requirements.txt
  tasks/aws-api-proxy/tasks/aws-api-proxy/requirements.txt
  tasks/aws-api-proxy/uv.lock
  tasks/cnm-response/requirements.txt
  tasks/cnm-response/tasks/cnm-response/requirements.txt
  tasks/cnm-response/uv.lock
  tasks/cnm-to-cma/requirements.txt
  tasks/cnm-to-cma/tasks/cnm-to-cma/requirements.txt
  tasks/cnm-to-cma/uv.lock
  tasks/granule-invalidator/requirements.txt
  tasks/granule-invalidator/tasks/granule-invalidator/requirements.txt
  tasks/granule-invalidator/uv.lock
  tasks/pdr-cleanup/requirements.txt
  tasks/pdr-cleanup/tasks/pdr-cleanup/requirements.txt
  tasks/pdr-cleanup/uv.lock
  uv.lock
Due: none

Updates per PR feedback
  example/cumulus-tf/get_cnm_workflow.asl.json
  tasks/get-cnm/deploy/terraform.tfvars
  tasks/get-cnm/src/get_cnm/get_cnm.py
  tasks/get-cnm/src/get_cnm/schemas/input.json
  tasks/get-cnm/src/get_cnm/schemas/output.json
  tasks/get-cnm/src/main.py
  tasks/get-cnm/tests/unit_tests/get-cnm/test_get_cnm.py
  tasks/get-cnm/uv.lock
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/python-lambdas.tf
Due: none

checkout from master to resolve snyk CI failure
  tasks/cnm-response/package.json
  tasks/cnm-to-cma/package.json
  tasks/granule-invalidator/package.json
Due: npm-package-json-lint

first commit
  CHANGELOG.md
  packages/cmr-client/src/CMR.ts
Due: eslint, typescript-compile

fixes in other unit tests
  packages/api/lib/testUtils.js
  packages/api/tests/lambdas/test-archive-records.js
  packages/api/tests/lambdas/test-create-reconciliation-report.js
Due: eslint

Updates per PR feedback
  tasks/get-cnm/tests/conftest.py
  tasks/get-cnm/tests/data/cnm.json
  tasks/get-cnm/tests/data/input.json
  tasks/get-cnm/tests/integration_tests/get-cnm/test_lambda_handler.py
Due: none

s3 duck db update for test
  packages/db/src/s3search/s3TableSchemas.ts
  packages/db/tests/translate/test-collections.js
Due: eslint, typescript-compile

refactor: use environment variables for Docker Compose credentials
  bamboo/docker-compose.yml
Due: none

add cmrProviders to these test files
  tasks/change-granule-collection-pg/tests/data/new_collection.json
  tasks/change-granule-collection-pg/tests/data/original_collection.json
Due: none

Updated python package to match precommit
  tasks/get-cnm/package.json
Due: npm-package-json-lint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

