Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

CUMULUS-4707: Renamed s3table to iceberg.
  packages/api/app/Dockerfile
  packages/api/app/README.md
  packages/api/endpoints/iceberg-async-operations.js
  packages/api/endpoints/iceberg-collections.js
  packages/api/endpoints/iceberg-executions.js
  packages/api/endpoints/iceberg-granules.js
  packages/api/endpoints/iceberg-pdrs.js
  packages/api/endpoints/iceberg-providers.js
  packages/api/endpoints/iceberg-reconciliation-reports.js
  packages/api/endpoints/iceberg-rules.js
  packages/db/src/duckdb.ts
  packages/db/src/iceberg-search/AsyncOperationIcebergSearch.ts
  packages/db/src/iceberg-search/CollectionIcebergSearch.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/src/iceberg-search/ExecutionIcebergSearch.ts
  packages/db/src/iceberg-search/GranuleIcebergSearch.ts
  packages/db/src/iceberg-search/IcebergSchemas.ts
  packages/db/src/iceberg-search/PdrIcebergSearch.ts
  packages/db/src/iceberg-search/ProviderIcebergSearch.ts
  packages/db/src/iceberg-search/ReconciliationReportIcebergSearch.ts
  packages/db/src/iceberg-search/RuleIcebergSearch.ts
  packages/db/src/iceberg-search/StatsIcebergSearch.ts
  packages/db/src/iceberg-search/duckdbHelpers.ts
  packages/db/src/search/BaseSearch.ts
  packages/db/src/test-duckdb-utils.ts
  packages/db/tests/iceberg-search/test-AsyncOperationIcebergSearch.js
  packages/db/tests/iceberg-search/test-CollectionIcebergSearch.js
  packages/db/tests/iceberg-search/test-ExecutionIcebergSearch.js
  packages/db/tests/iceberg-search/test-GranuleIcebergSearch.js
  packages/db/tests/iceberg-search/test-PdrIcebergSearch.js
  packages/db/tests/iceberg-search/test-ProviderIcebergSearch.js
  packages/db/tests/iceberg-search/test-ReconciliationReportIcebergSearch.js
  packages/db/tests/iceberg-search/test-RuleIcebergSearch.js
  packages/db/tests/iceberg-search/test-StatsIcebergSearch.js
Due: eslint, typescript-compile

update granule model
  packages/db/src/lib/granule.ts
  packages/db/src/models/granule.ts
  packages/db/src/types/granule-execution.ts
  packages/db/tests/models/test-granule-model.js
Due: eslint, typescript-compile

trigger throw original error
  packages/db/src/migrations/110_executions_triggers.ts
  packages/db/src/migrations/120_granules_triggers.ts
  packages/db/src/migrations/130_files_triggers.ts
  packages/db/src/models/granule.ts
Due: eslint, typescript-compile

CUMULUS-4707: Add default values for iceberg_iceberg_s3_bucket and iceberg_namespace.
  CHANGELOG.md
  example/cumulus-tf/variables.tf
Due: none

CUMULUS-4707: Add default values for iceberg_iceberg_s3_bucket and iceberg_namespace. (#4408)
  CHANGELOG.md
  example/cumulus-tf/variables.tf
Due: none

first committ
  CHANGELOG.md
  example/cumulus-tf/variables.tf
  tf-modules/cumulus/variables.tf
Due: none

first commit - 21.3.x branch
  CHANGELOG.md
  packages/api/lambdas/recreate-launchpad-token.js
  packages/api/package.json
  packages/api/tests/lambdas/test-recreate-launchpad-token.js
  packages/api/webpack.config.js
  packages/cmr-client/package.json
  packages/cmr-client/src/CMR.ts
  packages/cmrjs/package.json
  packages/cmrjs/src/cmr-utils.js
  tf-modules/ingest/iam.tf
  tf-modules/ingest/lambda-functions.tf
  tf-modules/ingest/outputs.tf
Due: eslint, npm-package-json-lint, typescript-compile

file model
  packages/db/src/models/file.ts
  packages/db/src/models/granule.ts
  packages/db/src/test-utils.ts
  packages/db/src/translate/file.ts
  packages/db/src/types/file.ts
  packages/db/tests/models/test-file-model.js
Due: eslint, typescript-compile

release-20.3.3-changelog-changes (#4405)
  CHANGELOG.md
Due: none

first committ (#4409)
  CHANGELOG.md
  example/cumulus-tf/variables.tf
  tf-modules/cumulus/variables.tf
Due: none

remove OpenTelemetry from feature branch
  CHANGELOG.md
  packages/api/.nycrc.json
  packages/api/endpoints/collections.js
  packages/api/endpoints/executions.js
  packages/api/endpoints/granules.js
  packages/api/endpoints/pdrs.js
  packages/api/endpoints/providers.js
  packages/api/endpoints/reconciliation-reports.js
  packages/api/endpoints/rules.js
  packages/api/endpoints/stats.js
  packages/api/package.json
  packages/db/package.json
  packages/db/src/search/ProviderSearch.ts
  tf-modules/archive/api.tf
  tf-modules/archive/variables.tf
Due: eslint, npm-package-json-lint, typescript-compile

remove more otel
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
  tf-modules/cumulus/archive.tf
Due: none

remove more otel
  tf-modules/archive/iam.tf
Due: none

granules-executions-model test
  packages/db/src/models/execution.ts
  packages/db/tests/models/test-granules-executions-model.js
Due: eslint, typescript-compile

fix: use rawValue for MD5 checksums to prevent precision loss in PVLNumeric
  tasks/parse-pdr/index.js
Due: eslint

lib-execution
  packages/db/src/lib/granule.ts
  packages/db/src/models/execution.ts
  packages/db/tests/lib/test-execution.js
Due: eslint, typescript-compile

Add iceberg configuration for nsidc-cumulus-prod deployment stack in SIT.
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
Due: none

isolate INSERT in savepoint
  packages/db/src/models/execution.ts
  packages/db/src/models/file.ts
  packages/db/src/models/granule.ts
  packages/db/tests/models/test-granule-model.js
Due: eslint, typescript-compile

CUMULUS-4776: Fix IAM role for Fargate task to allow RDS access
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cluster/iam.tf
  tf-modules/rds-iceberg-replication/modules/cluster/outputs.tf
Due: none

lib/test-granule skip updateBatchGranulesCollection Duplicate granule_id move partition
  packages/db/tests/lib/test-granule.js
Due: eslint

default executions partition
  packages/db/src/migrations/030_executions.ts
Due: eslint, typescript-compile

CUMULUS-4710: Implement list of stats route in iceberg search api
  CHANGELOG.md
  example/cumulus-tf/variables.tf
  packages/api/app/iceberg-routes.js
  packages/api/endpoints/iceberg-stats.js
  packages/api/lib/statsHelpers.js
Due: eslint

db package unit tests pass except one skip
  packages/db/tests/lib/test-QuerySearchClient.js
  packages/db/tests/lib/test-file.js
  packages/db/tests/search/test-GranuleSearch.js
  packages/db/tests/translate/test-granules.js
Due: eslint

CUMULUS-4710: Shorten the alb name to fix deployment error for nsidc-cumulus-prod stack in SIT.
  tf-modules/iceberg_api/main.tf
Due: none

CUMULUS-4710: Add unit tests.
  packages/api/endpoints/iceberg-stats.js
  packages/api/tests/endpoints/test-iceberg-stats.js
Due: eslint

CUMULUS-4710: Fix linter error.
  packages/api/tests/endpoints/test-iceberg-stats.js
Due: eslint

WIP
  packages/api/lambdas/recreate-launchpad-token.js
  packages/cmrjs/src/cmr-utils.js
Due: eslint

updated unit test - removed try/catch for parsePdr MD5 test
  tasks/parse-pdr/tests/test-parse-pdr.js
Due: eslint

handle granule collection_cumulus_id update in trigger
  packages/db/src/migrations/120_granules_triggers.ts
  packages/db/tests/lib/test-granule.js
  packages/db/tests/search/test-GranuleSearch.js
  packages/db/tests/search/test-PdrSearch.js
Due: eslint, typescript-compile

add aws_s3_bucket_lifecycle_rules to variable update aws_s3_bucket_lifecycle_configuration to dynamic parameterized configuration
  tf-modules/archive/s3_bucket_lifecycle_config.tf
  tf-modules/archive/variables.tf
Due: none

CUMULUS-4710: Add background cache population for duckdb connections.
  packages/db/src/iceberg-connection.ts
Due: eslint, typescript-compile

CSD-104 - Parse-PDR task fails when a checksum is a string of decimal digits (#4407)
  CHANGELOG.md
  packages/pvl/lib/models.js
  packages/pvl/test/parsing.js
  packages/test-data/pdrs/MOD09GQ-with-decimal-MD5-checksum.PDR
  tasks/parse-pdr/index.js
  tasks/parse-pdr/tests/test-parse-pdr.js
Due: eslint

add aws_s3_bucket_lifecycle_rules to example terraform
  example/cumulus-tf/variables.tf
Due: none

CUMULUS-4710: Add performance and memory settings for duckdb connections.
  packages/db/src/iceberg-connection.ts
  tf-modules/iceberg_api/main.tf
Due: eslint, typescript-compile

Merge in CUMULUS-4567 changes from release-21.3.x. includes migration file for executions_cumulus_id sequence type
  CHANGELOG.md
  packages/db/src/migrations/20260402110300_update_bigint_column_sequence.sql
  packages/db/src/migrations/20260402110300_update_bigint_column_sequence.ts
Due: eslint, typescript-compile

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

