Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

further test fixes
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

add tea_distribution_url_per_cmr_provider to terraform.tfvars.example
  example/cumulus-tf/terraform.tfvars.example
Due: none

CUMULUS-4664: TEA in Consolidated Cumulus (#4449)
  CHANGELOG.md
  example/cumulus-tf/cnm_workflow.asl.json
  example/cumulus-tf/cookbook_browse_example_workflow.asl.json
  example/cumulus-tf/ingest_and_publish_granule_unique_workflow.asl.json
  example/cumulus-tf/ingest_and_publish_granule_with_orca_workflow.asl.json
  example/cumulus-tf/ingest_and_publish_granule_workflow.asl.json
  example/cumulus-tf/ingest_granule_catch_duplicate_error_test_workflow.asl.json
  example/cumulus-tf/ingest_granule_with_queue_workflow.asl.json
  example/cumulus-tf/ingest_granule_workflow.asl.json
  example/cumulus-tf/main.tf
  example/cumulus-tf/python_processing_workflow.asl.json
  example/cumulus-tf/terraform.tfvars.example
  example/cumulus-tf/variables.tf
  example/spec/parallel/cmrProviderUrlRouting/CmrProviderUrlRoutingSpec.js
  packages/api/lambdas/create-reconciliation-report.js
  packages/api/tests/lambdas/test-create-reconciliation-report.js
  packages/distribution-utils/src/index.ts
  packages/distribution-utils/test/test-index.js
  tasks/change-granule-collection-s3/src/index.ts
  tasks/change-granule-collection-s3/tests/test-index.js
  tasks/move-granules/index.js
  tasks/move-granules/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
  tf-modules/archive/reconciliation_report.tf
  tf-modules/archive/variables.tf
  tf-modules/cumulus/archive.tf
  tf-modules/cumulus/ingest.tf
  tf-modules/cumulus/variables.tf
  tf-modules/ingest/change-granule-collection-s3.tf
  tf-modules/ingest/message_template.tf
  tf-modules/ingest/variables.tf
Due: eslint, typescript-compile

CUMULUS-4705: Add entry to CHANGELOG
  CHANGELOG.md
Due: none

CUMULUS-4705: Update memory settings to a valid ECS configuration for snapshot cleanup service.
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

CUMULUS-4874:Fix sns permission statement missing issue (#4453)
  .pre-commit-config.yaml
  CHANGELOG.md
  example/deployments/data-persistence/cumulus-sit.tfvars
  example/spec/parallel/testAPI/snsRuleSpec.js
  packages/api/endpoints/rules.js
  packages/api/lib/rulesHelpers.js
  packages/api/lib/snsRuleHelpers.js
  packages/api/tests/endpoints/test-rules.js
  packages/api/tests/lib/rules/test-rulesHelpers.js
  packages/test-data/granules/fake_granules/granule-1.nc
  packages/test-data/granules/fake_granules/granule-2.nc
  packages/test-data/granules/fake_granules/granule-3.nc
  tasks/lzards-backup/package.json
  tf-modules/archive/iam.tf
  tf-modules/cumulus/iam.tf
Due: eslint, npm-package-json-lint

get only cmr_provider when only cmr_provider are needed
  packages/db/src/models/collection.ts
Due: eslint, typescript-compile

camel vs snake case typo
  packages/types/api/executions.d.ts
  packages/types/api/granules.d.ts
  packages/types/api/pdrs.d.ts
Due: eslint, typescript-compile

various IO.json files wanting autogenerated newlines
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/schemas/output.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/orca-copy-to-archive-adapter/schemas/input.json
  tasks/orca-copy-to-archive-adapter/schemas/output.json
  tasks/orca-recovery-adapter/schemas/input.json
  tasks/orca-recovery-adapter/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
Due: none

gitignore
  .gitignore
Due: none

remove two
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
Due: none

what's wrong with this gitignorfe
  .gitignore
Due: none

more tweaking
  .gitignore
Due: none

WIP cleaning stuff up
  .gitignore
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/schemas/output.json
  tasks/change-granule-collection-pg/schemas/input.json
  tasks/change-granule-collection-pg/schemas/output.json
  tasks/change-granule-collection-s3/schemas/input.json
  tasks/change-granule-collection-s3/schemas/output.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/orca-copy-to-archive-adapter/schemas/input.json
  tasks/orca-copy-to-archive-adapter/schemas/output.json
  tasks/orca-recovery-adapter/schemas/input.json
  tasks/orca-recovery-adapter/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
Due: none

unremove a couple outputs
  tasks/files-to-granules/schemas/output.json
  tasks/sync-granule/schemas/output.json
Due: none

CUMULUS-4711: Add integration tests for iceberg api and fix 500 error in iceberg api (#4427)
  CHANGELOG.md
  bamboo/iceberg-api-integration-tests.sh
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  packages/api/app/README.md
  packages/api/app/env.local.example
  packages/api/package.json
  packages/api/tests/docker/test-iceberg-api.js
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/CollectionIcebergSearch.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/src/iceberg-search/GranuleIcebergSearch.ts
  packages/db/src/test-duckdb-utils.ts
  packages/db/tests/iceberg-search/test-DuckDBSearchExecutor.js
  packages/db/tests/test-iceberg-connection.js
  tf-modules/cumulus/iceberg_api.tf
  tf-modules/cumulus/variables.tf
  tf-modules/iceberg_api/README.md
  tf-modules/iceberg_api/main.tf
  tf-modules/iceberg_api/variables.tf
Due: eslint, npm-package-json-lint, typescript-compile

re-reove these
  tasks/files-to-granules/schemas/output.json
  tasks/sync-granule/schemas/output.json
Due: none

bring in some pieces that were missing
  tasks/change-granule-collection-pg/schemas/input.json
  tasks/change-granule-collection-pg/schemas/output.json
  tasks/change-granule-collection-s3/schemas/input.json
  tasks/change-granule-collection-s3/schemas/output.json
Due: none

adding logging
  packages/cmr-client/src/CMR.ts
  packages/launchpad-auth/src/index.ts
Due: eslint, typescript-compile

fixing wait for release bug when acquireLock=true
  packages/cmr-client/src/CMR.ts
  packages/launchpad-auth/src/index.ts
Due: eslint, typescript-compile

wip typing
  packages/db/src/types/collection.ts
  packages/types/api/collections.d.ts
Due: eslint, typescript-compile

CUMULUS-4705: Cleanup expired Iceberg table snapshots (#4461)
  CHANGELOG.md
  example/rds-iceberg-replication-tf/main.tf
  example/rds-iceberg-replication-tf/variables.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/iam.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/main.tf
  tf-modules/rds-iceberg-replication/modules/cleanup-service/variables.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none

lowering coverage due to added logging
  packages/launchpad-auth/.nycrc.json
Due: none

add test
  packages/db/tests/models/test-collection-model.js
Due: eslint

bubble up to sf-events determination of collection cmr_provider
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/api/lib/writeRecords/utils.js
  packages/api/lib/writeRecords/write-execution.js
  packages/api/lib/writeRecords/write-granules.js
  packages/api/src/lib/granule-delete.ts
  packages/db/src/models/collection.ts
  packages/db/tests/models/test-collection-model.js
Due: eslint, typescript-compile

spreader ordering
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-write-pdr.js
  packages/api/tests/lib/writeRecords/test-write-execution.js
Due: eslint

CUMULUS-4883: Add script to build Iceberg API docker image and push it to ECR as part of the build process.
  CHANGELOG.md
  bamboo/bootstrap-tf-deployment.sh
  bamboo/deploy-dev-integration-test-stack.sh
  bamboo/deploy-iceberg-api-image.sh
  bamboo/set-bamboo-env-variables.sh
Due: none

adding test for write-execution
  packages/api/lib/writeRecords/write-execution.js
  packages/api/tests/lib/writeRecords/test-write-execution.js
Due: eslint

typo fix
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
Due: eslint

CUMULUS-4883: Install docker in cumulus container.
  bamboo/bootstrap-tf-deployment.sh
  bamboo/deploy-dev-integration-test-stack.sh
  bamboo/deploy-iceberg-api-image.sh
Due: none

CUMULUS-4883: Reorgnized the scripts.
  bamboo/bootstrap-tf-deployment.sh
  bamboo/deploy-dev-integration-test-stack.sh
  bamboo/deploy-iceberg-api-image.sh
  bamboo/set-bamboo-env-variables.sh
Due: none

CUMULUS-4883: Fix the deployment.
  bamboo/bootstrap-tf-deployment.sh
  bamboo/deploy-iceberg-api-image.sh
Due: none

various tests fixes
  example/spec/parallel/granuleInvalidator/ScienceDateRolloffSpec.js
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
  packages/api/lib/testUtils.js
  packages/api/lib/writeRecords/utils.js
  packages/api/tests/lambdas/test-create-reconciliation-report.js
  packages/db/src/translate/collections.ts
  packages/ingest/test/test-queue.js
Due: eslint, typescript-compile

test fixes
  packages/api/tests/endpoints/collections/get-collection.js
  packages/api/tests/endpoints/providers/delete-provider.js
  packages/api/tests/endpoints/test-executions.js
  packages/api/tests/endpoints/test-granules.js
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-index.js
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-write-pdr.js
  packages/api/tests/lambdas/test-sf-scheduler.js
  packages/api/tests/lib/writeRecords/test-write-execution.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
  packages/ingest/test/test-queue.js
  tasks/queue-granules/tests/index.js
  tasks/queue-pdrs/tests/index.js
Due: eslint
