Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

CUMULUS-4918: Remove obsolete script.
  CHANGELOG.md
  bamboo/tag-ghcr-image-release.sh
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Update Changelog links
  CHANGELOG.md
Due: none

Automatic doc updates
  docs/assets/db_schema/relationships.real.large.png
  packages/cmr-client/API.md
  packages/launchpad-auth/README.md
Due: none

CUMULUS-4918: Add release number to Iceberg APi image if applicable (#4493)
  .github/workflows/build-and-push-iceberg-api-image.yml
  CHANGELOG.md
  bamboo/tag-ghcr-image-release.sh
Due: none

Truncate CHANGELOG
  CHANGELOG.md
Due: none

Add CHANGELOG linting/fix CHANGELOG
  CHANGELOG.md
  package.json
Due: npm-package-json-lint

fix: pgCollection record is now passed into eery call to unpublish granule which enables setting the correct cmr provider on CMR object that actually does the delete
  packages/api/endpoints/granules.js
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/granule-remove-from-cmr.js
  packages/api/tests/lib/test-granule-remove-from-cmr.js
  packages/cmr-client/src/CMR.ts
Due: eslint, typescript-compile

linter fixes
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/granule-remove-from-cmr.js
Due: eslint

linter fixes
  packages/api/lib/granule-remove-from-cmr.js
Due: eslint

needs to have the ifnotexists
  packages/db/src/migrations/20260527_add_collection_mission.ts
Due: eslint, typescript-compile

CUMULUS-4918: Fix the error when pushing to master.
  .github/workflows/build-and-push-iceberg-api-image.yml
  CHANGELOG.md
Due: none

CUMULUS-4918: Fix the error when pushing to master. (#4497)
  .github/workflows/build-and-push-iceberg-api-image.yml
  CHANGELOG.md
Due: none

pr feedback
  packages/api/lib/granule-remove-from-cmr.js
  packages/cmr-client/src/CMR.ts
Due: eslint, typescript-compile

updating changelog
  CHANGELOG.md
Due: none

fix: linter fixes and other minor tweaks based on PR feedback test: add test ensuring that the unpublishGranule function is called with the expected cmr_provider from the database
  packages/api/endpoints/granules.js
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/granule-remove-from-cmr.js
  packages/api/tests/lambdas/test-bulk-operation.js
  packages/api/tests/lib/test-granule-remove-from-cmr.js
Due: eslint

changelog
  CHANGELOG.md
Due: none

CUMULUS-4953: Shorten Iceberg API load balancer name suffix to accommodate a longer prefix.
  CHANGELOG.md
  tf-modules/iceberg_api/main.tf
Due: none

tests: more robust unit tests based on PR feedback
  packages/api/tests/lambdas/test-bulk-operation.js
  packages/api/tests/lib/test-granule-remove-from-cmr.js
Due: eslint

tests: expanded unit tests based on pr feedback
  packages/api/tests/lib/test-granule-remove-from-cmr.js
Due: eslint

Suggested PR edits
  packages/api/lib/granule-remove-from-cmr.js
  packages/api/tests/lib/test-granule-remove-from-cmr.js
Due: eslint

Suggested PR edits (#4502)
  packages/api/lib/granule-remove-from-cmr.js
  packages/api/tests/lib/test-granule-remove-from-cmr.js
Due: eslint

CUMULUS-4953: Shorten Iceberg API load balancer name suffix to accommodate a longer prefix. (#4500)
  CHANGELOG.md
  tf-modules/iceberg_api/main.tf
Due: none

Fix: CSD-113 - Source and pass in correct cmr_provider for bulk granule deletion (#4498)
  CHANGELOG.md
  packages/api/lambdas/bulk-operation.js
  packages/api/lib/granule-remove-from-cmr.js
  packages/api/tests/lambdas/test-bulk-operation.js
  packages/api/tests/lib/test-granule-remove-from-cmr.js
Due: eslint

CUMULUS-4694: Add flag to enable/disable isceberg replication
  example/rds-iceberg-replication-tf/main.tf
  tf-modules/rds-iceberg-replication/main.tf
  tf-modules/rds-iceberg-replication/variables.tf
Due: none
