Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

Removed superflous logging Added a private_api_lambda_arn variable for the ingest module
  example/spec/helpers/workflowUtils.js
  tf-modules/cumulus/ingest.tf
Due: eslint

Corrected the path for granule invalidator
  tasks/granule-invalidator/deploy/main.tf
Due: none

jsdoc + test fixes
  example/cumulus-tf/main.tf
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/src/echo10Modifiers.ts
  packages/cmrjs/src/ummgModifiers.ts
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-echo10Modifiers.js
  packages/cmrjs/tests/cmr-utils/test-reconcilecmrmetadata.js
  packages/cmrjs/tests/cmr-utils/test-updateCMRMetadata.js
  tasks/update-granules-cmr-metadata-file-links/index.js
Due: eslint, typescript-compile

Tweak ruff linting rules
  pyproject.toml
Due: none

Add .pyc files to gitignore
  .gitignore
Due: none

Add lint exceptions for `tests` directory as well
  pyproject.toml
Due: none

Add python cnm-response task
  tasks/cnm-response/.npmignore
  tasks/cnm-response/bin/package.sh
  tasks/cnm-response/package.json
  tasks/cnm-response/pyproject.toml
  tasks/cnm-response/schemas/config.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/input.json.template
  tasks/cnm-response/schemas/output.json
  tasks/cnm-response/schemas/output.json.template
  tasks/cnm-response/src/cnm_response/__init__.py
  tasks/cnm-response/src/cnm_response/create_cnm.py
  tasks/cnm-response/src/cnm_response/sender.py
  tasks/cnm-response/src/cnm_response/task.py
  tasks/cnm-response/src/cnm_response/types.py
  tasks/cnm-response/tests/__init__.py
  tasks/cnm-response/tests/conftest.py
  tasks/cnm-response/tests/integration_tests/__init__.py
  tasks/cnm-response/tests/integration_tests/test_lambda_handler.py
  tasks/cnm-response/tests/test_create_cnm.py
  tasks/cnm-response/tests/test_sender.py
  tasks/cnm-response/tests/test_task.py
  tasks/cnm-response/uv.lock
Due: npm-package-json-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

CUMULUS-451:Create s3search Module for DuckDB with S3-Backed Tables
  packages/db/package.json
  packages/db/src/index.ts
  packages/db/src/s3search/CollectionS3Search.ts
  packages/db/src/s3search/duckdbHelpers.ts
  packages/db/src/s3search/s3TableSchemas.ts
  packages/db/src/search/BaseSearch.ts
  packages/db/src/search/CollectionSearch.ts
  packages/db/src/search/ExecutionSearch.ts
  packages/db/src/search/GranuleSearch.ts
  packages/db/src/search/PdrSearch.ts
  packages/db/tests/s3search/test-CollectionS3Search.js
Due: eslint, npm-package-json-lint, typescript-compile

initial commit. Passed unit test.
  tasks/cma-to-cnm/.gitignore
  tasks/cma-to-cnm/.npmignore
  tasks/cma-to-cnm/README.md
  tasks/cma-to-cnm/bin/package.sh
  tasks/cma-to-cnm/deploy/lambda.tf
  tasks/cma-to-cnm/deploy/main.tf
  tasks/cma-to-cnm/deploy/output.tf
  tasks/cma-to-cnm/deploy/variable.tf
  tasks/cma-to-cnm/package.json
  tasks/cma-to-cnm/pyproject.toml
  tasks/cma-to-cnm/ruff.toml
  tasks/cma-to-cnm/schemas/cumulus_sns_schema.json
  tasks/cma-to-cnm/src/cma2cnm/cma_to_cnm.py
  tasks/cma-to-cnm/src/cma2cnm/models_cnm.py
  tasks/cma-to-cnm/tests/__init__.py
  tasks/cma-to-cnm/tests/resources/input_multi_granule.json
  tasks/cma-to-cnm/tests/test_cma_to_cnm.py
  tasks/cma-to-cnm/uv.lock
Due: npm-package-json-lint

fix: upgrade pg from 8.13.3 to 8.17.1
  packages/db/package.json
Due: npm-package-json-lint

Added science and cross-collection rolloff tests
  example/spec/parallel/granuleInvalidator/CrossCollectionSpec.js
  example/spec/parallel/granuleInvalidator/ScienceDateRolloffSpec.js
Due: eslint

Added a cookbook example for rolling archive
  docs/assets/rolling-archive.png
  docs/data-cookbooks/rolling-archive.md
Due: none

Added a changelog entry
  CHANGELOG.md
Due: none

package.json and package.sh
  example/README.md
  tasks/cnm-to-cma/bin/package.sh
  tasks/cnm-to-cma/package.json
Due: npm-package-json-lint

translate
  packages/common/src/util.ts
  packages/common/tests/test-util.js
  packages/db/src/translate/collections.ts
Due: eslint, typescript-compile

Fixed md lint issue
  docs/data-cookbooks/rolling-archive.md
Due: none

code and tf script enhancements based on review.
  tasks/cnm-to-cma/README.md
  tasks/cnm-to-cma/deploy/lambda.tf
  tasks/cnm-to-cma/deploy/main.tf
  tasks/cnm-to-cma/deploy/output.tf
  tasks/cnm-to-cma/deploy/variable.tf
  tasks/cnm-to-cma/pyproject.toml
  tasks/cnm-to-cma/schemas/config.json
  tasks/cnm-to-cma/schemas/files.schema.json
  tasks/cnm-to-cma/schemas/input.json
  tasks/cnm-to-cma/schemas/output.json
  tasks/cnm-to-cma/src/cnm2cma/cnm_to_cma.py
  tasks/cnm-to-cma/src/cnm2cma/models_cnm.py
  tasks/cnm-to-cma/tests/resources/cumulus_sns_v1.0_notification_empty_uri.json
  tasks/cnm-to-cma/tests/resources/cumulus_sns_v1.1_filegroups_multiple.json
  tasks/cnm-to-cma/tests/test_cnm_to_cma.py
  tasks/cnm-to-cma/uv.lock
Due: none

ruff check and refromat
  tasks/cma-to-cnm/src/cma2cnm/cma_to_cnm.py
  tasks/cma-to-cnm/tests/test_cma_to_cnm.py
Due: none

config object schema
  tasks/cnm-to-cma/schemas/config.json
Due: none

CUMULUS-4394: Convert cnm-response task to Python (#4205)
  .gitignore
  CHANGELOG.md
  pyproject.toml
  tasks/cnm-response/.npmignore
  tasks/cnm-response/bin/package.sh
  tasks/cnm-response/package.json
  tasks/cnm-response/pyproject.toml
  tasks/cnm-response/schemas/config.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/input.json.template
  tasks/cnm-response/schemas/output.json
  tasks/cnm-response/schemas/output.json.template
  tasks/cnm-response/src/cnm_response/__init__.py
  tasks/cnm-response/src/cnm_response/create_cnm.py
  tasks/cnm-response/src/cnm_response/sender.py
  tasks/cnm-response/src/cnm_response/task.py
  tasks/cnm-response/src/cnm_response/types.py
  tasks/cnm-response/tests/__init__.py
  tasks/cnm-response/tests/conftest.py
  tasks/cnm-response/tests/integration_tests/__init__.py
  tasks/cnm-response/tests/integration_tests/test_lambda_handler.py
  tasks/cnm-response/tests/test_create_cnm.py
  tasks/cnm-response/tests/test_sender.py
  tasks/cnm-response/tests/test_task.py
  tasks/cnm-response/uv.lock
Due: npm-package-json-lint

added states:StartExecution action to the <prefix>-steprole IAM role
  CHANGELOG.md
  tf-modules/ingest/iam.tf
Due: none

used protocol extraction to simplify the logic. Enhanced terraform scripts
  tasks/cnm-to-cma/deploy/lambda.tf
  tasks/cnm-to-cma/deploy/variable.tf
  tasks/cnm-to-cma/src/cnm2cma/cnm_to_cma.py
  tasks/cnm-to-cma/tests/resources/cumulus_sns_v1.0_notification_unsupported_protocols.json
  tasks/cnm-to-cma/tests/test_cnm_to_cma.py
Due: none

fixing booleans
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/src/echo10Modifiers.ts
  packages/cmrjs/src/ummgModifiers.ts
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/schemas/output.json
  tasks/change-granule-collection-s3/src/update_cmr_file_collection.ts
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/orca-copy-to-archive-adapter/schemas/input.json
  tasks/orca-copy-to-archive-adapter/schemas/output.json
  tasks/orca-recovery-adapter/schemas/input.json
  tasks/orca-recovery-adapter/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
Due: eslint, typescript-compile

added states:StartExecution action to the <prefix>-steprole IAM role (#4251)
  CHANGELOG.md
  tf-modules/ingest/iam.tf
Due: none

Add personal stack
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/reweeden-ci-tf.tfvars
  example/deployments/data-persistence/reweeden-ci-tf.tfvars
  example/deployments/db-migration/reweeden-ci-tf.tfvars
Due: eslint

Apply deployment tag everywhere using provider level `default_tags`
  example/cumulus-tf/main.tf
  example/data-persistence-tf/main.tf
  example/rds-cluster-tf/main.tf
Due: none

Add quotes to git commit logs in scripts
  bamboo/abort-if-skip-unit-tests.sh
  bamboo/audit.sh
  bamboo/set-bamboo-env-variables.sh
Due: none

cleaned up typing, removed env variables for setting retries
  tasks/add-missing-file-checksums/src/index.ts
Due: eslint, typescript-compile

first-pass WIP
  packages/api/lambdas/sf-scheduler.js
  packages/db/src/migrations/20260205224950_add_collections_cmr_provider.ts
  packages/db/src/translate/collections.ts
  packages/db/src/types/collection.ts
  packages/types/api/collections.d.ts
Due: eslint, typescript-compile

lint
  packages/api/lambdas/sf-scheduler.js
  packages/db/src/migrations/20260205224950_add_collections_cmr_provider.ts
Due: eslint, typescript-compile

collection search
  packages/common/src/util.ts
  packages/db/src/s3search/CollectionS3Search.ts
  packages/db/src/s3search/GranuleS3Search.ts
  packages/db/src/s3search/s3TableSchemas.ts
  packages/db/src/search/CollectionSearch.ts
  packages/db/src/search/GranuleSearch.ts
  packages/db/src/search/s3TableSchemas.ts
  packages/db/src/test-duckdb-utils.ts
  packages/db/tests/s3search/test-CollectionS3Search.js
Due: eslint, typescript-compile

Updates based on PR comments
  example/spec/parallel/granuleInvalidator/IngestDateRolloffSpec.js
Due: eslint

testing override of cmr.provider
  packages/api/tests/lambdas/test-sf-scheduler.js
Due: eslint

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

