Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

Improves testing and adds tooling
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: none

Changes to Python 3.13
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/uv.lock
Due: none

Updates README.md
  tasks/pdr-cleanup/README.md
Due: none

Adjusts styling for pdr-cleanup task
  tasks/pdr-cleanup/pdr-cleanup.py
Due: none

Adds unit tests to pdr-cleanup task
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/test/__init__.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: none

Ruff format fixes
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Adds terraform deployment
  tasks/pdr-cleanup/bin/package.sh
  tasks/pdr-cleanup/deploy/main.tf
  tasks/pdr-cleanup/deploy/outputs.tf
  tasks/pdr-cleanup/deploy/variables.tf
  tasks/pdr-cleanup/deploy/versions.tf
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

Add pdr-cleanup and initialize task dir
  tasks/pdr-cleanup/README.md
  tasks/pdr-cleanup/pdr-cleanup.py
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/uv.lock
Due: none

Improvements to cleanup logic
  tasks/pdr-cleanup/pdr_cleanup.py
Due: none

Adds check for s3 provider in pdr-cleanup
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Add schemas
  tasks/pdr-cleanup/schemas/config.json
  tasks/pdr-cleanup/schemas/input.json
  tasks/pdr-cleanup/schemas/output.json
Due: none

Adds package.json
  tasks/pdr-cleanup/package.json
Due: npm-package-json-lint

Add archive location of pdr to the task output
  tasks/pdr-cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/test/test_pdr_cleanup.py
Due: none

Changes file organization to meet task layout standards
  tasks/pdr-cleanup/src/pdr_cleanup/__init__.py
  tasks/pdr-cleanup/src/pdr_cleanup/pdr_cleanup.py
  tasks/pdr-cleanup/tests/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__init__.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__pycache__/__init__.cpython-314.pyc
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/test_pdr_cleanup.py
Due: none

Updates CHANGELOG.md
  CHANGELOG.md
Due: none

WIP: Format fixes
  tasks/pdr-cleanup/README.md
  tasks/pdr-cleanup/bin/package.sh
  tasks/pdr-cleanup/deploy/main.tf
  tasks/pdr-cleanup/deploy/terraform.tfvars.sample
  tasks/pdr-cleanup/deploy/versions.tf
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/pyproject.toml
  tasks/pdr-cleanup/schemas/config.json
  tasks/pdr-cleanup/schemas/input.json
  tasks/pdr-cleanup/schemas/output.json
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/test_pdr_cleanup.py
  tasks/pdr-cleanup/uv.lock
Due: npm-package-json-lint

Change logging statements to remove f-strings and adds lint check
  pyproject.toml
  tasks/pdr-cleanup/src/pdr_cleanup/pdr_cleanup.py
Due: none

WIP: output.json fix
  tasks/pdr-cleanup/schemas/output.json
Due: none

Remove cache file
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/__pycache__/__init__.cpython-314.pyc
Due: none

WIP: README
  tasks/pdr-cleanup/README.md
Due: none

Adjust task name
  tasks/pdr-cleanup/deploy/main.tf
  tasks/pdr-cleanup/deploy/variables.tf
  tasks/pdr-cleanup/package.json
  tasks/pdr-cleanup/src/pdr_cleanup/task.py
  tasks/pdr-cleanup/tests/unit_tests/pdr_cleanup/test_pdr_cleanup.py
Due: npm-package-json-lint

Added sample terraform.tfvars
  tasks/pdr-cleanup/deploy/terraform.tfvars.sample
Due: none

ruff check pass
  pyproject.toml
Due: none

Update README.md to fit template
  tasks/pdr-cleanup/README.md
Due: none

Change doc style to restructuredText
  tasks/pdr-cleanup/src/pdr_cleanup/pdr_cleanup.py
Due: none

First pass at getting granules and collections staged for the granuleInvalidator test
  example/spec/helpers/Collections.js
  example/spec/helpers/granuleUtils.js
  example/spec/parallel/granuleInvalidator/GranuleInvalidatorSpec.js
Due: eslint

Fixed issue with granule-invalidator outputs
  tasks/granule-invalidator/deploy/outputs.tf
  tf-modules/ingest/outputs.tf
Due: none

Fixed broken output path
  tf-modules/ingest/outputs.tf
Due: none

fix
  packages/test-data/payloads/amsr2/discover.json
  tf-modules/opex-workflow/collections/CSLC_S1.json
  tf-modules/opex-workflow/collections/DISP_S1.json
  tf-modules/opex-workflow/collections/DISP_S1_STACK.json
  tf-modules/opex-workflow/collections/DISP_S1_STATIC.json
  tf-modules/opex-workflow/collections/DIST_ALERT_S1.json
  tf-modules/opex-workflow/collections/TROPO_ZENITH.json
  tf-modules/opex-workflow/data.tf
  tf-modules/opex-workflow/local.tf
  tf-modules/opex-workflow/rules/CSLC_S1.json
  tf-modules/opex-workflow/rules/CSLC_S1_CALVAL.json
  tf-modules/opex-workflow/rules/CSLC_S1_STATIC.json
  tf-modules/opex-workflow/rules/CSLC_S1_STATIC_CALVAL.json
  tf-modules/opex-workflow/rules/DISP_S1.json
  tf-modules/opex-workflow/rules/DISP_S1_PROV.json
  tf-modules/opex-workflow/rules/DISP_S1_STATIC.json
  tf-modules/opex-workflow/rules/DISP_S1_STATIC_PROV.json
  tf-modules/opex-workflow/rules/DIST_ALERT_S1.json
  tf-modules/opex-workflow/rules/DIST_ALERT_S1_PROV.json
  tf-modules/opex-workflow/rules/RTC_S1.json
  tf-modules/opex-workflow/rules/RTC_S1_CALVAL.json
  tf-modules/opex-workflow/rules/RTC_S1_STATIC.json
  tf-modules/opex-workflow/rules/RTC_S1_STATIC_CALVAL.json
  tf-modules/opex-workflow/rules/TROPO_ZENITH.json
  tf-modules/opex-workflow/rules/TROPO_ZENITH_PROV.json
  tf-modules/opex-workflow/testcnm.cfg
  tf-modules/opex-workflow/variables.tf
  tf-modules/opex-workflow/workflow.tf
Due: none

update ecs async-operation Dockerfile to node 22
  packages/api/ecs/async-operation/Dockerfile
Due: none

CUMULUS-4385 (#4229)
  .gitignore
  CHANGELOG.md
  bamboo/create-release-artifacts.sh
  tasks/granule-invalidator/bin/Dockerfile.package
  tasks/granule-invalidator/bin/package.sh
  tasks/granule-invalidator/bin/package_docker.sh
  tasks/granule-invalidator/build-config.json
  tasks/granule-invalidator/deploy/README.md
  tasks/granule-invalidator/deploy/main.tf
  tasks/granule-invalidator/deploy/outputs.tf
  tasks/granule-invalidator/deploy/variables.tf
  tasks/granule-invalidator/deploy/versions.tf
  tasks/granule-invalidator/generate_dirs.bash
  tasks/granule-invalidator/package.json
  tasks/granule-invalidator/schemas/config_schema.json
  tasks/granule-invalidator/schemas/output_schema.json
  tasks/granule-invalidator/src/granule_invalidator/granule_invalidator.py
  tasks/granule-invalidator/src/main.py
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/granule-invalidator-task.tf
  tf-modules/ingest/outputs.tf
Due: npm-package-json-lint

increment version in website package.json
  website/package.json
Due: none

Minor updates to granuleinvalidator integration tests
  example/spec/helpers/workflowUtils.js
  example/spec/parallel/granuleInvalidator/CreatedAtRolloffSpec.js
Due: eslint

fixing units
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-reconcilecmrmetadata.js
  packages/cmrjs/tests/cmr-utils/test-updateCMRMetadata.js
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/orca-copy-to-archive-adapter/schemas/input.json
  tasks/orca-copy-to-archive-adapter/schemas/output.json
  tasks/orca-recovery-adapter/schemas/input.json
  tasks/orca-recovery-adapter/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
Due: eslint

Updated example Terraform
  example/cumulus-tf/granule_invalidator_workflow.tf
Due: none

Tweaked TF to fix a broken reference
  example/cumulus-tf/granule_invalidator_workflow.tf
Due: none

adding lambda unit + fixing var
  packages/cmrjs/src/cmr-utils.js
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
  tf-modules/ingest/update-granules-cmr-metadata-file-links-task.tf
Due: eslint

Updated granuleinvalidator example workflow to fix several issues Updated various issues while troubleshooting related to granule-invalidator
  example/cumulus-tf/granule_invalidator_workflow.asl.json
  example/spec/helpers/Collections.js
  example/spec/helpers/workflowUtils.js
  example/spec/parallel/granuleInvalidator/GranuleInvalidatorSpec.js
  example/spec/parallel/granuleInvalidator/IngestDateRolloffSpec.js
  tasks/granule-invalidator/bin/package.sh
  tasks/granule-invalidator/deploy/main.tf
  tasks/granule-invalidator/deploy/variables.tf
  tasks/granule-invalidator/src/granule_invalidator/granule_invalidator.py
  tasks/granule-invalidator/src/main.py
  tf-modules/archive/outputs.tf
  tf-modules/ingest/granule-invalidator-task.tf
  tf-modules/ingest/variables.tf
Due: eslint

Added additional eslint fixes
  example/spec/parallel/granuleInvalidator/IngestDateRolloffSpec.js
Due: eslint

Fixed a ruff issue
  tasks/granule-invalidator/src/granule_invalidator/granule_invalidator.py
Due: none
