Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

move schemas under the src directory so they will be packaged as part of the artifact
  tasks/cnm-to-cma/src/cnm2cma/schemas/config.json
  tasks/cnm-to-cma/src/cnm2cma/schemas/input.json
  tasks/cnm-to-cma/src/cnm2cma/schemas/output.json
Due: none

clean up changelog
  CHANGELOG.md
Due: none

First pass at an aws-api-proxy task
  tasks/aws-api-proxy/README.md
  tasks/aws-api-proxy/package.json
  tasks/aws-api-proxy/pyproject.toml
  tasks/aws-api-proxy/src/aws_api_proxy/__init__.py
  tasks/aws-api-proxy/src/aws_api_proxy/aws_api_proxy.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/output_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/output_schema.py
  tasks/aws-api-proxy/src/main.py
  tasks/aws-api-proxy/tests/unit_tests/aws_api_proxy/test_aws_api_proxy.py
  tasks/aws-api-proxy/uv.lock
Due: npm-package-json-lint

Updated lzards endpoint url from sit to uat
  example/cumulus-tf/variables.tf
Due: none

Updated lzards_api from sit to uat
  packages/lzards-api-client/README.md
Due: none

Reverted lzards uat->sit change
  example/cumulus-tf/variables.tf
  example/spec/parallel/lzardsBackup/LzardsBackupSpec.js
  packages/lzards-api-client/README.md
Due: eslint

fixed the build package.sh path issue
  tasks/cnm-to-cma/bin/package.sh
Due: none

cleanup old build script
  tasks/cnm-to-cma/build_lambda.sh
Due: none

removed .python-version
  .python-version
Due: none

output the lambda cloudwatch loggroup name
  tasks/cnm-to-cma/deploy/output.tf
Due: none

re-write with input schema and input pydantic models
  tasks/cma-to-cnm/README.md
  tasks/cma-to-cnm/deploy/lambda.tf
  tasks/cma-to-cnm/deploy/variable.tf
  tasks/cma-to-cnm/package.json
  tasks/cma-to-cnm/ruff.toml
  tasks/cma-to-cnm/src/cma2cnm/cma_to_cnm.py
  tasks/cma-to-cnm/src/cma2cnm/models_cma.py
  tasks/cma-to-cnm/src/cma2cnm/models_cnm.py
  tasks/cma-to-cnm/src/schemas/input.json
  tasks/cma-to-cnm/src/schemas/output.json
Due: npm-package-json-lint

StatsSearch
  packages/db/src/s3search/StatsS3Search.ts
  packages/db/src/search/StatsSearch.ts
  packages/db/tests/s3search/test-CollectionS3Search.js
  packages/db/tests/s3search/test-GranuleS3Search.js
  packages/db/tests/s3search/test-StatsS3Search.js
Due: eslint, typescript-compile

add file missing from last commit
  tasks/update-granules-cmr-metadata-file-links/index.js
Due: eslint

added unit tests for new token helper functions
  packages/api/tests/lib/test-token.js
Due: eslint

output the lambda function instead of just the arn
  tasks/cnm-to-cma/deploy/output.tf
Due: none

log colection
  packages/api/lambdas/sf-scheduler.js
Due: eslint

remove test only and change to serial testing
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
Due: eslint

* add csd-91 changelog entry. * change variable name from default_update_granule_identifiers to just update_granule_identifiers
  CHANGELOG.md
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  tf-modules/cumulus/ingest.tf
  tf-modules/cumulus/variables.tf
  tf-modules/ingest/update-granules-cmr-metadata-file-links-task.tf
  tf-modules/ingest/variables.tf
Due: none

Added a readme Updated schema generators
  tasks/aws-api-proxy/README.md
  tasks/aws-api-proxy/pyproject.toml
  tasks/aws-api-proxy/src/aws_api_proxy/aws_api_proxy.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.json
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/config_schema.py
  tasks/aws-api-proxy/src/aws_api_proxy/schemas/output_schema.py
  tasks/aws-api-proxy/tests/unit_tests/aws_api_proxy/test_aws_api_proxy.py
  tasks/aws-api-proxy/uv.lock
Due: none

Updated Changelog
  CHANGELOG.md
Due: none

Updated old granule-invalidator references
  tasks/aws-api-proxy/src/main.py
Due: none

Added partial failure compatibility
  tasks/aws-api-proxy/src/aws_api_proxy/aws_api_proxy.py
  tasks/aws-api-proxy/tests/unit_tests/aws_api_proxy/test_aws_api_proxy.py
Due: none

Update nsidc-cumulus-prod.tfvars user
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
Due: none

Updates per PR feedback
  example/spec/parallel/granuleInvalidator/IngestDateRolloffSpec.js
  example/spec/parallel/lzardsBackup/LzardsBackupSpec.js
Due: eslint

Added package_uv to bin root from a different feature branch
  bin/package_uv.sh
Due: none

restore updateGranuleIdentifiers default value for updateUMMGMetadata
  packages/cmrjs/src/cmr-utils.js
Due: eslint

Took a swag at adding an module that helps create consistent python tasks
  tf-modules/ingest/python_lambda/main.tf
  tf-modules/ingest/python_lambda/outputs.tf
  tf-modules/ingest/python_lambda/variables.tf
  tf-modules/ingest/python_lambdas.tf
Due: none

restore updateGranuleIdentifiers default value to updateCMRMetadata
  packages/cmrjs/src/cmr-utils.js
Due: eslint

added package_uv.sh
  bin/package_uv.sh
Due: none

PR feedback to be continued
  CHANGELOG.md
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/src/echo10Modifiers.ts
  packages/cmrjs/src/ummgModifiers.ts
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/cmrjs/tests/cmr-utils/test-echo10Modifiers.js
  packages/cmrjs/tests/cmr-utils/test-updateCMRMetadata.js
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/schemas/output.json
  tasks/change-granule-collection-s3/src/update_cmr_file_collection.ts
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/orca-copy-to-archive-adapter/schemas/input.json
  tasks/orca-copy-to-archive-adapter/schemas/output.json
  tasks/orca-recovery-adapter/schemas/input.json
  tasks/orca-recovery-adapter/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/schemas/config.json
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
  tf-modules/cumulus/ingest.tf
  tf-modules/cumulus/variables.tf
  tf-modules/ingest/update-granules-cmr-metadata-file-links-task.tf
  tf-modules/ingest/variables.tf
Due: eslint, typescript-compile

testing
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/src/ummgModifiers.ts
  packages/cmrjs/tests/cmr-utils/test-echo10Modifiers.js
  packages/cmrjs/tests/cmr-utils/test-reconcilecmrmetadata.js
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint, typescript-compile

make use the top /bin/package_uv.sh
  tasks/cnm-to-cma/bin/package.sh
  tasks/cnm-to-cma/package.json
Due: npm-package-json-lint

Updates per PR feedback
  bin/package_uv.sh
  example/spec/helpers/apiUtils.js
  example/spec/parallel/granuleInvalidator/CrossCollectionSpec.js
  example/spec/parallel/granuleInvalidator/IngestDateRolloffSpec.js
  example/spec/parallel/granuleInvalidator/ScienceDateRolloffSpec.js
Due: eslint

Moved broken cnm-to-cma packaging to the standard packaging script
  tasks/cnm-to-cma/bin/package.sh
  tasks/cnm-to-cma/package.json
Due: npm-package-json-lint

Fixed an issue with invokeApiNoRetry...I need tests for my tests
  example/spec/helpers/apiUtils.js
Due: eslint

change log to pass linting
  CHANGELOG.md
Due: none

Mikedorfman/cumulus 4384 (#4241)
  CHANGELOG.md
  bin/package_uv.sh
  docs/assets/rolling-archive.png
  docs/data-cookbooks/rolling-archive.md
  example/cumulus-tf/granule_invalidator_workflow.asl.json
  example/cumulus-tf/granule_invalidator_workflow.tf
  example/spec/helpers/apiUtils.js
  example/spec/parallel/granuleInvalidator/CrossCollectionSpec.js
  example/spec/parallel/granuleInvalidator/IngestDateRolloffSpec.js
  example/spec/parallel/granuleInvalidator/ScienceDateRolloffSpec.js
  tasks/cnm-to-cma/bin/package.sh
  tasks/cnm-to-cma/package.json
  tasks/granule-invalidator/bin/package.sh
  tasks/granule-invalidator/deploy/main.tf
  tasks/granule-invalidator/deploy/variables.tf
  tasks/granule-invalidator/package.json
  tasks/granule-invalidator/src/granule_invalidator/granule_invalidator.py
  tasks/granule-invalidator/src/main.py
  tf-modules/archive/outputs.tf
  tf-modules/cumulus/ingest.tf
  tf-modules/ingest/granule-invalidator-task.tf
  tf-modules/ingest/variables.tf
Due: eslint, npm-package-json-lint

set default token refresh expiration time extension to one hour
  packages/api/lib/token.js
Due: eslint

testing
  packages/cmrjs/src/cmr-utils.js
  packages/cmrjs/src/ummgModifiers.ts
  packages/cmrjs/tests/cmr-utils/test-reconcilecmrmetadata.js
  packages/cmrjs/tests/cmr-utils/test-ummgModifiers.js
  packages/cmrjs/tests/cmr-utils/test-updateCMRMetadata.js
  tasks/add-missing-file-checksums/schemas/input.json
  tasks/add-missing-file-checksums/schemas/output.json
  tasks/cnm-response/schemas/input.json
  tasks/cnm-response/schemas/output.json
  tasks/files-to-granules/schemas/output.json
  tasks/hyrax-metadata-updates/schemas/input.json
  tasks/hyrax-metadata-updates/schemas/output.json
  tasks/lzards-backup/schemas/input.json
  tasks/lzards-backup/schemas/output.json
  tasks/move-granules/schemas/input.json
  tasks/move-granules/schemas/output.json
  tasks/orca-copy-to-archive-adapter/schemas/input.json
  tasks/orca-copy-to-archive-adapter/schemas/output.json
  tasks/orca-recovery-adapter/schemas/input.json
  tasks/orca-recovery-adapter/schemas/output.json
  tasks/post-to-cmr/schemas/input.json
  tasks/post-to-cmr/schemas/output.json
  tasks/sync-granule/schemas/output.json
  tasks/update-cmr-access-constraints/schemas/input.json
  tasks/update-cmr-access-constraints/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/index.js
  tasks/update-granules-cmr-metadata-file-links/schemas/input.json
  tasks/update-granules-cmr-metadata-file-links/schemas/output.json
  tasks/update-granules-cmr-metadata-file-links/tests/data/meta-exclude-data-granule.xml
  tasks/update-granules-cmr-metadata-file-links/tests/data/ummg-meta-exclude-data-granule.json
  tasks/update-granules-cmr-metadata-file-links/tests/test-exclude-data-granule.js
  tasks/update-granules-cmr-metadata-file-links/tests/test-index.js
Due: eslint, typescript-compile
