Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

CUMULUS-4954-2: commit package-lock file
  .gitignore
  package-lock.json
Due: none

test test.
  package.json
Due: npm-package-json-lint

CUMULUS-4954-1: add package lock file
  .gitignore
  package-lock.json
Due: none

CUMULUS-4954-1: added localstack to docker
  bamboo/bootstrap-unit-tests.sh
  bamboo/docker-compose.yml
Due: none

CUMULUS-4954-1: debug
  bamboo/bootstrap-sftp.sh
  bamboo/docker-compose.yml
Due: none

Added metrics ignore statement to autoscaling resource for ecs cluster
  tf-modules/cumulus/ecs_cluster.tf
Due: none

CUMULUS-4954: fix side channel tsconfig issue, attempt to add logging in sftp
  bamboo/bootstrap-sftp.sh
  package.json
Due: npm-package-json-lint

HARMONY-5217: Fix Iceberg API image build failure in github workflow
  CHANGELOG.md
  packages/api/package.json
  packages/api/src/lib/granule-delete.ts
Due: eslint, npm-package-json-lint, typescript-compile

adding test coverage to rulesHelpers filterRulesByRuleParams
  packages/api/tests/lib/rules/test-rulesHelpers.js
Due: eslint

Updating boolean logic for allowProviderMismatchOnRuleFilter field in RulesHelper (#4544)
  CHANGELOG.md
  packages/api/lib/rulesHelpers.js
  packages/api/tests/lib/rules/test-rulesHelpers.js
Due: eslint

HARMONY-5217: Ignore vulnerabilities
  audit-ci.json
Due: none

CUMULUS-4954: actual tsconfig fix, fix type issue
  package.json
  packages/api/package.json
  packages/api/src/lib/granule-delete.ts
Due: eslint, npm-package-json-lint, typescript-compile

resolve 3 CVEs
  CHANGELOG.md
  audit-ci.json
  package.json
  packages/api/package.json
  packages/integration-tests/package.json
Due: npm-package-json-lint

HARMONY-5217: Fix Iceberg API image build failure in github workflow (#4548)
  CHANGELOG.md
  audit-ci.json
  packages/api/package.json
  packages/api/src/lib/granule-delete.ts
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4954: modifications to unit test script
  bamboo/bootstrap-unit-tests.sh
Due: none

Updating boolean logic for allowProviderMismatchOnRuleFilter field in RulesHelper (#4544) (#4549)
  CHANGELOG.md
  packages/api/lib/rulesHelpers.js
  packages/api/tests/lib/rules/test-rulesHelpers.js
Due: eslint

CUMULUS-4954: minor edits, commenting out a block to test
  bamboo/bootstrap-sftp.sh
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: comment out more things for test
  bamboo/bootstrap-sftp.sh
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: new brace-expansion issue, try fix
  package.json
Due: npm-package-json-lint

CUMULUS-4954-1: updated packages
  .gitignore
  package-lock.json
  package.json
  packages/api/package.json
  packages/integration-tests/package.json
Due: npm-package-json-lint

CUMULUS-4954-1: Updated type import
  packages/api/src/lib/granule-delete.ts
Due: eslint, typescript-compile

CUMULUS-4954-1: fix lock state
  bamboo/bootstrap-tf-deployment.sh
Due: none

CUMULUS-4954-1: added debug echo
  bamboo/bootstrap-sftp.sh
Due: none

CUMULUS-4954: return unit test script to original; modify audit fix
  bamboo/bootstrap-unit-tests.sh
  package.json
Due: npm-package-json-lint

docs: fix broken JSDoc links in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

CUMULUS-4954: add back unit test script modifications
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: try full ministack image
  bamboo/docker-compose-local.yml
  bamboo/docker-compose.yml
Due: none

CUMULUS-4954: changing unit test script back to og
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954-1: updated package.json
  package.json
Due: npm-package-json-lint

CUMULUS-4954-1: test ssh
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: add back logging to unit test steps
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: modify unit test script
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: comment out some script
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: change ministack image type
  bamboo/docker-compose-local.yml
  bamboo/docker-compose.yml
Due: none

CUMULUS-4954-1: removed lock=false
  bamboo/bootstrap-tf-deployment.sh
Due: none

CUMULUS-4954-1: docker compose update
  bamboo/docker-compose.yml
Due: none

CUMULUS-4954-1: removed debug
  bamboo/bootstrap-sftp.sh
Due: none

CUMULUS-4954-1: updated docker compose for debug
  bamboo/docker-compose.yml
Due: none

Move bootstrap-unit-tests.sh to baseline.
  bamboo/bootstrap-unit-tests.sh
Due: none

update ministack image and supported services.
  bamboo/docker-compose.yml
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

