Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

iceberg bamboo skip for 21.3.x (#4428)
  CHANGELOG.md
  bamboo/iceberg-api-integration-tests.sh
Due: none

CUMULUS-4711: Trying to make the server run.
  bamboo/iceberg-api-integration-tests.sh
Due: none

CUMULUS-4566: Add better logging for Granule write failures/errors relating to the AggregateError in write-granules (#4423)
  CHANGELOG.md
  packages/api/lib/writeRecords/write-granules.js
Due: eslint

small changes
  example/spec/parallel/changeGranuleCollections/ChangeGranuleCollectionWorkflowSpec.js
  packages/cmr-client/src/CMR.ts
  packages/cmr-client/src/deleteConcept.ts
  packages/cmr-client/src/ingestConcept.ts
  packages/cmr-client/tests/test-CMR.js
  packages/cmrjs/tests/cmr-utils/test-cmr-utils.js
  packages/launchpad-auth/src/index.ts
  packages/launchpad-auth/tests/test-LaunchpadToken.js
Due: eslint, typescript-compile

CUMULUS-4844 Grabbing Naga's CI skip
  bamboo/iceberg-api-integration-tests.sh
Due: none

CUMULUS-4844 merge conflict
  CHANGELOG.md
  bamboo/iceberg-api-integration-tests.sh
Due: none

CUMULUS-4844 space
  bamboo/iceberg-api-integration-tests.sh
Due: none

CUMULUS-4844 keep line
  bamboo/iceberg-api-integration-tests.sh
Due: none

CUMULUS-4844 remove skip
  bamboo/iceberg-api-integration-tests.sh
Due: none

CUMULUS-4844 changelog
  CHANGELOG.md
Due: none

CUMULUS-4709: Attempt to fix the new 400 error when querying glue catlog metadata
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/tests/iceberg-search/test-DuckDBSearchExecutor.js
Due: eslint, typescript-compile

CUMULUS-4709: Populate cache should only be called once as it is on the instance level.
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
Due: eslint, typescript-compile

CUMULUS-4709: Reduce the contention on populate instance cache calls.
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
Due: eslint, typescript-compile

docs
  packages/aws-client/README.md
  packages/checksum/README.md
  packages/cmr-client/API.md
  packages/collection-config-store/docs/API.md
  packages/common/docs/API.md
  packages/integration-tests/README.md
  packages/launchpad-auth/README.md
  packages/message/README.md
  packages/oauth-client/README.md
Due: none

remaking docs using docusaurus 3.10
  CONTRIBUTORS.md
  website/docusaurus.config.js
Due: none

WIP adding values to a few sns topic pushes
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/api/lib/writeRecords/write-execution.js
  packages/api/lib/writeRecords/write-granules.js
  packages/db/src/models/collection.ts
  packages/types/api/executions.d.ts
  packages/types/api/granules.d.ts
  packages/types/api/pdrs.d.ts
Due: eslint, typescript-compile

CUMULUS-4709: Make refreshing glue catalog thread safe.
  packages/db/src/iceberg-connection.ts
Due: eslint, typescript-compile

some fixes
  packages/api/lib/writeRecords/write-granules.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
  packages/db/src/models/collection.ts
Due: eslint, typescript-compile

CUMULUS-4709: Reduce the contention on secret refresh in heavy concurrency.
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/tests/iceberg-search/test-DuckDBSearchExecutor.js
  packages/db/tests/test-iceberg-connection.js
Due: eslint, typescript-compile

PR feedback
  packages/cmrjs/src/cmr-utils.js
  packages/launchpad-auth/src/index.ts
Due: eslint, typescript-compile

CUMULUS-4839: prepend partition key to granule query
  CHANGELOG.md
  packages/db/src/search/GranuleSearch.ts
  packages/db/tests/search/test-GranuleSearch.js
Due: eslint, typescript-compile

upgrade uuid to ^11.1.1
  CHANGELOG.md
  package.json
  packages/api/package.json
  packages/async-operations/package.json
  packages/aws-client/package.json
  packages/common/package.json
  packages/db/package.json
  packages/integration-tests/package.json
  packages/launchpad-auth/package.json
  packages/message/package.json
  tasks/sync-granule/package.json
Due: npm-package-json-lint

refact consistent with basesearch
  packages/db/src/search/GranuleSearch.ts
Due: eslint, typescript-compile

additional uuid fix
  packages/api/bin/backup.js
  packages/api/package.json
  packages/async-operations/package.json
Due: eslint, npm-package-json-lint

WIP tests not followed up on
  packages/api/lambdas/sf-event-sqs-to-db-records/write-pdr.js
  packages/api/lib/writeRecords/write-execution.js
  packages/api/src/lib/granule-delete.ts
  packages/api/tests/lib/writeRecords/test-write-execution.js
  packages/db/src/models/collection.ts
Due: eslint, typescript-compile

add TF variables
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  tf-modules/cumulus/variables.tf
  tf-modules/ingest/variables.tf
Due: none

query result sets order by collection_cumulus_id first then others
  packages/db/tests/search/test-GranuleSearch.js
Due: eslint

CUMULUS-4839: prepend partition key to granule query (#4447)
  CHANGELOG.md
  package.json
  packages/api/bin/backup.js
  packages/api/package.json
  packages/async-operations/package.json
  packages/aws-client/package.json
  packages/common/package.json
  packages/db/package.json
  packages/db/src/search/GranuleSearch.ts
  packages/db/tests/search/test-GranuleSearch.js
  packages/integration-tests/package.json
  packages/launchpad-auth/package.json
  packages/message/package.json
  tasks/sync-granule/package.json
Due: eslint, npm-package-json-lint, typescript-compile

address pr comments on local vars
  tasks/bignbit/deploy/main.tf
Due: none

remove bignbit module
  tasks/bignbit/deploy/terraform.tfstate
  tasks/bignbit/deploy/terraform.tfstate.backup
  tasks/bignbit/deploy/terraform.tfvars
Due: none

CUMULUS-4709: The nuclear option.
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
Due: eslint, typescript-compile
