Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

CUMULUS-5033: Recover from failed spaq server
  packages/iceberg-replication/scripts/iceberg_compact.py
Due: none

CUMULUS-4954: skip multipartCopyObject tests due to ministack behavior
  packages/aws-client/tests/S3/test-multipartCopyObject.js
Due: eslint

CUMULUS-5033: Catch error crashing Iceberg compactor
  packages/iceberg-replication/scripts/iceberg_compact.py
Due: none

CUMULUS-5033: Update CHANGELOG
  CHANGELOG.md
Due: none

Cumulus 5033 restart spark (#4540)
  CHANGELOG.md
  packages/iceberg-replication/scripts/iceberg_compact.py
Due: none

cumulus-4954-1: update compose and tests for debug
  bamboo/docker-compose.yml
  packages/aws-client/tests/S3/test-multipartCopyObject.js
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint

cumulus-4954-1: debug Increased sftp sleep duration
  bamboo/bootstrap-unit-tests.sh
Due: none

cumulus-4954-1: added debug
  bamboo/bootstrap-unit-tests.sh
Due: none

docs: fix stale file links in ingest and common package READMEs
  packages/common/README.md
  packages/ingest/README.md
Due: none

cumulus-4954-1: debug
  bamboo/bootstrap-unit-tests.sh
Due: none

cumulus-4954-1: removed debug
  bamboo/bootstrap-unit-tests.sh
Due: none

cumulus-4954-1: bash fix
  bamboo/bootstrap-unit-tests.sh
Due: none

cumulus-4954-1: added docker debug
  bamboo/bootstrap-unit-tests.sh
Due: none

cumulus-4954-1: debug fix
  bamboo/bootstrap-unit-tests.sh
Due: none

Updating boolean logic for allowProviderMismatchOnRuleFilter field in ruleHelpers
  CHANGELOG.md
  packages/api/lib/rulesHelpers.js
Due: eslint

CUMULUS-4954: comment more tests, test docker command changes
  bamboo/bootstrap-unit-tests.sh
  packages/api/tests/lambdas/sf-event-sqs-to-db-records/test-write-pdr.js
  packages/api/tests/lib/rules/test-rulesHelpers.js
  packages/aws-client/tests/S3/test-multipartCopyObject.js
Due: eslint

CUMULUS-4954: more docker debug logging
  bamboo/bootstrap-unit-tests.sh
Due: none

cumulus-4954-1
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: more debug
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954-2: removed debug
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: remove a bit of debug
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: remove more debug
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: add back some debug
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: fix add back some debug
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: more fixes to add back some debug
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: fix audit
  package.json
  packages/api/package.json
  packages/integration-tests/package.json
Due: npm-package-json-lint

CUMULUS-4954-2: fix test
  bamboo/bootstrap-unit-tests.sh
Due: none

CUMULUS-4954: more change to debug
  bamboo/bootstrap-unit-tests.sh
Due: none

test build iceberg api image.
  .github/workflows/build-and-push-iceberg-api-image.yml
Due: none

CUMULUS-4954-2: updated bootstrap-sftp
  bamboo/bootstrap-sftp.sh
Due: none

Override side-channel to v1
  package.json
  packages/api/src/lib/granule-delete.ts
Due: eslint, npm-package-json-lint, typescript-compile

small fix
  CONTRIBUTORS.md
  website/versions.json
Due: none

Use npm ci in Docker build.
  .gitignore
  package-lock.json
  package.json
  packages/api/app/Dockerfile
  website/package-lock.json
Due: npm-package-json-lint
