Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

eslint:
  name: ESLint (uses your .eslintrc.js)
  entry: npm run eslint
  language: system
  pass_filenames: false
  args: []

npm-package-json-lint:
  name: Package.json linting
  entry: npm run lint-package-json
  language: system
  pass_filenames: false

typescript-compile:
  name: TypeScript compilation check
  entry: npm run tsc
  language: system
  pass_filenames: false

CUMULUS-4954: updated athena tests
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint

harding integration tests in places with repeated failures
  example/spec/parallel/cnmWorkflow/CnmWorkflowFromSqsSpec.js
  example/spec/serial/DiscoverGranulesHttpSpec.js
  packages/integration-tests/index.js
Due: eslint

update test assertion field name and type check
  packages/db/tests/search/test-GranuleSearch.js
Due: eslint

whitelist vulnerability with no safe package version available
  audit-ci.json
Due: none

add aconrad to dev-stack config files
  CHANGELOG.md
  bamboo/select-stack.js
  example/config.yml
  example/cumulus-tf/variables.tf
  example/deployments/cumulus/aconrad-ci-tf.tfvars
  example/deployments/data-persistence/aconrad-ci-tf.tfvars
  example/deployments/db-migration/aconrad-ci-tf.tfvars
Due: eslint

add missing awaits
  example/spec/parallel/cnmWorkflow/CnmWorkflowFromSqsSpec.js
  example/spec/parallel/getCnm/getCnmSpec.js
Due: eslint

updating changelog
  CHANGELOG.md
Due: none

removing now redundant deleteExecution call
  example/spec/parallel/cnmWorkflow/CnmWorkflowFromSqsSpec.js
Due: eslint

adding vulnerability to audit-ci.json list
  audit-ci.json
Due: none

vulnerability p6xm
  audit-ci.json
Due: none

update CL
  CHANGELOG.md
Due: none

CUMULUS-4954: lint fix
  packages/aws-client/tests/test-AthenaQueryClient.js
Due: eslint

CUMULUS-5254:update /executions/search-by-granules default limit result meta (#4601)
  CHANGELOG.md
  packages/api/endpoints/executions.js
  packages/api/tests/endpoints/test-executions.js
  packages/db/src/index.ts
Due: eslint, typescript-compile

adding safe clean up helper function, test and confirm tests failing in CI are running successfully locally
  example/spec/helpers/testUtils.js
  example/spec/parallel/cnmWorkflow/CnmWorkflowFromSqsSpec.js
Due: eslint

fix CI with package bump
  package.json
Due: npm-package-json-lint

updating how simple-git is used after a package bump pulled in a breaking change
  bamboo/select-stack.js
Due: eslint

fix import
  bamboo/select-stack.js
Due: eslint

bump a pinned version
  bamboo/generate-ts-build-cache.sh
Due: none

addressing vulnerabilities found in CI audit stage
  CHANGELOG.md
  audit-ci.json
  bamboo/generate-ts-build-cache.sh
  bamboo/select-stack.js
  package.json
Due: eslint, npm-package-json-lint

fix to match main
  bamboo/select-stack.js
Due: eslint

fix merge issue removing dependency
  example/package.json
Due: npm-package-json-lint

adding context to logging statements in sf-event-sqs-to-db-records lambda
  CHANGELOG.md
  packages/api/lambdas/sf-event-sqs-to-db-records/index.js
Due: eslint

bump pyopenssl, urllib3, and cryptography packages for vulnerabilities
  example/lambdas/python-processing/example/lambdas/python-processing/requirements.txt
  example/lambdas/python-processing/requirements.txt
  example/lambdas/python-reference-activity/example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-task/example/lambdas/python-reference-task/requirements.txt
  example/lambdas/python-reference-task/requirements.txt
  tasks/aws-api-proxy/requirements.txt
  tasks/cnm-response/requirements.txt
  tasks/cnm-response/tasks/cnm-response/requirements.txt
  tasks/cnm-to-cma/requirements.txt
  tasks/cnm-to-cma/tasks/cnm-to-cma/requirements.txt
  tasks/get-cnm/requirements.txt
  tasks/get-cnm/tasks/get-cnm/requirements.txt
  tasks/granule-invalidator/requirements.txt
  tasks/granule-invalidator/tasks/granule-invalidator/requirements.txt
  tasks/pdr-cleanup/requirements.txt
  tasks/pdr-cleanup/tasks/pdr-cleanup/requirements.txt
Due: none

update packages to mitigate vulnerabilities
  example/lambdas/python-processing/example/lambdas/python-processing/requirements.txt
  example/lambdas/python-processing/requirements.txt
  example/lambdas/python-reference-activity/example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-task/example/lambdas/python-reference-task/requirements.txt
  example/lambdas/python-reference-task/requirements.txt
  tasks/aws-api-proxy/requirements.txt
  tasks/cnm-response/requirements.txt
  tasks/cnm-response/tasks/cnm-response/requirements.txt
  tasks/cnm-to-cma/requirements.txt
  tasks/cnm-to-cma/tasks/cnm-to-cma/requirements.txt
  tasks/get-cnm/requirements.txt
  tasks/get-cnm/tasks/get-cnm/requirements.txt
  tasks/granule-invalidator/requirements.txt
  tasks/granule-invalidator/tasks/granule-invalidator/requirements.txt
  tasks/pdr-cleanup/requirements.txt
  tasks/pdr-cleanup/tasks/pdr-cleanup/requirements.txt
Due: none

additional version bumps
  tasks/aws-api-proxy/requirements.txt
  tasks/cnm-response/requirements.txt
  tasks/cnm-response/tasks/cnm-response/requirements.txt
  tasks/cnm-to-cma/requirements.txt
  tasks/cnm-to-cma/tasks/cnm-to-cma/requirements.txt
  tasks/get-cnm/requirements.txt
  tasks/get-cnm/tasks/get-cnm/requirements.txt
  tasks/granule-invalidator/requirements.txt
  tasks/granule-invalidator/tasks/granule-invalidator/requirements.txt
Due: none

update urllib3 in 1 package
  tasks/aws-api-proxy/uv.lock
Due: none

update python dependencies to fix snyk vulnerabilities
  example/lambdas/python-reference-task/requirements.txt
  example/lambdas/python-reference-task/uv.lock
Due: none

update deps
  example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-activity/uv.lock
  tasks/aws-api-proxy/requirements.txt
  tasks/aws-api-proxy/uv.lock
  tasks/cnm-response/tasks/cnm-response/requirements.txt
  tasks/cnm-response/uv.lock
  tasks/get-cnm/requirements.txt
  tasks/get-cnm/uv.lock
  tasks/granule-invalidator/requirements.txt
  tasks/granule-invalidator/uv.lock
  tasks/pdr-cleanup/requirements.txt
  tasks/pdr-cleanup/uv.lock
Due: none

bump task versions
  tasks/cnm-to-cma/uv.lock
Due: none

updating a subdirectory's requirements.txt based on the parent
  tasks/cnm-to-cma/tasks/cnm-to-cma/requirements.txt
Due: none

update subdirectories
  example/lambdas/python-processing/tasks/python-processing/requirements.txt
  example/lambdas/python-processing/uv.lock
Due: none

update deps
  example/lambdas/python-reference-activity/tasks/python-reference-activity/requirements.txt
  example/lambdas/python-reference-task/tasks/python-reference-task/requirements.txt
  tasks/get-cnm/tasks/get-cnm/requirements.txt
  tasks/granule-invalidator/tasks/granule-invalidator/requirements.txt
  tasks/pdr-cleanup/tasks/granule-invalidator/requirements.txt
Due: none

update more deps
  example/lambdas/python-processing/example/lambdas/python-processing/requirements.txt
  example/lambdas/python-processing/tasks/python-processing/requirements.txt
  example/lambdas/python-reference-activity/example/lambdas/python-reference-activity/requirements.txt
  example/lambdas/python-reference-task/example/lambdas/python-reference-task/requirements.txt
  tasks/pdr-cleanup/tasks/pdr-cleanup/requirements.txt
Due: none

Path conditions:
  eslint: any of: \.(js|ts)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  npm-package-json-lint: any of: package\.json$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

  typescript-compile: any of: \.(ts|tsx)$, but not: (?x)^(
  website/|
  node_modules/|
  \.venv/|
  \.git/|
  \.vscode/|
  \.ruff_cache/|
  build/|
  dist/|
  \.nyc_output/|
  coverage/|
  \.final_nyc_output/
)

