Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

increase random string length reduce duplicate
  packages/db/src/test-utils.ts
  packages/db/tests/translate/test-granules.js
Due: eslint, typescript-compile

changed producerGranuleId to producergranuleId in test accidently
  packages/db/tests/translate/test-granules.js
Due: eslint

first committ
  CHANGELOG.md
  packages/api/lib/writeRecords/write-granules.js
Due: eslint

small fix
  packages/api/lib/writeRecords/write-granules.js
Due: eslint

Fix BaseSearch.shouldEstimateRowcount to compare against generated query
  CHANGELOG.md
  packages/db/src/search/BaseSearch.ts
  packages/db/tests/iceberg-search/test-ExecutionIcebergSearch.js
  packages/db/tests/iceberg-search/test-GranuleIcebergSearch.js
  packages/db/tests/search/test-ExecutionSearch.js
  packages/db/tests/search/test-GranuleSearch.js
Due: eslint, typescript-compile

add baseCountQuery
  CHANGELOG.md
  packages/db/src/search/BaseSearch.ts
  packages/db/src/search/ExecutionSearch.ts
  packages/db/src/search/GranuleSearch.ts
  packages/db/src/search/PdrSearch.ts
  packages/db/src/search/ReconciliationReportSearch.ts
  packages/db/src/search/RuleSearch.ts
Due: eslint, typescript-compile

test.serial for iceberg
  packages/db/tests/iceberg-search/test-ExecutionIcebergSearch.js
  packages/db/tests/iceberg-search/test-GranuleIcebergSearch.js
Due: eslint

small changes
  packages/api/lib/writeRecords/write-granules.js
Due: eslint

Update terraform configuration for nsidc-cumulus-prod stack
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
Due: none

CUMULUS-4844: Fix BaseSearch.shouldEstimateRowcount (#4424)
  CHANGELOG.md
  packages/db/src/search/BaseSearch.ts
  packages/db/src/search/ExecutionSearch.ts
  packages/db/src/search/GranuleSearch.ts
  packages/db/src/search/PdrSearch.ts
  packages/db/src/search/ReconciliationReportSearch.ts
  packages/db/src/search/RuleSearch.ts
  packages/db/tests/iceberg-search/test-ExecutionIcebergSearch.js
  packages/db/tests/iceberg-search/test-GranuleIcebergSearch.js
  packages/db/tests/search/test-ExecutionSearch.js
  packages/db/tests/search/test-GranuleSearch.js
Due: eslint, typescript-compile

small jsdoc fix
  packages/api/lib/writeRecords/write-granules.js
Due: eslint

small space removal
  packages/api/lib/writeRecords/write-granules.js
Due: eslint

CUMULUS-4844
  CHANGELOG.md
  packages/db/src/search/BaseSearch.ts
  packages/db/src/search/ExecutionSearch.ts
  packages/db/src/search/GranuleSearch.ts
  packages/db/src/search/PdrSearch.ts
  packages/db/src/search/ReconciliationReportSearch.ts
  packages/db/src/search/RuleSearch.ts
  packages/db/tests/iceberg-search/test-ExecutionIcebergSearch.js
  packages/db/tests/iceberg-search/test-GranuleIcebergSearch.js
Due: eslint, typescript-compile

CUMULUS-4844 cleanup
  packages/db/src/search/BaseSearch.ts
  packages/db/tests/search/test-GranuleSearch.js
Due: eslint, typescript-compile

CUMULUS-4844 Iceberg test cleanup
  packages/db/tests/iceberg-search/test-ExecutionIcebergSearch.js
  packages/db/tests/iceberg-search/test-GranuleIcebergSearch.js
Due: eslint

Fixed lint error
  docs/glossary.md
Due: none

CUMULUS-4711: Add integration tests for iceberg api
  bamboo/iceberg-api-integration-tests.sh
  packages/api/app/README.md
  packages/api/package.json
  packages/api/tests/docker/test-iceberg-api.js
  packages/db/src/iceberg-connection.ts
Due: eslint, npm-package-json-lint, typescript-compile

CUMULUS-4844 restore const
  packages/db/tests/search/test-GranuleSearch.js
Due: eslint

CUMULUS-4711: Make secret refresh thread safe.
  CHANGELOG.md
  packages/api/app/README.md
  packages/api/tests/docker/test-iceberg-api.js
  packages/db/src/iceberg-connection.ts
Due: eslint, typescript-compile

small change
  packages/api/lib/writeRecords/write-granules.js
Due: eslint

CUMULUS-4844 Final cleanup changelog
  CHANGELOG.md
  packages/db/src/search/BaseSearch.ts
Due: eslint, typescript-compile

CUMULUS-4844 too many chars
  packages/db/src/search/BaseSearch.ts
Due: eslint, typescript-compile

small changes
  packages/cmr-client/src/CMR.ts
  packages/cmrjs/src/cmr-utils.js
  packages/launchpad-auth/src/index.ts
  packages/launchpad-auth/tests/test-LaunchpadToken.js
Due: eslint, typescript-compile

unit fix
  packages/launchpad-auth/tests/test-LaunchpadToken.js
Due: eslint

iceberg bamboo skip
  bamboo/iceberg-api-integration-tests.sh
Due: none

adding newline to EOF
  bamboo/iceberg-api-integration-tests.sh
Due: none

small changelog fix
  CHANGELOG.md
Due: none

changelog order fix
  CHANGELOG.md
Due: none

small change due to CI failure
  bamboo/iceberg-api-integration-tests.sh
Due: none

updating chmod
  bamboo/iceberg-api-integration-tests.sh
Due: none

CUMULUS-4711: Change the integration tests to run against local server.
  bamboo/iceberg-api-integration-tests.sh
  packages/api/app/README.md
  packages/api/tests/docker/test-iceberg-api.js
Due: eslint
