Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, ruff-check, ruff-format, markdownlint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  # Use your existing Python tooling that respects pyproject.toml
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff linting (uses your pyproject.toml)
        entry: uv run ruff check --fix
        language: system
        files: \.py$
        pass_filenames: false

      - id: ruff-format
        name: Ruff formatting (uses your pyproject.toml)
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false

  # Use your existing markdown linting that respects .markdownlint.json
  - repo: local
    hooks:
      - id: markdownlint
        name: Markdown linting (uses your .markdownlint.json)
        entry: npm run lint-md
        language: system
        files: \.(md|markdown)$
        pass_filenames: false

  # Package.json linting using your existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using your existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

CSD-61: updated put granules endpoint to accept null createdAt/updatedAt fields Updated write-granules tests
  CHANGELOG.md
  packages/api/lib/writeRecords/write-granules.js
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint, markdownlint

CSD-61: lint fix
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

move test to test-granules
  packages/api/tests/bin/serveUtils/test-serveUtilsAddGranules.js
  packages/api/tests/endpoints/test-granules.js
Due: eslint

Misc documentation updates and CHANGELOG
  CHANGELOG.md
  README.md
  docs/deployment/README.md
  scripts/generate_records/README.md
Due: markdownlint

CSD-61: test fix
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint

Fix broken unit test
  packages/api/tests/lambdas/test-kinesis-consumer.js
Due: eslint

Updates precommit hooks and adds cloudformation hook
  .pre-commit-config.yaml
  example/fake-provider-cf.yml
  lambdas/db-provision-user-database/tsconfig.json
  lambdas/migration-helper-async-operation/tsconfig.json
  packages/ingest/tsconfig.json
  packages/object-store/tsconfig.json
  packages/test-data/payloads/payload_mur_MUR-JPL-L4-GLOB-v4.1.json
  tasks/change-granule-collection-pg/tsconfig.json
  tasks/change-granule-collection-s3/tsconfig.json
  tf-modules/internal/cumulus-test-cleanup/README.md
  tf-modules/s3-replicator/tsconfig.json
  tsconfig.json
Due: markdownlint

add more api users
  example/deployments/cumulus/nsidc-cumulus-prod.tfvars
Due: none

update addGranules with knex args. update test case to pass local knex to addGranules and add fake execution to create fake granule record
  packages/api/bin/serveUtils.js
  packages/api/tests/endpoints/test-granules.js
Due: eslint

Update change log
  CHANGELOG.md
Due: markdownlint

Update test case text
  packages/api/tests/endpoints/test-granules.js
Due: eslint

Excluded tasks and examples directories from the root uv workspace
  pyproject.toml
Due: none

CUMULUS-4300 - Implement Rate-Limited Lambda Dispatcher for SQS Queue (Max 5 Messages/Second) (#4166)
  CHANGELOG.md
  example/spec/parallel/startSF/startSfSpec.js
  packages/api/lambdas/sf-starter.js
  packages/api/tests/lambdas/test-sf-starter.js
  packages/ingest/src/consumerRateLimited.ts
  packages/ingest/test/test-consumerRateLimited.js
  tf-modules/cumulus/outputs.tf
  tf-modules/ingest/lambda-functions.tf
  tf-modules/ingest/outputs.tf
  tf-modules/ingest/variables.tf
Due: eslint, markdownlint, typescript-compile

Initial commit of granule-invalidator
  tasks/granule-invalidator/README.md
  tasks/granule-invalidator/generate_dirs.bash
  tasks/granule-invalidator/pyproject.toml
  tasks/granule-invalidator/src/granule-invalidator/granule_invalidator.py
  tasks/granule-invalidator/src/granule-invalidator/invalidations.py
  tasks/granule-invalidator/tests/unit_tests/python_reference_task/test_granule_invalidator.py
  tasks/granule-invalidator/uv.lock
Due: ruff-check, ruff-format, markdownlint

re-add integration test package scripts
  packages/integration-tests/package.json
Due: npm-package-json-lint

WIP: Removes unused example python lib. Updates root uv lock
  example/lambdas/python-processing/pyproject.toml
  example/lambdas/python-processing/uv.lock
  example/lambdas/python-reference-activity/pyproject.toml
  example/lambdas/python-reference-activity/uv.lock
  example/lambdas/python-reference-task/deploy/README.md
  example/lambdas/python-reference-task/deploy/main.tf
  example/lambdas/python-reference-task/deploy/variables.tf
  example/lambdas/python-reference-task/deploy/versions.tf
  example/lambdas/python-reference-task/pyproject.toml
  example/lambdas/python-reference-task/uv.lock
  pyproject.toml
Due: markdownlint

WIP: Fixes missed merge conflicts
  example/deployments/db-migration/cdd-ci-tf.tfvars
  example/rds-cluster-tf/variables.tf
Due: none

WIP: Adds pre-commit-setup to website sidebar
  website/sidebars.js
Due: none

CUMULUS-4458: Fix the variable name in 4354 to match between terraform and lambda (#4196)
  CHANGELOG.md
  packages/api/lambdas/message-consumer.js
  packages/api/lambdas/sqs-message-consumer.js
  packages/api/tests/lambdas/test-message-consumer.js
  packages/api/tests/lambdas/test-sqs-message-consumer.js
Due: eslint, markdownlint

Updating per PR comments
  docs/development/typescript-best-practices.md
Due: markdownlint

WIP: Adds package.sh for ECS python task examples
  example/lambdas/python-processing/README.md
  example/lambdas/python-processing/bin/package.sh
  example/lambdas/python-processing/package.json
  example/lambdas/python-reference-activity/README.md
  example/lambdas/python-reference-activity/bin/package.sh
  example/lambdas/python-reference-activity/package.json
Due: markdownlint, npm-package-json-lint

WIP: Fixes VERSION tag in new package.sh for ref tasks
  example/lambdas/python-processing/README.md
  example/lambdas/python-processing/bin/package.sh
  example/lambdas/python-reference-activity/README.md
  example/lambdas/python-reference-activity/bin/package.sh
Due: markdownlint

Renamed incorrectly-named directories ruff fixes Generated pydantic schemas Updated uv.lock
  .gitignore
  tasks/granule-invalidator/src/granule_invalidator/granule_invalidator.py
  tasks/granule-invalidator/src/granule_invalidator/invalidations.py
  tasks/granule-invalidator/src/granule_invalidator/schemas/config_schema.json
  tasks/granule-invalidator/src/granule_invalidator/schemas/config_schema.py
  tasks/granule-invalidator/src/granule_invalidator/schemas/input_schema.json
  tasks/granule-invalidator/src/granule_invalidator/schemas/output_schema.json
  tasks/granule-invalidator/src/granule_invalidator/schemas/output_schema.py
  tasks/granule-invalidator/tests/unit_tests/granule_invalidator/test_granule_invalidator.py
  tasks/granule-invalidator/uv.lock
Due: ruff-check, ruff-format

remove unused files
  workflows/lambdas/opera_lambdas/collection_metadata/__init__.py
  workflows/lambdas/opera_lambdas/collection_metadata/asf_md.py
  workflows/lambdas/opera_lambdas/collection_metadata/collection_md.py
  workflows/lambdas/opera_lambdas/collection_metadata/ummg.py
  workflows/lambdas/opera_lambdas/metaspec/__init__.py
  workflows/lambdas/opera_lambdas/metaspec/cslc_s1.py
  workflows/lambdas/opera_lambdas/metaspec/cslc_s1_static.py
  workflows/lambdas/opera_lambdas/metaspec/disp_s1.py
  workflows/lambdas/opera_lambdas/metaspec/disp_s1_static.py
  workflows/lambdas/opera_lambdas/metaspec/dist_alert_s1.py
  workflows/lambdas/opera_lambdas/metaspec/rtc_s1.py
  workflows/lambdas/opera_lambdas/metaspec/rtc_s1_static.py
  workflows/lambdas/opera_lambdas/metaspec/tropo_zenith.py
  workflows/lambdas/opera_lambdas/shared/__init__.py
  workflows/lambdas/opera_lambdas/shared/cmr.py
Due: ruff-check, ruff-format

WIP: Reverts python reference package commands
  example/lambdas/python-processing/README.md
  example/lambdas/python-processing/package.json
  example/lambdas/python-reference-activity/README.md
  example/lambdas/python-reference-activity/package.json
Due: markdownlint, npm-package-json-lint

correct CL for CMA v2.0.5
  CHANGELOG.md
Due: markdownlint

Update cma-js version
  CHANGELOG.md
  lerna.json
  tasks/add-missing-file-checksums/package.json
  tasks/add-unique-granuleID/package.json
  tasks/change-granule-collection-pg/package.json
  tasks/change-granule-collection-s3/package.json
  tasks/discover-granules/package.json
  tasks/discover-pdrs/package.json
  tasks/files-to-granules/package.json
  tasks/hello-world/package.json
  tasks/hyrax-metadata-updates/package.json
  tasks/lzards-backup/package.json
  tasks/move-granules/package.json
  tasks/orca-copy-to-archive-adapter/package.json
  tasks/orca-recovery-adapter/package.json
  tasks/parse-pdr/package.json
  tasks/pdr-status-check/package.json
  tasks/post-to-cmr/package.json
  tasks/queue-granules/package.json
  tasks/queue-pdrs/package.json
  tasks/queue-workflow/package.json
  tasks/send-pan/package.json
  tasks/sf-sqs-report/package.json
  tasks/sync-granule/package.json
  tasks/test-processing/package.json
  tasks/update-cmr-access-constraints/package.json
  tasks/update-granules-cmr-metadata-file-links/package.json
Due: markdownlint, npm-package-json-lint
