Repository nasa/cumulus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, npm-package-json-lint, typescript-compile

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: end-of-file-fixer
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-yaml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|.*-cf\.ya?ml$)'
      - id: check-json
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/|\.vscode\.example/)'
      - id: check-toml
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: '^(website/|node_modules/|\.venv/|\.git/|\.vscode/|\.ruff_cache/|build/|dist/|\.nyc_output/|coverage/|\.final_nyc_output/)'

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.43.2  # Check for latest version
    hooks:
      - id: cfn-lint
        files: '.*-cf\.ya?ml$'

  # Use your existing npm scripts to leverage your .eslintrc.js configuration
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (uses your .eslintrc.js)
        entry: npm run eslint
        language: system
        files: \.(js|ts)$
        pass_filenames: false
        # Add --fix to automatically fix issues where possible
        args: []

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linting
        args: []
      - id: ruff-format
        name: Ruff formatting
        args: [--diff]

  # Markdown linting using the same library as package.json
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1 # Using same version as in package.json
    hooks:
      - id: markdownlint
        files: '^(docs|tf-modules)/.*\.md$'

  # Package.json linting using our existing npm script
  - repo: local
    hooks:
      - id: npm-package-json-lint
        name: Package.json linting
        entry: npm run lint-package-json
        language: system
        files: package\.json$
        pass_filenames: false

  # TypeScript compilation check using our existing npm script
  - repo: local
    hooks:
      - id: typescript-compile
        name: TypeScript compilation check
        entry: npm run tsc
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Optional: Full lint check (includes all your linting)
  # Uncomment this if you want to run your complete lint suite
  # - repo: local
  #   hooks:
  #     - id: full-lint
  #       name: Full lint suite (all your npm lint scripts)
  #       entry: npm run lint
  #       language: system
  #       pass_filenames: false
  #       stages: [manual]

# Configuration for pre-commit
default_language_version:
  python: python3.12
  node: 20.12.2

# Global exclude pattern (some hooks may need individual excludes too)
exclude: |
  (?x)^(
    website/|
    node_modules/|
    \.venv/|
    \.git/|
    \.vscode/|
    \.ruff_cache/|
    build/|
    dist/|
    \.nyc_output/|
    coverage/|
    \.final_nyc_output/
  )

# Configuration pre-commit.ci
ci:
  # Skip local hooks that depend on npm or uv since they're not supported by
  skip: [eslint, npm-package-json-lint, typescript-compile]

file collision on bucket key no collection_cumulus_id
  packages/db/src/models/file.ts
  packages/db/tests/models/test-file-model.js
Due: eslint, typescript-compile

CUMULUS-4815: Add files_table to the table warmup list.
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/duckdbHelpers.ts
Due: eslint, typescript-compile

small fix
  example/spec/parallel/changeGranuleCollections/ChangeGranuleCollectionWorkflowSpec.js
Due: eslint

Update docs and modules
  tasks/bignbit/README.md
  tasks/bignbit/deploy/.gitignore
  tasks/bignbit/deploy/data.tf
  tasks/bignbit/deploy/kms.tf
  tasks/bignbit/deploy/main.tf
  tasks/bignbit/deploy/terraform.tfvars.example
  tasks/bignbit/deploy/variables.tf
Due: none

ts-check write-execution
  packages/api/lib/writeRecords/write-execution.js
  packages/db/src/types/execution.ts
  packages/types/index.d.ts
Due: eslint, typescript-compile

test granules files partition counts
  lambdas/db-migration/tests/test-index.js
Due: eslint

small int test fix
  example/spec/parallel/changeGranuleCollections/ChangeGranuleCollectionWorkflowSpec.js
Due: eslint

update integration arn required missing
  example/spec/parallel/dbRecords/DLQSpec.js
Due: eslint

remove uncessary variable validation. update lifecycle doc
  docs/configuration/lifecycle-policies.md
  example/cumulus-tf/variables.tf
  tf-modules/archive/variables.tf
  tf-modules/cumulus/variables.tf
Due: none

Fix generate_records scripts
  scripts/generate_records/db_record_loaders.js
  scripts/generate_records/generate_db_records.js
  scripts/generate_records/tests/test-db_record_loaders.js
Due: eslint

Fix generate_records scripts (#4420)
  scripts/generate_records/db_record_loaders.js
  scripts/generate_records/generate_db_records.js
  scripts/generate_records/tests/test-db_record_loaders.js
Due: eslint

add test to generate_records package.json
  scripts/generate_records/package.json
Due: npm-package-json-lint

add test:coverage to generate_records
  scripts/generate_records/.nycrc.json
  scripts/generate_records/package.json
Due: npm-package-json-lint

Fixed lint error
  docs/glossary.md
Due: none

fix knex failed on attempted connection error: no pg_hba.conf entry for host
  scripts/generate_records/README.md
  scripts/generate_records/generate_db_executions.js
  scripts/generate_records/generate_db_records.js
Due: eslint

generate_records unit test knex not connect remove env to README
  scripts/generate_records/README.md
  scripts/generate_records/generate_db_executions.js
  scripts/generate_records/generate_db_records.js
Due: eslint

CUMULUS-4815: Add support for file-related searches to go to the files_table in iceberg (#4418)
  CHANGELOG.md
  packages/api/app/iceberg-routes.js
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/CollectionIcebergSearch.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/src/iceberg-search/GranuleIcebergSearch.ts
  packages/db/src/iceberg-search/IcebergSchemas.ts
  packages/db/src/iceberg-search/StatsIcebergSearch.ts
  packages/db/src/iceberg-search/duckdbHelpers.ts
  packages/db/src/test-duckdb-utils.ts
  packages/db/tests/iceberg-search/test-GranuleIcebergSearch.js
Due: eslint, typescript-compile

Update doc
  docs/configuration/lifecycle-policies.md
Due: none

update postgres docker image to 17.4 update schema diagram ignore partition
  bamboo/docker-compose.yml
  docs/assets/db_schema/relationships.real.large.png
  docs/development/release.md
Due: none

remove max partition limit use current year for execution partition base year
  packages/db/src/lib/migration.ts
  packages/db/src/migrations-bootstrap/030_executions.ts
  packages/db/src/migrations-bootstrap/070_granules.ts
  packages/db/src/migrations-bootstrap/080_files.ts
  packages/db/src/migrations/030_executions.ts
  packages/db/src/migrations/070_granules.ts
  packages/db/src/migrations/080_files.ts
Due: eslint, typescript-compile

increase fakeFileRecord bucketkey length
  packages/db/src/test-utils.ts
Due: eslint, typescript-compile

CUMULUS-4829: Add background job to refresh stale DuckDB connections for iceberg API
  CHANGELOG.md
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/tests/test-iceberg-connection.js
Due: eslint, typescript-compile

remove base_year config, update granule file partition count
  docs/assets/db_schema/relationships.real.large.png
  docs/development/release.md
  example/data-persistence-tf/variables.tf
  lambdas/db-migration/main.tf
  lambdas/db-migration/variables.tf
  packages/db/src/migrations-bootstrap/030_executions.ts
  packages/db/src/migrations/030_executions.ts
  tf-modules/data-persistence/variables.tf
Due: eslint, typescript-compile

CUMULUS-4829: Minor refactoring.
  packages/db/src/iceberg-connection.ts
  packages/db/tests/test-iceberg-connection.js
Due: eslint, typescript-compile

CSD-102: Add lifecycle config rules to internal bucket for LPDAAC (#4413)
  CHANGELOG.md
  docs/configuration/lifecycle-policies.md
  example/cumulus-tf/main.tf
  example/cumulus-tf/variables.tf
  tf-modules/archive/main.tf
  tf-modules/archive/s3_bucket_lifecycle_config.tf
  tf-modules/archive/variables.tf
  tf-modules/cumulus/archive.tf
  tf-modules/cumulus/main.tf
  tf-modules/cumulus/variables.tf
Due: none

CUMULUS-4829: Add additional error handling for s3 permission error encountered in nsidc-cumulus-prod.
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/tests/iceberg-search/test-DuckDBSearchExecutor.js
Due: eslint, typescript-compile

revert fakeFileRecordFactory change
  packages/db/src/test-utils.ts
  packages/db/src/types/granule.ts
Due: eslint, typescript-compile

should use fakeFileFactory in api/tests/endpoints/test-granules.js
  packages/api/tests/endpoints/test-granules.js
  packages/db/src/test-utils.ts
Due: eslint, typescript-compile

some tests set collection_cumulus_id later for fakeGranuleRecordFactory
  packages/db/src/test-utils.ts
Due: eslint, typescript-compile

CUMULUS-4829: Add background job to refresh stale DuckDB connections for iceberg API (#4422)
  CHANGELOG.md
  packages/db/src/iceberg-connection.ts
  packages/db/src/iceberg-search/DuckDBSearchExecutor.ts
  packages/db/tests/iceberg-search/test-DuckDBSearchExecutor.js
  packages/db/tests/test-iceberg-connection.js
Due: eslint, typescript-compile

fix test fakeFileRecordFactory without required ids
  packages/api/tests/lib/writeRecords/test-write-granules.js
Due: eslint
